[2020-08-07 22:38] yaelirub commented on #13867
Agree @designsimply ! Closing this issue.

[2020-08-07 22:38] #13867 closed

[2020-08-07 22:49] designsimply commented on #13736
@leandroalonso I went to https://sentry.io/share/issue/2b746139caca4d53b3e076c767f23457/ and clicked Details at top right (requires access/Sentry login) and looked for `NSInvalidArgumentException: Application tried to present modal view controller on itself. Presenting controller is <UISearchC...` but I couldn't see anything like that. In any case, if the exception type you're seeing is different

[2020-08-07 23:04] sentry-io[bot] opened #14603 "NSInvalidArgumentException: Application tried to present modal view controller on itself. Presenting controller is <UISearchController..."
Sentry Issue: [WORDPRESS-IOS-54Q](https://sentry.io/share/issue/2b746139caca4d53b3e076c767f23457/)

[code]

[2020-08-07 23:07] designsimply commented on #13736
I see it now 😑 and I feel the Sentry issue contains two separate issues which we can track separately as @leandroalonso suggested.

I made a new issue at https://github.com/wordpress-mobile/WordPress-iOS/issues/14603 and am closing this one as fixed.  🎉 Thank you @leandroalonso!

[2020-08-07 23:07] #13736 closed

[2020-08-07 23:13] designsimply commented on #14603
[WORDPRESS-IOS-54Q](https://sentry.io/share/issue/2b746139caca4d53b3e076c767f23457/)
**Events in the last 90d:** 12,000
**Users affected in the last 90d:** 1,900
**Events in the latest release, last 30d:** [105](https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=device&field=os&field=culprit&name=All+Events&project=1438083&query=issue.id%3A10555

[2020-08-07 23:19] designsimply commented on #14428
👍 tested and confirmed using WPiOS 15.4.0.2 on iPhone 11 iOS 13.6, and I'm adding screenshots for reference:

<img src="https://user-images.githubusercontent.com/1119271/89695649-02354a00-d8d2-11ea-9b3b-d6d2d998396c.PNG" width="270" alt="IMG_4461"> <img src="https://user-images.githubusercontent.com/1119271/89695647-01041d00-d8d2-11ea-8a74-aeca9f396a2f.PNG" width="270" alt="IMG_4462">

[2020-08-08 00:24] designsimply commented on #14032
There are no events recorded in Sentry for WORDPRESS-IOS-2TEZ (the one from the original post) or WORDPRESS-IOS-380R (the one Rachel mentioned) in the last 90d for anything above version 15.0.0.6, and it appears the issue spiked then was found and resolved quickly. 🎉

Here are the 90d graphs for each issue for reference:

WORDPRESS-IOS-2TEZ
<sub>https://sentry.io/share/issue/cc82cd2c467f4c5889b043

[2020-08-08 00:24] #14032 closed

[2020-08-08 00:26] designsimply commented on #8238
Still valid!

[2020-08-08 00:29] designsimply commented on #14495
Possibly related: https://github.com/wordpress-mobile/WordPress-iOS/issues/12165.

[2020-08-08 00:48] designsimply commented on #14561
Thanks for the eagle eye on #12729 @rossanafmenezes. One difference between the two issues is that 12729 mentions featured images fail to upload at all and the post cannot be published while this issue mentions the featured image does appear to upload and they are able to publish the post but then the featured image doesn't show up in the app afterward. Very strange indeed. This case needs more in

[2020-08-08 01:22] designsimply commented on #14572
@guarani https://github.com/wordpress-mobile/WordPress-iOS/issues/12800 is very similar except mentions offline editing, do you think the issues are the same?

[2020-08-08 01:23] designsimply commented on #14574
Want.

[2020-08-08 01:40] designsimply commented on #14495
I tested this using WPiOS 15.4.0.3 TestFlight beta on iPhone 6S iOS 13.6 in order to provide some visuals. ([2m41s](https://cloudup.com/c8Xn3BJ3PXM))

<img src="https://user-images.githubusercontent.com/1119271/89699684-b391ab00-d8e5-11ea-8bd5-a37a1151efe2.png" width="270" alt="Screen Shot 2020-08-07 at Aug 7 7.38.16 PM"> <img src="https://user-images.githubusercontent.com/1119271/89699667-a117718

[2020-08-08 01:58] designsimply commented on #12914
Thank you for reporting this! I re-tested using the steps provided but when I deleted the page on the web it was removed from the menu on the front-end and I feel that is the appropriate behavior. ([3m24s](https://cloudup.com/cOKuD1KwYLv))

It's possible the reporting user had the front-end view with the deleted menu item cached or it's possible the issue has been fixed between the time you report

[2020-08-08 01:58] #12914 closed

[2020-08-08 02:05] designsimply commented on #9832
Re-tested with WPiOS 15.4.0.3 TestFlight beta on iPhone 11 iOS 13.6 and confirmed that if I go to My Site > Menus, change the menu, then change the menu back to the originally selected one I can still see the options to Save or Discard in the header. ([57s](https://cloudup.com/crzrbP7koKX))

[2020-08-08 02:18] designsimply commented on #5684
I re-tested this issue using WPiOS 15.4.0.3 TestFlight beta on iPhone 11 iOS 13.6 and found that I could no longer see the problem where changing the name of a menu caused it to be duplicated in the menu list. ([49s](https://cloudup.com/cT6kkKQMpxc))

Closing, but please re-open if you find the problem is still happening and thank you for the report @jeremeylduvall!

[2020-08-08 02:18] #5684 closed

[2020-08-08 02:39] elibud commented on #14477
@hypest can we please make sure this is taken care of ASAP? Thanks

[2020-08-08 09:56] rezzap commented on #14560
Another user report for this in 3202634-zen.

[2020-08-09 07:06] erricgunawan commented on #10766
I got a report that the location setting in WordPress is inaccurate.

They included screenshots comparing Apple Maps, Google Maps, and WordPress, where the first two are assigning the same address/location, but not WordPress.

I understand GPS accuracy can depend on several factors i.e. signals etc. but not sure how WordPress can display a different one other than the two Maps.

Also, I'm not sure

[2020-08-10 10:52] frosty opened #14609 "[User Profiles] Show basic profile when tapping avatars"
We would like to add the ability to view user profiles within the app. Stage one will be to show profile information when tapping avatars within the app – particularly in Notifications and Reader comments.

Here's how things should look:

<img width="662" alt="image" src="https://user-images.githubusercontent.com/4780/89774934-b2879600-dafe-11ea-8d0b-10089aeb78c4.png">

A few notes:

- The designs

[2020-08-10 10:55] frosty opened #14610 "[User Profiles] Link from current user's profile to My Profile"
Follows on from https://github.com/wordpress-mobile/WordPress-iOS/issues/14609.

After adding user profiles, we should add an Edit link to the header of the current user's profile. When tapped, this will present the existing My Profile screen, which is currently accessible in the Me section of the app.

<img width="616" alt="image" src="https://user-images.githubusercontent.com/4780/89775697-46a62

[2020-08-10 10:55] etoledom commented on #14477
At some point this was working properly. I think we are not testing RTL enough after important UI changes.

[2020-08-10 12:33] guarani commented on #14572
I think you're right @designsimply, I'd overlooked that issue due to the emphasis on offline posting.

I'm going to go ahead and close this, but leave a comment on the other issue to clarify that it also happens when the device is offline.

Closing as duplicate of https://github.com/wordpress-mobile/WordPress-iOS/issues/12800.

[2020-08-10 12:39] guarani commented on #12800
This bug seems to occur when the device is online as well, using these steps to reproduce:

1. Navigate to the site screen
2. Tap the create button (the floating action button) and select blog post
3. Add any content and tap Publish followed by Publish Now
4. Immediately tap the Posts button to show the post list screen
5. Notice that the newly added post appears twice in the post list

<kbd><img

[2020-08-10 12:48] leandroalonso commented on #12800
@guarani I'd say that a new issue for online makes more sense IMHO.

Anyway, duplicated posts it's something that I've seen popping up on different occasions and multiple times. :( This one apparently involves the FAB button... so maybe the prev fixes doesn't apply to it somehow?

[2020-08-10 13:46] hypest commented on #14477
Thanks for self-assigning @etoledom !

[2020-08-10 14:30] guarani commented on #14603
@designsimply, do you know why [the link that sentry-io bot posted](https://github.com/wordpress-mobile/WordPress-iOS/issues/14603#issue-675332952) doesn't seem to match the quoted exception or this issue's title?

The Sentry issue that appears to match this issue's title is [WORDPRESS-IOS-38JK](https://sentry.io/share/issue/232286cae44d4cc3a1856a0d9c93e745/), but it appears to be very low impact.

[2020-08-10 18:06] yaelirub commented on #12800
+1 to what Leandro said.

I say yes.

I'd say remove it

[2020-08-10 18:41] mbshakti opened #14612 "Follow Button UI Design Feedback"
**Feedback on font style for follow/following button:**

I have been playing around with the blog headers and noticed that the text hierarchy seems a bit off, I think it's because the follow button feels too big. Because of this, I'd like to suggest that we revisit the font-style, and reduce the prominence by using the "callout" text style instead of "headline".

![light mode](https://user-images.

[2020-08-11 02:31] yaelirub commented on #14612
Hey @mbshakti ,
We can make all the changes

Do you want the  color of the icon to remain the same as the text and also, what is gray 2 light?

[2020-08-11 04:38] jkmassel commented on #11849
[code]

[2020-08-11 09:34] rezzap opened #14616 "Rename Contact Us to Connect App support"
We receive a lot of tickets in the mobile apps with only phone number and contact details. One user followed up on such a ticket to confirm that they thought they were settings up their support for people who visit their site through the app to contact them.

We're wondering if part of the issue here is the label 'Contact Us' that may be causing people to not realize this is for App Support.

I'd

[2020-08-11 14:52] guarani commented on #14572
I'm reopening as suggested here: https://github.com/wordpress-mobile/WordPress-iOS/issues/12800#issuecomment-671333615

[2020-08-11 16:39] elibud commented on #14616
Let's rename the label to: "Contact WordPress support"

[2020-08-11 17:55] leandroalonso commented on #14570
@emilylaguna Could you please track `reader_chips_more_tapped` when the user taps "X+" to expand the topics list?

[2020-08-11 18:35] mbshakti commented on #14612
We just discussed on slack -- but by gray 2 I meant systemGray2. Sorry for confusion.

Also, on a different note: in the issue description, I said to use `separator opaque` for the _following_ button in darkmode. Just a clarification that, we'd use `separator opaque` for the button border on light mode as well.

[2020-08-11 18:53] mbshakti opened #14617 "Site header has too much spacing inside"
### Expected behavior
I'm not sure if this assumption is correct but if the site bio doesn't exist, the site header has too much additional spacing inside. Haven't been able to reproduce this visual bug when there's a site bio. Description of actual/expected behavior:

<img width="1087" alt="Screen Shot 2020-08-11 at 2 49 40 PM" src="https://user-images.githubusercontent.com/6350997/89936775-2189e

[2020-08-11 19:08] mbshakti opened #14618 "Site name on site header not wrapping well"
### Expected behavior
I noticed that this site name "The inquisitive bee" goes beyond the container. Ideally there's a 16dp padding between the site name and container.

<img width="1020" alt="Screen Shot 2020-08-11 at 3 05 59 PM" src="https://user-images.githubusercontent.com/6350997/89938229-349dba80-dbe4-11ea-918b-65c7b1cd5074.png">

##### Tested on [device], iOS [version], WPiOS [version]
iPho

[2020-08-11 19:30] rezzap commented on #14616
I think we need to be careful to clarify that this is 'App Support' and not 'WordPress support'. We don't support the WordPress software, just the app.

[2020-08-11 20:09] ScoutHarris opened #14620 "Google login: can inadvertently link two accounts when using password manager"
### Expected behavior
When starting Google login with one account, then selecting a different one on the password view, neither account should be affected.

### Actual behavior
When starting Google login with one account, then selecting a different one on the password view, the first account is linked via Google to the second account.

### Steps to reproduce the behavior

Prereqs:
- Two gmail acco

[2020-08-11 20:46] designsimply commented on #14616
I have another option for consideration. How about "Start a Support Ticket"? This would be in line with the other language on the page and also give at least a small hint in the title that it's not a synchronous conversation.

Or if you're okay to specifically mention that support is only for the app, what about "Get Help with the App" on the first screen and "Start a Support Ticket" on the second

[2020-08-11 21:08] shiki commented on #12800
I agree with Yael and Leandro. 😄 Thanks, @guarani!

[2020-08-11 21:36] emilylaguna commented on #14570
Is there an event to track if the user collapses?

[2020-08-11 22:53] designsimply commented on #14603
@guarani I think it's either because you were looking at a different issue somehow by mistake or because you weren't sure why something was grouped in with the other events on the issue.

If it's the first thing then try the link again and I think you should be good to go (I double checked it and it lgtm! 👍) and if it's the second thing then this background documentation may help: https://docs.sen

[2020-08-12 00:03] designsimply commented on #14609
This is so great! I've always wanted this. 😍

Would it be possible to add a gear icon or edit link to the profile sheet that appears for the logged-in user when viewing their own account? Would it be possible to add the ability to edit which sites are shown in the profile from the app directly before this is launched so users can change it if they find an unexpected list of sites they forgot about

[2020-08-12 01:32] yaelirub commented on #14617
Hey @mbshakti,
In the example you shared, the site description is actually not empty, its a space " " (probably overlook by the site owner)
If you look at a site that really doesn't have a description, like Eric's site, it looks like the expected:
I did adjust the spacing from 20 to 16 in case of an empty description though here : https://github.com/wordpress-mobile/WordPress-iOS/pull/14622

[2020-08-12 02:55] guarani commented on #12800
Thanks for the input, y'all! I've reopened the separate issue, https://github.com/wordpress-mobile/WordPress-iOS/issues/14572 👍

[2020-08-12 05:10] momo-ozawa opened #14623 "Reader P2 follow conversations: add button in comments view"
### Parent Issue
https://github.com/wordpress-mobile/WordPress-iOS/issues/14574

### Tasks

- [x] Add a `Follow conversation` button in the comments view.
- [x] Refine design according to detailed design specs.

[2020-08-12 05:12] momo-ozawa opened #14624 "Reader P2 follow conversations: hook up subscription endpoints"
### Parent Issue
https://github.com/wordpress-mobile/WordPress-iOS/issues/14574

### Tasks
- [x] Call the [get the current subscription state](https://developer.wordpress.com/docs/api/1.1/get/sites/%24site/posts/%24post/subscribers/mine/) endpoint and update the follow/following conversation button to reflect the current state.
- [x] Tapping on the button toggles between `Follow conversation` and

[2020-08-12 05:14] momo-ozawa opened #14625 "Reader P2 follow conversations: show/hide button logic"
### Parent Issue
https://github.com/wordpress-mobile/WordPress-iOS/issues/14574

### Tasks
- [x] Show the `Follow conversation` / `Following conversation` button only if it’s a P2 post. New P2 product blogs are marked as `"is_wpforteams_site": true` in the site options response.

[2020-08-12 06:47] designsimply opened #14628 "My Site: editing a long Site Title is difficult with the small amount of space given in the editing field"
Steps to reproduce:

1. Go to My Site.
1. Tap on the site title in the header to edit it.
1. Add a very long site title.
1. Try to scroll back to the words in the beginning of the title and edit them.

**Result:** it's very difficult to scroll back to the beginning of the site title while editing it. The cursor jumps to the end and the title is often saved unexpected in the middle of editing befor

[2020-08-12 06:54] designsimply commented on #14628
Note: I also tested the Tagline field in My Site > Settings and didn't have the same difficulty with the cursor jumping to the to end or the unexpected saves if I tapped outside the edit field on the screen. Still, it would be nice to have more space to edit that field in the app (unless it's discouraged to put a long tagline in which case it's less important).

[2020-08-12 07:23] designsimply commented on #13315
Adding a screenshot from the attachment inline for reference:

<img width="611" alt="Screen Shot 2020-08-12 at Aug 12 1 23 02 AM" src="https://user-images.githubusercontent.com/1119271/89986902-6f324200-dc3a-11ea-84cb-d2d4fb788505.png">

[2020-08-12 07:28] designsimply commented on #13315
This bug feels a lot more prominent to me after the Following button becomes bigger and more visible in the Reader site header in WPiOS 15.5. ([50s](https://cloudup.com/cwR7CXjOurr))

<img src="https://user-images.githubusercontent.com/1119271/89987293-0ac3b280-dc3b-11ea-8b1c-50b30481f011.png" width="270" alt="image">
<p style="clear:both;"><sup>Tested with WPiOS 15.5.0.0 TestFlight beta on iPhone

[2020-08-12 07:29] designsimply opened #14629 "Reader: changes made to the Site Title, Tagline, and Site Icon are not reflected in the site stream header"
Steps to reproduce:

1. Subscribe to and view a site you own in the Reader.
1. Go to My Site, tap the Site Icon in the header, and change the image.
1. Go to My Site, tap the Site Title in the header, and change the text.
1. Go to My Site > Tagline, and add a very long tagline.
1. Go back to the Reader and view the site there again.
1. Pull to refresh.

**Result:** changes made to the Site Title,

[2020-08-12 07:41] designsimply commented on #14629
Here are some additional views in light/dark mode and in portrait/landscape orientation.

<img src="https://user-images.githubusercontent.com/1119271/89988082-41e69380-dc3c-11ea-8408-613a2feced7d.PNG" width="24%" alt="IMG_4499"> <img src="https://user-images.githubusercontent.com/1119271/89988084-427f2a00-dc3c-11ea-860b-1df4dd86712d.PNG" width="24%" alt="IMG_4500">  <img src="https://user-images.g

[2020-08-12 07:55] momo-ozawa commented on #14574
@designsimply Thanks for adding labels to the subtasks! 😄

[2020-08-12 09:24] frosty commented on #14609
Thanks for the comment, @designsimply! We have another issue open to add the edit link: #14610 🙂 We also plan to add the site list editing functionality. Unfortunately, we currently don't seem to have a way to set the location via our wpcom APIs, but I'm looking into this.

[2020-08-12 11:45] leandroalonso commented on #14570
Perhaps we can rename the event to `reader_chips_more_toggled` and add a property `action: expand|collapse`? cc @yaelirub @mbshakti

[2020-08-12 13:30] elibud commented on #14616
@bummytime @mattmiklic can you please come up with a naming convention that makes sense here?

[2020-08-12 13:44] momo-ozawa opened #14632 "Reader P2 follow conversations: handle old P2 sites"
### Parent Issue
https://github.com/wordpress-mobile/WordPress-iOS/issues/14574

### Background

### Tasks
- [ ] Assume blogs that are in the Reader's Automattic tab are P2s

![](https://user-images.githubusercontent.com/47797566/89405504-f7d14f80-d71b-11ea-8acc-41e8390b6a10.png)

[2020-08-12 14:18] mattmiklic commented on #14616
My instinct would be to go with the simplest clear option, which I think is "Contact Support." As @designsimply mentioned I don't think most users are going to make a distinction between WordPress and the "App," but I also wouldn't expect them to know what a "ticket" is right off the jump. Any objections to this?

[2020-08-12 14:48] elibud commented on #14616
Going with Contact Support for both screens one and three [here](https://github.com/wordpress-mobile/WordPress-iOS/issues/14616#issuecomment-672270551) works for me.

[2020-08-12 14:51] bummytime commented on #14616
@mattmiklic I think `Contact Support` is perfect — short and clear.

[2020-08-12 14:58] rezzap commented on #14616
I have no idea how I ended up with 'Connect App support' here, but Contact Support seems good to me also.

[2020-08-12 15:51] guarani commented on #14603
Thanks @designsimply 🙇🏻‍♂️, it's working now (not sure what happened last time).

[2020-08-12 16:15] guarani commented on #14616
Thanks everyone, I'll change it to "Contact Support" then on screens one and three as described [here](https://github.com/wordpress-mobile/WordPress-iOS/issues/14616#issuecomment-672917817).

[2020-08-12 16:24] #9679 closed

[2020-08-12 19:29] mbshakti opened #14634 "UI Feedback on Site Header"
Two requests/UI feedback:
<img width="962" alt="Screen Shot 2020-08-12 at 3 22 42 PM" src="https://user-images.githubusercontent.com/6350997/90058398-b1e23180-dcaf-11ea-8bbf-078d678683d7.png">

- Instead of having the site name on the app tab bar, can we just say "site" instead? We are doing the same thing on Android, so that we are not repeating the site name twice, in a single view.

- Can we en

[2020-08-12 20:28] emilylaguna opened #14635 "Reader Topic Header: Long tag titles go off screen"
<img width="30%" alt="Screen Shot 2020-08-12 at 4 24 30 PM" src="https://user-images.githubusercontent.com/793774/90064317-73447b00-dc9f-11ea-9b29-aeb3d8cf761e.png">

### Expected behavior
The label will truncate the text to prevent it from going off screen

### Actual behavior
The text goes offscreen

### Steps to reproduce the behavior
1. Open Reader
2. Locate a post with a long topic
3. Tap on

[2020-08-12 20:28] yaelirub commented on #14617
Closing this issue as other issues are handled in #14622

[2020-08-12 20:28] #14617 closed

[2020-08-12 21:02] yaelirub commented on #14634
Sure. Can do in the next release.

So in code and  in the debugger they are actually both 4px:
<img width="530" alt="Screen Shot 2020-08-12 at 1 46 55 PM" src="https://user-images.githubusercontent.com/1335657/90066643-ddaaea80-dca2-11ea-848c-2157e2dd1ad7.png">

I updated the spacing to 8px between to count and the button

<img width="439" alt="Screen Shot 2020-08-12 at 2 02 06 PM" src="https://us

[2020-08-12 21:33] guarani commented on #14616
The PR is up [here](https://github.com/wordpress-mobile/WordPress-iOS/pull/14636), it changes the button title on the first screen but **not the third**. This was approved by @elibud after offline discussion about difficulties with the Zendesk SDK when attempting to change the third screen's title. More technical details in the PR.

[2020-08-12 21:48] guarani commented on #14616
@rezzap let me know if you'd like me to close this issue once [this](https://github.com/wordpress-mobile/WordPress-iOS/issues/14616#issuecomment-673122354) change is made, or leave it open to track changing the title on the third screen in the future (it's more complicated so couldn't be done now).

[2020-08-12 23:17] designsimply commented on #13325
This issue is no longer relevant as of https://github.com/wordpress-mobile/WordPress-iOS/pull/14520. 👍

[2020-08-12 23:17] #13325 closed

[2020-08-12 23:22] designsimply commented on #13433
Adding a screenshot from the attachment inline for reference:

<img width="270" alt="Screen Shot 2020-08-12 at Aug 12 5 21 46 PM" src="https://user-images.githubusercontent.com/1119271/90077838-62f0c800-dcc0-11ea-8b3d-27f7f726a5df.png">

[2020-08-13 00:09] designsimply commented on #13433
The WPiOS Reader was updated to render post content inside a WebView in 15.2. Props @leandroalonso. 🎉

That change had the side effect of making the gallery no longer open the carousel view (which is the one where you can swipe through the images).

Because the original issue was filed while viewing a post from within a different type of WebView, this would make the issue one that should be filed

[2020-08-13 00:09] #13433 closed

[2020-08-13 00:34] designsimply commented on #13435
Tested and confirmed using WPiOS 15.5.0.0 that tapping on an image in a gallery from a Reader post view results in the image showing fullscreen without a caption. In comparison, the mobile web Reader does nothing when an image is tapped (no fullscreen view) and on the front-end a carousel view is shown which includes the caption.

WPiOS Reader|Mobile Web Reader (image detail not avail)|Front-end
-

[2020-08-13 00:45] designsimply commented on #13446
Adding screenshots from the attachment inline for reference:

<img width="33%" alt="image" src="https://user-images.githubusercontent.com/1119271/90081905-b6b4de80-dccb-11ea-9f97-a8fbe048c211.png"> <img width="33%" alt="image" src="https://user-images.githubusercontent.com/1119271/90081900-b61c4800-dccb-11ea-8f12-fa598b5a7ddc.png"> <img width="33%" alt="image" src="https://user-images.githubuserco

[2020-08-13 01:10] designsimply commented on #13472
I checked the My Site screen again today and confirmed self-hosted sites still don't have Sharing, People, or Plugins options showing in the app.

<img src="https://user-images.githubusercontent.com/1119271/90083329-72c3d880-dccf-11ea-91fe-d9d6849a8bac.PNG" width="270" alt="IMG_3822">

<p style="clear:both;"><sup>Tested with WPiOS 15.5.0.0 TestFlight beta on iPhone 6S iOS 13.6.</sup></p>

[2020-08-13 02:51] designsimply commented on #14560
This came up in beta tester feedback:

<p>Translated with Google:</p>

[2020-08-13 02:56] designsimply commented on #14560
Should be fixed in D47822-code. Props @aerych @emilylaguna. 🎉

I followed up with ticket 3202634-zen as it was the only user ticket listed on this issue.

[2020-08-13 03:10] designsimply commented on #12671
This crash came up in beta tester feedback:

<sup>(internal reference: 3220643-zen)</sup>

[2020-08-13 03:17] yaelirub commented on #14570
I think that we can do with just `reader_chips_more_toggled` (no need for expand, collapse) . That's at least what I'd be interested in looking at.

[2020-08-13 06:04] erricgunawan commented on #14560
There was another report on 3185969-zen.

Since it's fixed, I replied to the user and asked them to try again.

[2020-08-13 14:35] mbshakti commented on #14570
+1 to @yaelirub's comment.

Would we also be able to look at if the user tapped on any of these topics (to go to the topic page) or are we already tracking that?

[2020-08-13 14:36] mbshakti commented on #14634
8 looks good, thanks!

[2020-08-13 14:36] rachelmcr commented on #9664
I confirmed we now show a more helpful error message:

<img src="https://user-images.githubusercontent.com/8658164/90147967-b6275100-dd7a-11ea-94f5-634627fb685b.PNG" width="300px">

Closing as resolved!

[2020-08-13 14:36] #9664 closed

[2020-08-13 16:36] rachelmcr opened #14643 "Reader: Sites filter shows unending loading animation if logged in to self-hosted site only"
### Expected behavior

When I'm only logged in to a self-hosted site (not logged in to WordPress.com), I expect the Reader Sites filter (Reader > Following tab > Filter > Sites) to be hidden or show a prompt to log in to a WordPress.com account.

### Actual behavior

The Sites filter shows a loading animation forever:

<img src="https://user-images.githubusercontent.com/8658164/90161132-9bf56f00-d

[2020-08-13 16:44] rachelmcr opened #14644 "Reader: Empty followed sites screen is unclear when logged in to self-hosted site only"
### Expected behavior

If I'm logged in to a self-hosted site only (not logged in to WordPress.com), I expect the Reader to clearly prompt me to log in to WordPress.com to follow sites OR hide the Following section and focus on content search/discovery (or some other behavior that is contextually appropriate for self-hosted site owners).

### Actual behavior

I see the empty followed sites screen

[2020-08-13 19:07] megsfulton opened #14646 "Unable to deselect images uploaded using the free photo library"
### Expected behavior
Each new instance of the free photo library picker should be reset with no images selected.

### Actual behavior
After uploading a set of images using the free photo library, the free photo library picker keeps the images from the previous set selected with no way to deselect them.

### Steps to reproduce the behavior
1) Open media library, tap + to add media
2) Select "Free

[2020-08-13 19:23] guarani commented on #14616
Accidentally closed via linked PR, reopening as per: https://github.com/wordpress-mobile/WordPress-iOS/issues/14616#issuecomment-673127531

[2020-08-13 23:19] #14620 closed

[2020-08-14 11:02] #14477 closed

[2020-08-14 13:50] guarani commented on #14603
I'm coming back to the issue of the Sentry link because I see that one link can point to what appear to be different issues depending on the day. See this screenshot from visiting [the above link](https://github.com/wordpress-mobile/WordPress-iOS/issues/14603#issue-675332952) now:

<img width="1032" alt="Screen Shot 2020-08-14 at 09 27 21" src="https://user-images.githubusercontent.com/1898325/902

[2020-08-14 23:33] guarani commented on #14220
@designsimply while this issue hasn't been fixed yet, as a first iteration towards addressing this, I've [added error logging for WP.com simple sites](https://github.com/wordpress-mobile/WordPress-iOS/pull/14650).

[2020-08-16 22:48] yaelirub commented on #14629
Thanks for reporting @designsimply !

Hey @leandroalonso , got a CoreData question for you:

[step 1] When a  user changes their site settings (title, tagline, icon etc’), we call:
https://github.com/wordpress-mobile/WordPress-iOS/blob/b347ef8c2488401c1df006e548cc2d5aee42c8d8/WordPress/Classes/Services/BlogService.m#L357
That makes the updates and saves to the context.

[step 2] When we’re fetchin

[2020-08-17 01:26] yaelirub commented on #13315
Hey @designsimply , thanks for flagging. I pushed a fix but for develop so will be available for 15.6

[2020-08-17 13:07] #14387 closed

[2020-08-17 14:46] guarani commented on #14220
I'm leaving a brief summary here of my findings:

Comparing how previews work across WPiOS, WPAndroid and Calypso revealed important differences in the requests made. While I couldn't reproduce this issue (except once), I noticed that WPAndroid does not show the "Page not found" error at all (unlike WPiOS which shows it consistently, albeit briefly).

While WPAndroid performs only two requests to

[2020-08-17 14:50] aerych commented on #14560
Any new reports on this one?

[2020-08-17 16:21] designsimply commented on #14401
This came up in an app review:

<sup>(internal reference: app-store-reviewId=6311920580)</sup>

[2020-08-17 19:38] leandroalonso commented on #14629
@yaelirub  I guess this is not a Core Data issue.

When you tap to see a Blog's content `[controllerWithSiteID](https://github.com/wordpress-mobile/WordPress-iOS/blob/develop/WordPress/Classes/ViewRelated/Reader/ReaderStreamViewController.swift#L218)` is called.

Then, `[siteTopicForSiteWithID](https://github.com/wordpress-mobile/WordPress-iOS/blob/develop/WordPress/Classes/Services/ReaderTopicSer

[2020-08-17 19:44] yaelirub commented on #14629
Thanks for looking into this,  @leandroalonso !
@designsimply , as it is an edge case, I'm moving this issue to Groundskeeping.

[2020-08-17 20:03] emilylaguna opened #14660 "Reader Cards: Discover gets stuck in ghost mode indefinitely"
### Steps to reproduce the behavior
1. Load the new discover view
2. Scroll down to the next page
3. Tap on a topic
4. Tap back

### Expected behavior
The view should show the posts that were previously visible

### Actual behavior
The view gets stuck in the ghost mode until switching tabs

##### Tested on [device], iOS [version], WPiOS [version]
iPhone Simulator 13.3

[2020-08-18 15:14] #14660 closed

[2020-08-18 15:18] emilylaguna opened #14666 "Reader Improvements: Add refresh URL parameter support"
There is a new URL parameter that allows us to randomize a page of posts.

The refresh parameter is a counter that increments from 0.

Demo: https://public-api.wordpress.com/wpcom/v2/read/tags/cards?tags[]=dogs&tags[]=cats&refresh=1

[2020-08-18 17:12] #14666 closed

[2020-08-18 17:21] #13864 closed

[2020-08-18 18:50] #14592 closed

[2020-08-18 18:52] #14591 closed

[2020-08-18 19:29] rezzap commented on #14616
@guarani I think we're okay to close this as I think focusing on setting a better auto-responder or giving some options to the users to follow up within the actual contact screen should clarify what it's about instead.

[2020-08-18 19:46] guarani commented on #14616
Ok @rezzap, thanks for clarifying — closing now.

[2020-08-18 19:46] #14616 closed

[2020-08-18 22:52] rachelmcr opened #14674 "Editor: Leaving editor open in background for a long time turns it into an invisible overlay"
### Expected behavior

I should be able to leave the editor open while the app is backgrounded, and when I open the app I can use the editor as usual.

### Actual behavior

When you leave the editor open with the app in the background for a long time, the editor becomes an invisible overlay over the rest of the app. (Originally reported by @megsfulton; see the original report at p4a5px-2C1-p2 for

[2020-08-18 23:04] rachelmcr opened #14675 "Themes: Status bar turns white when searching themes"
### Expected behavior

I expect the device status bar to remain as-is (like when I search my site's Media section) or turn grey to match the search box (like when I search my site's Blog Posts or Site Pages sections).

### Actual behavior

The status bar turns white so I can't read any of the text anymore:

<img src="https://user-images.githubusercontent.com/8658164/90573688-f473a480-e1ae-11ea-94a

[2020-08-19 07:37] simison commented on #14025
For most layouts, tiled gallery will need JS to calculate the layout, so it's gonna be pretty hard to get it work on mobile.

That said, little fall-back CSS will already do miracles! There are pretty canonical row/column/image semantics going on in the gallery.

[2020-08-19 10:24] rezzap opened #14680 "Unknown File Type Error for HEIC images on WordPress.com Business plan sites"
### Expected behavior
I would expect that I could upload images (live or still) from my iPhone to my media library without needing to convert them.

### Actual behavior
On a Business plan sites on WordPress.com (atomic), live photos from the iPhone media library get an error 'unknown file type' and cannot be uploaded or the posts published.

### Steps to reproduce the behavior
1. Go to My Sites an

[2020-08-19 10:42] rezzap commented on #14680
Reported in 3238635-zen with logs.

[2020-08-19 11:05] osullivanchris commented on #14609
Adding design spec for Ugur who is looking at this one.

This is a basic spec for light mode on iOS. As its using all system and existing components, it should translate pretty well to dark mode, landscape, iPad by default. Let's review those and address any UI issues when we have a build.

![Design Spec](https://user-images.githubusercontent.com/50576199/90627621-16534280-e214-11ea-9600-8de3ac8f2

[2020-08-19 11:06] osullivanchris commented on #14609
@designsimply  thanks for the comments! Had a lot of the same thoughts as you on matching the calypso functionality on displaying sites, and linking to edit profile. I think there'll be more to come on this one once we get the mvp :)

[2020-08-19 12:47] emilylaguna opened #14681 "Reader Improvements: Expandable tags view stays expanded on refresh"
If you tap the + button on a cell, then reload the table view, the cell stays expanded even though the tags have changed

### Steps to reproduce the behavior
1. Enable the Reader Improvements Phase 2 feature flag
2. Tap on the Reader tab
3. Tap on Discover
4. Reload until you see a post that has a lot of tags
5. Expand them
6. Reload the view
7. The cell will still show the "hide" button

[2020-08-19 14:57] #14681 closed

[2020-08-19 15:03] Gio2018 commented on #14609
Thank you for adding the specs @osullivanchris !!

[2020-08-19 15:24] Gio2018 commented on #14594
Addressed by #14597

[2020-08-19 15:24] #14594 closed

[2020-08-19 16:07] #13315 closed

[2020-08-20 02:40] aerych opened #14689 "Bug: Warning about a tableView performing cell layout before its added to the view hierarchy."
When restoring state to the post list screen the following warning is logged to the console:

It seems likely that during state restoration, somewhere tableView.reloadData is being called before a tableView is added to the view hierarchy.  It's not immediately clear if this is the post list's tableView or something else.  The error does not appear when restoring state to the site details screen, o

[2020-08-20 02:51] aerych opened #14690 "Bug: Warnings about breaking constraints on the site details screen."
In the simulator, browse to any site details screen and observe the output to the console.  Currently there are numerous warnings about breaking constraints.

### Examples:
[code]

[2020-08-20 13:12] momo-ozawa opened #14693 "[Reader P2 follow conversations] Add tracking for follow/unfollow conversations"
### Parent Issue
https://github.com/wordpress-mobile/WordPress-iOS/issues/14574

### Tasks
- [x] Add tracking for follow/unfollow convseration

[2020-08-20 13:49] mindgraffiti commented on #11604
Fixed in https://github.com/wordpress-mobile/WordPressAuthenticator-iOS/pull/387

[2020-08-20 13:49] #11604 closed

[2020-08-20 16:01] msilbers opened #14695 "Contact Support: Set character minimum"
We'd like to see if we can set a character minimum for when folks contact us. We get a fair amount of tickets that include things like the following:

- Hi
- Hii
- Hey
- hello
- text

If we could set a character minimum in the form to at least 6, it would help most of this (I hope!), but I can see up to 10 characters being good too. Folks should be sending us questions and their site link, and I d

[2020-08-20 20:09] ceyhun commented on #14674
I was able to reproduce on iPhone 6s simulator, iOS 13.6, release/15.5 branch

### Steps to reproduce:

1. Start the app from Xcode
1. Go to My Site -> **Pages**
1. Press + to create new
1. Background app using the Home button
1. Stop the debugger in Xcode
1. Launch the app again using Xcode
1. State restoration process is initiated and the invisible editor is shown

<img width="300" src="https://

[2020-08-20 20:53] designsimply commented on #14603
Thank you for posting about the problem with grouping issues in Sentry! As mentioned in Slack, I'm totally on board for trying the new Grouping Algorithm and we can follow up at p77Llu-do3-p2#comment-16919 (internal reference).

For the purposes of this GitHub issue, let's focus on the error given:

A search in Sentry for "Application tried to present modal view controller on itself" shows the fol

[2020-08-21 00:20] momo-ozawa commented on #14632
I still couldn't see the Automattic tab, so @leandroalonso did some research for me:

- A tab is a topic
- Posts under a tab has a relationship to the topic

Thanks Leandro 😄 🙏

[2020-08-21 00:37] guarani opened #14700 "Default Menu option not loading in Site configuration"
### Expected behavior

When I go to Site > Menus and choose the "Default Menu" option, the apps should load this option.

<img width="400" alt="Screen Shot 2020-08-17 at 20 59 47 (1)" src="https://user-images.githubusercontent.com/1898325/90839201-e21b7700-e324-11ea-96a9-44c1fcec120e.png">

### Actual behavior

After choosing the "Default Menu" option, the app shows "Loading menu..."

### Steps to

[2020-08-21 01:08] aforcier opened #14701 "Reader: Jetpack slideshow block displays as bulleted image list"
Slideshow blocks are being displayed as a list of images with bullet points in the reader. This likely requires a similar fix to https://github.com/wordpress-mobile/WordPress-iOS/issues/10206, at least to remove the bullets.

![wpios-reader-slideshow-bullet-list](https://user-images.githubusercontent.com/9613966/90840853-1a0ed280-e396-11ea-8fed-b778102aa2d1.png)

(For screenshots with a bit more c

[2020-08-21 08:37] lweathermon commented on #14526
- @lweathermon

[2020-08-21 14:59] belcherj opened #14705 "Reader: Pay with PayPal Block, PayPal button does not render"
### Expected behavior

When using the Pay with PayPal block I should see the PayPal button in the reader

### Actual behavior

I do not see the PayPal button

### Steps to reproduce the behavior

1. Starting at URL: https://wordpress.com/read/feeds/77116051/posts/2871659129
2. Observe that PayPal button does not appear

##### Tested on [device], iOS [version], WPiOS [version]

iPhone 7, 13.6, 15.3

[2020-08-21 15:19] cpapazoglou opened #14706 "Reader: Lastest Posts block doesn't appear when inserted in a comment"
### Expected behavior
Expected to at least see the latest posts block .

### Actual behavior
Latest posts block is not visible at all.

### Steps to reproduce the behavior
1. Boot a site which has Gutenberg enabled for comments (eg a P2)
2. Add a comment containing `latest-posts` block
3. View the comment in the Reader of your iOS device

##### Tested on [device], iOS [version], WPiOS [version]
Te

[2020-08-21 15:34] davemart-in opened #14707 "Reader: Paragraph alignment is off"
### Expected behavior
Center and right aligned content to show up in the iOS reader.

### Actual behavior
All text was left aligned.

### Steps to reproduce the behavior
Here's what I posted:

<img width="803" alt="Image 2020-08-21 at 11 27 01 AM" src="https://user-images.githubusercontent.com/5634774/90908094-e8036d80-e3a1-11ea-8764-f0439d6fe137.png">

Here's what I saw in the iOS reader:

![IMG_

[2020-08-21 15:39] aerych opened #14708 "Reader: WordPress embed blocks appear cropped"
Refs: https://github.com/Automattic/wp-calypso/issues/45105

When viewing a post that contains Gutenberg WordPress embed blocks in the iOS reader, the content can be cropped.

#### Steps to reproduce
1. Create a post on a test site and add some Gutenberg WordPress embed blocks. Link the blocks to WordPress posts that will generate preview cards.
2. View the post in the WPiOS reader.
3. Compare the

[2020-08-21 15:40] belcherj opened #14709 "Reader: Facebook Embed Block"
### Expected behavior

It should render

### Actual behavior

It only renders part of the embed

![image](https://user-images.githubusercontent.com/6817400/90908862-f7cf8180-e3a2-11ea-96c8-2dd5b91f700f.png)

### Steps to reproduce the behavior

1. Make post with Facebook Emebed
2. Observe in the app

##### Tested on [device], iOS [version], WPiOS [version]

iPhone 7, 13.6, 15.3

[2020-08-21 15:54] belcherj opened #14710 "Facebook Embed block in comments does not appear"
### Expected behavior

Facebook Embed block in comments should appear

### Actual behavior

Facebook Embed block does not appear

### Steps to reproduce the behavior

1. Use Facebook embed block in a comment
2. View comment in app
3. Observe it does not appear

##### Tested on [device], iOS [version], WPiOS [version]

iPhone 7, 13.6, 15.3

[2020-08-21 16:35] JavonDavis opened #14711 "Reader: Next Page Block not rendering"
### Expected behavior

- Next Page block to render

### Actual behavior

- Block does not render

### Steps to reproduce the behavior

1. Create a post
2. Add some text
3. Add a break block
4. Add some more text
5. Publish post and view in Reader

<img width="409" alt="IMG_316CF25425D5-1" src="https://user-images.githubusercontent.com/6520461/90913149-73303380-e3a1-11ea-853d-60a265916df7.jpeg">

H

[2020-08-21 17:31] jleandroperez opened #14714 "Reader doesn't process Column Blocks"
### Expected behavior
WordPress iOS's Reader would arrange content in columns, whenever the Columns block is used.

### Actual behavior
Content is displayed in rows.

### Steps to reproduce the behavior
1. Add a new post (in Calypso!)
2. Insert the **Columns** block
3. Add content to each column
4. Publish the post
5. Open the content in the Reader
6. Observe the content is rendered in rows

<img

[2020-08-21 18:02] jleandroperez opened #14715 "Notifications: Column Blocks aren't processed"
### Expected behavior
Comment Notifications containing Column Blocks should layout the content in columns.

### Actual behavior
Text isn't laid out in columns

### Steps to reproduce the behavior
1. Add a new Comment
2. Insert a Columns Comment
3. Add content to each comment
4. Mention a second User

As a result, whenever **User B** gets the iOS notification, the contents will not be displayed in

[2020-08-21 18:20] jleandroperez opened #14716 "Notifications: Youtube Blocks in Comments aren't processed"
### Expected behavior
Comment Notifications containing Youtube Blocks should display a video player.

### Actual behavior
Raw text is displayed!

**NOTE:**
Mentions in post **do work**. This issue is for **comment Notifications!**

### Steps to reproduce the behavior
1. Add a new comment
2. Mention **User B**
3. Insert a Youtube Block

As a result, whenever **User B** receives the notification, th

[2020-08-21 18:23] jd-alexander opened #14717 "Notifications : Button block is not rendering correctly in comments."
### Expected behavior
The button block will be rendered with the respective border or background based on the behavior that's added during it's creation.

### Actual behavior
Only the text and link (if configured) are shown. The button's style is not rendered.
<kbd><img src="https://user-images.githubusercontent.com/1509205/90922868-4df7f100-e3b2-11ea-8875-391b260a2a00.PNG" width="320"></kbd>

###

[2020-08-21 18:52] Gio2018 opened #14718 "Make header and version scrollable on What's New"
Following up discussion in  #14698, the header and version labels should scroll with the table view

[2020-08-21 18:54] guarani opened #14719 "Instagram embed not rendering correctly in Reader comment"
### Expected behavior

An Instagram embed in a post **comment** should be rendered correctly (i.e. the Instagram post should be visible in the comment).

### Actual behavior

The Instagram embed shows the text "View this post on Instagram" in the center of the screen with significant white space all around.

This works correctly when viewing an Instagram embed in a _post_ in Reader, it's broken wh

[2020-08-21 18:56] Gio2018 opened #14720 "Add system material background behind the Continue button in What's New"
Following up discussions in  #14698, a system material background should be added behind the `Continue` button in the What's New page.

Here is how it should look like:
<p align=center>
<img width="360" alt="Screen Shot 2020-08-21 at 1 52 59 PM" src="https://user-images.githubusercontent.com/34376330/90924883-e9d72c00-e3b5-11ea-9a18-1d89eafd8741.png">
</p>

[2020-08-21 19:26] guarani opened #14722 "Instagram embed not rendering correctly in notification mention"
### Expected behavior

When viewed via the Notifications tab in WPiOS, a comment containing an Instagram embed should be rendered correctly (i.e. the Instagram post should be visible in the comment). Note: it should be possible to see the post's photo, since it renders fine in Reader posts, see https://github.com/wordpress-mobile/WordPress-iOS/issues/14719#issue-683765173.

### Actual behavior

Th

[2020-08-21 19:51] theck13 opened #14723 "Comments: Code Block Has No Background Color"
### Expected behavior
The code block has a different background color than the other post text.

### Actual behavior
The code block has the same background color as the other post text.

### Steps to reproduce the behavior
0. Follow a site.
1. Publish a post with a code block to the site in Step 0.
2. Comment on post from Step 1.
3. Go to **_Notifications_**.
4. Tap the notification for the commen

[2020-08-21 19:51] elibud opened #14724 "Comments: Gallery block not rendering correctly"
### Expected behavior

The Gallery block on comments should render correctly.

### Actual behavior

On Site->Comments it doesn't render at all/there's no indication there's a gallery.

![IMG_5C822360BB9F-1](https://user-images.githubusercontent.com/5558824/90928818-f8314200-e3cd-11ea-9fb5-419b879eab3b.jpeg)

When navigating to all comments it renders as a list of images.
![IMG_736EBF2A00FF-1](http

[2020-08-21 21:04] diegoreymendez opened #14725 "UL&S: SIWA signup display name screen issue."
## Description

When signing up with SIWA, I'm seeing some issues in the label that shows the display name right below the avatar.

## Issue Reproduction

### Preconditions

Make sure you're signing up with an Apple account that uses an email that's not associated to any WPcom account.

### Steps

1. Launch the app in a logged out state.
2. Sign up with Apple
3. When prompted, select `Hide My Emai

[2020-08-21 22:21] jd-alexander opened #14727 "Notifications : Media & Text Block - media does not get rendered"
### Expected behavior
That the media within the Media & Text block would be shown.

### Actual behavior
The text is shown but the media isn't.

Notification | Comments (for reference)
--------|-------
<kbd><img src="https://user-images.githubusercontent.com/1509205/90939837-68da5d80-e3d2-11ea-910f-6d4e77e6d3b9.PNG" width="320"></kbd>    |   <kbd><img src="https://user-images.githubusercontent.com/

[2020-08-21 22:32] jd-alexander opened #14729 "Comments : Media & Text - text alignment does not work."
### Expected behavior
That the text will be right-aligned if configured as such.

### Actual behavior
The text is not right-aligned.

<kbd><img src="https://user-images.githubusercontent.com/1509205/90940383-29147580-e3d4-11ea-8f25-7dc4462e9155.PNG" width="320"></kbd>

### Steps to reproduce the behavior
1. Make a Media & Text block within a comment and right-align the text.
2. Notice that the rig

[2020-08-21 23:25] aforcier opened #14730 "Comments: Twitter embeds don't show tweet content"
When opening a comment containing a twitter embed, the embed is just shown as a link:

![wpios-comment-twitter-embed](https://user-images.githubusercontent.com/9613966/90942470-e80e7680-e450-11ea-85b8-45d6a040b3f9.jpg)

### Expected behavior

Would have expected a render of the embed content as a quote, for example here's the same comment on WPAndroid:

![wpandroid-comment-twitter-embed](https://u

[2020-08-22 00:58] yaelirub opened #14731 "Reader and Comments - Layout-grid block appears vertically even in landscape"
### Expected behavior
I expected to see the items in the grid the way they were laid out when I created the post

### Actual behavior
The items appear one after the other, vertically

### Steps to reproduce the behavior
1. Create a post with the block editor
2. Add a layout-grid block
3. Add items to the block
4. Publish the post
5. See the post in Reader
6. The first 4 elements in the page are pa

[2020-08-22 21:33] AmandaRiu opened #14733 "Classic Block in comments not rendered properly"
### Expected behavior
Classic block would render bullet and numbered lists properly, text would align as specified, text color formatting would be applied.

### Actual behavior
The bulleted and numbered lists both have extra lines added to the list after nested items, text color formatting is ignored and text indent/justification is ignored.

### Steps to reproduce the behavior
1. Add a comment us

[2020-08-24 14:14] guarani commented on #12517
I'm un-assigning myself from this to allow anyone else to pick it up if needed.

[2020-08-24 16:42] diegoreymendez opened #14734 "UL&S: Login by iCloud Keychain"
Implement the flow to login using iCloud Keychain.

- [x] Login Flow
- [x] Feature flag
- [x] Tracking

## Designs

<img width="442" alt="Screen Shot 2020-08-24 at 13 41 56" src="https://user-images.githubusercontent.com/1836005/91072251-97914780-e60f-11ea-8997-8debb2fb9712.png">

[2020-08-24 19:03] mindgraffiti opened #14739 "UL&S: Add visual blur to Login Epilogue button view"
Add visual blur to Login Epilogue button view when the button has a background color (i.e. when the content extends under the button).

Use a `UIVisualEffectView` with `.systemChrome` style for iOS 13+ and `regular` for iOS 12. This keeps our button view designs in line with other areas. For example, it's used in the "What's New" feature:

| Light | Dark |
| --- | --- |
| <a href="https://user-ima

[2020-08-24 19:38] #14718 closed

[2020-08-24 20:24] jkmassel commented on #11849
15.6 out-of-date dependencies:
[code]

[2020-08-25 00:39] designsimply commented on #14714
This might be the intended behavior for small screens. @pinarol can you confirm?

[2020-08-25 00:40] designsimply commented on #14715
This might be the intended behavior for small screens. @pinarol @iamthomasbishop I believe you discussed this when working on the columns block in Gutenberg Mobile—can you let us know what you think about how columns should be expected to display in the Reader based on how they look in the block editor?

[2020-08-25 01:32] iamthomasbishop commented on #14715
@designsimply If I'm understanding correctly, what I would generally expect is for columns to be laid out as they are in the editor, which is as follows (depending on device size):

- Portrait phone: columns span the full container, always stack
- Landscape phone (or larger): up to 3 columns per row

I don't think columns is a case where we necessarily have to match identically, because layouts al

[2020-08-25 09:30] maxme opened #14744 "Remove Site Switcher in the Editor"
This feature is a source of issues for developers and a source of confusion for our users. We're aligning with the Android app and dropping the feature.

When the feature is removed, please close the following tickets (issues related to the site switcher):
- https://github.com/wordpress-mobile/WordPress-iOS/issues/7755
- possibly this one too https://github.com/wordpress-mobile/gutenberg-mobile/is

[2020-08-25 13:44] emilylaguna opened #14745 "Reader Improvements Phase 2 Design Feedback"
An issue to track the items for design feedback for Reader Improvements Phase 2

[2020-08-25 14:11] #14253 closed

[2020-08-25 14:14] mbshakti commented on #14745
Hide button on postcard topic chips: Can we remove the fill color for the hide button? The reason being that right now the hide button seems like a topic called "hide". To make it visually distinct from the rest, let's remove the fill so it's just text.

<img width="448" alt="Screen Shot 2020-08-25 at 9 51 34 AM" src="https://user-images.githubusercontent.com/6350997/91182758-9405cb00-e6b8-11ea-8c

[2020-08-25 14:22] mbshakti commented on #14745
Another thing I observed was that sometimes site pages or topic pages take a long time to load. Is that expected? Gif below:

![Kapture 2020-08-25 at 10 17 53](https://user-images.githubusercontent.com/6350997/91186225-c87b8600-e6bc-11ea-9426-c21bae203555.gif)

[2020-08-25 14:28] mbshakti commented on #14745
This seems like an API problem, but seeing a lot of non-English content in some English topics. I think the topic I followed was "politics". Anyway, I'm not sure if expected behavior or no, but just surfacing for visibility!

<img width="1008" alt="Screen Shot 2020-08-25 at 10 27 34 AM" src="https://user-images.githubusercontent.com/6350997/91186960-a0405700-e6bd-11ea-982b-b2ec318676b8.png">

[2020-08-25 14:31] mbshakti commented on #14745
If I only follow 1 or 2 topics (not more), I see the "topics you might like card" twice right after each other.

<img width="977" alt="Screen Shot 2020-08-25 at 10 30 20 AM" src="https://user-images.githubusercontent.com/6350997/91187277-0036fd80-e6be-11ea-8405-c320ae37ca5d.png">

[2020-08-25 14:36] diegoreymendez opened #14747 "UL&S: Bug in password challenge screen"
I'm seeing the email, and sometimes the gravatar image going away when entering an incorrect password in the password challenge screen.  I've also managed to get the App to crash once while doing this.

## Reproduction:

### Preconditions:

- Make sure your Google account is disconnected from your WP.com account.
- Make sure your WP.com account has a password set.

### Steps:

1. Start the app, an

[2020-08-25 14:41] emilylaguna commented on #14745
This looks like an API issue.

[2020-08-25 14:45] emilylaguna commented on #14745
This is an API thing as well.

[2020-08-25 14:45] emilylaguna commented on #14745
Do you know which topics you followed?

[2020-08-25 15:07] mindgraffiti opened #14748 "UL&S: Tracks: rename step `username_password` to `password_challenge`"
### Expected behavior
To keep parity with Android's reported events, we are changing the `username_password` step name to `password_challenge`.

Ref. pbArwn-AP-p2#comment-1487

### Actual behavior
Name of the step is not the same on iOS

### Steps to reproduce the behavior
Have an existing WordPress account that has never been connected to the social account equivalent, or has been disconnected in

[2020-08-25 15:32] mbshakti commented on #14745
Hmm can't recall, but something random like "disney" and maybe something adjacent to that. Sorry :/ I'll document that next time.

[2020-08-25 17:44] #14574 closed

[2020-08-25 17:44] #14623 closed

[2020-08-25 17:44] #14624 closed

[2020-08-25 17:44] #14625 closed

[2020-08-25 17:44] #14632 closed

[2020-08-25 17:44] #14693 closed

[2020-08-25 18:12] jkmassel opened #14751 "Plans page is accessible from WordPress Help Center"
### Expected behavior
The app shouldn't have any ability to view a list of plans, or link to a page that does.

### Actual behavior
It currently does

### Steps to reproduce the behavior
Go Me > Help & Support > WordPress Help Center > Search for "Plan" > Choose the Top Entry > Tag "Purchase Page".

##### Tested on iPhone 11 Pro Max, iOS 13.6, WPiOS 15.5

<table>
<tr>
<td>
<img src="https://user-i

[2020-08-25 18:13] jkmassel commented on #14751
This is a tricky one – I don't think we can fix it in-app, we'd probably need to change it somewhere in ZenDesk, but I don't know if we can exclude it from showing up in the app from there?

[2020-08-25 19:14] designsimply commented on #14714
Noting this also came up in 15.6 beta testing.
<sup>(internal reference: p5T066-1u3-p2#comment-5647)</sup>

In my own testing using Pixel 3 Android 10, I found that the columns were stacked in the editor, in-app Reader, web Reader, and the mobile web (front-end of the site viewed in Chrome on Android 10) while in portrait mode. In landscape mode, I found that only the front-end view of the site sh

[2020-08-25 19:29] ScoutHarris commented on #14751
This properties of the article can be changed to no longer show in the mobile app. Ref https://wp.me/pbArwn-12K/#comment-1521.

[2020-08-25 20:03] jkmassel opened #14754 "WordPress.com Plans Page is Accessible from "Visit Site""
### Expected behavior
Users should not be able to view Plans + Pricing from the app

### Actual behavior
A user can view the WordPress.com logged-out Plans + Pricing page

### Steps to reproduce the behavior
1. Switch to a WordPress.com simple blog (with the attribution footer)
2. Press "View Site"
3. Scroll to the bottom of the site and tap the footer
4. Log out of Calypso
5. Tap the "Menu" butto

[2020-08-25 20:50] jkmassel opened #14756 "WordPress.com Plans Page available from "Sign up for WordPress.com" flow"
### Expected behavior
Users can access the WordPress.com Plans Page via the "Sign Up for WordPress.com" flow.

### Actual behavior
They should not be able to do this

### Steps to reproduce the behavior
- Be logged out
- Tap "Sign up for WordPress.com"
- Tap "Terms of Service"
- Choose "Sign Up" by scrolling to the bottom of the page, or from the "Menu" button
- Proceed with the signup flow until

[2020-08-25 20:54] rezzap commented on #14751
I have unpublished the Zendesk page and double-checked the app that the page can't be searched. This should be resolved now.

[2020-08-25 20:56] jkmassel commented on #14754
This is also accessible from the reader by choosing "Visit" on an article:

<img src="https://user-images.githubusercontent.com/1123407/91226999-0ab7be00-e6e3-11ea-9a8c-32d28e0b528c.PNG" width="256" />

[2020-08-25 20:58] jkmassel commented on #14754
This is also accessible by viewing a post or page from the list:

<table>
<tr>
<td>
<img src="https://user-images.githubusercontent.com/1123407/91227102-3175f480-e6e3-11ea-9714-b7c972de8424.jpeg" />
</td>
<td>
<img src="https://user-images.githubusercontent.com/1123407/91227198-579b9480-e6e3-11ea-9755-434f5a35253f.PNG" />
</td>
</tr>

[2020-08-25 21:10] iamthomasbishop commented on #14714
@designsimply I just realized my reply last night to your question didn't send, apologies! 😬

**The short answer** is "yes" -- columns should stack by default on "mobile" (forgive me if this isn't exact, but the breakpoint is something in the ballpark of ≤ 580px).

**The long answer** is the Columns block can differ wildly on web, especially on the front-end, but I think Reader on mobile should la

[2020-08-25 21:11] jkmassel commented on #14751
I can confirm this is resolved – closing.

Thanks @rezzap and @ScoutHarris!!

[2020-08-25 21:11] #14751 closed, assigned to nobody

[2020-08-26 00:13] guarani opened #14758 "YouTube shortcode not rendering correctly in notification mention"
### Expected behavior

When viewed via the Notifications tab in WPiOS, a comment that includes a Shortcode block which in-turn contains the YouTube shortcode (e.g. `[youtube https://www.youtube.com/watch?v=fX8YLri4wxU]`) should be rendered correctly (i.e. the YouTube video should be visible in the comment). Note: this works fine for posts that contain this same content.

### Actual behavior

The r

[2020-08-26 12:44] #14399 closed

[2020-08-26 12:44] #14396 closed

[2020-08-26 13:38] rachelmcr commented on #14643
It looks like this was also mentioned in https://github.com/wordpress-mobile/WordPress-iOS/pull/14037 with a planned design:

<img src="https://user-images.githubusercontent.com/34376330/80762778-d18b8a80-8b02-11ea-8383-d7ca83d2a35c.png" width="300px">

[2020-08-26 13:43] #14190 closed

[2020-08-26 13:44] #13554 closed

[2020-08-26 13:45] emilylaguna commented on #13554
I looked at this again and I don't think it's something that we need to fix, and no one has reported any issues with it.

[2020-08-26 13:45] #14635 closed

[2020-08-26 13:45] #14570 closed

[2020-08-26 14:28] mindgraffiti commented on #14748
Closed via #14749.

[2020-08-26 14:28] #14748 closed, assigned to mindgraffiti

[2020-08-26 14:38] mindgraffiti commented on #7584
Added to UL&S as the new screens need verified for RTL as well.

[2020-08-26 14:43] rossanafmenezes opened #14759 "Stats not changing when you switch from one site to the other"
We have had 3 reports lately regarding an issue with the iOS WP app. However, each of them happened in a different "scenario". This user 3252442-zen has simple WP.com site, this one 3254212-zen has multiple self-hosted JP sites, and this one 3238193-zen is a beta tester.

So, users open the app and it shows the stats for site # 1. All good there. They then switch to another site, let's call site #

[2020-08-26 14:57] designsimply commented on #14759
I noticed period stats were not updating after switching sites last night while beta testing 15.6.0.0 and was able to capture a video showing the problem. In my case, Stats Insights updated but the Days/Weeks/Months/Years screens did not update even after pull-to-refresh. I also observed that it first happened for a site from a prior login. 😱

Video: [4m35s](https://cloudup.com/cx2MhUraJbG)
<p sty

[2020-08-26 16:06] designsimply commented on #14759
<p style="clear:both;"><sup>appstoreconnect-testflight/screenshots/ACVhi5nDtN8ON-H8iT4UqQ8</sup></p>

<p style="clear:both;"><sup>Note: I followed up with them in 3238193 and it's one of the tickets referenced in the original issue. 👍</sup></p>

[2020-08-26 16:11] mindgraffiti opened #14762 "UL&S: Epilogue: My Sites overlapped by site names"
### Expected behavior
The My Sites header should have an opaque background color so that it is legible and easy to read.

### Actual behavior
The My Sites header is transparent.

### Steps to reproduce the behavior
0. Use a device with a compact screen (not an iPad)
1. Log into an account with 12-15 sites
2. On the epilogue view, scroll the sites
3. The site list scrolls behind the "My Sites" head

[2020-08-26 18:47] #14745 closed, assigned to emilylaguna, leandroalonso

[2020-08-26 19:10] emilylaguna opened #14765 "Reader Improvements: Discover: Sorting Posts"
Project Issue: https://github.com/wordpress-mobile/WordPress-iOS/issues/14768

### Goal
When the user is on the new Discover screen they are given the option to sort the posts by popularity or most recent.

### Screenshots

<img width="983" alt="Screen Shot 2020-08-26 at 3 07 03 PM" src="https://user-images.githubusercontent.com/793774/91345740-b0773580-e794-11ea-98d1-8a328e12d92d.png">

### Desig

[2020-08-26 19:15] emilylaguna opened #14766 "Reader Improvements: Sites/Blogs you might like"
**Project Issue:** https://github.com/wordpress-mobile/WordPress-iOS/issues/14768

<img width="50%" alt="Screen Shot 2020-08-26 at 2 35 18 PM" src="https://user-images.githubusercontent.com/793774/91342704-43fa3780-e790-11ea-9855-e51a8b0abc07.png">

### Goal
Display a list of recommended sites to follow in the Discover feed, and allow the user to follow a site directly in the feed or tap it to see

[2020-08-26 19:20] emilylaguna opened #14767 "Reader Improvements: Reader Detail Updates"
Project Issue: https://github.com/wordpress-mobile/WordPress-iOS/issues/14768

### Goal
Update the Reader Detail design

### Screenshots
<img width="1030" alt="Screen Shot 2020-08-26 at 3 16 21 PM" src="https://user-images.githubusercontent.com/793774/91346772-2a5bee80-e796-11ea-81bc-d0dd7a8fab06.png">

### Designs
- [Explorations](https://www.figma.com/file/a5O8CmzVbGbWBpqzrPUyiC/Reader-Detail-Vi

[2020-08-26 19:21] emilylaguna opened #14768 "Reader Improvements: Phase 3 - Project Issue"
This is the main project issue for Phase 3 of the Reader Improvements Project:

### Tasks

### Deferred
- [x] Discover: Sorting Posts: https://github.com/wordpress-mobile/WordPress-iOS/issues/14765

### Done
- [x] Sites/Blogs you might like: https://github.com/wordpress-mobile/WordPress-iOS/issues/14766
- [x] Remove Feature Flag: https://github.com/wordpress-mobile/WordPress-iOS/pull/14842
- [x] C

[2020-08-26 19:28] #14395 closed

[2020-08-26 19:36] #14612 closed

[2020-08-26 19:36] #14618 closed

[2020-08-26 19:36] #14634 closed

[2020-08-27 10:00] erricgunawan commented on #14759
From app review:

Reported on Aug 26, 2020 | WPiOS 15.4

[2020-08-27 14:13] frosty opened #14774 "Big Titles, White Headers Project Issue"
This is the main project issue for "Big Titles, White Headers". The goal of this project is to switch the navigation bars to use system materials, serif fonts for titles, and large titles for key sections:

![big-titles-white-headers-ios](https://user-images.githubusercontent.com/4780/91452761-dffe6e80-e876-11ea-93fb-461972308f80.png)

- [x] Add feature flag (currently disabled) for the feature (#

[2020-08-27 16:09] designsimply commented on #14759
<sup>(internal reference: appstoreconnect-reviewId=6360003807)</sup>

[2020-08-27 16:19] bjtitus commented on #14689
Not sure if it’s exactly the same, but I was able to reproduce the first one just by going into the blog posts list. It seems to be happening in `PostListViewController` in the `showCompactOrDefault` method call in `isCompact’s` `didSet`. I think before reloading data or sections in the table views in `PostListViewController` we should check that they have been added to the window. They aren’t add

[2020-08-27 17:09] designsimply opened #14775 "Some tracks events have user_id=0"
@koke posted about some tracks events with `user_id=0` and noted:

<sup>(internal reference: p4a5px-2y7-p2)</sup>

Let's investigate these events and make sure there aren't any problems related to the `user_id=0` events.

[2020-08-27 17:16] bjtitus commented on #14690
There seem to be several issues going on here. I think a number of these are coming from the blog posts list instead of the site details screen (could be because the post list is actually loaded when the device supports split view even if it is not shown on screen):

These lines seems to indicate the "More" button in the post cell:
[code]

Some of these seem to be due to zero constant encapsulated

[2020-08-27 17:33] designsimply commented on #9800
While testing sign up with Google during 15.6 beta testing, I found that the user avatar that I selected during signup didn't show up on the Me screen. I am posting it here because it feels related to this issue and I wanted to note it in GitHub.

Video: [3m27s](https://cloudup.com/cuXnyVl-5Xz)
<p style="clear:both;"><sup>Tested with WPiOS 15.6.0.1 TestFlight beta on iPhone 11 iOS 13.6.1.</sup></p

[2020-08-27 19:47] elibud commented on #9800
@mindgraffiti let's add this as a follow up to UL&S, this bug drives me nuts and it creates a poor first impression.

[2020-08-27 21:17] msilbers commented on #14759
3252442 reply: iOS 13.6.1 on all devices
3254212 reply: Apple iPhone 8+ with "latest" iOS version

[2020-08-27 21:17] mindgraffiti commented on #9800
@elibud moved to UL&S phase 2. Thanks for the notes @designsimply!

[2020-08-27 22:33] msilbers commented on #14759
reported in 3255246-zen

WPiOS 15.4
iOS 13.6.1
iPhone 10,5

[2020-08-27 22:59] #14720 closed

[2020-08-27 23:12] designsimply commented on #9800
I did another signup test today with the email flow as part of 15.6 beta testing, and I found that I was able to update the display name and username and add a password successfully but the user icon still did not populate on the Me screen after signup even after force closing and re-opening the app. It shows up properly on the My Site screen though! Adding some screenshots and a video for context

[2020-08-27 23:42] designsimply opened #14780 "Quick Start: pulsing dot appears on My Site instead of Reader for the "Select Reader to continue" step"
Steps to reproduce:

1. Log out and sign up as a new user and create a new site.
1. Select "Yes, Help Me" when prompted for help getting started.
1. Complete each quick start tour step and confirm that the pulsing dot shows up correctly for each step.

**Result:** the pulsing dot is a little too hidden behind the FAB (floating action button) on the My Site screen in the "Select View Site to previe

[2020-08-28 16:18] jkmassel opened #14785 "Can't initialize Core Data stack"
**Sentry Url**: https://sentry.io/share/issue/edaf60f265d649208e6efc3f600b1003/
**User Count**: 360
**Count**: 1097
**First Release**: 15.0.0.6
**First Seen**: 2020-06-15T20:45:11Z
**Last Seen**: 2020-08-28T08:03:53Z
**24 Hours**: 5
**30 Days**: 557
**LogID:** 0DA6E3BA-B508-4863-8505-C0FED00AECB0

[code]

From the logs:

[code]

[2020-08-28 16:20] jkmassel opened #14786 "The operation couldn’t be completed. (WordPress.MediaRequestAuthenticator.Error error 5.)"
**Sentry Url**: https://sentry.io/share/issue/4b7257b8379449ae93e223994e6c0d2d/
**User Count**: 44
**Count**: 843
**First Release**: 14.7.1.0
**First Seen**: 2020-05-14T03:30:36Z
**Last Seen**: 2020-08-27T01:13:45Z
**24 Hours**: 0
**30 Days**: 344

[code]

[2020-08-28 16:22] jkmassel opened #14787 "SIGABRT: Cannot form weak reference to instance (0x281511310) of class WordPressKit.WordPressOrgXMLRPCApi...."
**Sentry Url**: https://sentry.io/share/issue/8b016bafccf045cebde095bc0ce0525d/
**User Count**: 14
**Count**: 121
**First Release**: 15.4.0.0
**First Seen**: 2020-07-28T08:36:13Z
**Last Seen**: 2020-08-28T15:57:19Z
**24 Hours**: 29
**30 Days**: 118
**LogID:** 2D143B8C-8563-445B-A9A2-69AB925E6F86

[code]

[2020-08-28 16:29] jkmassel opened #14790 "NSInternalInconsistencyException: Requested the number of rows for section (0) which is out of bounds."
**Sentry Url**: https://sentry.io/share/issue/d8380fbae38545c68e014e868b65d78e/
**User Count**: 322
**Count**: 690
**First Release**: 14.8.0.2
**First Seen**: 2020-05-26T14:48:39Z
**Last Seen**: 2020-08-28T03:11:52Z
**24 Hours**: 2
**30 Days**: 230
**LogID:** EAEF3901-CB4B-498C-A680-EA1778EB11BE

[code]

[2020-08-28 16:32] jkmassel opened #14791 "EXC_BAD_ACCESS: managedObjectContext >"
**Sentry Url**: https://sentry.io/share/issue/5e9e3d76a8c44a88bbbeb53c32c29674/
**User Count**: 18
**Count**: 141
**First Release**: 14.9.0.4
**First Seen**: 2020-06-07T03:10:48Z
**Last Seen**: 2020-08-28T09:14:15Z
**24 Hours**: 13
**30 Days**: 125
**LogID:** 16ED1558-0C2B-48D6-9657-65CC2F1D90EF

[code]

[2020-08-28 16:33] jkmassel opened #14792 "EXC_BREAKPOINT: init(nibName:bundle:) > WordPress.GutenbergWebNavigationController"
**Sentry Url**: https://sentry.io/share/issue/6dea74a8ab7d4e4faffa9ddaca9ebdf2/
**User Count**: 121
**Count**: 205
**First Release**: 15.3.0.3
**First Seen**: 2020-07-28T01:40:20Z
**Last Seen**: 2020-08-28T13:10:55Z
**24 Hours**: 3
**30 Days**: 201
**LogID:** 7E53FB2F-C485-486D-A6EF-4114EC680EC5

[code]

[2020-08-28 16:36] jkmassel opened #14793 "NSRangeException: *** -[__NSArrayM objectAtIndex:]: index 2 beyond bounds [0 .. 1]"
**Sentry Url**: https://sentry.io/share/issue/05e6665067204964aa890efcf60479c9/
**User Count**: 245
**Count**: 295
**First Release**: 14.6.0.3
**First Seen**: 2020-04-29T12:57:07Z
**Last Seen**: 2020-08-28T16:09:29Z
**24 Hours**: 6
**30 Days**: 129
**LogID:** BAC52945-B89A-4167-983D-915686314307

[code]

[2020-08-28 16:38] jkmassel opened #14794 "NSInvalidArgumentException: Illegal attempt to establish a relationship 'menu' between objects in different contexts (source ..."
**Sentry Url**: https://sentry.io/share/issue/a74266669fc548fab41d50a0402668c7/
**User Count**: 60
**Count**: 256
**First Release**: 13.5.0.3
**First Seen**: 2019-11-06T21:51:49Z
**Last Seen**: 2020-08-28T15:25:01Z
**24 Hours**: 2
**30 Days**: 22
**LogID:** 4D74CE7B-8D2F-4817-954D-04B923F35466

[code]

[2020-08-28 16:39] jkmassel opened #14796 "EXC_BREAKPOINT: Fatal error"
**Sentry Url**: https://sentry.io/share/issue/9e049a2097b14333bf86ed78b2d4ecfe/
**User Count**: 102
**Count**: 310
**First Release**: 14.2.0.4
**First Seen**: 2020-03-03T19:39:24Z
**Last Seen**: 2020-08-28T15:23:27Z
**24 Hours**: 3
**30 Days**: 69
**LogID:** 6F6B6EFD-807B-41DB-8B06-F335FC9C2693

[code]

[2020-08-28 16:47] designsimply commented on #14695
The first step for this issue should be to explore what's possible using our current implementation of the Zendesk SDK, although it has already been noted on the Android side that there's not a way to do it as an SDK consumer.

If we cannot enforce a character limit using the SDK in our current implementation, would it be possible to identify the tickets with a very short amount of text and tag th

[2020-08-28 17:16] leandroalonso commented on #14780
@designsimply which tour produces this issue? Do you remember?

[2020-08-28 17:17] designsimply commented on #12333
Still looks valid. Noting a request from https://github.com/wordpress-mobile/WordPress-Android/issues/10360:

[2020-08-28 17:41] designsimply commented on #7404
During the Information Architecture project, the site icon was added to the My Site (blog details) screen very prominently at the top. See designs at https://github.com/wordpress-mobile/WordPress-iOS/pull/13373.

<sup>(internal reference/master thread: pauD4L-8W-p2)</sup>

Current screenshots for reference:

My Site|Site Settings
---|---
<img src="https://user-images.githubusercontent.com/1119271/

[2020-08-28 18:48] designsimply commented on #6618
The Reader detail screen was updated as part of the Reader Improvements project that shipped in July 2020 in WPiOS 15.2.

<sup>(internal reference: pbArwn-gP-p2)</sup>

Here are some current screenshots of the Reader detail screen for reference:

Site icon and user icon both set|Only user icon set|Only site icon set|Neither site nor user icon set
---|---|---|---
![IMG_4572](https://user-images.git

[2020-08-28 18:48] #6618 closed

[2020-08-28 19:41] mindgraffiti commented on #14747
Closed via #14752

[2020-08-28 19:41] #14747 closed, assigned to mindgraffiti

[2020-08-28 19:52] diegoreymendez opened #14798 "Conflict Resolution Dialog"
We've been receiving a lot of complaints of users confused about posts not being updated and displaying the "Local Changes" label (ref #9449).

To reproduce this issue:

1. Create a post using the app and save as a draft
2. Open the post, type some content and then close the app (without exiting the editor)
3. Go to the web, change the post content and publish it
4. Go back to the app, the post wi

[2020-08-28 19:53] diegoreymendez commented on #13683
I've chatted with @leandroalonso about closing this.  Please DM Leandro or myself if you have questions.

[2020-08-28 19:53] #13683 closed

[2020-08-28 21:51] designsimply commented on #14780
View Site is in the Next Steps > Customize Your Site tour and the Reader step is in the Follow other sites step in the Grow Your Audience Tour. (I think that's what you mean.)

Full signup test for reference: [15m31s](https://cloudup.com/cgWm8m_q2bc)
<p style="clear:both;"><sup>Scroll to 3:05 for Quick Start prompt, 7:57 for View Site, 13:00 for Reader.</br>Tested with WPiOS 15.6.0.1 TestFlight be

[2020-08-28 23:10] designsimply commented on #14798
Why does your screenshot of the prompt show the local and web with the exact same timestamp? I've noticed that during beta testing a few times and found it odd and a bit confusing actually. As a user, I also want to choose which option to keep and not which to discard.

[2020-08-29 02:04] diegoreymendez commented on #14798
Those are the timestamps of the last post modifications.  If both versions were modified at the same time the timestamps will match.

As a side note, I didn't take that screenshot so I'm not sure about the context of it.

@osullivanchris - did you work on this dialogue in Android?  Any thoughts on this?

[2020-08-29 10:52] rezzap commented on #14759
Another report in 3263957-zen

WPiOS 15.5
iOS, 12.4.8
iPhone6

Will let them know this should be fixed in 15.7

[2020-08-29 15:44] designsimply commented on #14798
Thanks for the clarification! I think it would be good to update but also feel the conflict resolution dialog would benefit from a redesign and we could discuss that elsewhere and talking about it here may hinder the progress of this step and I don't want to do that. 👍

[2020-08-29 16:19] designsimply commented on #14714
Ace. Thank you for the update @iamthomasbishop! Based on this reply, I am closing this issue as working as intended.

In beta testing, I noticed that the spacing between stacked blocks doesn't match on web vs mobile web and I will file a separate issue for that upstream. 👍

[2020-08-29 16:19] #14714 closed

[2020-08-31 13:17] osullivanchris commented on #14798
Hey thanks for the ping! The dialog pre-dates me. But I did find it confusing and explored an alternative last summer on p2-paCBwp-dh

My exploration was a completely different way to resolve conflicts, where the user can actually have a look at the versions first, then decide which one to load. However, it would be quite a big thing to build, and we decided against it at the time.

So if we want

[2020-08-31 15:21] jleandroperez commented on #14715
Huh apologies I lost track of this ping. Yes it was an iPhone X!

[2020-08-31 17:08] mindgraffiti opened #14804 "UL&S: Update the prologue buttons"
When the `.unifiedWordPress` flag and the `.unifiedSiteAddress` flag are enabled, display the new prologue buttons.

- [x] new UI
- [x] button behaviors
- [x] Accessibility
- [x] iPad support (https://github.com/wordpress-mobile/WordPress-iOS/pull/14887)
- [x] Tracks

1. Tapping on "Continue with WordPress.com" navigates the user to the new Get Started view (aka unified WP.com login & signup flow)

[2020-08-31 17:15] elibud commented on #13971
There's also some double spacing after a quote in notifications that should be addressed.

[2020-09-01 02:14] designsimply commented on #14787
Noticed there's a similar-sounding error for Gutenberg Mobile at https://github.com/wordpress-mobile/WordPress-iOS/issues/13758.

[2020-09-01 02:28] designsimply commented on #14792
The majority of these crashes appear to be happening for iOS 12.x, WPiOS 15.3.0.3, and iPhone 7 or below.

[2020-09-01 14:57] rossanafmenezes commented on #14759
Another report here 3266255-zen

WP version 15.4
Asked for details about the iOS and device.

[2020-09-01 17:39] designsimply commented on #14759
@rossanafmenezes no need to ask for more details from people reporting the stats issue at this point—please let them know the issue will be fixed in the 15.7 release at the latest. 🙂

@yaelirub I've just answered three new 1-star app reviews to let them know a fix is on the way—because of these reviews and the interest from users, would you like to move this up to target the 15.6 release which is

[2020-09-01 17:50] kduncanwelke commented on #4391
I'm going to try taking this one on. 👍🏻

[2020-09-01 19:25] #14759 closed, assigned to Gio2018

[2020-09-01 19:56] yaelirub commented on #14759
Yes! @Gio2018 , i see you already merged this to 15.7, can you please cherry pick the fix to 15.6

[2020-09-01 20:53] bummytime commented on #14792
@maxme and @hypest → any thoughts on this crasher?

[2020-09-01 21:12] bummytime commented on #14787
@bjtitus I see [you updated some refs](https://github.com/wordpress-mobile/WordPressKit-iOS/commit/b84d27ac10b0690493edd9dd9a96d4ebab4fab12) in `WordPressKit/WordPressOrgXMLRPCApi.swift` on July 20th. Any chance this is related? 😄

[2020-09-01 21:16] bummytime commented on #14791
Not many users or events...adding to Groundskeeping.

[2020-09-01 21:19] bummytime commented on #14793
@leandroalonso any thoughts on this one? Not many users/events, but it seems like we consistently see a few events daily (since 14.6).

[2020-09-01 22:17] bjtitus commented on #14787
I think this is absolutely related to that change which went into 15.4. #13427 no longer exists in [15.4](https://sentry.io/organizations/a8c/discover/results/?display=top5&field=title&field=user&field=project&name=Errors+by+Title&query=event.type%3Aerror+title%3A%22EXC_BAD_ACCESS%3A+.cxx_destruct+%2A%22+project%3Awordpress-ios+release%3A15.4%2A&sort=-title&statsPeriod=24h&widths=-1&widths=-1&widt

[2020-09-02 05:00] designsimply commented on #10073
**Events in the last 90d:** 217
**Users affected in the last 90d:** 142
<sub>WORDPRESS-IOS-2R3X: https://sentry.io/share/issue/98c60a96b016405aa00a305a30ff106e/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=device&field=os&field=culprit&name=All+Events&project=1438083&query=issue.id%3A1316647126&sort=-timestamp&statsPeriod=9

[2020-09-02 05:05] designsimply commented on #11439
I searched Sentry for `"nil is not a valid object ID" "MediaProgressCoordinatorNoticeViewModel"` and found 384 crashes were recorded for all releases in the last 90d.

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=device&field=os&field=culprit&name=All+Events&project=1438083&query=%22nil+is+not+a+valid+object+ID%22+%22MediaProgress

[2020-09-02 05:07] designsimply commented on #12028
**Events in the last 90d:** 825
**Users affected in the last 90d:** 280
<sub>WORDPRESS-IOS-2R4N: https://sentry.io/share/issue/1dcb161bbb4a4e56b4aabe76dd557b19/</sub>

[2020-09-02 05:10] designsimply commented on #12082
**Events in the last 90d:** 468
**Users affected in the last 90d:** 169
<sub>WORDPRESS-IOS-58Z: https://sentry.io/share/issue/3d89f0e64e17487ebd693bc670a97a41/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=device&field=os&field=culprit&name=All+Events&project=1438083&query=issue.id%3A1056489950&sort=-timestamp&statsPeriod=90

[2020-09-02 05:12] designsimply commented on #12338
No new reports of crash on startup are showing up in app reviews. We may be able to close this one as fixed.

[2020-09-02 05:14] designsimply commented on #12449
**Events in the last 90d:** 153
**Users affected in the last 90d:** 121
<sub>WORDPRESS-IOS-2R6R: https://sentry.io/share/issue/83c7116f6f194ff680b9790045cf7da5/</sub>

[2020-09-02 05:18] designsimply commented on #12626
**Events in the last 90d:** 642
**Users affected in the last 90d:** 319
<sub>WORDPRESS-IOS-5QA: https://sentry.io/share/issue/f975828a305e4efb9e2ad4ac9d6e273d/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=device&field=os&field=culprit&name=All+Events&project=1438083&query=issue.id%3A1059358112&sort=-timestamp&statsPeriod=90

[2020-09-02 10:07] hypest commented on #14792
`GutenbergWebNavigationController` is related to the Unsupported Blocks editing feature so, pinging @etoledom that has worked on this recently to assess.

[2020-09-02 12:22] #14780 closed, assigned to nobody

[2020-09-02 15:45] diegoreymendez commented on #14734
I'm closing this as done.  Any future work will be handled as enhancements or bug reports.

[2020-09-02 15:45] #14734 closed

[2020-09-02 16:15] etoledom commented on #14792
I confirm this is indeed a iOS12-only issue.  I can't test earlier versions but iOS 13 is not affected.
~Still looking for a solution.~ Solution found

[2020-09-02 16:24] etoledom commented on #14792
@designsimply - Should a fix for this go via hotfix on the current published version?

It does look quite ugly, but if the numbers are low, we might hotfix the current beta version instead 🤔

[2020-09-02 18:10] designsimply commented on #12671
Meta: the Platform9 team investigated how some NSInternalInconsistencyException crashes were being grouped in Sentry and made some updates. It should only affect new crashes but I thought it was worth a mention.

<sup>(internal reference: paaHJt-1jm-p2)</sup>

**Events in the last 90d:** 8,800
**Users affected in the last 90d:** 5,500
<sub>WORDPRESS-IOS-1MG2: https://sentry.io/share/issue/63cec30b

[2020-09-02 18:13] designsimply commented on #13738
**Events in the last 90d:** 885
**Users affected in the last 90d:** 390
<sub>WORDPRESS-IOS-2R53: https://sentry.io/share/issue/745beb15792545eaac59d14fea37f72f/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=os&field=device&field=culprit&name=All+Events&project=1438083&query=issue.id%3A1316779733&sort=-timestamp&statsPeriod=9

[2020-09-02 18:15] designsimply commented on #13741
**Events in the last 90d:** 890
**Users affected in the last 90d:** 597
<sub>WORDPRESS-IOS-2R4F: https://sentry.io/share/issue/a34d0ede6d1b407b96b0d86edfbe2d92/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=os&field=device&field=culprit&name=All+Events&project=1438083&query=issue.id%3A1316686922&sort=-timestamp&statsPeriod=9

[2020-09-02 18:22] designsimply commented on #13743
**Events in the last 90d:** 209
**Users affected in the last 90d:** 112
<sub>WORDPRESS-IOS-2R57: https://sentry.io/share/issue/f20b12078b154a988bbd7ad0ad03aab0/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=os&field=device&field=culprit&name=All+Events&project=1438083&query=issue.id%3A1316808053&sort=-timestamp&statsPeriod=9

[2020-09-02 18:23] designsimply commented on #13743
<sup>(also see internal reference: p77Llu-cdK-p2)</sup>

[2020-09-02 18:26] designsimply commented on #13758
**Events in the last 90d:** 115
**Users affected in the last 90d:** 75
<sub>WORDPRESS-IOS-2R6J: https://sentry.io/share/issue/412d8f3542594abc829b4aeef91b681f/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=os&field=device&field=culprit&name=All+Events&project=1438083&query=issue.id%3A1317156666&sort=-timestamp&statsPeriod=90

[2020-09-02 18:29] bjtitus commented on #13758
I think this is the same underlying issue as https://github.com/wordpress-mobile/WordPress-iOS/issues/14787

Proposed change to `GutenbergViewController` would be:
[code]

[code]

[2020-09-02 18:30] designsimply commented on #13886
**Events in the last 90d:** 895
**Users affected in the last 90d:** 391
<sub>WORDPRESS-IOS-2R4J: https://sentry.io/share/issue/1381f1cd8d004690bf46543b2296deee/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=os&field=device&field=culprit&name=All+Events&project=1438083&query=issue.id%3A1316703674&sort=-timestamp&statsPeriod=9

[2020-09-02 18:31] designsimply commented on #13890
**Events in the last 90d:** 265
**Users affected in the last 90d:** 138
<sub>WORDPRESS-IOS-599: https://sentry.io/share/issue/1204cb1f05f54b3e86f2c41e316242ce/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=os&field=device&field=culprit&name=All+Events&project=1438083&query=issue.id%3A1056562308&sort=-timestamp&statsPeriod=90

[2020-09-02 18:32] designsimply commented on #13890
<sup>(also see internal reference: paaHJt-1jm-p2)</sup>

[2020-09-02 18:36] designsimply commented on #13956
**Events in the last 90d:** 78
**Users affected in the last 90d:** 54
<sub>WORDPRESS-IOS-2RAW: https://sentry.io/share/issue/ec8f4ba680aa4f608a4509ed93deaa16/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=os&field=device&field=culprit&name=All+Events&project=1438083&query=issue.id%3A1320163956&sort=-timestamp&statsPeriod=90d

[2020-09-02 18:45] designsimply commented on #14176
The previous Sentry link is no longer working. 😕

I think it's this one though:

**Events in the last 90d:** 54
**Users affected in the last 90d:** 39
<sub>WORDPRESS-IOS-37Z2: https://sentry.io/share/issue/8bb751afb92046da9d51900888735736/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=os&field=device&field=culprit&name=All+E

[2020-09-02 18:45] #14176 closed

[2020-09-02 18:46] leandroalonso commented on #14793
@bummytime the crash is on the method used to update the Reader's content but keeping the tableView content offset (so the new posts are added at the top without any scroll).

Even if I don't manage to reproduce it fixing the out of bounds issue shouldn't be difficult (famous last words).

[2020-09-02 19:04] designsimply commented on #14178
Decided to keep this one open to explore the workaround because the issue is related to media uploads which are an important part of the app experience even though we're currently seeing low volume and it's a known issue in AlamofireImage and has been flagged by AFI as low priority. We can close it later if it's deemed not worth the effort to try the workaround but I am hoping someone with experie

[2020-09-02 19:29] designsimply commented on #14179
I searched for ` "getCharacters:range" ` in Sentry and found the issues are low enough in the last 30d to warrant closing this issue.

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=os&field=device&field=culprit&name=All+Events&project=1438083&query=+%22getCharacters%3Arange%22&sort=-timestamp&statsPeriod=90d&widths=-1&widths=-1&wid

[2020-09-02 19:29] #14179 closed

[2020-09-02 19:35] designsimply commented on #14180
**Events in the last 90d:** 445
**Users affected in the last 90d:** 146
<sub>WORDPRESS-IOS-2T71: https://sentry.io/share/issue/b53f5430e3c942cd9a1af7b24cf16fbf/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=os&field=device&field=culprit&name=All+Events&project=1438083&query=issue.id%3A1538584086&sort=-timestamp&statsPeriod=9

[2020-09-02 19:41] designsimply commented on #14332
I searched for `GoogleAuthenticator` in Sentry and found no results.

I searched for `showSignupEpilogue` in Sentry and found [one result](https://sentry.io/share/issue/627dabb816a943809f6c112495361e97/), but it was for Apple signup not Google and only had one case recorded in the last 90d.

Recommend closing due to not being able to find any significant recorded cases of this crash in recent rele

[2020-09-02 19:47] designsimply commented on #14603
Regarding Sentry grouping, we made a recent change we made to use Sentry’s server-side fingerprinting to group NSInvalidArgumentException issues by the last screen the user was on before the crash occurred. The change should affect how new crashes are grouped going forward. /hat tip @jkmassel @guarani

<sup>(internal reference: paaHJt-1jm-p2)</sup>

[2020-09-02 19:55] designsimply commented on #14603
A search in Sentry for `"Application tried to present modal view controller on itself"` shows the following graph for the last 90 days:

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=os&field=device&field=culprit&name=All+Events&project=1438083&query=%22Application+tried+to+present+modal+view+controller+on+itself%22&sort=-timestamp

[2020-09-02 19:56] designsimply commented on #14785
**Events in the last 90d:** 1,100
**Users affected in the last 90d:** 381
<sub>WORDPRESS-IOS-3865: https://sentry.io/share/issue/edaf60f265d649208e6efc3f600b1003/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=os&field=device&field=culprit&name=All+Events&project=1438083&query=issue.id%3A1727985708&sort=-timestamp&statsPeriod

[2020-09-02 20:01] designsimply commented on #14786
**Events in the last 90d:** 718
**Users affected in the last 90d:** 47
<sub>WORDPRESS-IOS-37R2: https://sentry.io/share/issue/4b7257b8379449ae93e223994e6c0d2d/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=os&field=device&field=culprit&name=All+Events&project=1438083&query=issue.id%3A1664596138&sort=-timestamp&statsPeriod=90

[2020-09-02 20:07] designsimply commented on #14790
**Events in the last 90d:** 643
**Users affected in the last 90d:** 314
<sub>WORDPRESS-IOS-37X7: https://sentry.io/share/issue/d8380fbae38545c68e014e868b65d78e/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=os&field=device&field=culprit&name=All+Events&project=1438083&query=issue.id%3A1693599424&sort=-timestamp&statsPeriod=9

[2020-09-02 20:14] designsimply commented on #14791
**Events in the last 90d:** 144
**Users affected in the last 90d:** 19
<sub>https://sentry.io/share/issue/5e9e3d76a8c44a88bbbeb53c32c29674/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=os&field=device&field=culprit&name=All+Events&project=1438083&query=issue.id%3A1713620038&sort=-timestamp&statsPeriod=90d&widths=-1&widths=-

[2020-09-02 20:16] designsimply commented on #14793
**Events in the last 90d:** 315
**Users affected in the last 90d:** 275
<sub>WORDPRESS-IOS-2V91: https://sentry.io/share/issue/05e6665067204964aa890efcf60479c9/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=os&field=device&field=culprit&name=All+Events&project=1438083&query=issue.id%3A1637315396&sort=-timestamp&statsPeriod=9

[2020-09-02 20:17] designsimply commented on #14794
**Events in the last 90d:** 73
**Users affected in the last 90d:** 63
<sub>WORDPRESS-IOS-2R9A: https://sentry.io/share/issue/a74266669fc548fab41d50a0402668c7/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=os&field=device&field=culprit&name=All+Events&project=1438083&query=issue.id%3A1318627698&sort=-timestamp&statsPeriod=90d

[2020-09-02 20:21] designsimply commented on #14796
**Events in the last 90d:** 178
**Users affected in the last 90d:** 103
<sub>WORDPRESS-IOS-2T8M: https://sentry.io/share/issue/9e049a2097b14333bf86ed78b2d4ecfe/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=os&field=device&field=culprit&name=All+Events&project=1438083&query=issue.id%3A1545915307&sort=-timestamp&statsPeriod=9

[2020-09-02 20:27] designsimply commented on #14792
I am in favor of fixing it for 15.6 (currently in code freeze) if it can be done by tomorrow and if it's okay with @jkmassel because unsupported block editing is an important feature. If @jkmassel thinks it's too late to fix in the 15.6 then targeting 15.7 will do.

**Events in the last 90d:** 234
**Users affected in the last 90d:** 135
<sub>WORDPRESS-IOS-38J0: https://sentry.io/share/issue/6dea74

[2020-09-02 20:58] designsimply commented on #14575
I tried drawing on an image I uploaded with the "Take a Photo" option using WPiOS 15.6.0.2 and the edits saved normally for me with no crash and the image was not black. ([1m28s](https://cloudup.com/c6mLLHKXsIu)) Is it possible the problem is only happening in older releases?

<details>
<summary>App logs for the timestamp matching the video </summary>

[code]
</details>
<p style="clear:both;"><sup

[2020-09-02 21:26] jkmassel commented on #14792
I'm ok with this too :)

[2020-09-02 22:49] mindgraffiti commented on #13465
The fix is pending and will be released in WPiOS 15.7

[2020-09-02 23:55] bummytime commented on #14792
Thank you @etoledom !

[2020-09-03 18:24] Deco354 commented on #14798
This [autosave revision dialog PR](https://github.com/wordpress-mobile/WordPress-iOS/pull/12947) seems very relevant to this task.

[2020-09-03 18:57] frosty commented on #14575
Thanks for testing, @designsimply! I've still been able to recreate a large memory spike here, which I've just smoothed out with https://github.com/wordpress-mobile/MediaEditor-iOS/pull/24.

[2020-09-03 19:35] designsimply commented on #6603
Re-tested and found that this issue is no longer happening. When I tap to either view or edit a post in the Post List search results, I am taken back to the filtered search list after pressing the back button. ([34s](https://cloudup.com/c14drZJowOm)) 👍

![WordPress-iOS-6603-test-with-wpios-15 6 0 2](https://user-images.githubusercontent.com/1119271/92159167-3543fe00-edea-11ea-97f9-a0ab45f345e7.gif

[2020-09-03 19:35] #6603 closed

[2020-09-03 19:41] designsimply commented on #7223
Fixed in https://github.com/wordpress-mobile/WordPress-iOS/pull/12287. Props @frosty. 🎉

[2020-09-03 19:41] #7223 closed

[2020-09-03 20:41] sentry[bot] opened #14833 "NSInvalidArgumentException: no object at index 38 in section at index 0"
Sentry Issue: [WORDPRESS-IOS-38VN](https://sentry.io/share/issue/7db01d4bd4d940b18315c01e3f95ccdd/)

[code]

First seen: Sep 1, 2020 5:44:48 PM UTC
First seen in: 15.3.0.3

[2020-09-03 20:48] designsimply commented on #14833
This is a new crash and was also reported in App Store beta tester feedback saying:

* App Version 15.6 (15.6.0.2)
* Device iPhone X
* iOS Version 13.7
* Sentry event id for this case: ede03c0bb55f401f95b1ba12227aaf6c

<sup>(internal reference: you can find a crashlog for this case by logging in to App Store Connect and going to TestFlight > Crashes for version 15.6)</sup>

[2020-09-03 20:49] #14793 closed, assigned to leandroalonso

[2020-09-03 22:31] yaelirub opened #14835 "Move settings icon from following tab to reader app nav bar"
The settings icon can currently only be accessed from the filter bar in the following tab. Let's move the settings icon to the app nav bar next to the search icon so it's a global action that can be accessed from any tab (following, discover, likes, saved). This increases the discoverability of the "manage" tab and allows users to manage their followed topics & sites from anywhere on the Reader.

[2020-09-03 22:44] yaelirub opened #14837 "Change copy from "tags" to "topics" on the manage screen"
The "manage tags & sites" screen has several references to the word "tags". Let's rename all instances of tags to topics here so it doesn't create confusion to users.

<img width="397" alt="Screen Shot 2020-09-03 at 4 28 47 PM" src="https://user-images.githubusercontent.com/1335657/92180124-24e84f00-edfb-11ea-9e5c-c916cca6f855.png">

[2020-09-03 22:47] yaelirub opened #14838 "Change copy from "tags" to "topics" on Add Tag screen"
The "Add tag" screen has several references to the word "tags". Let's rename all instances of tags to topics here so it doesn't create confusion to users.
![IMG_6527](https://user-images.githubusercontent.com/1335657/92180673-75ac7780-edfc-11ea-9a65-357536c3855a.PNG)

[2020-09-04 12:00] rossanafmenezes commented on #14561
The user came back with some more info on ticket 3283407-zen

They say they can upload image from the media library but takes forever, but when they upload it from the post it does not work. Other employees using iPhone have the same issue. They have also added some screenshots to the ticket.

cc @guarani

[2020-09-04 15:53] #14575 closed

[2020-09-04 15:59] guarani opened #14844 "@-mentions not working on Atomic sites"
### Expected behavior

@-mentions (or suggestions) should work for all types of WordPress.com sites, including those with plugins installed (Atomic).

Note: This does work on WordPress for Android.

| Android ✅ | iOS ❌ |
| - | - |
| <img alt="Screenshot showing @-mentions working on Atomic sites on WordPress for Android" width="300" src="https://user-images.githubusercontent.com/1898325/92261184-0

[2020-09-04 16:12] guarani commented on #14844
This is due to this code:
https://github.com/wordpress-mobile/WordPress-iOS/blob/ed9df296c60e0875e4121e3e8595aa9787638578/WordPress/Classes/Services/SuggestionService.m#L114-L118

The check `[blog supports:BlogFeatureMentions]` incorrectly interprets Atomic sites as not being hosted on WordPress.com:

https://github.com/wordpress-mobile/WordPress-iOS/blob/8bfca4663f4beeab131ec1d67e2d4cf6f946f5a0/W

[2020-09-04 19:28] ScoutHarris commented on #12118
Hey @designsimply . The Signup Epilogue has been refactored. It's been a while, so I don't recall exactly what VO says now. I'll give it a listen though and see how it's doing.

[2020-09-04 19:49] #14584 closed

[2020-09-04 21:52] bummytime commented on #14833
@leandroalonso or @emilylaguna anything obvious stick out to you in the Sentry events here?

[2020-09-05 03:57] aforcier opened #14849 "Reader: Inconsistent preview images in feed view vs site view"
### Expected behavior

I expect posts that have a preview image in the feed to also have a preview image when seen in the site view.

### Actual behavior

Some posts (usually posts with image blocks) are missing a preview image in the site view.

![reader-ios-feed-vs-site](https://user-images.githubusercontent.com/9613966/92294387-b3c5aa80-ef66-11ea-84d4-517efd5595ed.png)

("An image post" is the

[2020-09-07 10:12] frosty commented on #10099
I think this is also related: https://github.com/wordpress-mobile/WordPress-iOS/issues/13757

[2020-09-07 12:11] rachelmcr commented on #12456
This was fixed in https://github.com/wordpress-mobile/WordPress-iOS/pull/12479.

[2020-09-07 12:11] #12456 closed

[2020-09-07 16:49] Deco354 commented on #14798
I've done a bit of research on this task and thought I'd share it here to provide more background in to the problem. I'd welcome any input or corrections.

## Types of Updates
There appear to be three different types of updates a post can undergo when first arriving at the post list.
![image](https://user-images.githubusercontent.com/18557720/92404488-a0177100-f12b-11ea-97bc-819c8a96fba9.png)

##

[2020-09-07 17:04] Deco354 commented on #14798
I think this is why the remote posts don't appear until we discard local changes.

**PostListViewController.predicateForFetchRequest:403** displays the latest revision
[code]

**PostService.findPostWithID:758** merges the remote post in to the original post not the latest revision
[code]

[2020-09-07 18:30] mbshakti opened #14856 "Request bigger size for site icon in Reader Site Header"
The problem this issue is trying to solve is blurry site icons in Reader site header.

Append `w=` to the icon request which will reset the default one of 96.
The width will scale up until it hits the dimensions of the image so we’ll never get a “too big” image

[2020-09-07 18:44] mbshakti opened #14857 "Change text style of follow button"
A request to change text style of follow button from `callout` to `subheadline` so that it matches the existing button styles across the app. Also remove any bolding. This would also obviously apply to the `following` button state as well.

Thank you and sorry about getting this wrong the first time around.

<img width="907" alt="Screen Shot 2020-09-07 at 2 43 07 PM" src="https://user-images.githu

[2020-09-08 03:00] designsimply commented on #7283
We decided to remove the site switcher in the editor in the WPiOS app because it's a source of issues for developers and a source of confusion for our users. See https://github.com/wordpress-mobile/WordPress-iOS/issues/14744.

<sup>(internal reference: p9ugOq-1fv-p2)</sup>

[2020-09-08 03:00] #7283 closed

[2020-09-08 11:07] Deco354 commented on #14798
I guess the main questions I have here regard whether the local autosave conflict resolution described in this issue should be kept separate to the existing [solution for remote autosaves](https://github.com/wordpress-mobile/WordPress-iOS/pull/12947).

Should the conflict resolution design described in this issue apply only to local autosaves? Or now that we're handling remote and local autosave c

[2020-09-08 12:27] osullivanchris commented on #14798
Purely in terms of UI, the [mockup I showed above](https://github.com/wordpress-mobile/WordPress-iOS/issues/14798#issuecomment-683770939) was to get away from the original image in the issue description, where the user had to choose a negative action, quite confusing.

The same thing is solved in [#12947](https://github.com/wordpress-mobile/WordPress-iOS/pull/12947) that you mentioned. I forgot we

[2020-09-08 12:37] leandroalonso commented on #14833
@bummytime it looks very similar as the other issue we just fixed, we'll take a look.

@designsimply this quote:

It seems related to writing posts, while the crash is on the Reader. Or "adding a story" means something different here?

[2020-09-08 13:51] leandroalonso commented on #13935
We want to keep a consistency and generic experience in the Reader. For now, we won't be supporting custom spacing: https://github.com/Automattic/wp-calypso/issues/43595#issuecomment-675969533

[2020-09-08 13:51] #13935 closed

[2020-09-08 17:25] jkmassel commented on #14754
This is fixed server-side by additional checks for the `wp-iphone` user agent.

[2020-09-08 17:25] #14754 closed, assigned to jkmassel

[2020-09-08 19:35] mindgraffiti commented on #13465
Confirmed fixed in build 15.7

**iPhone SE, iOS 13+**
<img src="https://user-images.githubusercontent.com/1062444/92519993-86843100-f1e0-11ea-849b-d9105d81eab4.png" width="350" />

https://github.com/wordpress-mobile/WordPress-iOS/pull/14764

[2020-09-08 19:35] #13465 closed

[2020-09-08 21:35] mindgraffiti commented on #12118
This is fixed as of WPiOS 15.7. See also: https://d.pr/v/geCq52

[2020-09-08 21:35] #12118 closed

[2020-09-08 22:04] mindgraffiti commented on #12118
If you were checking out my droplr link, it was blocked. I updated it so it should work now.

[2020-09-08 23:22] #14585 closed

[2020-09-09 08:37] maxme opened #14864 "Remove the "Switch Editor" button in Site Settings for some sites"
Calypso has deprecated the classic editor and removed any way to switch to the classic editor. We're about to switch our users to the block editor as well, but we kept the option for users to switch back to the classic editor as the default.

We want to remove that "Switch Editor" option in the "Site Settings" for most sites except for a few cases:
- Self hosted sites (all of them). They can insta

[2020-09-09 13:10] #10099 closed

[2020-09-09 16:14] leandroalonso commented on #14709
I've spent a few hours testing that and unfortunately, IMHO, it's something that I don't think it worths fixing given the cost.

From my exploration, the problem happens in the Facebook SDK if:

1. The embed has an image
2. We're loading the page locally

About (1): the issue doesn't happen if the post is just plain text, like:

<img src="https://user-images.githubusercontent.com/7040243/92622124-

[2020-09-09 18:18] leandroalonso commented on #14540
@designsimply I tried fixing these styles in the Reader web but it's not that simple: just like the iOS app the Reader Web also strips the `style` HTML tags, which prevents this block from appearing correctly in some occasions.

We need a fix in Calypso side and only then we can work on fixing it in iOS, more context here: https://github.com/Automattic/wp-calypso/issues/45524

Specifically about t

[2020-09-09 18:59] leandroalonso opened #14870 "Comments do not render correctly"
All the rendered comments have issues due to the use of `WPRichContentView`.

With the list of blocks increasing, we changed the Reader to use a WebView but the comments were not included in this change.

We need to assess how we can make the web views available for the comments in a reliable way.

[2020-09-09 19:01] leandroalonso commented on #14729
Given that comments use the `WPRichContentView` we won't be tackling these right now and we'll keep a centralized issue for comments issues: https://github.com/wordpress-mobile/WordPress-iOS/issues/14870

[2020-09-09 19:01] #14729 closed

[2020-09-10 14:08] bummytime commented on #14787
Thanks @bjtitus! @leandroalonso do you have any thoughts on this ☝️ ?

[2020-09-10 16:34] leandroalonso commented on #14706
Given that comments use the `WPRichContentView` we won't be tackling these right now and we'll keep a centralized issue for comments issues: https://github.com/wordpress-mobile/WordPress-iOS/issues/14870

[2020-09-10 16:35] leandroalonso commented on #14710
Given that comments use the `WPRichContentView` we won't be tackling these right now and we'll keep a centralized issue for comments issues: https://github.com/wordpress-mobile/WordPress-iOS/issues/14870

[2020-09-10 16:35] #14710 closed

[2020-09-10 16:35] #14706 closed

[2020-09-10 16:35] leandroalonso commented on #14719
Given that comments use the `WPRichContentView` we won't be tackling these right now and we'll keep a centralized issue for comments issues: https://github.com/wordpress-mobile/WordPress-iOS/issues/14870

[2020-09-10 16:35] #14719 closed

[2020-09-10 16:35] leandroalonso commented on #14733
Given that comments use the `WPRichContentView` we won't be tackling these right now and we'll keep a centralized issue for comments issues: https://github.com/wordpress-mobile/WordPress-iOS/issues/14870

[2020-09-10 16:35] #14733 closed

[2020-09-10 18:26] mbshakti opened #14875 "Update header for P2 postcards to show author"
After receiving some feedback internally that it's much more efficient to have the author name included in the postcard UI for P2 posts specifically, I've updated the design for P2 postcards as per below.

Changes to header include:

- Show author name next to site name
- Show author icon next to site icon
- Show timestamp below

<img width="846" alt="Screen Shot 2020-09-10 at 2 56 16 PM" src="htt

[2020-09-10 20:36] #14762 closed, assigned to ScoutHarris

[2020-09-10 20:38] #4391 closed

[2020-09-10 20:39] jleandroperez commented on #4391
Thank you @kduncanwelke 😄

[2020-09-11 07:05] yaelirub commented on #14849
Please follow Android's[ implemented solution](https://github.com/wordpress-mobile/WordPress-Android/pull/12895) to add support for `srcset` and `data-large-file` img tag attributes
The /read/feed/ and /read/sites/ endpoints return different content sometimes. For some reason one of the differences is that some images have no width attribute in the /read/sites/ endpoint, so what works in the feed

[2020-09-11 13:25] hypest commented on #14792
Fixed by https://github.com/wordpress-mobile/WordPress-iOS/pull/14827

[2020-09-11 13:25] #14792 closed, assigned to nobody

[2020-09-11 14:37] leandroalonso commented on #14849
@aforcier I tried a site that you used in Android's PR and it seems ok:

![92938565-12859b00-f423-11ea-843a-a66f391ed3d4](https://user-images.githubusercontent.com/9613966/92977153-33073100-f4c7-11ea-84ae-675c4587e7dc.png)

Do you have any other sites I can use to test?

[2020-09-11 14:44] mindgraffiti commented on #14331
Fixed in https://github.com/wordpress-mobile/WordPress-iOS/pull/14764

[2020-09-11 14:44] #14331 closed

[2020-09-11 15:48] mindgraffiti commented on #7584
Here are the pieces that need attention in the Unified Login & Signup UI:

| `TextLinkButtonTableViewCell` |  Login Epilogue: display name + username |
| --- | --- |
| Tested on 15.7 | with Arabic localization |
| <a href="https://user-images.githubusercontent.com/1062444/92946748-ac961500-f41c-11ea-9898-d10149d29f70.png"><img src="https://user-images.githubusercontent.com/1062444/92946748-ac96150

[2020-09-11 17:39] startuptester opened #14883 "Reader: Old P2s under the Automattic tab are not showing the Follow Conversation button"
### Expected behavior
According to https://github.com/wordpress-mobile/WordPress-iOS/pull/14806, I should be able to "Open the comments on any P2 post in Reader and follow the conversation".

### Actual behavior
Noticed it is not working on appstestingp2

@leandroalonso says:
"We have a new property that says if a blog is a P2 or not (and we use it to show this button)
This flag is false for old P

[2020-09-11 20:38] startuptester opened #14885 "Reader: Tag suggestions cut off at bottom of list"
### Expected behavior
Show the user a list of tags they might like.

### Actual behavior
list is cut off on both iPhone and iPad.

<img width="237" alt="image-5" src="https://user-images.githubusercontent.com/66104034/92970541-1376f680-f43c-11ea-9300-2e73d8973a67.png">
<img width="743" alt="screenshot-2020-09-11-at-10 33 41" src="https://user-images.githubusercontent.com/66104034/92970547-14a82380

[2020-09-11 20:41] startuptester commented on #14885
On reviewing the steps, I noticed I sometimes have to go to My Site and back to Reader at the end of the steps in order to see the bug

[2020-09-12 00:53] bjtitus commented on #14787
@bummytime @leandroalonso I was unable to reproduce this exact same issue but did reproduce effectively the same stack trace by creating a new `SessionManager` property which is never initialized before `deinit` is called – it crashed with the same error. Based on that little test, I believe the theory I mentioned above is correct.

I've submitted a PR here: https://github.com/wordpress-mobile/Wor

[2020-09-12 00:57] aforcier commented on #14849
@leandroalonso actually that site is expected to be working on iOS - it didn't work on Android before my PR because most story images have a width of around 180, which is high enough for iOS but too low for Android.

I'll DM you a different test site with normal image posts that experiences the issue.

[2020-09-13 01:58] erricgunawan commented on #14561
User on 3283407-zen is back with more info:

[2020-09-14 14:07] mbshakti opened #14892 "Change fill color of selected topic chip in dark mode"
I received some feedback that blue 40 doesn't pass the accessibility guidelines for text on color, so let's change the shade of blue to blue 50.

![IMG_0875](https://user-images.githubusercontent.com/6350997/93096314-3c80cc80-f672-11ea-9fca-7ad96b36ce5e.PNG)

[2020-09-14 14:16] mbshakti opened #14893 "Interest picker screen: change size of done button on iPad"
The done button spans the entire screen width and looks unpolished. Can we please reduce the width of the button per the specs on Figma? https://www.figma.com/file/NuCzgHcTmaW0YkGpX3YKD0/%F0%9F%93%90-Interests-Picker-Screen-(Specs)?node-id=194%3A1177

Screenshot from build
![img_0014-1](https://user-images.githubusercontent.com/6350997/93096952-fc6e1980-f672-11ea-8069-5cc58f86878f.png)

Figma
<img

[2020-09-14 19:20] emilylaguna opened #14895 "Reader: Add a 'Report This Site' button to the reader post overflow menu"
<img width="255" alt="Screen Shot 2020-09-11 at 4 56 23 PM" src="https://user-images.githubusercontent.com/793774/93127705-3ba46680-f683-11ea-85b9-d84325f42778.png">

Mirroring the action on Calypso, we should also add this option to the mobile apps.

### Specs
- Add a report button to the reader post's overflow menu
- It should appear wherever the 'Block This Site' option appears
- Upon tapping o

[2020-09-14 20:34] mindgraffiti opened #14897 "UL&S: epilogue screen is showing multiple times"
### Expected behavior
After successfully logging in to a DotCom account and adding a self-hosted site, the login epilogue should not appear.

### Actual behavior
The login epilogue is showing for a second time.

### Steps to reproduce the behavior
1. Log in with any WordPress.com account.
2. Go to the My Site tab and tap Switch Site.
3. On the My Site screen, tap the + button on the toolbar.
4. On

[2020-09-14 20:38] aerych opened #14898 "Notifications: Notifications screen has incorrect layout immediately after sign in."
Immediately after signing in, or logging in to an account with no notifications, the no results screen is incorrectly positioned.
Example:
![IMG_1820](https://user-images.githubusercontent.com/1435271/93135622-3e618480-f6a0-11ea-8343-6c964210e592.PNG)

### Steps to reproduce the behavior
Sign up to wpcom with a brand new account via the app, or log in with an account that has no notifications.
Onc

[2020-09-15 04:26] startuptester opened #14900 "Reader: unfollowing list of tags doesn't actually unfollow all the tags"
### Expected behavior
When a user unfollows a tag, I expect that to be propagated to all their views of Reader. (iOS, Android, web)

### Actual behavior
While they appear to not be following any tags on iOS, 3 of the deleted ones are still being followed.

### Steps to reproduce the behavior
1. In the Discover tab, follow all the tags that start with 'A'
![IMG_8FFC9F4225A1-1](https://user-images.g

[2020-09-15 04:37] startuptester opened #14901 "Discover: cannot follow recently deleted tag"
### Expected behavior
A user deleting their tags from the list of followed tags should be able to re-add one they deleted by mistake

### Actual behavior
An error message says they are already following the tag. The only way to re-add it is to return to the new screen on the Discover tab.

### Steps to reproduce the behavior
1. Use an account that is not following any tags

2. In Discover, follow

[2020-09-15 13:25] leandroalonso commented on #14900
@frosty @bjtitus I wonder if one of you has seen this issue before?

My suspicion here is that removing a lot of tags at the same time is causing `429` errors.

[2020-09-15 16:31] #14725 closed

[2020-09-15 17:39] ScoutHarris commented on #14897
This isn't a bug. The epilogue has always shown in this path. If we don't want it to, that can be a future enhancement.

[2020-09-15 18:40] mindgraffiti opened #14907 "Jetpack Install: Error authorizing on first try"
### Expected behavior
No error message and no error while trying to authorize.

### Actual behavior
First-time DotCom account creators who are trying to install Jetpack are encountering an "Error authorizing" message. It is consistently happening on iOS and is not reproducible on Android.

### Steps to reproduce the behavior
1. Have a self-hosted website that has never been associated with a DotCo

[2020-09-15 20:23] leandroalonso opened #14910 "Reader Discover: Topics You Might Like appears duplicated"
### Expected behavior

The list is refreshed with new content and "Topics you might like" doesn't appear twice

### Actual behavior

The "Topics you might like" card appears twice

### Steps to reproduce the behavior

1. Run the app
1. Tap Reader > Discover
1. Close the app
1. Run the app again
1. Tap Reader > Discover
1. Check that a "Topics you might like" it's already there
1. When the new cont

[2020-09-15 21:12] ScoutHarris commented on #13870
Fixed with https://github.com/wordpress-mobile/WordPress-iOS/pull/14908.

[2020-09-15 21:12] #13870 closed

[2020-09-15 21:17] designsimply commented on #14833
I believe that the user is posting to a news site and by "story" they mean "post" in the context of the app. The same user reported the same error again in 15.7.0.0 except as a screenshot this time—they are definitely in the editor in the screenshot report and I don't know why the crash report would have shown them as being in the Reader when the crash happened, perhaps they used the crash prompt

[2020-09-15 22:41] yaelirub commented on #14885
I am unable to reproduce this. Are you able to reproduce this consistently, @startuptester ?

[2020-09-15 22:50] yaelirub commented on #14900
This seems to be a problem only when removing tags fast. Otherwise it works as expected.
@startuptester , did you test removing lots of tags, fast, in older versions too?
@emilylaguna , I vaguely remember we said something about issues when deleting tags fast.

[2020-09-15 23:14] yaelirub commented on #14901
@emilylaguna , can you please look into this one ?

[2020-09-15 23:35] startuptester opened #14913 "HTML entity in tag name on tag listing"
### Expected behavior
no html entity displayed

### Actual behavior
![image](https://user-images.githubusercontent.com/66104034/93275132-4f31f900-f779-11ea-8c7e-66f45711500c.png)

**reported by Chris Rosser**
_"i think it’d mean patching an old endpoint (v1.2 /read/tags/:tag/posts) but it must have been like that for a while"_
https://appstoreconnect.apple.com/apps/335703880/testflight/screenshots

[2020-09-16 00:46] designsimply commented on #13977
I ran into this again today while beta testing the username+password login flow using WPiOS 15.7.0.1 and wanted to add app logs for reference. It's just as Luis reported, the error on screen says "It seems like you’ve entered an incorrect password. Want to give it another try?" but the logs say "You have exceeded the login limit.  Please wait a few minutes and try again." @ScoutHarris I saw your p

[2020-09-16 02:10] designsimply commented on #14907
Tested and confirmed using WPiOS 15.7.0.1 that if I am not already logged in to WordPress.com in the app when I start the Jetpack install flow that I see an "Error authorizing" message and the app automatically retries then I tap "Approve" again and it works the second time. ([3m42s](https://cloudup.com/c4toJ6lzAvN))

<sup>Tested with WPiOS 15.7.0.1 TestFlight beta on iPad Mini 4 (WiFi) (iPad5,1)

[2020-09-16 02:20] designsimply commented on #14547
While beta testing the Unified Login & Signup call for testing with WPiOS 15.7.0.1, I noticed that the Notifications > Install Jetpack prompt also displays small and to the left in contrast to a similar prompt in Stats where it's shown on the right.

"Install Jetpack" prompt in Notifications|"Install Jetpack" prompt in Stats
---|---
<img width="960" alt="Screen Shot 2020-09-15 at Sep 15 8 18 40 PM

[2020-09-16 02:33] designsimply opened #14915 "Install Jetpack prompt remains on the Stats screen after installing Jetpack via Notifications until you browse away then back again"
### Expected behavior

After I go to Notifications and tap "Install Jetpack", I expect the Stats screen will no longer show the "Install Jetpack" prompt.

### Actual behavior

After I go to Notifications and tap "Install Jetpack", the Stats screen still shows the "Install Jetpack" prompt until I browse away and back again.

### Steps to reproduce the behavior

1. Add a self-hosted site that does n

[2020-09-16 02:46] designsimply commented on #9294
Right back at ya! Apologies for missing the reply here. This crash was intermittent and culminated in a ton of users eventually reporting it but the crash was happening before the app initialized and could send data to our crash monitoring software (Sentry) so it was quite difficult to track down.

It is no longer happening for me and we are no longer seeing high numbers of incoming reports of cra

[2020-09-16 02:46] #9294 closed

[2020-09-16 02:52] startuptester commented on #14885
Updated the steps.

I can reproduce this every time on both iPad and iPhone following the steps. Added more clarity.

[2020-09-16 03:06] startuptester commented on #14900
@yaelirub
1. Yes it only happens when you delete quickly, but re-adding the deleted tag does not need to be done fast after the delete. For example, I deleted that tags quickly (but really that is no faster than I would do it normally if I were clearing the list) and
 I waited 5 minutes before re-adding on I deleted and I still got the error.

2. I was not able to reproduce this in 15.5

[2020-09-16 04:03] designsimply opened #14916 "Media: image upload failure in the editor saying "Error uploading file: Invalid response from the Jetpack site""
During 15.7 beta testing, the first time I tried to upload an image on a new post in the editor the upload failed but it appeared in the Media screen when I checked there. I tried replicating the problem in a few other posts but it started working normally and I couldn't get the problem to happen again on the same site.

Here's what happened:

1. Add a self-hosted site.
1. Complete the Jetpack Ins

[2020-09-16 04:04] designsimply commented on #14759
Looping back to note I tested this n 15.6 (App Store version) and 15.7.0.1 (TestFlight beta) from a few different accounts and I was able to switch sites and see the Stats update to the correct site. 👍

[2020-09-16 14:39] mindgraffiti commented on #14897
Reopening as an enhancement, because Android follows this behavior and iOS should be consistent with that.

[2020-09-16 14:42] mindgraffiti commented on #14897
Ignore me. This is not a bug or an enhancement, it's expected behavior.

[2020-09-16 14:42] #14897 closed, assigned to nobody

[2020-09-16 15:17] rossanafmenezes opened #14919 "Editor freezing when typing a long post"
The user complained about having some issues when they were working on their iPad and the text on the post was a long text.

### Expected behavior

 I would expect the editor to continue to behave as usual regardless of the size of the post.

### Actual behavior

The editor freezes and then they have problems selecting other blocks.

The behavior was recorded by the user and the video is attached

[2020-09-16 15:38] #14787 closed, assigned to bjtitus

[2020-09-16 16:58] ScoutHarris commented on #8080
Hey @rachelmcr @designsimply . Now that Unified Login & Signup are done, can this be reviewed to see if the changes are sufficient, or if you think more changes are needed? Thanks!

[2020-09-16 17:00] ScoutHarris commented on #13898
https://github.com/wordpress-mobile/WordPress-iOS/issues/13870 has been resolved, so this should no longer be an issue.

[2020-09-16 17:00] #13898 closed

[2020-09-16 19:06] designsimply commented on #14910
Note: in WPAndroid 15.7 beta testing, I noticed “You might like” heading was repeated periodically in the Discover stream and also empty sometimes. The 2nd part was fixed upstream in r213551-wpcom. See related discussion p5T066-1vr-p2#comment-5774 (internal reference).

[2020-09-16 19:19] #13977 closed

[2020-09-16 20:31] kduncanwelke commented on #14646
I'm going to look into this one. 👍🏻

[2020-09-16 21:38] mindgraffiti commented on #7584
Fixed in #464 and https://github.com/wordpress-mobile/WordPress-iOS/pull/14921

[2020-09-16 21:38] #7584 closed

[2020-09-17 00:53] cagrimmett opened #14926 "Notifications show incorrect author Gravatars on first load"
### Expected behavior
Notifications should show the correct author Gravatar for each notification.

### Actual behavior
When tapping on Notifications and new notifications load, sometimes the new unread notifications in the list have an incorrect author Gravatar on the first load. Pulling down to reload the view will update the notifications to the correct author Gravatar.

Examples, incorrect Gra

[2020-09-17 13:48] emilylaguna commented on #14901
I was able to reproduce this using the steps above, and I believe this issue is related to: https://github.com/wordpress-mobile/WordPress-iOS/issues/14900

The reason is because if you rapidly delete all your local followed tags, and they still exist on the server, when you go to add them again the API will error out and tell us it already exists.

[2020-09-17 13:59] emilylaguna opened #14930 "Reader Improvements: Use the new v2 topic posts endpoint"
### Description
The current endpoint the app uses to get the posts for a topic is: `https://public-api.wordpress.com/rest/v1.2/read/tags/{TAG}/posts`

We should switch this over to the `wpcom/v2` endpoint:  `https://public-api.wordpress.com/wpcom/v2/read/tags/posts?tags={TAG}`

### Tasks
- [x] Add the new API to WPKit
- [x] Update the ReaderStreamViewController to use the new API
- [x] Update the

[2020-09-17 16:31] mindgraffiti commented on #12746
Removing from UL&S. This one belongs in the XML-RPC Errors project.

[2020-09-17 16:34] mindgraffiti commented on #8080
Moving to Blocked status until we have verification that the UL&S project has solved this issue.

[2020-09-17 16:51] mindgraffiti commented on #13806
Need to research this next week and verify it is still a problem. I think we fixed this issue because all the "pink" buttons now use the NUX button that blocks users from tapping fast and submitting twice

[2020-09-17 17:29] emilylaguna opened #14932 "iOS 14: CachedAnimatedImageView does not load the image"
When the app is built with Xcode 12 and ran on iOS 14 instances of `CachedAnimatedImageView` do not display the image

<img src="https://user-images.githubusercontent.com/793774/93505879-4f90d800-f8d0-11ea-80aa-39739a5ae224.png" width="30%" />

This only affects iOS 14, when the same build is ran on iOS 13 and below the images appear fine.

[2020-09-17 17:41] jkmassel opened #14933 "iOS 14: Crash when viewing post related to a notification"
### Steps to reproduce the behaviour
0. Be running iOS 14 and WPiOS 15.7.0.2 (the XC12 Testflight build)
1. Go to "Notifications" tab
2. Tap on the notification
3. Tap the related post.
4. The app will almost always crash

##### Tested on iPhone 11 Pro Max, iOS 14.0, WPiOS 15.7.0.2

[2020-09-17 20:01] leandroalonso commented on #14933
Just adding a little bit more information here:

I wasn't able to reproduce this crash on the simulator, only on the device. The crash happens in the method [updateLeadingContentConstraint](https://github.com/wordpress-mobile/WordPress-iOS/blob/develop/WordPress/Classes/ViewRelated/Reader/ReaderCommentCell.swift#L238) because `leadingContentConstraint` is `nil`:

[code]

[2020-09-17 21:21] guarani opened #14938 "Media Library: App spontaneously cycling through media items"
### Expected behavior

Opening the a site's media library should display a grid of media items.

### Actual behavior

Opening the a site's media library causes multiple screens to be pushed onto the stack (the app seems to cycle through each media item until it reaches the last item).

| <img alt="Screen recording showing that upon navigating to the Media Library, the app starts cycling through th

[2020-09-17 22:11] frosty opened #14939 "[iOS 14] Fix system photo picker appearance"
On iOS 14, the system photo picker (presented if you choose "Select Photos..." on the photo permissions dialog) picks up some styles from the app, which don't look good. It also makes the text of the bottom button hard to read:

<img src="https://user-images.githubusercontent.com/4780/93533334-961b1c80-f93a-11ea-8d5f-f51f488a6081.PNG" width=300 />

This affects the shipping iOS 13 build (15.6) tha

[2020-09-18 08:51] #9832 closed

[2020-09-18 09:46] etoledom commented on #14080
I have [reviewed the PR](https://github.com/wordpress-mobile/WordPress-iOS/pull/14312#pullrequestreview-491302873) that fixes this ticket. Let's hope @negna1 is available to check out the feedback :)

[2020-09-18 12:06] rossanafmenezes commented on #6015
Another request from the App reviews [here](https://link.reviewbot.io/review/yZ9-1kYlN)

User Gunsmoke125
using WP Version 15.6

[2020-09-18 12:25] leandroalonso commented on #14833
@designsimply the stacktrace in the issue description is clearly related to the Reader, not the post editor.

However, when I click on the link it shows me another issue (`NSInvalidArgumentException: cannot access fetched objects before -performFetch:`). Maybe there are multiple different events being merged as a single one?

That's probably a good idea.

[2020-09-18 12:44] #14933 closed, assigned to nobody

[2020-09-18 12:45] frosty commented on #14938
I'm currently unable to reproduce this one... do you literally just open Media and then tap an item in the library?

[2020-09-18 13:16] #14932 closed, assigned to emilylaguna

[2020-09-18 13:51] #14804 closed, assigned to mindgraffiti

[2020-09-18 14:26] guarani commented on #14938
I wasn't able to reproduce again on the Test Flight 15.7 build (strangely enough), but then I compiled from Xcode 12 using the following commit and was able to get it working: https://github.com/wordpress-mobile/WordPress-iOS/commit/e37dce417fb7ca59cd2aaeb5014fee5b76974c94

[2020-09-18 14:33] guarani commented on #14938
@frosty yes, although today I could only reproduce building from Xcode 12 (not when using the Test Flight build, see comment above). I've also added a screen recording to the issue.

[2020-09-18 14:49] Deco354 commented on #14798
Hey @osullivanchris I've two design related questions regarding this I'd love to get your input on.

1. Assuming the new prompt covers both local and remote autosaves now what do you both think of differentiating between autosave/unsaved versions and regular versions within the prompt? We differentiate between local and remote but this doesn't tell us which was the version the user actually chose

[2020-09-18 15:54] rachelmcr commented on #8080
Sorry for the delay! I've had my hands full this week but I'll test/review this issue and update it as soon as I have a chance next week (early- to mid-week).

[2020-09-18 19:30] #14689 closed

[2020-09-18 19:30] #14690 closed

[2020-09-18 20:00] osullivanchris commented on #14798
What do you mean by 'regular versions'? I'm not so certain that 'save' is much stronger than Autosave. In a way its confusing that we have both. If I become accustomed to Autosave, it might not seem important to me whether I saved or not. I do think changing it to published is a very strong action which we could highlight. But I'm not sure it will be easy to say 'this is one that autosaved', 'this

[2020-09-18 20:25] mchowning commented on #13208
In Slack, a user reported a similar issue:

<img src="https://user-images.githubusercontent.com/4656348/93641942-33be2c80-f9cb-11ea-830b-b9823bd733f0.png" width="200">

https://wordpress.slack.com/archives/C02RQC4LY/p1600440128000700

UPDATE: Got some [more information](https://wordpress.slack.com/archives/C02RQC4LY/p1600673740002400?thread_ts=1600440128.000700&cid=C02RQC4LY):

1. What version of

[2020-09-18 22:55] yaelirub opened #14947 "Add "Report Site" and "Block Site" options to Post details more menu"
Update the more menu options in post detail page to be consistent with the options in the more menu in the post card.
In other words, add block and report site options

Post card|Post detail
-|-
![](https://user-images.githubusercontent.com/1335657/93651366-1470d080-f9c6-11ea-9a6e-c0052f6f2ff9.png)|![](https://user-images.githubusercontent.com/1335657/93651359-10dd4980-f9c6-11ea-827c-5f28e9d81735.

[2020-09-20 15:50] Deco354 commented on #14798
For how we resolve autosave conflicts it appears the Android version has two very different behaviors for these each type of conflict.

1. Resolving a local autosave conflict (this task)
* immediately discards the version the user chose to discard
* User remains on the PostList screen.
* Displays a toast/prompt message telling the user they've discarded the version they chose to discard

2. Resolv

[2020-09-21 13:31] astralbodies commented on #12432
This issue is still valid and iOS 14 has an API now to handle this with their built-in keychain option. Still valid.

[2020-09-21 14:18] diegoreymendez commented on #14798
@Deco354 - For simplicity and to avoid scope creep, I think it would be best if we kept those separated and followed Android's lead for now.  Does that sound good?

Let me know if you foresee any issue with this approach.

[2020-09-21 18:04] diegoreymendez opened #14951 "UL&S: Implement sources other than the default one for tracking Sign In flows."
We have implemented tracking for the `default` Sign In source.  We need to implement [the other sources listed in `AuthenticatorAnalyticsTracker`](https://github.com/wordpress-mobile/WordPressAuthenticator-iOS/blob/f9e3dbab4cec0cbec68adc94f32aaef8992da04c/WordPressAuthenticator/Analytics/AuthenticatorAnalyticsTracker.swift#L29-L42).

[2020-09-21 21:11] designsimply commented on #14926
Thanks for reporting this @cagrimmett! I haven't been able to replicate it so far, but I'm still looking into it. 🤔

I noticed all of the examples you circled are for user mentions on private P2 blogs—is there any chance you recall seeing this on _any_ other type of notification or would you say this problem has been limited to @ mention notifications for you?

<sup>(internal reference to note som

[2020-09-21 22:17] mchowning commented on #14561
A similar issue reported at https://github.com/wordpress-mobile/WordPress-iOS/issues/13208#issuecomment-695069425.

[2020-09-21 22:25] designsimply commented on #14926
Some additional notes:

There has been some recent work on @-mentions, except on the editor side (internal reference: p9ugOq-1db-p2) though if this has been happening since as early as WPiOS 15.3 as the bug report mentions, then https://github.com/wordpress-mobile/WordPress-iOS/pull/14743 is most likely not the culprit. Also, it might not be limited to @mentions but that happened to be the example

[2020-09-21 22:40] mchowning commented on #14561
Updated the issue title to reflect that this is not limited to the feature image.

[2020-09-21 22:50] designsimply commented on #7658
Still valid! Here is a screenshot from WPiOS 15.7.

<img src="https://user-images.githubusercontent.com/1119271/93829211-6023b400-fc2a-11ea-8139-04dada183dd8.png" width="270" alt="IMG_4597">
<p style="clear:both;"><sup>Tested with WPiOS 15.7.0.5 TestFlight final build (the one that was sent to the App Store) on iPhone 11 iOS 13.6.1.</sup></p>

[2020-09-21 23:34] cagrimmett commented on #14926
Hi, @designsimply! @elibud asked me to delete the app and reinstall it to see if I could keep replicating the issue. I haven't seen the issue again since reinstalling. That is strange to me because I was on the latest version before reinstalling 🤷

If no one else can replicate this, I'd be fine with closing it.

[2020-09-22 01:58] jkmassel commented on #11849
15.8 out-of-date dependencies:

[code]

[2020-09-22 04:23] jkmassel opened #14956 "NSInvalidUnarchiveOperationException: *** -[NSKeyedUnarchiver decodeInt64ForKey:]: value for key (start) is not an integer number"
**Sentry Url**: https://sentry.io/share/issue/3e1a21f3b2814fac9765682ae76ebbc4/
**User Count**: 78
**Count**: 254
**First Release**: 14.8.2.0
**First Seen**: 2020-06-24T12:39:00Z
**Last Seen**: 2020-09-22T04:17:47Z
**24 Hours**: 1
**30 Days**: 83
**LogID:** 515732CF-E863-4C27-8520-8145870C6BCD

[code]

[2020-09-22 04:23] jkmassel opened #14957 "Response to request for auth cookie for WP.com site failed to return cookie."
**Sentry Url**: https://sentry.io/share/issue/32441e4b3c9b4588964b8da8eb356241/
**User Count**: 156
**Count**: 532
**First Release**: 15.4.0.20200807
**First Seen**: 2020-08-14T20:44:59Z
**Last Seen**: 2020-09-22T04:12:18Z
**24 Hours**: 69
**30 Days**: 531

[code]

[2020-09-22 04:24] jkmassel commented on #14957
I believe this is a similar (if not the same) issue happening in a different place: https://sentry.io/share/issue/e3238388430d4174b3c3ec43dfe40e87/

[2020-09-22 04:36] jkmassel opened #14958 "EXC_BAD_ACCESS: delegate > emptyViewControllerForMediaPickerController: > mediaPickerController:handleError: > re..."
**Sentry Url**: https://sentry.io/share/issue/44064e4cd9964f09a5ff497b6a90970f/
**User Count**: 643
**Count**: 1347
**First Release**: 15.5.0.3
**First Seen**: 2020-08-13T12:01:15Z
**Last Seen**: 2020-09-22T04:34:26Z
**24 Hours**: 81
**30 Days**: 1344
**LogID:** 7E14087A-C7D1-4093-BA54-E5EB92A62DDA

[code]

[2020-09-22 04:37] jkmassel opened #14959 "NSInvalidArgumentException: *** +[NSURLComponents initWithURL:resolvingAgainstBaseURL:]: nil URLString parameter"
**Sentry Url**: https://sentry.io/share/issue/a56a1be8c831473f89e936ed11c4fb1b/
**User Count**: 49
**Count**: 118
**First Release**: 15.5.0.3
**First Seen**: 2020-09-01T20:58:17Z
**Last Seen**: 2020-09-22T03:31:31Z
**24 Hours**: 3
**30 Days**: 118
**LogID:** 9A9C5397-BD89-456E-A191-23D31259D8C3

[code]

[2020-09-22 04:38] jkmassel opened #14960 "NSInvalidArgumentException: nil is not a valid object ID"
**Sentry Url**: https://sentry.io/share/issue/fa5a0d83563c4b85a92aaf6cfbe1c21d/
**User Count**: 114
**Count**: 157
**First Release**: 15.3.0.3
**First Seen**: 2020-08-24T16:42:37Z
**Last Seen**: 2020-09-22T02:40:15Z
**24 Hours**: 8
**30 Days**: 157
**LogID:** 170A3571-0A7B-4AA3-987E-38C133C38B02

[code]

[2020-09-22 04:39] jkmassel opened #14961 "NSInvalidArgumentException: Application tried to present modal view controller on itself. Presenting controller is <UISearchC..."
**Sentry Url**: https://sentry.io/share/issue/eb81e938296947be8f22886d673dc4b8/
**User Count**: 72
**Count**: 153
**First Release**: 15.5.0.3
**First Seen**: 2020-08-24T21:05:07Z
**Last Seen**: 2020-09-22T03:30:57Z
**24 Hours**: 8
**30 Days**: 153
**LogID:** 87E7FFBB-ED3F-447F-BD2E-BF6B5E355676

[code]

[2020-09-22 04:39] jkmassel commented on #14961
This one was created as part of splitting up `NSInvalidArgumentException` events that were all mashed together. This one is exclusively for the invalid search controller.

[2020-09-22 04:41] jkmassel opened #14962 "EXC_BREAKPOINT: Exception 6, Code 5836336, Subcode 8"
**Sentry Url**: https://sentry.io/share/issue/56d0ed6a775d4a13b409fc29b1409bb5/
**User Count**: 0
**Count**: 275
**First Release**: 15.0.0.6
**First Seen**: 2020-06-25T11:26:15Z
**Last Seen**: 2020-09-21T20:53:38Z
**24 Hours**: 3
**30 Days**: 144

[code]

[2020-09-22 04:42] jkmassel commented on #14962
There's state-restoration frames in the stack trace – this makes me wonder if whether there's something going on where when the app is fired up, it doesn't have database access to get the current users and fails because of that?

[2020-09-22 04:43] jkmassel opened #14963 "NSInvalidArgumentException: -[__NSCFType encodeWithCoder:]: unrecognized selector sent to instance 0x1032f2600"
**Sentry Url**: https://sentry.io/share/issue/e8f83bc0ac2648e696b58ada13f6e31b/
**User Count**: 93
**Count**: 149
**First Release**: 15.3.0.3
**First Seen**: 2020-08-18T21:08:38Z
**Last Seen**: 2020-09-21T18:02:10Z
**24 Hours**: 3
**30 Days**: 148
**LogID:** BA1FBB6A-00EE-41B8-A189-757FD8A38A22

[code]

[2020-09-22 04:45] jkmassel opened #14964 "NSInvalidArgumentException: no object at index 0 in section at index 0"
**Sentry Url**: https://sentry.io/share/issue/a153ddbcdb5b4b6190fc964d85bc0a21/
**User Count**: 84
**Count**: 117
**First Release**: 15.5.0.3
**First Seen**: 2020-08-26T00:27:14Z
**Last Seen**: 2020-09-21T20:17:52Z
**24 Hours**: 6
**30 Days**: 117
**LogID:** 75F66FC0-47BC-434B-AA6E-E02E5CE8B62A

[code]

[2020-09-22 08:45] #14939 closed, assigned to nobody

[2020-09-22 13:40] frosty commented on #14547
Updated title to reflect that this covers multiple issues.

[2020-09-22 13:43] frosty commented on #14547
Notifications: on initial login with no notifications present, initial content is shown in small left pane. Content is offset down for some reason, and the right pane just shows gray.

![Simulator Screen Shot - iPad Pro (11-inch) (2nd generation) - 2020-09-18 at 14 13 53](https://user-images.githubusercontent.com/4780/93890130-e9e28880-fce1-11ea-8171-d52191260f5e.png)

[2020-09-22 16:41] tarunvijwani opened #14967 "The reader is not displaying the published post of own site."
### Expected behaviour

The reader should display the published post of own site.

### Actual behaviour

The reader is not displaying the published post of own site.

### Steps to reproduce the behaviour

- Create a new post on a public site and add a custom tag(tag name: test1234)
- In the reader, under tags, add a custom tag: test1234 tag to filter the posts.
- When filtering the posts in reader

[2020-09-22 16:48] tarunvijwani commented on #14967
Reported in zen-3337858

[2020-09-22 21:56] cameronvoell commented on #14561
I tried to recreate this issue and was unsuccessful. Documenting what I tried here so others are aware:

Featured Image (also tried stesp from Steps from: https://github.com/wordpress-mobile/WordPress-iOS/pull/9570):
1. Add new article with title and content
2. Settings => Featured Image
3. Upload new Image
4. Publish

Image Block:
1. Add Image Block to new article
2. Upload new image from device

[2020-09-23 00:04] designsimply opened #14973 "Comments: add a visual editor for comments"
We received the following feedback internally.

Adding a new comment (full-screen)|To edit on an existing comment|Editing an existing comment
---|---|---
<img src="https://user-images.githubusercontent.com/1119271/93949231-97af6080-fcfd-11ea-9a40-c48880b45fc7.png" width="270" alt="IMG_4604">|<img src="https://user-images.githubusercontent.com/1119271/93949112-59b23c80-fcfd-11ea-97ec-75975f815a36.p

[2020-09-23 11:29] rezzap commented on #14221
Another report of this happening:

* app version: 15.6
* Jetpack connected site
* WordPress: 5.5.1
* Plugins: WooCommerce PayPal Checkout Gateway, WooCommerce, UpdraftPlus - Backup/Restore, Bluehost
* Bluehost site

Reported in 3333432-zen

They initially had the Sample API time-out error in the debugger as the other sites reported have had, but after disabling plugins this is showing 200 response

[2020-09-23 18:17] bummytime commented on #14956
Added to groundskeeping

[2020-09-23 18:26] bummytime commented on #14957
Looks like the timing of both Sentry issues (https://sentry.io/share/issue/32441e4b3c9b4588964b8da8eb356241/ and https://sentry.io/share/issue/e3238388430d4174b3c3ec43dfe40e87/) are related to the new error logging @guarani added in #14650.

I'm not so sure this is actually a crasher though @jkmassel. @guarani, is my assessment correct ☝️ ? Also, now that we are collecting these errors, what shoul

[2020-09-23 18:28] jkmassel commented on #14957
Correct – not a crash, but we should definitely still try to fix it I think? 😃

[2020-09-23 18:33] bummytime commented on #14958
cc @diegoreymendez @guarani @frosty

[2020-09-23 18:47] bummytime commented on #14962
It's possible @jkmassel. Since the event count is somewhat low, I'll add this to groundskeeping.

[2020-09-23 18:56] bummytime commented on #14963
@diegoreymendez @frosty @guarani, another `nil is not a valid object ID` this time in `MediaProgressCoordinator`. 😢

[2020-09-23 18:58] bummytime commented on #14964
Adding to groundskeeping.

[2020-09-23 19:05] bummytime commented on #14961
Thanks @jkmassel. @frosty — any thoughts on this one?

[2020-09-23 19:09] bummytime commented on #14680
Closing. Fixed in #14686 and #14691.

[2020-09-23 19:09] #14680 closed

[2020-09-23 19:11] bummytime commented on #12517
@yaelirub is this still an issue?

[2020-09-23 19:29] bummytime commented on #14958
Pasting repro steps here from Slack...

First go to Settings.app → Privacy → Photos → WordPress and deselect any of the currently "allowed" photos.  Then:

1. Launch the app
2. Go to the Media Lib
3. Tap +
4. Tap "Choose from my device"
5. On the iOS 14 system alert, Tap "Select more photos..."
6. Made sure no photos are selected
7. Tap done (top right)
8. 💣 App will crash 💣

[2020-09-23 19:55] bummytime commented on #14958
@frosty worth noting that Sentry is reporting this error occurring iOS 13 as well. (cc @designsimply )

[2020-09-23 19:59] designsimply commented on #14958
For reference, those testing steps sound similar to https://github.com/WordPress/gutenberg/issues/24989 but that report doesn't mention a crash 🤔 and I'm having trouble replicating the steps (I don't see the "Done" option at top right for step 7 when I have not selected any photos yet as noted in step 6).

[2020-09-23 20:09] wiredpinecone opened #14976 "blog post content bleeds into sidebar rather than wraps on ios14 only"
### Expected behavior
Blog post formatted correctly so that content wraps rather than bleeds into sidebar.

### Actual behavior
only on iOS 14:  post content bleeds into sidebar
https://translatorswithoutborders.org/blog/chatbot-uji-drc/

### Steps to reproduce the behavior
visit link on iOS14 computer/ipad.

##### Tested on [device], iOS [version], WPiOS [version]
mac computer/ipad, iOS 14,  Word

[2020-09-23 21:04] startuptester opened #14977 "Floating nav bar exists after re-opening from the background"
### Expected behavior
In 15.7, if I open the editor for an existing page and close the app (swipe up to force close) and then open the app fresh, it opens to the My Site screen.
In 15.8, following the same steps, it tried to open it to where I left off, at that open editor.

### Actual behavior
Hanging nav bar on re-launch.

### Steps to reproduce the behavior
1. Open WPiOS
2. My Site > Pages > Op

[2020-09-24 18:15] designsimply commented on #14926
Ace. Yes, I have not been able to replicate the bug and since a reinstall fixed the problem in your case it sounds like something went awry with the data locally or the cache—we will indeed want to look into it more deeply if we see it reported again. I would like to close this issue for now with an ask to re-open it if anyone sees the same problem reported again. Thanks for the follow-up!

[2020-09-24 18:28] Gio2018 opened #14983 "Add accessibility to What's New"
Add accessibility to the What's New / Feature announcements screen

[2020-09-24 18:29] Gio2018 opened #14984 "Add unit tests for What's New"
This adds unit tests to the What's New feature

[2020-09-24 18:52] designsimply commented on #14976
Thanks for reporting this. I checked it out and I can see what you mean, however, I think the problem exists when using Safari on the mobile web and not with the app itself, so we will likely want to move this issue to a different location and I will research where and follow-up. Also, it may be an issue with your theme or the implementation of it and we can probably try out a test to help narrow

[2020-09-24 19:27] #14739 closed

[2020-09-24 20:47] designsimply commented on #14958
Tested and confirmed that WPiOS 15.8.0.0 TestFlight beta crashes for me on iOS 14 with the newly introduced photo privacy settings using slightly modified steps: I had to tap "Select more photo…" a 2nd time after step 7. ([2m40s](https://cloudup.com/cJMAVcgp58X))

<details>
<summary>crashlog.log from the crash report sent to Apple for the 2nd test shown in the video</summary>

[code]
</details>

I

[2020-09-24 21:34] designsimply commented on #14977
Odd bug! I tried testing with my iPhone 11 iOS 14 device and couldn't replicate. I'll help keep an eye out for other reports of it.

Note for later: if we can confirm it as happening in iOS14-only, do add the `iOS 14` label.

[2020-09-25 00:32] wiredpinecone commented on #14976
Thank you -- here's another screenshot showing the issue.
In the meantime I'll try spinning up something with twentysixteen to see if it can be replicated. This site is already pretty spare in its use of plugins and styling, so I do think it may be a theme issue where additional code may be needed to support the iOS14 browser.

![File (2)](https://user-images.githubusercontent.com/7004973/94213421

[2020-09-25 00:38] wiredpinecone commented on #14976
Looks like twentysixteen was last updated 6 weeks ago, which was probably not in time to capture anything from the iOS14 beta:
https://themes.trac.wordpress.org/log/twentysixteen/

[2020-09-25 00:57] startuptester opened #14991 "Crash: using Free GIF library"
### Expected behavior
A user should be able to search for and choose an image from the GIF free library

### Actual behavior
Crash

### Steps to reproduce the behavior
1. Insert Image block
2. Choose Free GIF library
3. Start typing in search

[crashlog.txt](https://github.com/wordpress-mobile/WordPress-iOS/files/5279935/crashlog.txt)

##### Tested on iPad 2019-iOS 13.7, WPiOS 15.8

[2020-09-25 01:04] startuptester opened #14992 "Tapping blog title doesn't open blog in Following tab, instead refreshes"
### Expected behavior
When I am looking through the Reader > Following, I expect to be able to tap on a title and have that blog open just like it does in Discover.

### Actual behavior
Instead there is a strange refresh of the Following page

https://cloudup.com/cHg04vMr4RK

### Steps to reproduce the behavior
1. Reader > Discover
2. Tap on a blog title
3. See that the blog opens
4. Go to the Fol

[2020-09-25 14:25] hypest commented on #14991
👋 @startuptester , looking at the crashlog.txt, I notice it mentions `OS Version: iPhone OS 13.7 (17H35)`. Does that mean that the issue happens both on iOS v13.7 and v14?

[2020-09-25 14:46] hypest commented on #14991
I'm seeing the app crash on the Media library too after typing "cat" in the search and hitting the "done" button or wait a bit for the search to commence automatically.

device: iPhone 6s
iOS: v13.5.1
WPiOS: v15.8

[2020-09-25 15:17] rachelmcr commented on #8080
I confirmed the UL&S project has solved this issue:

1. If you select "Continue with WordPress.com" you are automatically directed to log in or sign up depending on whether you have a WordPress.com account, which makes sense for a WordPress.com-specific flow.
2. If you select "Enter your site address":
   1. You are directed to the WordPress.com login flow (same as above) if you enter a WordPress.

[2020-09-25 15:17] #8080 closed

[2020-09-25 15:18] startuptester commented on #14991
Thanks, @hypest. It was reproducible in both when I logged this but I am now only able to repro it in iOS 13 like you say. I have updated the description. Thanks for your help!

[2020-09-25 17:46] guarani opened #14996 "Update WPAvatarSource to be more Swift-friendly"
### Description

Refactor `WPAvatarSource.parseURL(forAvatarHash:)` so that it doesn't require an inout parameter.

After Suggestions was ported from Obj-C to Swift, the `inout` keyword was used to interface with Obj-C code that uses double pointers (`**`). We should refactor this code to eliminate the need to use `inout`, because there is likely better ways of handling this.

[2020-09-25 17:49] designsimply commented on #7832
I spot checked the PRs listed in the "Final design" item in the list, and everything there looks completed to me.

@elibud is there anything remaining in this list you'd like to continue tracking or can we close this issue?

[2020-09-25 18:46] elibud commented on #7832
Let's close this one, but ping @yaelirub as some things here you might want to pick up in your upcoming project. Thanks for the ping @designsimply!

[2020-09-25 18:46] #7832 closed

[2020-09-26 01:33] erricgunawan commented on #14221
An update from 3333432-zen:

User disabled their 4 plugins and the result:

They activated UpdraftPlus and the result was:

They then deactivate UpdraftPlus and activate Bluehost (along with Jetpack), the result was:

They will continue with disabling Bluehost and activating WooCommerce. They'll report the result after that.

[2020-09-26 12:55] rezzap commented on #14221
The user from 3333432-zen just confirmed there was no issue today when they published with WooCommerce active.

@designsimply I just wanted to make sure this was on your radar since we've got some good new updates here.

[2020-09-26 20:16] msilbers commented on #14560
reported without many details yet in 3351551-zen

[Update from Sheri: adding some details about this one below!]

[2020-09-28 04:08] ctarda opened #14999 "My site: VoiceOver looses track of selected item when triggering navigation a section using the buttons in the header"
When navigating into any of the subsections of My Site using the button in the My Site header (those within the red rectangle in the screenshot) and navigating back to My Site, Voice Over resets the cursor to the top of the view.

However, if I navigate to any of those subpages using the table view rows, everything works as expected

Screenshot highlighting the buttons inside a red rectangle:
<Img

[2020-09-28 04:22] ctarda opened #15000 "My Site: Help VoiceOver identify quick access buttons"
The buttons in the header of the My Site screen (highlighted in the screenshot below) provide the same functionality than some of the table view cells below them.

Therefore we have a few buttons (Stats, Pages, Posts, Media) than are actually duplicated, being present in the header and also in the table below it.

This is confusing when navigating this screen using VoiceOver, as there is no explan

[2020-09-28 04:37] ctarda opened #15001 "Help is difficult to find, particularly using VoiceOver, and not available everywhere across the app"
This issue has been reported by a user that navigates the app using VoiceOver.

Help is available within the "Me" screen. Which, in turn, means that it is only available within the "My Sites" tab, and when one site has been selected.

### Expected behavior
Help should be available everywhere. The user reporting the issue suggested either a new tab or a floating button.

### Actual behavior
Help is

[2020-09-28 05:00] ctarda opened #15002 "Media details: Delete button does not provide a description to VoiceOver"
The Delete Button is not exposed to VoiceOver properly, it seems to be missing an accessibility label and/or description
<Img src="https://user-images.githubusercontent.com/2722505/94392260-636af280-018a-11eb-9684-522802c0da1b.PNG" width="350" alt="Screenshot of media details view with Delete button highlighted"/>

### Expected behavior
The Delete button in the media details view should provide a

[2020-09-28 05:05] ctarda opened #15003 "Media details: Share button does not provide a description to VoiceOver in Spanish"
The Share Button in Media Details does not seem to be exposed to VoiceOver properly localised.

In English, the Button is read as "button - share" while in Spanish (es_ES) it's read only as "botón" (button)

<Img src="https://user-images.githubusercontent.com/2722505/94392445-dc6a4a00-018a-11eb-898d-9cda3bcd2b99.PNG" width="350" alt="Screenshot of the Media Details screen with the Share button hig

[2020-09-28 17:16] designsimply commented on #14221
Thanks for the extra ping @rezzap! It sounds like this issue is happening to Bluehost+Jetpack users only and it would be good to keep posting any new cases at all that we can find and also, if possible, if we can get app logs from _right after_ the problem happens that may also help us. We can also try testing from a Bluehost test site when timing allows.

[2020-09-28 18:59] designsimply commented on #14992
Tested and confirmed and in my testing I found that this happens from any site stream. A site stream is a view in Reader that shows a list of posts for a given site and you can access it from anywhere in the Reader.

1. Go to Reader.
1. Tap on any site title.
1. Tap on any site title again.

Result: I expected the screen either not to respond because I'm clicking on a view that I'm already on or t

[2020-09-28 19:06] ScoutHarris commented on #14547
@osullivanchris @frosty -

Regarding the layout when there are no sites:

<img width="636" alt="Screen Shot 2020-07-30 at 12 00 24" src="https://user-images.githubusercontent.com/1836005/88939653-27d0ac80-d25d-11ea-910d-a838f2a09073.png">

Technically, this isn't broken - it's always been this way*. That is, the NRV displayed in the left pane with an empty right pane because there are no site deta

[2020-09-28 19:07] designsimply commented on #15001
The 'me'/profile section was moved to the top of the My Site tap in 2019 as part of an Information Architecture Project.
<sub>(internal references: pauD4L-8W-p2 and pbArwn-2G-p2)</sub>

I found a related note in the internal documentation:

@mattmiklic are there any improvements we should consider based on this accessibility feedback or can you speak to the decision with an explanation for us if y

[2020-09-28 19:14] designsimply commented on #8724
I believe this issue is still valid.

[2020-09-28 20:06] ScoutHarris commented on #13794
I tried on iOS12, 13, and 14. Unable to reproduce.

[2020-09-28 20:06] #13794 closed

[2020-09-28 20:09] frosty commented on #14547
Thanks for clarifying, @ScoutHarris. I _thought_ that previously if there were no sites, we would display a single full-width view containing the no results view. I think I looked into this and there was still code to adjust the width, but it didn't seem to be having any effect any more. I think notifications could potentially be the same – display it full width if there are no notifications to se

[2020-09-28 20:50] ScoutHarris commented on #14547
To recap a Slack convo with @frosty -
- The My Sites NRV is in fact supposed to be full width when there are no sites. It's just been incorrectly split for quite some time. Thanks @frosty for pointing me in the right direction.
- Notifications is doing what it's supposed to (i.e. showing the NRV on the left and nothing on the right), so there is nothing to fix there. Except for the grey dimmed vie

[2020-09-28 21:52] wiredpinecone commented on #14976
Hi Sheri, I will also note that the site uses the Classic Editor, which was already having a few issues via WP 5.5.

I don't have a MacOS environment so am not able to test well.

What I did do was install the jQuery migrate helper plugin.  Can you look at the site again and see if it made any difference?

I also imported some posts into this site: https://pinecone.dev/
WordPress 5.5, Classic Edit

[2020-09-29 00:24] aforcier opened #15009 "Reader: Image links are ignored"
### Expected behavior

If an image in a post has a link attached, I expect tapping that image in the Reader detail view to open the link.

### Actual behavior

To make all images clickable, [this code](https://github.com/wordpress-mobile/WordPress-iOS/blob/3a26653502ce63186b0a9539a5f852ac52d0edf6/WordPress/Classes/ViewRelated/Reader/Detail/WebView/ReaderWebView.swift#L73) wraps them in a hyperlink

[2020-09-29 07:46] etoledom commented on #14977
Thanks @startuptester for opening the ticket!

This same issue is also described here: https://github.com/wordpress-mobile/WordPress-iOS/issues/14674

[2020-09-29 10:03] osullivanchris commented on #14547
- I agree with @ScoutHarris that what's happening actually makes sense if you just carry our iPhone -> iPad behaviour to its logical conclusion.
- But I also agree with @frosty that making an additional piece of logic to display the empty view as full screen rather than split view makes sense, and is desirable. If we can put that exception back in, I think its good.
- We could do the same thing in

[2020-09-29 16:03] ceyhun commented on #14977
@startuptester just created a PR fixing https://github.com/wordpress-mobile/WordPress-iOS/issues/14674. Can you please check with the installable build here: https://github.com/wordpress-mobile/WordPress-iOS/pull/15012 to see if you can still reproduce it.

[2020-09-29 17:09] #14583 closed

[2020-09-29 17:14] Gio2018 opened #15014 "What's New: add support for base64 images coming from the backend"
This adds support for base64 images directly uploaded on the backend by announcements curators.

[2020-09-29 17:47] emilylaguna commented on #14711
I looked into this and the HTML that's being returned to us just includes a number of `\n`'s instead of a next page block indicator.

`\n<p>Top sentence</p>\n\n\n\n\n\n\n\n<p>Bottom sentence</p>\n`

I created a new issue to support this on wp-calypso here: https://github.com/Automattic/wp-calypso/issues/46013

[2020-09-29 19:36] designsimply commented on #15009
Tested and confirmed using WPiOS 15.8.0.0 TestFlight beta on iPad Mini 4 (WiFi) (iPad5,1) iPadOS 13.7. Thanks for the report!

<img src="https://user-images.githubusercontent.com/1119271/94607113-b9a66700-0258-11eb-9e06-6f0b0f7da17e.gif" width="480" alt="15009">

[2020-09-29 19:37] #10333 closed

[2020-09-29 20:05] wiredpinecone commented on #14976
@designsimply - forgot to tag you on my reply yesterday so doing it now.

[2020-09-29 22:22] #14586 closed

[2020-09-29 23:07] Gio2018 opened #15016 "What's New - Hide Feature Announcements when needed"
Hide feature announcements at fresh install and when the current version does not have any announcement

[2020-09-30 09:04] hypest opened #15017 "Reader doesn't open anchor links correctly, or doesn't scroll to anchor"
### Expected behavior
Tapping on a link that points to an anchor in a different webpage should open that link and scroll to the anchor position.

### Actual behavior
Couple of different behaviors observed:
a. Post is opened but content doesn't scroll to the anchor. That's what folks encounter in this ZD ticket: 3345628
b. Post is not opened. That's what I observed on my iPhone 6s, iOS v13.5.1, WPi

[2020-09-30 12:31] mbshakti commented on #14992
Tapping on site title, should open up the site page. I think this is a bug

[2020-09-30 15:09] mindgraffiti commented on #13807
Did a lot of research on the client side and couldn't come up with a reasonable work around. In the LoginFacade, there is [an error being logged ](https://github.com/wordpress-mobile/WordPressAuthenticator-iOS/blob/develop/WordPressAuthenticator/Services/LoginFacade.swift#L21)but not handled. The reason why it isn't handled, is because the [API request frequently reports a failure](https://github.

[2020-09-30 15:20] #14674 closed

[2020-09-30 15:29] guarani commented on #14958
I also had to tap "Select more photos" a second time (like @designsimply above) to reproduce this crash on a fresh install.

After the crash, I reopened the app, went to the Media Lib, tapped +, tapped "Choose from my device" and the app crash 💣.

Yes, I think it matches. The log you provided is of an EXC_BAD_ACCESS (which is normally a memory issue) and it's in `MediaLibraryViewController`. Looki

[2020-09-30 17:28] ScoutHarris opened #15019 "No Sites view: view disappears when rotating"
- On an iPhone that switches between single and split view (ex: iPhone 11 Pro Max), login with an account that has no sites.
- Go to the My Site tab.
- Rotate the device.
- Portrait mode is correct, but in landscape the view disappears.

![no_site_rotate](https://user-images.githubusercontent.com/1816888/94718377-e917ab00-030e-11eb-947b-7d2ecd712945.gif)

For reference, on an iPhone _without_ spli

[2020-09-30 17:30] ScoutHarris commented on #14547
Noting https://github.com/wordpress-mobile/WordPress-iOS/issues/15019 - No Sites view: view disappears when rotating on iPhone with split view.

It's not an iPad issue, but it is a split view issue.

[2020-09-30 17:35] #15014 closed, assigned to Gio2018

[2020-09-30 18:09] designsimply commented on #8961
Still valid since the copy suggestion that shows at the top of the screen after selecting a suggested username still doesn't change:

<img src="https://user-images.githubusercontent.com/1119271/94722794-03548780-0315-11eb-9b79-b8ec858b0af8.png" width="270" alt="IMG_3851">
<p style="clear:both;"><sup>Tested with WPiOS 15.8.0.0 TestFlight beta on iPhone 6S iOS 13.7.</sup></p>

Testing notes: I teste

[2020-09-30 18:12] designsimply commented on #15017
Thanks for the report @hypest! This was fixed recently in the Android app, see https://github.com/wordpress-mobile/WordPress-Android/issues/7654.

[2020-09-30 18:25] designsimply commented on #13743
This looks fixed! 🎉

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=os&field=device&field=culprit&name=All+Events&project=1438083&query=issue.id%3A1316808053&sort=-timestamp&statsPeriod=90d&widths=-1&widths=-1&widths=-1&widths=-1&widths=-1">![image](https://user-images.githubusercontent.com/1119271/94724723-f08f8200-0317-11eb-9741-e

[2020-09-30 18:25] #13743 closed

[2020-09-30 18:26] designsimply commented on #13741
This looks fixed! 🎉

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=os&field=device&field=culprit&name=All+Events&project=1438083&query=issue.id%3A1316686922&sort=-timestamp&statsPeriod=90d&widths=-1&widths=-1&widths=-1&widths=-1&widths=-1">![image](https://user-images.githubusercontent.com/1119271/94724849-1ddc3000-0318-11eb-98c9-4

[2020-09-30 18:26] #13741 closed

[2020-09-30 18:28] designsimply commented on #13738
Still valid.

**Events in the last 90d:** 923
**Users affected in the last 90d:** 380
<sub>WORDPRESS-IOS-2R53: https://sentry.io/share/issue/745beb15792545eaac59d14fea37f72f/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=os&field=device&field=culprit&name=All+Events&project=1438083&query=issue.id%3A1316779733&sort=-timestamp

[2020-09-30 18:31] designsimply commented on #12671
We're seeing an uptick in this issue so we should investigate it again even though the issue may have some different crashes tracking in one issue in Sentry. If you investigate and find that, the recommendation is to pick anything that seems like it will fix any of the crashes being tracked in this issue.

**Events in the last 90d:** 11,000
**Users affected in the last 90d:** 6,100
<sub>WORDPRESS-

[2020-09-30 18:33] designsimply commented on #12626
**Events in the last 90d:** 522
**Users affected in the last 90d:** 267
<sub>WORDPRESS-IOS-5QA: https://sentry.io/share/issue/f975828a305e4efb9e2ad4ac9d6e273d/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=device&field=os&field=culprit&name=All+Events&project=1438083&query=issue.id%3A1059358112&sort=-timestamp&statsPeriod=90

[2020-09-30 18:34] designsimply commented on #12449
This one looks fixed! 🎉

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=device&field=os&field=culprit&name=All+Events&project=1438083&query=issue.id%3A1317223002&sort=-timestamp&statsPeriod=90d&widths=-1&widths=-1&widths=-1&widths=-1&widths=-1">![image](https://user-images.githubusercontent.com/1119271/94952226-df26b100-04a2-11eb-99

[2020-09-30 18:48] guarani commented on #14916
Thanks for the report, @designsimply! (And thanks for the note at 5:19 in the video above about how featured images on the post list screen sometimes show zoomed in or enlarged — I haven't noticed this but will keep a lookout.)

For the record, I couldn't reproduce this (this was expected since you mentioned above you couldn't replicate the issue).

From this part of the above logs:
[code]
the men

[2020-09-30 19:06] designsimply commented on #12338
I haven't seen any new cases of this in recent app reviews. I decided to close this issue with an ask to please definitely reported it again in a new issue if it comes up again! Thank you so much.

[2020-09-30 19:06] #12338 closed

[2020-09-30 19:07] designsimply commented on #12082
**Events in the last 90d:** 2,000
**Users affected in the last 90d:** 148
<sub>WORDPRESS-IOS-58Z: https://sentry.io/share/issue/3d89f0e64e17487ebd693bc670a97a41/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=device&field=os&field=culprit&name=All+Events&project=1438083&query=issue.id%3A1056489950&sort=-timestamp&statsPeriod=

[2020-09-30 19:13] designsimply commented on #12028
**Events in the last 90d:** 715
**Users affected in the last 90d:** 268
<sub>WORDPRESS-IOS-2R4N: https://sentry.io/share/issue/1dcb161bbb4a4e56b4aabe76dd557b19/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=device&field=os&field=culprit&name=All+Events&project=1438083&query=issue.id%3A1316710088&sort=-timestamp&statsPeriod=9

[2020-09-30 20:55] guarani commented on #13208
This user you refer to above has now sent some logs, which includes lines such as:
[code]
The `json_syntax` part makes me think that this user's error is very similar to: https://github.com/wordpress-mobile/WordPress-iOS/issues/14916 and might not be related to this issue.

[2020-09-30 23:02] designsimply commented on #11439
I searched Sentry for `"nil is not a valid object ID" "MediaProgressCoordinatorNoticeViewModel"` and found 384 crashes were recorded for all releases in the last 90d.

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=device&field=os&field=culprit&name=All+Events&project=1438083&query=%22nil+is+not+a+valid+object+ID%22+%22MediaProgress

[2020-09-30 23:04] designsimply commented on #10073
**Events in the last 90d:** 215
**Users affected in the last 90d:** 138
<sub>WORDPRESS-IOS-2R3X: https://sentry.io/share/issue/98c60a96b016405aa00a305a30ff106e/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=device&field=os&field=culprit&name=All+Events&project=1438083&query=issue.id%3A1316647126&sort=-timestamp&statsPeriod=9

[2020-09-30 23:13] designsimply commented on #13758
This crash is still in play but the frequency is pretty low. I will leave it open since there's a proposed change (thank you!) and I'll put it on the Groundskeeping list in the low hanging fruit section.

**Events in the last 90d:** 115
**Users affected in the last 90d:** 72
<sub>WORDPRESS-IOS-2R6J: https://sentry.io/share/issue/412d8f3542594abc829b4aeef91b681f/</sub>

<a href="https://sentry.io/o

[2020-09-30 23:23] designsimply commented on #13886
This issue looks fixed! 🎉

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=os&field=device&field=culprit&name=All+Events&project=1438083&query=issue.id%3A1316703674&sort=-timestamp&statsPeriod=90d&widths=-1&widths=-1&widths=-1&widths=-1&widths=-1">![image](https://user-images.githubusercontent.com/1119271/94749676-9c999300-0341-11eb-

[2020-09-30 23:23] #13886 closed

[2020-09-30 23:24] designsimply commented on #13890
**Events in the last 90d:** 270
**Users affected in the last 90d:** 135
<sub>WORDPRESS-IOS-599: https://sentry.io/share/issue/1204cb1f05f54b3e86f2c41e316242ce/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=os&field=device&field=culprit&name=All+Events&project=1438083&query=issue.id%3A1056562308&sort=-timestamp&statsPeriod=90

[2020-09-30 23:26] designsimply commented on #13893
This issue looks fixed! 🎉

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=os&field=device&field=culprit&name=All+Events&project=1438083&query=issue.id%3A1316685429&sort=-timestamp&statsPeriod=90d&widths=-1&widths=-1&widths=-1&widths=-1&widths=-1">![image](https://user-images.githubusercontent.com/1119271/94749852-0b76ec00-0342-11eb-

[2020-09-30 23:26] #13893 closed

[2020-09-30 23:27] designsimply commented on #13956
**Events in the last 90d:** 79
**Users affected in the last 90d:** 51
<sub>WORDPRESS-IOS-2RAW: https://sentry.io/share/issue/ec8f4ba680aa4f608a4509ed93deaa16/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=os&field=device&field=culprit&name=All+Events&project=1438083&query=issue.id%3A1320163956&sort=-timestamp&statsPeriod=90d

[2020-09-30 23:28] designsimply commented on #14178
Low numbers are holding steady for this one.

**Events in the last 90d:** 312
**Users affected in the last 90d:** 86
<sub>WORDPRESS-IOS-37XR: https://sentry.io/share/issue/14014cc5a0b34630bf23a7a466d687f9/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=os&field=device&field=culprit&name=All+Events&project=1438083&query=issue.

[2020-09-30 23:30] designsimply commented on #14180
**Events in the last 90d:** 513
**Users affected in the last 90d:** 172
<sub>WORDPRESS-IOS-2T71: https://sentry.io/share/issue/b53f5430e3c942cd9a1af7b24cf16fbf/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=os&field=device&field=culprit&name=All+Events&project=1438083&query=issue.id%3A1538584086&sort=-timestamp&statsPeriod=9

[2020-09-30 23:31] designsimply commented on #14332
https://sentry.io/share/issue/9ce5dea9111c44ceb0f786508fb0ef32/ is now returning a 404.

Closing due to the last comment and because I hope if it did come up again in a different Sentry issue with enough frequency that it would have a separate issue created for it as part of crash monitoring.

[2020-09-30 23:31] #14332 closed

[2020-09-30 23:34] designsimply commented on #14603
The issue WORDPRESS-IOS-54Q looks fixed! 🎉

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=os&field=device&field=culprit&name=All+Events&project=1438083&query=issue.id%3A1055518740&sort=-timestamp&statsPeriod=90d&widths=-1&widths=-1&widths=-1&widths=-1&widths=-1">![image](https://user-images.githubusercontent.com/1119271/94750368-21

[2020-09-30 23:36] designsimply commented on #14785
Hi @Gio2018 👋  were you able to make any progress on this crash?

**Events in the last 90d:** 1,200
**Users affected in the last 90d:** 430
<sub>WORDPRESS-IOS-3865: https://sentry.io/share/issue/edaf60f265d649208e6efc3f600b1003/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=os&field=device&field=culprit&name=All+Events&proje

[2020-09-30 23:37] designsimply commented on #14786
**Events in the last 90d:** 721
**Users affected in the last 90d:** 55
<sub>WORDPRESS-IOS-37R2: https://sentry.io/share/issue/4b7257b8379449ae93e223994e6c0d2d/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=os&field=device&field=culprit&name=All+Events&project=1438083&query=issue.id%3A1664596138&sort=-timestamp&statsPeriod=90

[2020-09-30 23:38] designsimply commented on #14790
**Events in the last 90d:** 599
**Users affected in the last 90d:** 299
<sub>WORDPRESS-IOS-37X7: https://sentry.io/share/issue/d8380fbae38545c68e014e868b65d78e/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=os&field=device&field=culprit&name=All+Events&project=1438083&query=issue.id%3A1693599424&sort=-timestamp&statsPeriod=9

[2020-09-30 23:40] designsimply commented on #14791
**Events in the last 90d:** 135
**Users affected in the last 90d:** 16
<sub>https://sentry.io/share/issue/5e9e3d76a8c44a88bbbeb53c32c29674/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=os&field=device&field=culprit&name=All+Events&project=1438083&query=issue.id%3A1713620038&sort=-timestamp&statsPeriod=90d&widths=-1&widths=-

[2020-09-30 23:41] designsimply commented on #14794
This issue looks fixed! 🎉

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=os&field=device&field=culprit&name=All+Events&project=1438083&query=issue.id%3A1318627698&sort=-timestamp&statsPeriod=90d&widths=-1&widths=-1&widths=-1&widths=-1&widths=-1">![image](https://user-images.githubusercontent.com/1119271/94750783-1fbbe880-0344-11eb-

[2020-09-30 23:41] #14794 closed, assigned to nobody

[2020-09-30 23:46] designsimply commented on #14960
I see that this issue was given high priority but was not assigned. @bummytime may I loop you back in to get help assigning this one since it's a new crash?

**Events in the last 90d:** 235
**Users affected in the last 90d:** 162
<sub>WORDPRESS-IOS-38VV: https://sentry.io/share/issue/fa5a0d83563c4b85a92aaf6cfbe1c21d/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=dai

[2020-09-30 23:50] designsimply commented on #14961
**Events in the last 90d:** 194
**Users affected in the last 90d:** 97
<sub>WORDPRESS-IOS-38VK: https://sentry.io/share/issue/eb81e938296947be8f22886d673dc4b8/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=device&field=os&field=culprit&name=All+Events&project=1438083&query=issue.id%3A1871005097&sort=-timestamp&statsPeriod=90

[2020-09-30 23:56] designsimply commented on #14962
**Events in the last 90d:** 281
**Users affected in the last 90d:** 0 ← that's strange, the Sentry issue says zero for users affected 🤨
<sub>https://sentry.io/share/issue/56d0ed6a775d4a13b409fc29b1409bb5/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=device&field=os&field=culprit&name=All+Events&project=1438083&query=issue.i

[2020-10-01 00:00] designsimply commented on #14963
@bummytime would you like to assign this one since you marked it as high priority and it's a new crash? Alternately, you could de-escalate it if you feel the important Media issues already have attention right now.

**Events in the last 90d:** 202
**Users affected in the last 90d:** 127
<sub>WORDPRESS-IOS-38VR: https://sentry.io/share/issue/e8f83bc0ac2648e696b58ada13f6e31b/</sub>

<a href="https:/

[2020-10-01 00:02] designsimply commented on #14964
**Events in the last 90d:** 171
**Users affected in the last 90d:** 121
<sub>WORDPRESS-IOS-38VM: https://sentry.io/share/issue/a153ddbcdb5b4b6190fc964d85bc0a21/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=device&field=os&field=culprit&name=All+Events&project=1438083&query=issue.id%3A1871043755&sort=-timestamp&statsPeriod=9

[2020-10-01 01:46] guarani commented on #14963
FWIW, I had a look at this earlier today and I think it could be related to https://github.com/wordpress-mobile/WordPress-iOS/issues/14960. Both are due to `blog.objectID` being `nil` albeit in different areas of media-related code.

[2020-10-01 02:28] aforcier opened #15026 "Stories: Reader and post preview improvements"
A few tweaks need to be made to support Stories in the Reader, based on the initial implementation in #14965.

This is also going to affect post previews.

### 1. The story doesn't play in fullscreen

Full screen [isn't really supported in Safari](https://caniuse.com/fullscreen) as far as I can tell.

Per @leandroalonso's suggestion, we might be able to do this with a custom VC that contains a WKW

[2020-10-01 10:18] #14958 closed, assigned to frosty

[2020-10-01 13:54] Gio2018 commented on #14785
Hi @designsimply  👋, not yet. Tried a few things but was not able to reproduce or point out the cause. Will do more investigation today and in the upcoming days, thank you!!

[2020-10-01 14:40] diegoreymendez commented on #14963
I managed to reproduce the issue.

## Prerequisites:

These modifications are used to force the specific situation in which `media.blog` is NULL, while only affecting the part of the code we want to crash (by instead using `daBlog`.

Add this to `Media.h`:

[code]

Add this to `Media.m`:

[code]

Change line 167 of `MediaProgressCoordinatorNoticeViewModel.swift` to:

[code]

## Steps:

1. Launch t

[2020-10-01 15:33] ScoutHarris commented on #14547
Hey @frosty .

I looked at the My Sites NRV for the better part of 3 days, and I cannot figure out why it's not full width. From everything I've read, it should be working. But for some reason, the width is "stuck" at whatever it was initialized at and refuses to change. For example:
- It is currently initialized as narrow. It then tries to change to full when the NRV is displayed, but the width i

[2020-10-01 15:56] mindgraffiti commented on #13806
Moving to Groundskeeping as the UL&S project is wrapping up. While I didn't encounter this error during UL&S work, I'm leaving it open because I can't confirm that it was fixed.

[2020-10-01 15:58] #14009 closed

[2020-10-01 15:59] mindgraffiti commented on #13807
Moving to Groundskeeping, as the UL&S project is wrapping up.

[2020-10-01 16:30] #14983 closed, assigned to Gio2018

[2020-10-01 18:13] aerych commented on #15026
We might also look at hiding the nav and tool bars on the existing controller, just to see which is easier. I'm thinking about if Stories ever get an epilogue with links back to other things. We might want the ability to restore the tool bars for their navigation functionality in that case.  (Or maybe I'm over thinking it. 🤷)

A quick proof of concept is demonstrated in #15029.  This seems like it

[2020-10-01 20:04] guarani opened #15032 "Unable to upload large videos"
### Expected behavior

Uploading a very large video (e.g. larger than 500mb) to the Media Library (either from the Media Library itself or via the block editor's Video block) should work without error.

### Actual behavior

Sometimes the video fails to upload.

### Steps to reproduce the behavior

You'll need a large video for this (over 500mb) for either scenario below.

#### Scenario 1

1. Open

[2020-10-01 21:44] #14984 closed, assigned to Gio2018

[2020-10-01 21:44] #15016 closed, assigned to Gio2018

[2020-10-01 23:28] mattmiklic commented on #15001
@osullivanchris can you take a look at this please? I'm not sure the suggestions of a new tab or FAB are the best choices but it'd be worthwhile to look at how some other apps are handling this, especially those that use a similar treatment for the personal settings in the top bar.

[2020-10-02 11:56] osullivanchris commented on #15001
The core of the problem is in the below quote from @ctarda

The location of 'Me' is intended to be at the top level. However, because we currently still treat the site switcher as the top level of this tab, it means that help lives at a deeper level.

The intention is to change 'My Site' to be the top level destination. And 'Switch Site' to be a child of 'My Site' - accessed through a chevron or s

[2020-10-02 14:18] Gio2018 opened #15033 "What's New - Enable feature flag for all"

[2020-10-02 15:46] designsimply commented on #8980
Thank you for the report @brbrr!

I tested with 15.8 beta and found that the spinner is no longer below the search results. ([26s](https://cloudup.com/cslcgQ0kdH9))

Pages > Search > pull-to-refresh|Posts > Search > pull-to-refresh
---|---
![Screen Shot 2020-10-02 at Oct 2 9 40 58 AM](https://user-images.githubusercontent.com/1119271/94942672-db3f6280-0493-11eb-9b26-3caf7a9e8a4a.png)|![Screen Shot

[2020-10-02 15:46] #8980 closed

[2020-10-02 16:12] #14930 closed, assigned to nobody

[2020-10-02 16:22] designsimply commented on #14956
**Events in the last 90d:** 347
**Users affected in the last 90d:** 80
<sub>WORDPRESS-IOS-37XQ: https://sentry.io/share/issue/3e1a21f3b2814fac9765682ae76ebbc4/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=os&field=device&field=culprit&name=All+Events&project=1438083&query=issue.id%3A1695057810&sort=-timestamp&statsPeriod=90

[2020-10-02 16:25] designsimply commented on #14959
**Events in the last 90d:** 149
**Users affected in the last 90d:** 69
<sub>WORDPRESS-IOS-38VX: https://sentry.io/share/issue/a56a1be8c831473f89e936ed11c4fb1b/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=os&field=device&field=culprit&name=All+Events&project=1438083&query=issue.id%3A1871364958&sort=-timestamp&statsPeriod=90

[2020-10-02 16:46] designsimply commented on #14560
Removing the blocking label because there has been only one user report in the last 50 days.

[2020-10-02 17:00] #15017 closed, assigned to emilylaguna

[2020-10-02 17:32] #12449 closed

[2020-10-02 18:09] #15033 closed, assigned to Gio2018

[2020-10-02 18:12] #14837 closed, assigned to nobody

[2020-10-02 18:12] #14838 closed, assigned to nobody

[2020-10-02 20:01] rohanrk commented on #15003
Hi there! Could I take a stab at this issue?

[2020-10-02 21:12] guarani opened #15043 "WP Media Library screen flashes empty view during loading"
### Expected behavior

When loading the WP Media Library, the screen should not show "You don't have any media." for a split-second while the media is being loaded.

### Actual behavior

As the user navigates to the WP Media Library (Site > Media), the screen shows "You don't have any media." for a split second before showing the site's media.

### Steps to reproduce the behavior

This seems more

[2020-10-02 21:16] guarani commented on #15043
Closing as duplicate of https://github.com/wordpress-mobile/WordPress-iOS/issues/13217.

[2020-10-02 21:16] #15043 closed, assigned to nobody

[2020-10-02 21:20] rohanrk commented on #14355
Is this already complete? I don't see a 'word_diff_count' event anywhere in the project

[2020-10-02 21:57] wxa2227 opened #15044 "F"

[2020-10-02 22:11] rohanrk commented on #15003
Tried testing this out on my iPad. Looks like neither bar buttons have an accessibility label and both read button in my English voiceover. Accessibility inspector confirms this. I would guess we'd have to create a preferred label for it and add it to Localizable strings for translations

[2020-10-02 22:18] rohanrk commented on #12256
I'm not sure if this was addressed but I just tested on my iPad and looks like this works properly.

Though there does seem to be an issue where Voiceover will try to read the disabled detail view on the right. That is iPad specific though.

[2020-10-05 01:08] talotabi040 commented on #12579
[print
]()

[2020-10-05 14:18] mbshakti commented on #14992
@designsimply  and @startuptester is main description (by Meaghan) and Sheri's comment about the same issue? Seems like this is about different things.

[2020-10-05 14:35] designsimply commented on #14992
Yes the comments are both about the same issue, the difference is that you can get to the site stream in different ways. The problem described is that when you tap on the site name when you are already on the site stream it reloads instead of either doing nothing or showing a message.

[2020-10-05 18:14] jkmassel commented on #11849
15.9 out-of-date dependencies:

[code]

[2020-10-05 18:51] aerych commented on #14560
I took a closer look at the latest report. Testing on my iPad 11 Pro

Selecting a browser is interesting.  As of iOS 14 the default web browser can be changed, but our user is still on iOS 13.7. I'm guessing they are not using the default mail app, and are instead using Gmail (or another similar app) which can be [configured to ask which browser](https://support.google.com/mail/thread/4580047?hl=e

[2020-10-05 18:56] aerych commented on #14898
Refs #14547

[2020-10-05 20:49] #14856 closed, assigned to emilylaguna

[2020-10-05 21:06] emilylaguna opened #15052 "Reader Improvements: Reader Detail Design Review"
Project Issue: https://github.com/wordpress-mobile/WordPress-iOS/issues/14768

An issue to track design feedback items for the Reader Detail feature.

[2020-10-06 15:03] chipsnyder commented on #12881
Re-testing this as part of some grounds keeping work. With the changes from @etoledom this has made some really great progress. The one thing I noticed while trying to use it is the selection reverts back a step when moving quickly through the VoiceOver flow.

1. Go to Settings > General > Accessibility > VoiceOver and toggle the setting on.
1. In the WordPress app, go to Menus.
1. Highlight a men

[2020-10-06 15:49] mindgraffiti opened #15056 "Prologue Carousel - Project Issue"
A project ticket to track prologue carousel changes.
Authenticator project ticket: https://github.com/wordpress-mobile/WordPressAuthenticator-iOS/issues/494
Feature branch: https://github.com/wordpress-mobile/WordPressAuthenticator-iOS/tree/feature/unified-prologue-carousel

### Tasks
- [ ] Remove feature flag
- [x] Remove Lottie

### In Progress
- [ ] Implement parallaxed background
- [ ] Scale t

[2020-10-06 18:41] #15019 closed, assigned to ScoutHarris

[2020-10-06 19:16] aerych commented on #14221
I've been looking into this issue and I want to share what I'm seeing from my pov:

### Incident review

I started by reviewing the reports we've received. There seems to be a total of five individuals reporting, one uses the iOS app the others the Android app.

**Android**
1. [One report](https://android.forums.wordpress.org/topic/wordpress-app-can-not-upload-my-posts-anymore?replies=7#post-22647

[2020-10-07 03:12] aerych commented on #11684
I took a look at this issue today and it looks like it might be resolved.  See the attached demo.
![Screen Recording 2020-10-06 at 3 56 35 PM 2020-10-06 22_07_23](https://user-images.githubusercontent.com/1435271/95283223-e17d6800-0820-11eb-83f3-fdb5bfd086f4.gif)
What do you think?

[2020-10-07 05:50] yaelirub commented on #11684
I agree, @aerych

[2020-10-07 13:33] chipsnyder commented on #14080
I pinged the author of the [PR](https://github.com/wordpress-mobile/WordPress-iOS/pull/14312#pullrequestreview-491302873) to see if they'll have a chance to look at it. If not I can work on taking it over.

[2020-10-07 14:14] aerych commented on #11684
Closing as fixed :)  Thanks @yaelirub!

[2020-10-07 16:16] mindgraffiti opened #15062 "Prologue Carousel: add feature flag"
Project Issue #15056

Add a feature flag to enable viewing the new prologue carousel.

[2020-10-07 16:44] bummytime commented on #14963
Current impact: First Release: 15.3.0.3; 153 Users (5-20 events/day). I am removing the high-pri status from this issue. We will potentially add this issue to a "Media improvements" project starting in the near term.

[2020-10-07 16:48] mbshakti commented on #15052
It looks and feels amazing <3 Thank you for working on this @emilylaguna :)

Some feedback/requests:

1. [UI nit] What's the font size of the post title? Is it title 2? I think I discussed this with Leandro before, but for some reason the post title still feels small. Just wanted to double check.

2. [UI nit] What's the spacing above the topic chips? It seems a bit tight. Can we make it 16px if it

[2020-10-07 16:57] mbshakti commented on #15052
Sharing some bugs in a separate comment.

6. When I tap on a topic or site from the RDV, I'm taken to the respective site/topic page (as expected). However, the back button copy is replaced with the name of the blog post. Is it expected? I'm including this here because this only happens when I navigate to a topic/site page from the RDV.

<img width="674" alt="Screen Shot 2020-10-07 at 12 50 23 PM"

[2020-10-07 17:04] bummytime commented on #14960
Current impact → First Release: 15.3.0.3; 186 Users (5-10 events/day). I am removing the high-pri status from this issue. We will potentially add this issue to a "Media improvements" project starting in the near term.

[2020-10-07 17:06] bummytime commented on #13208
I am removing the high-pri status from this issue. We will potentially add this issue to a "Media improvements" project starting in the near term.

[2020-10-07 17:07] bummytime commented on #14916
I am removing the high-pri status from this issue. We will potentially add this issue to a "Media improvements" project starting in the near term.

[2020-10-07 17:08] bummytime commented on #14561
I am removing the high-pri status from this issue. We will potentially add this issue to a "Media improvements" project starting in the near term.

[2020-10-07 17:20] mindgraffiti opened #15064 "Prologue Carousel: update headlines"
Project Issue: #15056

Change the headlines to new, localizable strings.

1. Welcome to the world’s most popular website builder.
2. With this powerful editor you can post on the go.
3. See comments and notifications in real time.
4. Watch your audience grow with in-depth analytics.
5. Follow your favourite sites and discover new reads.

Use the New York typeface.

[2020-10-07 19:26] ScoutHarris opened #15067 "Notifications > Jetpack install prompt: view disappears on rotation"
- On an iPhone that switches between single and split view (ex: iPhone 11 Pro Max), select a site that does not have Jetpack installed.
- Go to the Notifications tab.
- Rotate the device.
- The view disappears.

![jetpack_install_prompt](https://user-images.githubusercontent.com/1816888/95378001-88edaf80-08a0-11eb-895d-7bf03be2e389.gif)

##### Tested on [iPhone 11 Pro Max], iOS [13.6], WPiOS [15.9

[2020-10-07 19:27] ScoutHarris commented on #14547
Another "not iPad but split view" issue:

https://github.com/wordpress-mobile/WordPress-iOS/issues/15067 - Notifications > Jetpack install prompt: view disappears on rotation

[2020-10-07 20:59] emilylaguna commented on #15052
Yep, it's using `title2` for iPhone and `title1` on iPad

The spacing above the chips is currently at 16px

Good catch. Added a screenshot for tracking.
<img width="398" alt="Screen Shot 2020-10-07 at 2 44 30 PM" src="https://user-images.githubusercontent.com/793774/95373905-7ec4b480-0892-11eb-87e9-2cecb2d4aebc.png">

Can Do!

Sounds good.

[2020-10-07 21:14] #15062 closed, assigned to mindgraffiti

[2020-10-07 21:37] aerych commented on #11684
Reopening.

While testing another issue I discovered I could no longer preview published posts on Jetpack test site.  This was absolutely baffling. Various attempts to debug and reset the site's Jetpack connection were fruitless and it wasn't until I remembered having connected Jetpack _via the app_ that I realized what had happened.  As part of connecting and configuring Jetpack in the app I had

[2020-10-07 22:58] #14790 closed, assigned to aerych

[2020-10-08 03:12] reginabally commented on #11645
Another report in 3385201-zen on version 15.7.

![Screen Shot on 2020-10-08 at 11:08:58](https://user-images.githubusercontent.com/40906847/95410530-d298d180-0956-11eb-92e8-ebb304dbef63.png)

The link in the notification is `mailto:`

[2020-10-08 13:05] #14835 closed, assigned to emilylaguna

[2020-10-08 15:19] #13729 closed

[2020-10-08 16:21] mindgraffiti opened #15073 "Prologue Carousel: extend background behind button view"
Project Issue: #15056

The current prologue, `LoginPrologueViewController`, uses two containers to manage the page carousel and the button view. The bottom container holds the button view. The top container holds the carousel.

- [x] extend the container behind the button view

<img width="315" alt="Screen Shot 2020-10-07 at 9 44 36 AM" src="https://user-images.githubusercontent.com/1062444/953468

[2020-10-08 17:17] designsimply commented on #15073
Thank you for including screenshots in your GitHub issues! It makes them easier to follow and I appreciate that. ❤️

[2020-10-08 17:24] #15067 closed, assigned to ScoutHarris

[2020-10-08 17:38] #15064 closed, assigned to nobody

[2020-10-08 17:39] rachelmcr opened #15074 "Testing: UI tests fail with device set to certain languages"
While generating app store screenshots for https://github.com/wordpress-mobile/WordPress-iOS/pull/15010, I realized it fails entirely (no screenshots generated on any device) when the device is set to `th` and `ru`. The test runs fail with this error:

However, the failures aren't specific to that PR and likely affect login for all of our UI tests in those languages.