[2021-01-09 21:56] mdrockwell opened #15620 "Publish Button Obscured When System Text Size is Increased"
### Expected behavior
The Publish panel should expand higher on the screen when the system-wide Text Size is increased.

### Actual behavior
The increased text size pushes the Publish Now button off screen.

### Steps to reproduce the behavior
- From Home Screen, navigate to **Settings > Display & Brightness > Text Size**
- Increase Text Size setting
- Navigate to WordPress Mobile app
- Open a new

[2021-01-11 11:27] hypest commented on #15595
cc'ing @frosty, @yaelirub  to help having someone check on this, thanks!

[2021-01-11 11:36] hypest commented on #15595
FWIW, I checked the uploaded video in the test site (https://premiumtestsite20190311.blog/2021/01/07/video-upload-test/) by trying to play it via the Media library in wpadmin and got mixed results. It plays in one player but not the other, see the screenshot below:

<img width="1436" alt="Screenshot 2021-01-11 at 13 29 57" src="https://user-images.githubusercontent.com/1032913/104177748-f23a0d00-5

[2021-01-11 17:53] leandroalonso commented on #15595
I just tested these posts in:

* Safari in iOS
* Reader

Although there is no thumbnail at all, the video plays just fine.

I wasn't able to watch the video in Chrome and Firefox though. I can hear the video, but not see it.

One thing to note. In the case where I can't see the video, there's no custom player, just the `<video>` tag being used:

<img width="764" alt="Screen Shot 2021-01-11 at 14 4

[2021-01-11 18:49] startuptester commented on #15596
Nicely done! Thank you! @aerych, are you able to take a look and see if it is related to #15309?

[2021-01-11 19:40] eduardozulian commented on #15595
Another case in 3624089-zen

I was able to reproduce this with the user's video (on both FF and Chrome; Safari worked fine) but not with my own videos.

***

For context, we can find similar cases happening on WordPress.com sites with desktop uploads as well: p1577694454336500-slack-C03TY6J1A

[2021-01-11 19:43] eduardozulian commented on #15595
As a note, it should be possible to embed these non-working videos if we use the `[wpvideo]` shortcode.

[2021-01-11 20:40] jkmassel commented on #11849
16.5 out-of-date dependencies:

[code]

[2021-01-11 21:54] aerych commented on #15596
This doesn't appear to be related.  In fact, I can reproduce this same behavior in mobile safari and desktop safari.  Will follow up with a dotcom team to see what's up.
Pinged in p1610402471373700-slack-dotcom

Some related resources for posterity:
https://wordpress.com/support/remote-login-permission/
p58i-9P5-p2
p9xfpQ-14l-p2

tl;dr: The current impression is this is another case were Apple's t

[2021-01-12 04:46] reginabally commented on #15611
The user writes back with the device information: iPhone SE (1st Gen), iOS 14.3.

They've also mentioned this:

I'm asking them to try logging out from the app on iPhone SE and log back in to see if it helps.

[2021-01-13 03:17] reginabally commented on #10766
The user mentioned in the comment above writes back with another screenshot in 36374120-zen. ~I'm asking them for their device information.~ The user wrote back saying they're using iPhone 12 with the latest version of the WPiOS app.

Note that I'm able to replicate this on iPhone SE, iOS 14.3, WPiOS 16.3. The detected location in the app (with the high precision option turned on) is about 2 km aw

[2021-01-13 15:56] leandroalonso opened #15636 "Reader: track topic followed in Discover section"
### Expected behavior

1. Given the user followed a topic/interest in the Discover section
2. Track the topic/interest that was followed

### Additional information

As for now, we have the `reader_reader_tag_followed` being fired. However, it is fired from multiple places, so there's no easy way to check if it came up from the Discover section.

We can either:

* Add a property `source` in `reade

[2021-01-13 21:14] #15514 closed, assigned to Gio2018

[2021-01-13 21:18] #15157 closed, assigned to nobody

[2021-01-13 21:20] Gio2018 commented on #15426
Closing this one as the cache now gets updated on both the app and the widget every time new stats are pulled in, and the Core Data approach is not applicable for now.

[2021-01-13 21:20] #15426 closed, assigned to nobody

[2021-01-14 10:02] dratwas commented on #15255
Hey @reginabally, do we have some new information about that issue?

[2021-01-14 14:53] mchowning commented on #15148
:wave: @guarani ! Did you take care of some of this with your xpost work? If so, would you update this ticket?

[2021-01-14 16:08] CrazyBusyCreative commented on #15522
I can take this if nobody else has

[2021-01-14 16:34] aerych opened #15642 "Follow conversation: Handle a success:false API response"
The API call to follow a conversation in the Reader can return `success:false` as part of its response.  One way to replicate this is by setting WordPress.com's [Reader Subscription notification settings](https://wordpress.com/me/notifications/subscriptions) to block all emails, and then try to follow a conversation.

Currently, the relevant code in the app does not inspect the data returned from

[2021-01-14 16:53] aerych commented on #15522
Great! Please feel free.  Thanks!

[2021-01-14 19:48] #15584 closed, assigned to nobody

[2021-01-14 21:13] eduardozulian opened #15647 "Improve "Error loading plugins" message for non-admin accounts"
In the WP app, when you try to access the Plugins tab as an Editor or Author, you’ll see a generic `Error loading plugins message`.

### Expected behavior

A message telling me that I have no permissions to install/manage plugins.

### Actual behavior

You'll see this:

<img src="https://user-images.githubusercontent.com/1136160/104649271-4142a500-5693-11eb-9ac4-4aa0d5c6af7f.jpeg" width="400">

If

[2021-01-15 02:23] startuptester opened #15649 "Reader filters cause Discover tab to take over Following tab"
### Expected behavior
Reader filters should persist while in the app

### Actual behavior
If you filter on the Following tab, then change to the Discover tab, the Discover tab persists on the Following tab.

https://cloudup.com/c4UJjpDpdSu

### Steps to reproduce the behavior
1. In Reader, filter for a certain site
2. Note that the filter works correctly
3. Switch to the Discover tab and then back

[2021-01-15 04:19] reginabally commented on #15255
Hi @dratwas Unfortunately, we didn't receive any update from the user through the forums as well as on Zendesk.

[2021-01-15 15:33] aerych opened #15650 "Reader Comments: In dark mode, sometimes the comment text is a dark rather than light color."
Reported in p1610649717000800-slack-p2-mobile.

Sometimes reader comment text color is not updated for dark mode.
<img width="383" alt="Screen Shot 2021-01-15 at 9 15 23 AM" src="https://user-images.githubusercontent.com/1435271/104744295-51e63000-5712-11eb-8a95-56ba98b01710.png">

In this case, the iOS device is configured to automatically update it's appearance between light and dark, and the ap

[2021-01-15 15:38] eduardozulian opened #15651 "Reader: Following Sites list is incomplete"
Not all the sites you follow in the WordPress.com Reader appear in the app. In fact, the number is way lower and I have the impression that the only sites I see on the Reader are WordPress sites with a connected Jetpack account.

### Expected behavior
To see all my followed sites on the Reader, no matter the platform.

### Actual behavior
* I see a smaller number on the app (76) in Reader > Filter

[2021-01-15 18:07] ScoutHarris commented on #15651
Hey @eduardozulian  . The Reader tab filters have been updated to behave as Calypso now does (https://github.com/wordpress-mobile/WordPress-iOS/pull/15585). That is, the filters only show the sites for the tab you are on. Thus the total sites shown in the manage view should be split between all the filterable tabs you have.

I'm going to close this. If you still think there's an issue feel free to

[2021-01-15 18:09] ScoutHarris commented on #15651
Ugh. 🤦 . I just realized what you were saying.

Got it. I'll take a look.

[2021-01-17 14:45] bobmatyas opened #15655 "New User Can't Login w/Existing Account if Font Size Enlarged Under System Settings"
### Expected behavior

User should be able to login to WordPress.com without needing to reduce font size on device.

### Actual behavior

When installing the Wordpress app on iOS for the first time if a user has their font size increased beyond the system default the user will not see the input box to enter their email for their existing Wordpress.com account.

Instead they will see a screen that

[2021-01-18 10:20] sophiegyo commented on #8238
I had someone just today asking about this: 26839568-hc

[2021-01-18 21:37] ScoutHarris opened #15662 "Like notifications: show all likes when notification tapped"
When tapping a Like notification, the app currently show a max of 10 users. Let's show them all.

---
Tasks:
- [x] Add feature flag (`newLikeNotifications`). [#16007]
- [x] Add endpoint support to fetch all post likes. [wordpress-mobile/WordPressKit-iOS/pull/347]
- [x] Add endpoint support to fetch all comment likes. [wordpress-mobile/WordPressKit-iOS/pull/351]
- [x] Add service support to fetch p

[2021-01-18 22:24] yaelirub commented on #15595
Hey @leandroalonso and  @eduardozulian. Thanks for looking into this 🙏
This issue was flagged as high priority as users keep reporting it.
Do you have any solution in mind?

[2021-01-18 23:52] leandroalonso commented on #15595
@yaelirub I guess the issue comes down to video decoding/codecs. Firefox and Chrome are simply not able to execute this format for some reason and I fear that there isn't much we can do about it.

For example, try to open this link directly using Chrome and/or Firefox:

https://videos.files.wordpress.com/GUmpiRPk/img_0062.mov

Chrome will just download the file (instead of playing) and Firefox wil

[2021-01-19 21:01] ScoutHarris commented on #15649
Fixed with https://github.com/wordpress-mobile/WordPress-iOS/pull/15668.

[2021-01-19 21:01] #15649 closed, assigned to ScoutHarris

[2021-01-20 02:13] momo-ozawa opened #15672 "Site Pages: Set Parent displays a blank entry if the page title is empty"
### Expected behavior
`(no title)` entry should be displayed if the page title is empty, just like in the Site Pages screen

### Actual behavior
Blank entry is displayed if the page title is empty

### Steps to reproduce the behavior
1. My Site
2. Site Pages
3. Create a page and leave the title empty
4. Tap on the ellipsis icon for a page (other than the page you created in step 3)
5. Select Set P

[2021-01-20 09:35] hypest commented on #15595
👋 @roundhill ! Could use your insight here. Any chance that above videos wouldn't be playable correctly when the upload happens from mobile, perhaps because a conversion step is missed somehow?

[2021-01-20 12:29] #15636 closed, assigned to leandroalonso

[2021-01-20 16:03] roundhill commented on #15595
Hi everyone! If you hear the video but don't see it, that's because your device/browser doesn't support the video codec to play it back. HEVC playback only works on certain devices: https://support.apple.com/en-us/HT207022

This is one of the reasons that we transcode videos for VideoPress uploads, so that they will playback on most devices. @eduardozulian's idea to use the video shortcode would b

[2021-01-20 16:31] hypest commented on #15595
Thanks for the insight there @roundhill!

About the shortcode option since it's both you and @eduardozulian bringing it up, would that be a Gutenberg block actually? Do y'all refer to the `shortcode` block perhaps, or instead to try and use a shortcode as the implementation of the `Video` block on mobile?

[2021-01-20 17:06] roundhill commented on #15595
Hmm yeah I guess you can't just use the shortcode on mobile. Are you able to render an iframe? VideoPress supports oembed, so you could pass something like this to the oembed endpoint which will give you back the iframe code:

https://public-api.wordpress.com/oembed/1.0?url=https://videopress.com/v/kUJmAcSf&for=mobilegutenberg

[2021-01-20 18:45] chipsnyder opened #15675 "Modify Quick Start Steps to support quick start steps"
## Description

To more align with our changes to site creation we'd like to modify the quick start steps so that users can get to editing the content of those pages as soon as possible.

## Changes
1. Fully remove "Browse Themes"
2. Add "Edit your homepage"
2. Add "Review site pages"

<kbd><a href="https://user-images.githubusercontent.com/3384451/105220335-8fd5c080-5b25-11eb-9b9c-234f594b7f60.pn

[2021-01-21 11:37] hypest commented on #15595
Assuming you're talking about the editing experience, that's would be a "no". We actually don't render the video at all while in the editor... only a preview-like placeholder is there for the user to launch the preview in an external  browser.

I start to think that this can be another manifestation of the issue that Core and Calypso are not actually using the same block for Video, with Calypso ov

[2021-01-21 16:54] CrazyBusyCreative opened #15686 "Update README App Development Environment instructions"
### Expected behavior
A new contributor should be able to follow the instructions in the README and get their environment set up quickly without needing extra help or information from other developers. It should all be right there in the README.

### Actual behavior
I spent 2 days trying to get a Dev environment set up on an M1 Mac mini before another developer let me know that the codebase isn't

[2021-01-21 17:02] #15686 closed, assigned to nobody

[2021-01-21 17:02] CrazyBusyCreative commented on #15686
duplicate

[2021-01-21 19:40] ScoutHarris commented on #15651
Hey @eduardozulian . Would you mind trying again with WPiOS 16.5? That version is more in sync with Calypso (i.e. the data the API provides).

[2021-01-22 12:20] eduardozulian commented on #15651
No luck, @ScoutHarris

* My Reader > Filter section now has 55 (when I logged in, the number was 56) sites. It's lower than the initial test with 16.4
* I still can't see a full list on Manage > Followed Sites

Thanks!

[2021-01-22 16:32] aerych opened #15690 "Reader/P2: Do not show the reblog button for P2 posts"
See pc5zdG-aP-p2 for more context.

Since p2s do not support reblogging there is no reason to show the reblog option with the rest of the action buttons in the reader cards and detail.   Let's hide that option just for p2s.

[2021-01-22 19:48] yaelirub commented on #15350
@frosty , I reopened the issue has it came up as a bug in the experience walkthrough.
Lets please give it priority as part of the quick start work

[2021-01-22 20:14] eduardozulian opened #15695 "Content: "Link To" shows always the same list of posts and pages"
The option to link a text is currently showing the same results over and over when you try to search for a published post or page.

### Expected behavior
To see results related to what I typed.

### Actual behavior
I see always the same posts and pages. In my case, two posts and one page.

It's apparently impossible to search for published posts or pages.

### Steps to reproduce the behavior
1. St

[2021-01-22 23:49] aerych commented on #15690
Closing as another point was raised that needs discussion. Will reopen if needed.

[2021-01-22 23:49] #15690 closed, assigned to nobody

[2021-01-23 01:03] louinel commented on #15611
I have another case 3672243-zen, I will ask the user more details about their device and update here.

[2021-01-23 04:44] namotoff opened #15698 "Works"

[2021-01-23 04:46] #15698 closed, assigned to nobody

[2021-01-25 13:15] guarani commented on #15148
@mchowning, I didn't address this. The messaging on WPiOS here needs work, so this ticket is still valid.

[2021-01-25 19:04] #15675 closed, assigned to chipsnyder

[2021-01-25 20:27] #15399 closed, assigned to nobody

[2021-01-25 21:11] chipsnyder opened #15703 "Login: "Continue with WordPress.com" might not be clear to some users."
### Description
During a recent site-creation discovery session (internal reference `pbArwn-1AT`) a point was made that the login option "Continue with WordPress.com" might not be clear to all users that this will present you with options to create an account. As a result of that session, it was mentioned that it might be worth exploring ideas to add clarity in that area.

<kbd><a href="https://us

[2021-01-25 21:23] chipsnyder commented on #7716
This came up in a recent site-creation exercise `pbArwn-1AT` so I removed the stale flag and moved it to that board.

[2021-01-25 22:15] aerych opened #15705 "Post Password: Password field has dark text in dark mode making it difficult to read."
### Expected behavior
The post password field to show light text when in dark mode.

### Actual behavior
The post password field has dark text when in dark mode.

### Steps to reproduce the behavior
Enable dark mode.
Edit a post's settings and set visibility to Password Protected.
Enter some text in the password field.
Note the text is dark.

Example:
![darkmode-post-password](https://user-images.

[2021-01-26 00:04] chipsnyder commented on #7716
We're exploring a Calypso fix for this https://github.com/Automattic/wp-calypso/pull/49281

[2021-01-26 02:07] reginabally opened #15707 "Accessibility: Incomplete view of publishing options with Large Text option enabled"
It was reported in 3626547-zen that the bottom part of the publishing options in the app wasn't visible and not scrollable.

### Expected behavior

I would expect to be able to scroll down to see the rest of the publishing options if the text wasn't able to fit into the screen.

### Actual behavior

I can only see the top section of the publishing options but not all. And I wasn't able to scroll d

[2021-01-26 02:22] reginabally commented on #12480
There's a report in 3679734-zen. I can see the image URL is pointing to a local path:

`<img class="alignnone size-full" src="///var/mobile/Containers/Data/Application/2F613A38-C69F-41F6-937A-5290FD89E818/Library/Caches/Media/thumbnail-p1508-1334x1334.jpeg" />`

[2021-01-26 13:34] frosty commented on #15350
Sure, we can re-review this as we begin to work on the new Quick Start experience on iOS.

[2021-01-26 18:46] startuptester opened #15712 "Quick Start: Completing a step on your own does not automatically remove it from the list"
### Expected behavior
If I change the site title or complete any other step in Quick Start, the step should no longer be on the list.

### Actual behavior
The step remains in the list of things to do

### Steps to reproduce the behavior
1. Create a new WP.com site in the app
2. Accept help when prompted to start Quick Start
3. Change the site title or upload an icon on your own and see that those

[2021-01-26 18:59] startuptester opened #15713 "Quick Start: Skipped Step Still Shows as Incomplete"
### Expected behavior
If I choose "Not Now", it should no longer be in the list of steps to Customize my site

### Actual behavior
It remains in the list

### Steps to reproduce the behavior
1. While completing Quick Start, follow the guide dots to change your site title
2. Once you complete that, a prompt will appear suggesting you upload a new site icon
3. Choose "Not Now"
4. View the Customize

[2021-01-26 19:41] startuptester opened #15714 "Status Bar while searching Themes"
### Expected behavior
The status bar should not turn white with a white search bar

### Actual behavior
https://cloudup.com/c5IWwVEE5Ah

### Steps to reproduce the behavior
1. Tap Themes on the My Site screen
2. Enter the search bar

##### Tested on iPhone 12 Pro, iOS 14.3, WPiOS 16.5

[2021-01-26 21:16] leandroalonso commented on #15707
JFYI: we fixed the scrolling issue in #15716

However, we'd like to display the nudges with the correct height right away, that's why we're keeping this issue open and will iterate again in the future.

[2021-01-26 22:13] aerych commented on #14926
Reopening :)

[2021-01-26 22:14] aerych commented on #14926
Mentioned again in p1611696087001700-slack-p2-mobile

[2021-01-26 22:28] startuptester commented on #15713
@mattmiklic this was in your session notes, but I wanted to ask what you would expect here. I agree that they shouldn't be prompted to do something they skipped, but they might still need the guidance later, so should it be completely removed from the steps?
@osullivanchris, you reported something similar before so maybe you have some ideas?

[2021-01-26 22:38] startuptester opened #15717 "When changing Site Title. there is no indication that something is updating"
### Expected behavior
When I change my site title, if it doesn't happen immediately, there should be indication that it is updating.

### Actual behavior
There is no indication.
While checking Android, the change was instant so no indication of title changing seems necessary.
On iOS, it took less than 2 seconds but wasn't instant.
I have seen it take about 5 seconds before on a slower connection w

[2021-01-26 23:49] yaelirub opened #15719 "Add bundle identifier property to "app_open" event"
We'd like to be able to quantify internal builds
So something like app_build_type [production, internal] should work

[2021-01-27 11:32] osullivanchris commented on #15713
@startuptester  hey, if referring to https://github.com/wordpress-mobile/WordPress-Android/issues/12278, there I was talking about the prompts that appear in tooltips at the bottom. They automatically bring you to the next step. If I have ignored a step, I think I should no longer be prompted to do it, as part of the flow.

However I agree with you, that I think it should still be in the list if I

[2021-01-27 12:52] leandroalonso opened #15721 "Activity Log: issues in the first month of the date picker"
* After selecting and setting a date range that starts in Jan 2000, if you open a date picker again, the calendar view for Jan 2000 will appear at the bottom part of the screen, and when attempting to scroll to the bottom the view will get bouncy and wonky.
* Open date picker and scroll to the top (Jan 2000) notice that month name is partly obscured by scrim at the top.

### How to reproduce

1. O

[2021-01-27 15:14] leandroalonso opened #15722 "Custom Calendar: accessibility issues"
Our custom calendar has accessibility issues. Both when scheduling a post and when selecting a date range from Activity Log:

* Unavailable (future) dates are not announced as unavailable.
* Dates of the week ( S M T W T F S) are incorrectly announced: eg. F is announced as “half-F, night sky”
* While scrolling up and down announcements say “Page 138” which is not super helpful. Maybe we can annou

[2021-01-27 23:45] startuptester opened #15727 "Search bar font is very difficult to see in Help Center"
### Expected behavior
I want to search in Help Center for a topic

### Actual behavior
It's difficult to see this font clearly (more-so on the actual phone than the screenshot)
![IMG_DEC8D954C666-1](https://user-images.githubusercontent.com/66104034/106068891-997b9d00-60be-11eb-90a3-ed149c72f347.jpeg)

### Steps to reproduce the behavior
1. In Help & Support menu, tap on WP Help Center
2. Type som

[2021-01-27 23:46] yaelirub opened #15728 "Update copy on email screen to clarify that the email needs to be on this device"
TBD

[2021-01-28 02:03] ericamQA commented on #10766
Same user from last comment has contacted us again with same problem in 3683355-zen.

I wasn't able to reproduce (the wrong location appearing in the post) on iPhone 11, iOS 14.3, WPiOS 16.4 but the location didn't show up on the post at all, as in the original report here.

[2021-01-28 06:02] reginabally commented on #15296
Another report in 3683399-zen. The screenshot mentioned in the comment below can be found in the ticket.

[2021-01-28 12:44] #15721 closed, assigned to nobody

[2021-01-28 13:51] guarani commented on #15296
Thanks for the report @reginabally! I took a look at the screenshot and I think this report matches https://github.com/wordpress-mobile/WordPress-iOS/issues/15390, which tracks Likes not working in "View Site" and "View Post" screens. If you agree, would you be able to add your above comment to that issue as well please?

As for a resolution for this user, we faced a similar situation recently and

[2021-01-28 16:54] chipsnyder opened #15729 "User can delete Homepage and break their site"
### Description
It is possible to delete your Homepage while it's set as your static Homepage. This is a feature that is disabled on dotCom. If a user does delete their Homepage then their site will render with an error when you navigate there.

### Steps to reproduce the behavior
**_Setup:_** Set your site's Homepage settings to use a Static Homepage

1. Navigate to pages
2. Tap the `...`
3. Tap

[2021-01-28 17:56] mattmiklic commented on #15713
Hey @startuptester -- I think you're right that they should remain in the list. I had this observation while watching Aaron walk through the steps, but we do want people to be able to find it again if they skip it the first time around. It's probably ok to ignore this one, but I agree with Chris that we probably shouldn't proactively prompt someone to do a task they've chosen to skip.

[2021-01-28 18:13] startuptester commented on #15713
Thanks for explaining that! I will update the details in this ticket to capture what Chris mentioned.

[2021-01-28 19:34] rossanafmenezes opened #15732 "Limit to 1000 (one thousand) categories showing on Mobile"
### Expected behavior

User should be able to scroll through all the categories they have from the post editor - post settings - Categories to select a specific category to a post.

### Actual behavior

There's a 1000 category limit in the apps. I believe it was not an issue so far because it's not common that users would go over 1000 categories, but when they do, they are not able to scroll down

[2021-01-28 21:11] startuptester commented on #15713
Closing (read notes above)

[2021-01-28 21:11] #15713 closed, assigned to nobody

[2021-01-28 21:16] startuptester commented on #15729
Pri High because of state the user is left in. @yaelirub, @frosty can someone be assigned to this?

[2021-01-28 21:47] yaelirub commented on #15729
Thanks for the ping, @startuptester !
@chipsnyder , let's figure out how we want to handle this 🙏

[2021-01-28 21:56] chipsnyder commented on #15729
I also just discovered that I can move my homepage to a draft which also breaks the site. So we should prevent that too even though the web allows it.

I think this should be a straightforward fix and it looks like it has been around for a while. I'll add it to Gutenpages and work on taking care of it in 16.7

[2021-01-29 00:13] ScoutHarris opened #15738 "Reader: unable to unfollow external sites from post card and post details"
### Expected behavior
When an external site is unfollowed from either a reader post card or post details, it is actually unfollowed.

### Actual behavior
When an external site is unfollowed from either a reader post card or post details, the menu option changes to `Follow Site`, but on refresh it reverts back to `Unfollow Site`, the posts are still in the stream, and the site still shows in the Ma

[2021-01-29 02:21] ericamQA commented on #15553
Another request in 3687540-zen

[2021-01-29 04:46] reginabally commented on #15296
Thanks for pointing that out, @guarani! I'll move this report over to  [#15390](https://github.com/wordpress-mobile/WordPress-iOS/issues/15390).

[2021-01-29 04:47] reginabally commented on #15390
Another report in 3683399-zen. The screenshot mentioned in the comment below can be found in the ticket.

[2021-01-29 09:35] fluiddot opened #15739 "Webviews are not authenticated when using accounts with 2FA enabled in development mode"
### Expected behavior
Webviews should be authenticated and show the content from the site.

### Actual behavior
Webviews are not authenticated and request the user to log in.

Here are some examples of different webviews tested in public and private sites:

#### Private site

<details><summary>View a post</summary>

https://user-images.githubusercontent.com/14905380/106256390-829e8d00-621b-11eb-81

[2021-01-29 14:05] chipsnyder commented on #15553
This is taken care of in https://github.com/wordpress-mobile/WordPress-iOS/pull/15736

[2021-01-29 14:05] #15553 closed, assigned to chipsnyder

[2021-01-29 15:40] osullivanchris opened #15741 "Copy improvements for Jetpack Section"
### Restore ###
![restore ios](https://user-images.githubusercontent.com/50576199/106292556-de314080-6244-11eb-84bb-8cfd6b039118.png)

* [x] **Restore confirmation** `Are you sure you want to rewind your site back to 28 October 2020 at 03:39? This will remove all content and options created or changed since then. ` -> `Are you sure you want to revert your site back to 28 October 2020 at 03:39? Any

[2021-01-29 15:45] aerych commented on #15719
I think we can go a step farther and add a global property so any event can be quantified, not just app open.

We could use the same constant used by magic links to identify different build types:
wpdebug = development
wpinternal = internal beta
wpalpha = alpha
wordpress = production

With this approach, if we ever add a new build target we won't need to remember to update the tracks code as well.

[2021-01-29 15:53] AliSoftware opened #15743 "Bug: The "Comments" screen is not refreshed on state restoration"
### Expected behavior

When opening back the app after a while when it was on the Comments screen, I expect the UI to be consistent and showing the actual comments

### Actual behavior

When opening the WordPress app after a while, while the last time I closed it it was on the Comments screen of a particular post, this happens:

<table>
<tr>
<td><img src="https://user-images.githubusercontent.com/

[2021-01-29 17:50] ScoutHarris commented on #11327
Closing in favor of https://github.com/wordpress-mobile/WordPress-iOS/issues/15662.

[2021-01-29 17:50] #11327 closed

[2021-01-29 18:42] mdrockwell commented on #11225
Another suggestion for this here: 3695237-zd-woothemes

[2021-01-29 19:04] yaelirub commented on #15719
Excellent idea!

[2021-01-29 19:16] mdrockwell opened #15744 "Domain Registration: No Option to Continue from Contact Info Step"
### Expected behavior
Should be able to continue the domain registration flow after selecting privacy protection options and entering contact information.

### Actual behavior
There is no option to proceed with the registration.

### Steps to reproduce the behavior
From within the app, switch to a site with domain credits available:

1. Tap on the "Register Domain" option
2. Select a domain
3. The

[2021-01-29 19:50] startuptester commented on #15722
@shiki made excellent points about this. I want to highlight what he said about the importance of considering existing mental maps.

_I only know that we can ask VoiceOver to speak a custom message using UIAccessibility.post() with announcement. I’m not sure if we can turn off the automated VoiceOver announcement when scrolling. In any case, this would probably be a fairly custom implementation.

[2021-01-29 20:21] #15438 closed, assigned to frosty

[2021-01-29 22:09] #15719 closed, assigned to aerych

[2021-01-30 16:00] FAIZFREADY opened #15747 "fdb231deee1949f601a0a20c723f1006a742e83f"

[2021-01-30 16:03] FAIZFREADY commented on #15747
6@fdb231deee1949f601a

[2021-02-01 12:59] diegoreymendez opened #15750 "Large Titles: Main Issue"
Implement the new UI for Large Titles, White Headers.

## Feature Availability

The feature branch for this project is `feature/large-headers`.
This feature is also hidden behind feature flag `newNavBarAppearance`.

## New Blog Details Header View

`NewBlogDetailHeaderView` is a new view that replaces `BlogDetailHeaderView`.  It has some UI changed and includes a new site picker, since the list of

[2021-02-01 13:15] diegoreymendez commented on #15750
cc @Gio2018, @frosty, @osullivanchris

[2021-02-01 13:28] elibud commented on #15744
I believe @frosty has already fixed this one.

[2021-02-01 13:42] eduardozulian commented on #15596
Another report in 3700597-zen.

I was not able to reproduce this on my end but now I'm wondering if disabling, although not recommended, the "Prevent Cross-Site Tracking" in Safari would work: https://www.macrumors.com/how-to/safari-ios-11-tracking-prevention/

[2021-02-01 19:32] designsimply commented on #15738
Is it possible the siteURL and feedURL don't match as mentioned in https://github.com/wordpress-mobile/WordPress-iOS/issues/5633 or do you think this is for sure a separate issue?

[2021-02-01 19:40] designsimply commented on #15747
@FAIZFREADY please fill out the template when filing issues.

[2021-02-01 19:40] #15747 closed

[2021-02-01 19:50] ScoutHarris commented on #15738
Thanks for pointing that out @designsimply . I tested #5633 and I couldn't repro it. That appears to be resolved. I'll close it. But, to answer your question, I haven't looked into this issue yet so I'm not sure what the problem is/may be. But I'm going with it's different than #5633. 😄

[2021-02-01 19:51] ScoutHarris commented on #5633
I was able to follow and unfollow arstechnica.com and cnn.com from Manage > Followed Sites. This looks to be resolved. (WPiOS 16.7)

[2021-02-01 19:51] #5633 closed

[2021-02-01 21:54] #15355 closed, assigned to ScoutHarris

[2021-02-01 21:59] frosty commented on #15744
Yes, this should be resolved by #15748 – which should be in the next test build of 16.6. 🙂

[2021-02-01 23:29] startuptester opened #15757 "Very High Res Images Cause Crash in the Reader"
Reported by @jleandroperez in the 16.6 beta

Image was 15200 x 11954

I would expect the backend never to allow an image that size to be right there. Images should be ... of a reasonable size unless you click on them, and they should expand.
But since that's probably out of control, you would expect:
a) The Reader not crashing when the Post Image is super huge. It would involve optimizing the thum

[2021-02-02 10:39] rezzap commented on #15707
There's a report of a similar issue here in the iPhone Pro Max, though it doesn't sound like they have accessibility settings enabled.

I'm asking the user for a screenshot just to be sure it's related and letting them know that we're working on a better fix for the next version.

3704529-zen

[2021-02-02 11:02] frosty commented on #15744
#15748 has now been merged, so marking this as closed.

[2021-02-02 11:02] #15744 closed, assigned to nobody

[2021-02-02 12:24] rossanafmenezes commented on #15707
User sent screenshots (in the ticket). Looks like the same issue

[2021-02-02 18:49] leandroalonso commented on #15707
@rezzap @rossanafmenezes can you please let the user know that the next version (that is going to be released next week) has the fix to this issue?

[2021-02-02 19:24] ScoutHarris opened #15761 "Reader: align options menus on post card and post details"
Currently, the options menu on the Reader post cards and in post details are created and handled separately, with much of the code being duplicated, but also not quite the same. This has led to:
- Options being different
- Success messages being different
- Error messages being different

We should align the two so that they use the same code and have the same functionality.

- [x] Show both menus

[2021-02-02 20:36] startuptester opened #15762 "Reader/ Discover: Site Header "Follow" doesn't change after Following a new site from the postcard menu"
Reported by @khaykov

### Expected behavior
Both locations should have the same Following/Follow state

### Actual behavior
the Site Header have a “Follow” button, while menu in the postcards says “Unfollow”

### Steps to reproduce the behavior
1. In Discover tab, find a post from the site you are not following.
2. From postcard menu, tap Follow site.
3. Immediately navigate to the Blog Preview of

[2021-02-02 21:06] startuptester opened #15763 "Reader: Following site from post card does not produce the “Turn on notifications” toast"
### Expected behavior
When I follow a site, I expect to be prompted to enable notifications

### Actual behavior
It does not appear on the post card screen

### Steps to reproduce the behavior
1. Open a Site title from the Discover screen
2. Tap on Follow and notice the toast
3. ![IMG_45DE45541715-1](https://user-images.githubusercontent.com/66104034/106662296-71c58280-655f-11eb-98ac-f978fb5a1edf.

[2021-02-02 21:10] ScoutHarris commented on #15763
As I stated on the testing post, I will include this in my project to align the post card and post details options menus. https://github.com/wordpress-mobile/WordPress-iOS/issues/15761.

[2021-02-02 21:11] startuptester opened #15764 "Posts/Pages Lists: Search Bar is glitchy after screen rotation"
### Expected behavior
Same in portrait and landscape

### Actual behavior
Search Bar is glitchy after screen rotation

### Steps to reproduce the behavior
1. When search filter is focused change device orientation to landscape – notice the the filter is cut at the top.
![image](https://user-images.githubusercontent.com/66104034/106662952-498a5380-6560-11eb-8cbd-13d12efbd324.png)

2. Tapping on sea

[2021-02-02 21:41] startuptester opened #15765 "Post Publishing Target site selector filter input field and filtered list content are not preserved on configuration change"
### Expected behavior
Selector and search returns should remain despite orientation change

### Actual behavior
Selector is cleared

### Steps to reproduce the behavior
https://cloudup.com/c3NXerG0lEE

##### Tested on iPhone 12 Pro, iOS 14.3, WPiOS 16.6.0.3

[2021-02-02 21:43] startuptester commented on #15763
Thanks @ScoutHarris! I was so in the zone and just kept logging, but this works for keeping track of it anyway. Thank you!!

[2021-02-02 22:22] startuptester opened #15767 "Post Publishing: Date Picker resets to initial selection after changing screen orientation"
### Expected behavior
Screen orientation shouldn't change current selections

### Actual behavior
https://cloudup.com/c4OJyR7qXXh

### Steps to reproduce the behavior
1. Open post/page settings, and navigate to “Published on” setting.
2. Tap on the Date and Time option to show date picker.
3. Scroll date picker to the left or right. Optionally pick a date.
4. Change device orientation and confirm

[2021-02-02 22:26] startuptester opened #15768 "Post Settings: Password field is black is black font on black background in Dark Mode"
### Expected behavior
In Dark Mode, the password option in Post Settings is black font on a black background

### Actual behavior
![image](https://user-images.githubusercontent.com/66104034/106670776-b73b7d00-656a-11eb-88f6-a7ca4caaab9e.png)

### Steps to reproduce the behavior

1. Open Post Settings in Dark Mode
2. Choose Password Protected in the Visibility options

##### Tested on iPhone 12 Pro

[2021-02-02 22:32] startuptester opened #15769 "Post Settings: It is possible to input emojis if you toggle Show Password"
### Expected behavior
I should not be able to use emojis in my password

### Actual behavior
![image](https://user-images.githubusercontent.com/66104034/106671378-a4757800-656b-11eb-850d-d12a9808f4a6.png)

### Steps to reproduce the behavior
1. Open Post Setting and choose Password Protected in the Visibility options
2. Tap on the View Password icon in the password field
3. Notice that emojis are

[2021-02-03 02:33] yaelirub commented on #15728
Closing this issue after looking at the data and talking to design it didn't seem worth pursuing

[2021-02-03 02:33] #15728 closed, assigned to nobody

[2021-02-03 02:35] yaelirub commented on #15350
Actually, @frosty , this need to fix this as soon as possible. Can you make sure to fix this for the upcoming release?

[2021-02-03 17:03] frosty commented on #15350
Closing this for now as it should be addressed by #15775.

[2021-02-03 17:03] #15350 closed, assigned to bjtitus

[2021-02-03 20:33] enejb commented on #7716
The masterbar is now gone in calypso for mobile app requests.
We might want to hide some of the buttons though as well. The arrow and the activate theme buttons for example.

[2021-02-03 23:38] startuptester opened #15783 "Reader: Rotating Screen while Viewing a Post with no Featured Image Cuts off the Header"
### Expected behavior
same screen, landscape or portrait

### Actual behavior
After rotating, the header is cut off
https://cloudup.com/cQH2zPUDpoP

### Steps to reproduce the behavior
1. In Reader, open a post with no featured image
2. Rotate to landscape and back to portrait

##### Tested on iPhone 12 Pro, iOS 14.3, WPiOS 16.6.0.4

[2021-02-04 00:21] startuptester opened #15785 "iOS Widgets (Old) are not loading until I restart my device"
### Expected behavior
The widgets should load the data
![IMG_0EBF2A4307AD-1](https://user-images.githubusercontent.com/66104034/106826323-f1c51880-6643-11eb-954e-cef8da506dde.jpeg)

### Actual behavior
![IMG_0EBF2A4307AD-1](https://user-images.githubusercontent.com/66104034/106825821-e45b5e80-6642-11eb-837f-0319d0aae624.jpeg)

### Steps to reproduce the behavior
After upgrading to 16.6 beta, the w

[2021-02-04 18:30] startuptester commented on #15785
This ended up being an iOS issue where deleting an app does not delete the widgets and leaves them in a broken state until you reinstall the app **and** restart your device.

[2021-02-04 18:30] #15785 closed, assigned to nobody

[2021-02-04 18:36] enejb commented on #7716
This seems to be fixed now. With Automattic/wp-calypso#49686

[2021-02-04 18:36] #7716 closed

[2021-02-04 19:22] #15763 closed, assigned to ScoutHarris

[2021-02-04 22:29] #15741 closed, assigned to nobody

[2021-02-05 01:18] #15703 closed, assigned to nobody

[2021-02-05 01:43] yaelirub opened #15801 "Write P2 post with Reader metrics (where are we now?). Most popular actions in Reader + reiterating over previous data"

[2021-02-05 01:43] yaelirub opened #15802 "Reduce frequency of "You Might Like" section in feed"

[2021-02-05 01:43] yaelirub opened #15803 "reduce "You Might Like" section vertical space"

[2021-02-05 01:43] yaelirub opened #15804 "Don't show "You Might Like" as first card"

[2021-02-05 01:43] yaelirub opened #15805 "Change order of more menu items so "Visit site" won't be next to "Block site""

[2021-02-05 01:43] yaelirub opened #15806 "Show topics picker screen to allow users to add topics to their initial selection"
Based on user feedback - Show the topic picker again to allow adding topics.
One suggestion was to replace "Add a topic" on the setting screen to "add topics" and show the topic picker from there but this needs design

### Design
![a](https://user-images.githubusercontent.com/793774/108564197-bcb9f680-72d0-11eb-9c16-6085d62d5828.png)

[2021-02-05 01:44] yaelirub opened #15807 "Fix copies and terminology: always use topics instead of interests as well as "blogs" instead of "reads""
Based on user feedback as to the confusion between different terms:
1. Replace *every* user facing strings in the app from "Interests" to "topics".
2. Replace *every* user facing strings in the app from "reads" to "blogs".

[2021-02-05 18:58] emilylaguna commented on #15191
Closing as this as all the tasks are complete and this will be released in the next version: https://github.com/wordpress-mobile/WordPress-iOS/pull/15813

[2021-02-05 18:58] #15191 closed, assigned to emilylaguna, yaelirub, momo-ozawa, leandroalonso

[2021-02-05 18:58] emilylaguna commented on #15190
Closing as this as all the tasks are complete and this will be released in the next version: https://github.com/wordpress-mobile/WordPress-iOS/pull/15813

[2021-02-05 18:58] #15190 closed, assigned to emilylaguna, leandroalonso

[2021-02-05 18:58] emilylaguna commented on #15193
Closing as this as all the tasks are complete and this will be released in the next version: https://github.com/wordpress-mobile/WordPress-iOS/pull/15813

[2021-02-05 18:58] #15193 closed, assigned to emilylaguna, yaelirub, leandroalonso

[2021-02-05 22:16] aerych commented on #15651
I looked into this a little bit. The following list is populated by calling the `/read/following/mine` endpoint via [ReaderTopicServiceRemote.fetchFollowedSitesWithSuccess:failure](https://github.com/wordpress-mobile/WordPressKit-iOS/blob/b2f3542ec479c717df1317094d91d8dc17bcec3d/WordPressKit/ReaderTopicServiceRemote.m#L72).  Note that no parameters are passed other than `meta`.   Then endpoint ret

[2021-02-05 22:56] jkmassel opened #15818 "Remove existing Core Data Stack split"
We should align the Core Data Stack between development and production versions prior to starting the project

[2021-02-05 23:19] jkmassel opened #15821 "Introduce Updated Core Data Write API"
Introduce an API that abstracts away the complexity of saving the Core Data Store

[2021-02-05 23:57] yaelirub opened #15822 "Impossible to login"
### Expected behavior
User will be able to login and see their site

### Actual behavior
Login flow is stuck after dismissing epilogue view

https://user-images.githubusercontent.com/1335657/107100666-e996e580-67c9-11eb-9fd7-47b0db031e70.MP4

This issue was introduced by : https://github.com/wordpress-mobile/WordPress-iOS/pull/15687
Specifically :
https://github.com/wordpress-mobile/WordPress-iOS/

[2021-02-06 21:45] yaelirub commented on #15329
I looked into this issue and tried to come up with a simple design solution on the client side. Displaying a loader in the activate button while loading looked ok but didn't work well with long theme titles.

Another solution that came to mind is displaying a top banner like the one we show in the editor when performing an action on a block ("block copied") with "Activating theme..."

I think we n

[2021-02-07 21:14] #15822 closed, assigned to Gio2018

[2021-02-08 15:44] #15182 closed, assigned to nobody

[2021-02-08 18:50] Gio2018 opened #15826 "Stats - Mismatch in Today values between Insights and Days"
### Expected behavior:

In the stats, the Today card in "Insights" and the current day in "Days" should display the same values

### Actual behavior:

Insights and Days differ for the number of Visitors. this also affects Today Widget (see screenshots below)

Insights | Days | Widget
-- | -- | --
<img width="250" src="https://user-images.githubusercontent.com/34376330/107312272-9afd7b80-6a55-11eb-

[2021-02-08 19:19] Gio2018 commented on #15826
cc @startuptester

[2021-02-08 20:09] mdrockwell commented on #11225
Another here: 3723276-zd-woothemes

[2021-02-08 22:10] jkmassel opened #15829 "Remove `newMainContextChildContext` and other unneeded API from `CoreDataStack`"
Our current model allows two ways to accomplish the same task – making a new write context. These can be accessed via `newMainContextChildContext` and `newDerivedContext`. `newMainContextChildContext `creates contexts that are writable from the main thread (ie – they have `mainQueueConcurrencyType`), while `newDerivedContext` creates background contexts (ie – `privateQueueConcurrencyType`).

We wi

[2021-02-08 22:11] jkmassel opened #15830 "Adopt updated Core Data Write API"
We can dramatically simplify Core Data use at the call site by using an API like:

[code]

[2021-02-08 22:12] jkmassel opened #15831 "Adopt `NSPersistentContainer`"
`NSPersistentContainer` is the recommended way forward for Core Data – we should fully adopt it inside of `ContextManager` to manage our contexts for us.

[2021-02-08 22:14] jkmassel opened #15832 "Replaces instances of `NSManagedObjectContext` with `ContextManager`"
We currently pass around `NSManagedObjectContext` objects in many places – namely View Controllers and services.

In these cases, we often make changes directly to the `mainContext`, [which is incompatible with how `NSPersistentContainer` is designed to work](https://developer.apple.com/documentation/coredata/nspersistentcontainer/1640622-viewcontext).

We'll replace instances of a bare context be

[2021-02-08 22:18] jkmassel commented on #11849
16.7 out-of-date dependencies:

[code]

[2021-02-08 22:21] guarani opened #15833 "Stats widgets not updating after signing up for new account"
### Expected behavior

The new Stats widgets should detect when you change accounts and update themselves accordingly (or at least allow you to update them without having to re-add them)

### Actual behavior

When switching sites in the app, I had to re-add the Stats widgets to get them to work.

### Steps to reproduce the behavior

1. I was using the app and had added some Stats widgets and every

[2021-02-08 22:26] guarani opened #15834 "Improve text matching in Stats widgets site selection"
### Expected behavior

When choosing a site for the widget, typing `My site` matches `mysite.wordpress.com` fine but typing `mysite` (without the space) doesn't match it. It would be nice to match without the spaces.

### Actual behavior

I had to consciously type `My site` (with spaces, after not getting matches for `mysite`). I think this would be a nice enhancement to the Stats widget.

### Ste

[2021-02-08 23:12] ScoutHarris commented on #15357
Closing this for now since we're not ready to do it yet. Will recreate issue when we get there.

[2021-02-08 23:12] #15357 closed, assigned to nobody

[2021-02-09 09:29] osullivanchris opened #15840 "Scan: Fixing threats copy change"
Minor change from editorial to the copy in scan

**Now**
We're hard at work fixing these threats in the background.

**Change to**
We're hard at work in the background fixing these threats

[2021-02-09 16:07] #15818 closed, assigned to nobody

[2021-02-09 16:22] kyleaparker opened #15841 "Site preview: Change device preview icon placement"
We just added a new device preview icon to the "Choose a design" screen in the top right:

<img width="599" alt="Screen Shot 2021-02-09 at 11 14 52 AM" src="https://user-images.githubusercontent.com/712873/107392816-10a22f80-6ac8-11eb-8a18-26375fafee00.png">

I noticed when you click to preview one of the layouts, the placement of the icon switches to the top left:

<img width="597" alt="Screen Sh

[2021-02-09 19:59] yaelirub commented on #15712
Hey @frosty , can you please work on this fix for 16.8?

[2021-02-09 20:16] eduardozulian opened #15843 "Shortcuts app: Can't find WP.com Atomic/self-hosted sites to publish to"
The [Shortcuts app](https://support.apple.com/en-us/HT209055) lets you create specific actions and then publish a post to your WordPress site. However, it seems that WP.com Atomic (sites using custom plugins and themes) and self-hosted sites are not available in the list when you log in as a WordPress.com user.

### Expected behavior
To see all my sites.

### Actual behavior
* WordPress.com simple

[2021-02-09 22:02] #15717 closed, assigned to nobody

[2021-02-09 23:51] jkmassel opened #15847 "Facebook Publicize Connect not working"
### Expected behavior
I'd expect to be able to connect to my Facebook page

### Actual behavior
![IMG_514D6D5AB5FE-1](https://user-images.githubusercontent.com/1123407/107443919-e5830480-6af6-11eb-9b44-89399d316ba3.jpeg)

### Steps to reproduce the behavior
- Go to My Site > Sharing > Facebook.
- OAuth into an account with an associated page, choose the page, then hit done
- See this error

#####

[2021-02-09 23:52] jkmassel commented on #15847
Verified by @startuptester

[2021-02-09 23:54] startuptester commented on #15847
@yaelirub  is anyone available for this one?

[2021-02-09 23:58] yaelirub commented on #15847
@jkmassel , I see you put 16.8. Is this not  happening in beta?

[2021-02-10 00:08] startuptester commented on #15847
It is happening in the 16.7 beta

[2021-02-10 00:11] yaelirub commented on #15847
@aerych, can you please take a look?

[2021-02-10 01:10] reginabally commented on #15843
Some screenshots were added and can be found in the ticket.

[2021-02-10 11:47] frosty opened #15852 "[Colors] Remove usages of WordPress Blue"
In the [2.4.0 release of the Color Studio palette](https://github.com/Automattic/color-studio/blob/master/CHANGELOG.md), WordPress Blue was deprecated in favor of Blue. We should update any remaining items in the app that use WordPress Blue to now use Blue instead.

This task should be completed after [large titles / white headers](https://github.com/wordpress-mobile/WordPress-iOS/issues/15750), a

[2021-02-10 11:52] frosty opened #15853 "[Colors] Replace usages of Pink with equivalent shades of Blue"
To ensure that we are up to date with the latest best practices of the [Color Studio palette](https://github.com/Automattic/color-studio/blob/master/CHANGELOG.md), we should replace our current uses of Pink (for links, buttons, etc) with the equivalent shade of the new blue. It should just be a case of replacing it with the equivalent numbered shade of Blue.

We should also take this opportunity t

[2021-02-10 11:53] frosty opened #15854 "[Colors] Update app icons to use new Blue instead of WordPress Blue"
To ensure that we are up to date with the [latest best practices of the Color Studio palette](https://github.com/Automattic/color-studio/blob/master/CHANGELOG.md), we should update the existing app icons to use new Blue instead of WordPress Blue. This will require new png assets for us to swap out in the app.

[2021-02-10 18:24] chipsnyder commented on #14240
This is being updated again as part of https://github.com/wordpress-mobile/WordPress-iOS/pull/14776

[2021-02-10 18:32] aerych commented on #15847
Tested with the current beta and with develop and everything seems to work fine for me.
@jkmassel can you confirm you have created at least one page to connect to?  Pages are different from Profiles and the error suggests there might not be one.
<img width="366" alt="Screen Shot 2021-02-10 at 12 32 16 PM" src="https://user-images.githubusercontent.com/1435271/107554813-0fdacd80-6b9c-11eb-98d6-a7c5

[2021-02-10 19:29] frosty commented on #15712
Sure! 👍

[2021-02-10 19:50] guarani opened #15857 "Users without a site are incorrectly asked to login by the widget"
### Expected behavior

Users without a site shouldn't be able to add any of the current widgets (Today stats or All Time stats).

### Actual behavior

Users who don't have a site yet (e.g. chose "Not now" option after sign up) are shown the "Log in to WordPress..." message in the widget.

### Steps to reproduce the behavior

1. Sign up for a new account
2. Skip the site creation process
3. Backgro

[2021-02-10 21:13] nerdysandy commented on #10188
Closing it as duplicate of https://github.com/Automattic/wp-calypso/issues/9014

[2021-02-10 21:50] #15411 closed, assigned to chipsnyder

[2021-02-10 21:54] aerych opened #15859 "Analytics: Use an unlocalized value when bumping WPAnalyticsStatNotificationsTappedSegmentedControl"
We bump the `WPAnalyticsStatNotificationsTappedSegmentedControl` analytic event when the Notifications tab bar's selected filter is changed, passing the title of the newly selected segment.  The title is localized which means when segmenting the event by `selected_filter` each localization will have it's own segment, requiring extra work to sum the numbers from the localization.

It would be bette

[2021-02-11 05:03] iamthomasbishop commented on #15329
My suggestion would also be a loader (the standard iOS-style spinner/loader) shown while waiting. What type of loader did you try @yaelirub? Maybe I'm missing something, but I would think a spinner would work well because it is probably narrower than the text label. 🤔

[2021-02-11 09:55] #15841 closed, assigned to antonis

[2021-02-11 13:50] #15378 closed, assigned to chipsnyder

[2021-02-11 19:19] yaelirub commented on #15329
Hey @iamthomasbishop , thanks for the input. That's what I did  but it didn't look great. I'll work on improving that

[2021-02-11 21:42] eduardozulian opened #15868 "Site Address accepts emails when trying to log in using an URL"
I've seen a few cases when users are getting an incorrect username/password message but they are sure that the credentials are correct. What is probably happening (example on 3729175-zen) is that users type their own email instead of their site URL. And for some reason, we accept that if the part after the `@` is a WP site.

### Expected behavior
To see an error message explaining to the user that

[2021-02-11 22:11] jkmassel opened #15870 "Alamofire.AFError.responseValidationFailed(reason: Alamofire.AFError.ResponseValidationFailureRea..."
**Sentry Url**: https://sentry.io/share/issue/eb331d147e8749af9d475641b46704bf/
**User Count**: 6
**Count**: 39
**First Release**: 16.7.0.20210208
**First Seen**: 2021-02-09T07:51:43.339000Z
**Last Seen**: 2021-02-11T20:19:55Z
**24 Hours**: 8
**30 Days**: 40

[code]

[2021-02-11 22:13] jkmassel opened #15871 "EXC_BREAKPOINT: connectionAvailable > release > site_id"
**Sentry Url**: https://sentry.io/share/issue/a74072ebe3d745618c1b3e8531537882/
**User Count**: 3896
**Count**: 7537
**First Release**: 16.2.0.0
**First Seen**: 2020-11-19T16:05:01Z
**Last Seen**: 2021-02-11T19:39:43Z
**24 Hours**: 9
**30 Days**: 2660
**LogID:** 21D2E56D-F97F-4F2C-BE8D-67CCDEC3605E

[code]

[2021-02-11 22:13] jkmassel opened #15872 "EXC_BREAKPOINT: connectionAvailable > release > site_id"
**Sentry Url**: https://sentry.io/share/issue/95b1772c86cb4769ad6cc7bf494540a0/
**User Count**: 3896
**Count**: 7537
**First Release**: 16.2.0.0
**First Seen**: 2020-11-19T16:05:01Z
**Last Seen**: 2021-02-11T19:39:43Z
**24 Hours**: 9
**30 Days**: 2660
**LogID:** 21D2E56D-F97F-4F2C-BE8D-67CCDEC3605E

[code]

[2021-02-11 22:14] jkmassel opened #15873 "EXC_BAD_ACCESS: Exception 1, Code 1859272688, Subcode 8 >"
**Sentry Url**: https://sentry.io/share/issue/5ab5aaf422374306b9ef30690a2b485c/
**User Count**: 116
**Count**: 235
**First Release**: 16.5.0.3
**First Seen**: 2021-01-22T17:53:24Z
**Last Seen**: 2021-02-11T21:41:36Z
**24 Hours**: 35
**30 Days**: 234
**LogID:** 2AB81A27-8107-4798-9D24-5F8F874BE2BE

[code]

[2021-02-11 22:14] jkmassel opened #15874 "EXC_BAD_ACCESS: Exception 1, Code 1832812528, Subcode 8 >"
**Sentry Url**: https://sentry.io/share/issue/bca67f20888a4174a8a9dec01ab6a301/
**User Count**: 1549
**Count**: 2743
**First Release**: 16.1.0.7
**First Seen**: 2020-11-18T10:27:10Z
**Last Seen**: 2021-02-11T12:45:08Z
**24 Hours**: 6
**30 Days**: 616
**LogID:** 955A438D-CB94-4C5A-B8F0-6DC1CC056CC9

[code]

[2021-02-11 22:15] jkmassel opened #15875 "EXC_BREAKPOINT: connectionAvailable > release > site_id"
**Sentry Url**: https://sentry.io/share/issue/aeb787066d144336a040ad9591709354/
**User Count**: 870
**Count**: 1423
**First Release**: 16.2.0.5
**First Seen**: 2020-11-30T17:47:04Z
**Last Seen**: 2021-02-11T20:00:50Z
**24 Hours**: 3
**30 Days**: 496
**LogID:** D826345C-FAF0-4591-ACC9-850BD5D298F6

[code]

[2021-02-11 22:15] jkmassel opened #15876 "EXC_BAD_ACCESS: __isKindOfUIView >"
**Sentry Url**: https://sentry.io/share/issue/d1900b9a982544f9b498ef9c83c5d660/
**User Count**: 917
**Count**: 1414
**First Release**: 15.0.1.0
**First Seen**: 2020-07-10T12:49:37Z
**Last Seen**: 2021-02-11T14:47:34Z
**24 Hours**: 6
**30 Days**: 563
**LogID:** 680A5E0F-B0BE-4250-8ACC-1601378A6F65

[code]

[2021-02-11 22:15] jkmassel opened #15877 "EXC_BREAKPOINT: release > site_id"
**Sentry Url**: https://sentry.io/share/issue/4334080afebc4664a9e8664b9eb359aa/
**User Count**: 133
**Count**: 210
**First Release**: 16.5.0.0
**First Seen**: 2021-01-12T05:33:42Z
**Last Seen**: 2021-02-11T21:59:46Z
**24 Hours**: 15
**30 Days**: 210
**LogID:** 79BEF3D4-8AC5-4BC3-A31C-9D30A2ECA303

[code]

[2021-02-11 22:44] startuptester commented on #15870
@guarani as the CTOW, can you please take a look?

[2021-02-12 00:37] guarani commented on #15876
@jkmassel the Sentry link looks broken on this one.

[2021-02-12 00:39] guarani commented on #15871
@jkmassel, the Sentry link looks broken on this one as well.

[2021-02-12 13:26] #15729 closed, assigned to chipsnyder

[2021-02-12 17:14] chipsnyder opened #15881 "User can set their Homepage to a draft in Homepage settings"
### Expected behavior
When setting your Homepage in Homepage Settings the only published pages should be made available. Selecting a Draft or trashed page would result in breaking the site.

The title should be "Choose Homepage"

### Actual behavior
All pages are currently presented and the title currently says "Choose Posts Page"

### Steps to reproduce the behavior
From `My Site`:
1. Select `Sit

[2021-02-12 18:36] elibud commented on #8238
I don't think supporting portfolios is as relevant with Gutenberg, @hypest thoughts?

[2021-02-15 12:12] malinajirka opened #15888 "Updating tracking properties in Reader"
Add missing and update ambiguous properties as per the "Required code changes" column in a spreadsheet shared on p9xfpQ-1eg-p2.

[2021-02-15 22:09] ScoutHarris opened #15893 "Comments: update remote to allow specifying type"
Currently, `CommentServiceRemoteREST:getCommentsWithMaximumCount` requests `status:all` when fetching comments. To support filtering, we need to be able to specify the `status`.

- WPKit: update comment method(s) to accept `status`.
- WPiOS: update to use new/updated WPKit methods, ensuring the current Comment list does not change.

[2021-02-16 09:38] rezzap commented on #500
<sup>2-star app review -Japan - WPiOS 16.6.1 – Feb 13, 2021</sup>

[2021-02-16 14:22] thehenrybyrd commented on #8238
My two cents: As with all custom post types, relevance depends a lot on the theme (and/or plugins) the user is working with. While Gutenberg is certainly changing the way themes are thought about, there are still many themes around (including plenty of WordPress.com themes) that use Portfolios. For someone using [Veni](https://venidemo.wordpress.com/photos-stories/) or [Orvis](https://orvisdemo.wo

[2021-02-16 14:47] SiobhyB commented on #8238
I'd give a +1 to CPTs still being relevant with Gutenberg, if I can also offer my two cents.

A lot of the benefits that come with CPTs include changes that Gutenberg doesn't overlap with, such as custom URL structures, custom taxonomies, the ability to sort content in "folders" of sorts, etc. With Jetpack's portfolio feature, for example, users will often make use of the `project type` and `proje

[2021-02-16 17:16] hypest commented on #8238
I haven't had much exposure to plans/convos about CPTs, or Portfolio for that matter, and Gutenberg other than Site Editing and how CPTs are used for capturing some of the Data Model of Gutenberg. Maybe @chipsnyder or @iamthomasbishop has some insight.

That said, I understand that CPTs are definitely a big thing in the WP community in general (self-hosted sites and similar), with WP agencies are

[2021-02-16 18:28] #15761 closed, assigned to ScoutHarris

[2021-02-16 23:32] yaelirub commented on #15714
Hey @Gio2018 , will this be fixed as part of the white headers project? can you please make sure this is fixed?

[2021-02-16 23:46] jsit commented on #500
Shouldn't this be three separate GitHub issues?

[2021-02-17 03:38] momo-ozawa opened #15900 "Milestone Notifications: Truncated Text for Most Likes In One Day Notification"
<img src="https://user-images.githubusercontent.com/6711616/108152537-93f10000-711c-11eb-8f34-8372d7dd1b18.png" width=30%>

### Expected behavior
Text should not be truncated

### Actual behavior
Text is truncated
"That's pretty awesome, well"

### Steps to reproduce the behavior
1. Go to the Notifications tab
2. Find a "Your best day for likes on X" notification
3. 👀 Notice that the last sentence

[2021-02-17 10:07] thehenrybyrd opened #15904 "Media: Unable to upload .ogg audio files to the Media Library"
### Expected behavior
In testing the new Audio Block, I expected to be able to upload any audio file from my phone to the WordPress app, in particular .mp3, .m4a, .wav and .ogg.
I expected to be able to upload a .ogg directly to the Media Library.

### Actual behavior
I was unable to upload a .ogg file in any way, including directly to the Media Library.

### Steps to reproduce the behavior

1. Ge

[2021-02-17 11:28] rezzap commented on #15596
Another report of this in 3743685-zen

Disabling cross-site tracking in Safari did not help. The only thing that helps is changing the site privacy temporarily.

[2021-02-17 18:03] AliSoftware commented on #15900
Also I noticed that if I use the arrows on the upper-right corner to go to the next notification, then back to this screen, the text is not truncated anymore.

https://user-images.githubusercontent.com/216089/108249383-4cd33100-7155-11eb-85be-63505265295f.mov

_My wild guess and 2 cents is that maybe the first time the ViewController is loaded and the first AutoLayout pass is run, UIKit doesn't ta

[2021-02-17 19:53] startuptester opened #15908 "Crash on Jetpack Scan history"
### Expected behavior
When History is tapped, the history is displayed

### Actual behavior
Crash

### Steps to reproduce the behavior
1. Go to scan
2. tap 'scan now'
3. when it says 'preparing to scan' tap 'History'
4. first time I do it, scan seems to crash and I go back to My Site
5. second time I do it, the whole app crashes

Reported by: @osullivanchris

[2021-02-17 20:19] #15893 closed, assigned to ScoutHarris

[2021-02-17 20:20] guarani commented on #15871
Closing as a duplicate of https://github.com/wordpress-mobile/WordPress-iOS/issues/15872 since the stacktraces and crash details are _identical_.

[2021-02-17 20:20] #15871 closed, assigned to guarani

[2021-02-17 21:10] ScoutHarris opened #15909 "Comments: update comment UI"
Update Comment UI per the designs.

[Design i1](https://wp.me/pbArwn-1EF)

| Normal | Pending |
|--------|-------|
| ![new_example](https://user-images.githubusercontent.com/1816888/108267890-07990a00-7129-11eb-83f0-507331f06518.png) | ![pending_example](https://user-images.githubusercontent.com/1816888/108267917-0ec01800-7129-11eb-93f6-08862dd172f8.png) |

NOTE: Since this will be released before

[2021-02-17 21:13] guarani commented on #15875
Closing in favor of https://github.com/wordpress-mobile/WordPress-iOS/issues/15872 since the stack traces are near identical except for line changes. I'm not sure why there are line changes though, since [I can't find differences between 16.2.0.0 and 16.2.0.20201126](https://github.com/wordpress-mobile/WordPress-iOS/compare/16.2.0.0...16.2.0.20201126) (using this tag in lieu of a 16.2.0.5 tag that

[2021-02-17 21:13] #15875 closed, assigned to nobody

[2021-02-17 21:37] Gio2018 commented on #15714
Sure!!

[2021-02-17 21:55] guarani commented on #15877
Closing in favor of https://github.com/wordpress-mobile/WordPress-iOS/issues/15872 which has a near identical stack trace, differences are just changes to the line numbers of method calls, which can likely be attributed to changes between 16.2 and 16.5 of the app.

[2021-02-17 21:55] #15877 closed, assigned to nobody

[2021-02-17 21:58] guarani commented on #15874
Closing in favor of https://github.com/wordpress-mobile/WordPress-iOS/issues/15873, the differences I see in the stack trace between these two issues are likely due to refactors and added features between 16.1 and 16.5.
Closing this issue as it's the older and therefore less relevant of the two.

[2021-02-17 21:58] #15874 closed, assigned to nobody

[2021-02-17 22:03] Gio2018 commented on #15714
Hey @mattmiklic ,pinging you since I understood this came up in the focused site creation, and just to make sure I understand correctly: what would be the exact expected behavior here?

When we will activate the white headers, if we don't change anything else, the behavior will reflect what is already happening in dark mode, which is:

the nav bar would still shift up, but be the same color of the

[2021-02-17 22:50] mattmiklic commented on #15714
@Gio2018 I think that's just right. It already looks fine in Dark Mode (other than the issue where the search box is no longer vertically centered on its background when it's active). The issue in light mode is that the header background is switching from blue to white but the status bar text is white on white.

[2021-02-17 22:53] Gio2018 commented on #15714
Thanks for clarifying @mattmiklic !

[2021-02-18 00:19] #15329 closed, assigned to nobody

[2021-02-18 00:22] yaelirub opened #15912 "Remove user / password screen from account creation and update email copy"
1. Remove user / password screen from account creation:
<img src="https://user-images.githubusercontent.com/1335657/108287268-68334180-713f-11eb-962c-3c6f898100e2.PNG" width="320">

2. Update signup email copy to tell the user that we created a that we created a temporary user name with insructions on how to change it if they want, similar to dotcom email copy

Current             |  Dotcom email

[2021-02-18 15:02] leandroalonso commented on #15908
@startuptester this is originally an Android issue and it has been fixed there. :)

[2021-02-18 15:02] #15908 closed, assigned to leandroalonso

[2021-02-18 17:50] mindgraffiti opened #15917 "People: My user should be first"
### Expected behavior
As a user, I expect my name to be listed first in the "People" view.

### Actual behavior
My name is sorted alphabetically with the rest of the list.

### Steps to reproduce the behavior
Go to My Site > People > Users (or Followers). The names are listed in alphabetical order.

##### Tested on iPhone 12 Pro, iOS 14.4, WPiOS 16.6.1

### Screenshots

| People > Users | People >

[2021-02-18 18:19] startuptester commented on #15826
@Gio2018 and @frosty, is there an update on this one? It's targeting the frozen branch which should ship tomorrow

[2021-02-18 18:23] Gio2018 commented on #15826
Hey @startuptester , not sure why it did not close automatically, but this issue was addressed in [this](https://github.com/wordpress-mobile/WordPress-iOS/pull/15856) PR, which got merged onto [this other one](https://github.com/wordpress-mobile/WordPress-iOS/pull/15838) which was merged and should be part of the latest beta

[2021-02-18 18:32] #15826 closed, assigned to frosty

[2021-02-18 19:27] guarani opened #15919 "Inconsistent offline support for suggestions"
### Expected behavior

Offline support for mentions and cross-posts (collectively called suggestions) should work consistently in the app. If the user has already triggered the suggestion UI while online – and then goes offline – the user should be able to continue triggering the suggestions UI throughout the app (all else being equal i.e. they are on the same site, etc). The app caches suggestion

[2021-02-18 19:41] elibud commented on #14560
Closing this one until we get more information.

[2021-02-18 19:41] #14560 closed

[2021-02-18 19:44] Gio2018 opened #15920 "No user feedback when activating a theme from the theme browser"
### Expected behavior
Activating a theme from the theme browser should provide feedback to the user while the selected theme is loaded

### Actual behavior
No feedback is provided to users until the theme is actually activated

### Steps to reproduce the behavior
- Go to "My Site/Themes" to visualize the theme browser
- Select "Activate" from the meatball menu of any theme that is not already acti

[2021-02-18 19:44] Gio2018 commented on #15920
@iamthomasbishop can you provide designs to address this issue? Thanks!!

[2021-02-18 20:54] mindgraffiti commented on #15917
This is consistent with the way Android behaves. Closing.

[2021-02-18 20:54] #15917 closed, assigned to nobody

[2021-02-18 20:59] leandroalonso opened #15924 "Jetpack Restore: display a warning for when server credentials are not configured"
### Expected behavior

1. When the user taps Restore
2. And server credentials are not configured
3. The user can't start the Restore flow and they see a warning
4. When the warning is tapped user is redirected to https://wordpress.com/settings/jetpack/site (where "site" is the site address)

### Design

<img src="https://user-images.githubusercontent.com/7040243/108420658-da288b00-7212-11eb-9bdd-

[2021-02-18 21:55] mindgraffiti commented on #15642
### To Do
- [x] Construct the the API request and inspect the response. Endpoint: `sites/{siteID}/posts/{postID}/subscribers/new`
- [x] Catch the success: false and handle it inside the success block. Make sure the bool bubbles up the callback blocks. #15958
- [ ] Create better error handling and better messaging for the user
- [ ] Figure out which Settings the user needs to change - is it a view

[2021-02-18 22:00] eduardozulian opened #15925 "Accessibility: can't create a new site/choose a domain if iOS is set to a larger text size"
When you create a new site from the app, we give the option to start with WordPress.com. You first choose a layout and then you move to the next screen, called "Choose a Domain". Users with larger text sizes will be stuck there.

Similar to #15655 but this one is apparently fixed.

### Expected behavior

Users should be able to:

- See the field **Search Domains** in order to type it
- See the res

[2021-02-18 23:17] eduardozulian opened #15927 "Offer ways to quickly copy the site URL"
It would be nice to actually copy the site URL so we could easily share the site address with others

### Expected behavior

To go to My Site, tap and hold my site URL, and see the option to copy the URL | To go to My Site > Site Settings > Address and do the same
------------ | -------------
<img src="https://user-images.githubusercontent.com/1136160/108433763-40b6a480-7225-11eb-972a-d6ef057715b3

[2021-02-19 05:46] jkmassel opened #15934 "Sharing Buttons don't reflect state from the server"
### Expected behavior
When going to Sharing > Sharing Buttons in a site, it should pull down and display the latest data from the server.

### Actual behavior
It does not

### Steps to reproduce the behavior
- Set up custom sharing settings in Calypso.
- View them in the app

##### Tested on iPhone 12, iOS 14.4, WPiOS 16.7b4

[2021-02-19 09:22] hypest commented on #15904
👋 @thehenrybyrd , took the liberty of specifying in the ticket title that this is about the Media Library, mostly to clearly differentiate it from https://github.com/wordpress-mobile/gutenberg-mobile/issues/3165. Let me know if there's more nuance and the new title is not appropriate, thanks!

[2021-02-19 10:13] #15712 closed, assigned to frosty

[2021-02-19 14:04] chipsnyder commented on #8238
I also haven't had much exposure to Custom Post Types yet. So I'm not sure I have much to add.

[2021-02-19 15:20] #15881 closed, assigned to chipsnyder

[2021-02-19 16:41] eduardozulian commented on #15868
Here's an example: 3750165-zen

[2021-02-19 21:38] emilylaguna opened #15942 "Reader Improvements: Add "Related Posts" to Reader Detail"
At the bottom of Reader Detail we should show some related posts.

### Design
![related-posts-on-reader](https://user-images.githubusercontent.com/793774/108564689-8466e800-72d1-11eb-8eed-89b71c90f4d8.png)

[2021-02-19 22:04] #15829 closed, assigned to nobody

[2021-02-19 23:36] #15909 closed, assigned to ScoutHarris

[2021-02-20 02:37] startuptester opened #15945 "Widget is storing old list of sites after logging out"
### Expected behavior
When I log out, the widget should not remember my sites

### Actual behavior
The widget keeps the old list of sites the first time you open it after logging out. Even after you log in as another user.

### Steps to reproduce the behavior
1. Login and install widgets
2. Long-press the widget to select the "Edit Widget" option
3. View the list of sites and make sure it's for th

[2021-02-20 11:17] lweathermon opened #15947 "Sign me in to my account zoosk.com"
__Originally posted by @lweathermon in https://github.com/lweathermon/Lorenzo-/issues/1__

[2021-02-20 21:20] mdrockwell commented on #15611
Another case here: 3758138-zen. I've asked them for some more device information.

[2021-02-21 02:56] iamgabrielma commented on #15611
The user replied with more info:

[2021-02-22 14:22] guarani commented on #15872
I wasn't able to reproduce this crash. At @jkmassel's suggestion I started looking into whether it's related to use of the Core Data main context. I tried adding `-com.apple.CoreData.ConcurrencyDebug 1` to the main WordPress scheme in Xcode (which makes the app crash when it encounters Core Data concurrency issues), but didn't wrap up my investigation.

@jkmassel's suggestion with regard to servic

[2021-02-22 14:29] mdrockwell opened #15952 "Add Indicator to Post Scheduling Calendar Showing If Other Posts are Scheduled"
### Expected behavior
When scheduling the publish date for a post, circle dates on the calendar view that have posts scheduled to publish.

When a date with other posts scheduled to publish is selected from the calendar view, list the other posts that are scheduled for that day.

### Actual behavior
The calendar view for post scheduling does not offer any indication of other posts being scheduled

[2021-02-22 14:52] ceyhun commented on #15876
Seems like the correct link is this: https://sentry.io/share/issue/491b0b7ce5ef43118d2913fb136a53b7/. This GH issue is also linked on that same Sentry issue.

[2021-02-22 16:53] mindgraffiti commented on #15642
**Do not** test this with an account associated with Automattic. Those accounts are whitelisted and can't block emails, regardless of what your [Reader Subscription notification settings](https://wordpress.com/me/notifications/subscriptions) say.

Endpoints that can return `success: false`
- `sites/{siteID}/posts/{postID}/subscribers/new`
- `sites/{siteID}/posts/{postID}/subscribers/mine/delete`

[2021-02-22 18:51] yaelirub commented on #15912
Looking at the data on the user / password screen seems like it  is useful for updating display name.
Closing this for now and we can revisit in the future

[2021-02-22 18:51] #15912 closed, assigned to nobody

[2021-02-22 19:19] ceyhun commented on #15872
At this moment this crash appears to affect 4k users and since you're unable to reproduce @guarani, I'm assigning this a low priority for now.

[2021-02-22 20:04] ScoutHarris opened #15955 "Comments: filter by status"
Add the ability to filter Comments by status.

Tasks:
- [x] Add `FilterTabBar` to `CommentsViewController`. [#15966]
- [x] Fetch comments for each filter. [wordpress-mobile/WordPressKit-iOS/pull/357, #15972]
- [x] Update UI to display all Comments correctly for each filter. [ #15998]
- [x] Add state restoration. [#16001]
- [x] Show offline NRV. [#16105]
- [x] Save selected filter. [#16108]
- [x] T

[2021-02-22 22:00] mindgraffiti commented on #15642
When making a request to `sites/{siteID}/posts/{postID}/subscribers/new`, [adding a subscriber](https://opengrok.a8c.com/source/xref/trunk/public.api/rest/wpcom-json-endpoints/class.wpcom-json-api-post-subscribers-v1-1-endpoint.php?r=133001#64-76) defaults to `success: false`.

If the subscriber is truthy (exists, has a valid email address, does not have "Block emails" enabled), then it looks for

[2021-02-22 23:32] jkmassel commented on #11849
16.8 out-of-date dependencies:

[code]

[2021-02-23 17:36] chantalcoolsma opened #15963 "Incorrect translation on iOS 14 widget"
I was testing around with WordPress version 16.8. Added a widget to my Home Screen:

![IMG_3544](https://user-images.githubusercontent.com/867632/108883424-b3e55f80-7605-11eb-8501-b8fd2a561d96.jpeg)

Two comments:
- "This Week" isn't translatable. Checked the strings on WordPress.org, but it is not added yet.
- In this example the first day shows as "| day". Shouldn't that be "Today"?

iPhone 6s /

[2021-02-23 18:36] mdrockwell commented on #15611
Another case here: 3766693-zd-woothemes

They have an iPhone 12 Pro Max

[2021-02-23 18:46] emilylaguna opened #15964 "Reader Improvements: Redesign "Topics you might like""
Show topics using topic chips instead of a list to reduce vertical space taken up by the "Topics you might like" section.

![topics-you-might-like-card](https://user-images.githubusercontent.com/793774/108892126-84baf800-75dd-11eb-9195-6d026ecd6c5d.png)

[2021-02-23 21:01] trevormeier opened #15965 "Stories post type non-functional for .org sites"
### Expected behavior

1. Go to Posts Page
2. Press FAB button
3. Menu option to create blog post or story

### Actual behavior

1. Go to Posts Page
2. Press FAB button
3. New blog post opens in block editor

### Steps to reproduce the behavior

Press FAB button in post list on existing wordpress.org site in WPiOS

##### Tested on [device], iOS [version], WPiOS [version]

iPhone X
iOS 14.4
WPiOS 1

[2021-02-24 13:54] #15873 closed, assigned to guarani

[2021-02-24 14:30] ceyhun commented on #15870
Assigning low priority as currently it affects ~500 users and since it doesn't seem to be a crash but a logged error.

[2021-02-24 14:40] #15153 closed, assigned to Gio2018

[2021-02-24 16:31] eduardozulian commented on #15868
Another example: 3768131-zen

[2021-02-24 20:26] mindgraffiti commented on #15642
To create better error handling, we can detect if the user has blocked emails. If they have, we can return a message to the user like "Could not follow conversation. Please check you do not have emails blocked in settings." (Be sure to take the final message to the user and run it by editorial - this one seems difficult to communicate the user in a clear manner).

To see if blocked emails is enabl

[2021-02-25 15:36] frosty commented on #15900
It looks like this is resolved by our work for Milestone Notifications – you can see on the screenshots in https://github.com/wordpress-mobile/WordPress-iOS/pull/15968 that all of the text of this particular notification is visible as of our latest changes.

[2021-02-25 15:36] #15900 closed, assigned to nobody

[2021-02-25 23:51] iamthomasbishop commented on #15920
Hey @Gio2018, thanks for the ping! I haven't had a chance to take an in-depth look at this, but I have a proposal for something that might not require design work.

It looks like we have an existing "loading" component that perhaps we could reuse in this context. Here's the component I'm referring to:

![image](https://user-images.githubusercontent.com/1200432/109234709-cb515380-7791-11eb-804e-fa2

[2021-02-26 02:06] #15924 closed, assigned to nobody

[2021-02-26 04:55] reginabally commented on #15651
Another report in 3762505-zen.

I can confirm they're following 1763 sites now.

[2021-02-26 08:13] momo-ozawa opened #15985 "Followed Tags: tags that contain multiple words are hyphenated"
<img src="https://user-images.githubusercontent.com/6711616/109273411-84c52d00-7855-11eb-9d78-9f305297cb61.jpeg" width=30%>

### Expected behavior
Tags that contain multiple words are shown as is. (i.e. The tag "social media" should be displayed as "social media")

### Actual behavior
Tags that contain multiple words are hyphenated. (i.e. The tag "social media" is displayed as "social-media")

###

[2021-02-26 08:14] momo-ozawa commented on #15985
### Investigation Notes

When we sync the remotely fetched topic with the locally stored topic, "display_name" value is mapped to the local topic's title instead of the "title" value, if it exists

[code]

Ref for more context: [normalizeTopicDictionary:subscribed:recommended:](https://github.com/wordpress-mobile/WordPressKit-iOS/blob/c555981d0839d5b55d6a47900cf896aa2574a4da/WordPressKit/ReaderTop

[2021-02-26 15:32] zwarm opened #15986 "Jetpack: Backup Download Notice Banner Action Button Tapped Tracking"
Add four new collection points to track button taps from the notice banner.  The following were added in WPAndroid release 16.8.

**Within Backup List**
JETPACK_BACKUP_DOWNLOAD_FILE_NOTICE_DOWNLOAD_TAPPED
JETPACK_BACKUP_DOWNLOAD_FILE_NOTICE_DISMISSED_TAPPED

**Within Activity Log List**
ACTIVITY_LOG_DOWNLOAD_FILE_NOTICE_DOWNLOAD_TAPPED
ACTIVITY_LOG_DOWNLOAD_FILE_NOTICE_DISMISSED_TAPPED

cc @emilyl

[2021-02-26 16:07] dcalhoun commented on #15495
I experienced this issue on version 16.7 available in the public App Store.

* **Device:** iPhone 11 Pro
* **OS:** iOS 14.4
* **App name:** WordPress
* **App version:** 16.7

<details>
<summary>Screenshots</summary>

![IMG_1723](https://user-images.githubusercontent.com/438664/109324296-14e58100-781a-11eb-9b7d-f40c4ce47f8f.jpeg)
![IMG_1724](https://user-images.githubusercontent.com/438664/10932429

[2021-02-26 19:06] ScoutHarris opened #15987 "Notifications: detail view is showing incorrect nav bar in internal & release versions"
### Expected behavior
In internal and release app versions, the nav bar should be the old blue one.

### Actual behavior
- The nav bar is the white one.
- On iPhone with split view, the Notifications nav bar turns grey when rotating into landscape (i.e split view).
- On iPhone, the top of the details view is under the nav bar.
- On iPad, the nav bar has a back button that doesn't do anything.

###

[2021-02-26 22:21] emilylaguna commented on #15876
I've tried everything I possibly can to reproduce this and I have not been able to.  I looked into the offending line but didn't see any glaring issues. Will take a look again next week.

[2021-02-26 23:33] guarani commented on #15032
Un-assigning myself because I'm not actively working on this.

[2021-03-02 02:08] startuptester commented on #15965
This is expected behaviour due to it being a jetpack block.

[2021-03-02 02:08] #15965 closed, assigned to nobody

[2021-03-02 14:47] ceyhun commented on #14167
Hey there @bjtitus @frosty 👋 Do you think it will ever be possible to add Homepage settings to non-jetpack self-hosted sites somehow?

cc @chipsnyder

[2021-03-02 18:29] designsimply commented on #15556
<sup>(internal reference: p9xfpQ-1cO-p2#comment-2884)</sup>

[2021-03-03 05:22] startuptester commented on #15934
Medium based on usability

Added to groundskeeping

[2021-03-03 05:49] reginabally opened #16002 "Toolbar stuck in the middle of editing screen"
It was reported in 3788477-zd-woothemes that when the user was editing a post on the iPad, the toolbar stays in the middle of the screen and they weren't able to focus on a new paragraph block to type.

### Expected behavior

It was expected that the toolbar moved to the bottom of the screen when the on-screen keyboard isn't active.

### Actual behavior

The toolbar stays in the middle of the scre

[2021-03-03 12:32] maximare commented on #14956
We are having the same issue, and it's happening a lot. Could you increase the priority of the issue?

[2021-03-03 20:22] startuptester commented on #15847
@aerych, @jkmassel did have a page and then asked me to run it and it also did not work for me. This might have changed a bit and the issue might be Facebook, not us? Not sure about that.
When I go through this now in the 16.8 beta:
1. the spacing in the border is weird
2. It seems to think I have no pages but I have 5 published. (I am also admin)
3. I cannot interact with the "Create a Page" butt

[2021-03-03 21:29] jinnypark commented on #10663
I was beta testing WordPress iOS app and went down the rabbit hole from ambiguous error messages. This was for a self-hosted, jetpack-connected wp.org sites.
p4a5px-2HO-p2

- [failed to insert media](https://mobilerequests.files.wordpress.com/2021/01/img_8364.png) error message: this error message was caused by a broken jetpack connection, which is hard to figure out.
- [Frozen loading page](https

[2021-03-03 21:34] designsimply commented on #14956
@maximare it looks like we aren't seeing very many (6 total) of the original error "NSInvalidUnarchiveOperationException: *** -[NSKeyedUnarchiver decodeInt64ForKey:]: value for key (start) is not an integer number" in our app and that it has not happened in any of our latest versions, so I don't think the priority should be raised in our case. Unfortunately, I am not sure what caused the error to

[2021-03-03 22:20] aerych commented on #15847
Was the movie from the test account that had pages?  Facebook says there are no pages and shows a prompt to create one at the 5 second mark.

<img width="272" alt="Screen Shot 2021-03-03 at 4 19 15 PM" src="https://user-images.githubusercontent.com/1435271/109880165-342a4700-7c3c-11eb-80e6-7b4f2f858e42.png">

[2021-03-03 22:29] aerych commented on #15847
@startuptester what do you see when you try from Calypso?

[2021-03-03 23:20] aerych commented on #15847
What do you see at https://www.facebook.com/settings?tab=business_tools&ref=settings
Is your connection configured to share pages or to block access?
Mine looks like:
<img width="517" alt="Screen Shot 2021-03-03 at 5 19 16 PM" src="https://user-images.githubusercontent.com/1435271/109885785-be76a900-7c44-11eb-8fad-9316176f8c21.png">

[2021-03-04 02:38] bjtitus commented on #15602
This was fixed in https://github.com/wordpress-mobile/WordPress-iOS/pull/15936

[2021-03-04 02:38] #15602 closed, assigned to bjtitus

[2021-03-04 02:42] bjtitus commented on #15604
This was fixed in https://github.com/wordpress-mobile/WordPress-iOS/pull/15936

[2021-03-04 02:42] #15604 closed, assigned to nobody

[2021-03-04 02:43] bjtitus commented on #15603
This was fixed in the newer StoryMediaLoader implementations.

[2021-03-04 02:46] #15603 closed, assigned to nobody

[2021-03-04 02:51] bjtitus commented on #15602
This was fixed in https://github.com/wordpress-mobile/WordPress-iOS/pull/15903

[2021-03-04 02:51] bjtitus commented on #15560
This was fixed in: https://github.com/wordpress-mobile/WordPress-iOS/pull/15936

[2021-03-04 02:51] #15560 closed, assigned to bjtitus

[2021-03-04 03:06] bjtitus commented on #15601
Publishing without a title is still possible but should not cause an error.

[2021-03-04 03:06] #15601 closed, assigned to nobody

[2021-03-04 13:58] #15807 closed, assigned to emilylaguna

[2021-03-04 16:17] leandroalonso commented on #15556
Hi @rezzap! Thanks for sharing the user's feedback here.

As for now, we don't have plans to include this feature in the Reader in the near future. Please let us know if more users request that feature, we can always reassess it.

[2021-03-04 16:17] #15556 closed, assigned to nobody

[2021-03-04 17:37] #15964 closed, assigned to emilylaguna

[2021-03-04 21:40] sentry[bot] opened #16014 "NSInvalidArgumentException: *** -[NSRegularExpression enumerateMatchesInString:options:range:usingBlock:]: nil argument"
Sentry Issue: [WORDPRESS-IOS-3A2K](https://sentry.io/organizations/a8c/issues/2208982639/?referrer=github_integration)

[code]

[2021-03-05 04:03] bjtitus commented on #15587
Fixed in https://github.com/wordpress-mobile/WordPress-iOS/pull/15946

[2021-03-05 04:03] #15587 closed, assigned to bjtitus

[2021-03-05 04:04] bjtitus commented on #15269
Added in https://github.com/wordpress-mobile/WordPress-iOS/pull/15913

[2021-03-05 04:04] #15269 closed, assigned to bjtitus

[2021-03-05 05:42] momo-ozawa opened #16018 "Small Reader Improvements: Topics Picker Empty State"
Related to #15806

This issue is about showing some illustration and copy that there are no recommendations left on an empty state.

Start Instructions (⚠️):
1. Wait for @mbshakti to provide illustration and copy.
2. Remove the `Needs Design` label.
3. Start this issue.

[2021-03-05 17:29] bjtitus opened #16023 "Stories: Investigate Media Upload failures"
### Expected behavior

* Media upload should occur after publish/save while the post is uploaded
* Any errors should be silently reported as failed uploads can be retried from the post cell

### Actual behavior

* Media upload may occur before post publishing
* Media upload failures will show an alert with too much information:
<a href="https://user-images.githubusercontent.com/3250/110151198-6bfc

[2021-03-05 17:58] #15806 closed, assigned to momo-ozawa

[2021-03-05 18:36] ceyhun commented on #15522
Hello there 👋  I gave this a shot already with https://github.com/wordpress-mobile/WordPress-iOS/pull/16025

[2021-03-05 19:27] ceyhun commented on #14926
I also tried to reproduce this with the information here but I couldn't.

1. Backgrounded the app on the notifications tab
1. Created a new post on web
1. Used a second new user to like the post
1. Pressed notification to open the app
1. New user's avatar was loaded correctly

And with these other varieties:
- Tried while the app is running and the notifications tab is open
- Tried with a cached u

[2021-03-05 19:49] ceyhun commented on #15366
I tried to reproduce this following the `BREADCRUMBS` in different events on Sentry but wasn't successful. I checked to find similar issues to this using the `Similar Issues` tab on Sentry and seems like there are ~50 more that are similar to this one. Found a similar issue, which is also open, leaving it here as future reference: https://github.com/wordpress-mobile/WordPress-iOS/issues/15368.
The

[2021-03-05 22:07] emilylaguna opened #16028 "Jetpack Install: wpios_install_jetpack_remote_failed does not track"
### Expected behavior
When the install fails the `wpios_install_jetpack_remote_failed` should be tracked online

### Actual behavior
When the install fails the `wpios_install_jetpack_remote_failed` is tracked locally but is rejected online

### Steps to reproduce the behavior
1. Launch the app
2. Add a self hosted site without Jetpack installed
3. Tap on stats
4. Tap to install
5. On failure see i

[2021-03-05 22:37] #16028 closed, assigned to emilylaguna

[2021-03-05 23:02] #8630 closed

[2021-03-05 23:04] #14977 closed, assigned to nobody

[2021-03-06 00:10] startuptester commented on #14756
Confirmed this is still possible in 16.8

[2021-03-06 01:18] startuptester commented on #15847
This is working now in 16.8.

h/t @aerych for the walkthrough

[2021-03-06 01:18] #15847 closed, assigned to nobody

[2021-03-08 15:31] ashleyleia opened #16036 "Arbitrary link added when inserting md"
When adding an image to a draft post from the Wordpress media library, an arbitrary link is attached to the image.  In particular, the app is adding a link to a Youtube video that I have embedded elsewhere on my site.

This is consistent across multiple images and multiple draft posts.  Tested on iPhone 8, iOS 14.4, WPiOS 16.7.1.

![IMG_2645](https://user-images.githubusercontent.com/77593027/1103

[2021-03-08 18:23] #15476 closed, assigned to nobody

[2021-03-08 19:49] #15942 closed, assigned to momo-ozawa

[2021-03-08 20:00] AliSoftware commented on #14926
Encountered this today with WPiOS Internal 16.8 (build 16.8.0.20210304). You can see that on 5th row, notification about Jeremy's post have Tiffany's Gravatar.

![image](https://user-images.githubusercontent.com/216089/110374596-22d4a680-8051-11eb-84ea-b451b8bb4db9.png)

[EDIT] Wait, actually pull-to-refresh does not fix the issue this time. That used to fix it last time I saw this issue… but this

[2021-03-08 20:08] jkmassel commented on #11849
16.9 out-of-date dependencies:

[code]

[2021-03-08 22:57] ScoutHarris commented on #15762
I'm unable to reproduce this. I tried with 16.8 and 16.9.

It's possible I accidentally fixed it when I addressed some post card / post details state issues on https://github.com/wordpress-mobile/WordPress-iOS/issues/15761, which was complete in 16.8.

[2021-03-08 22:57] #15762 closed, assigned to ScoutHarris

[2021-03-09 00:47] ScoutHarris commented on #15496
Hey @mattmiklic .

Question please. With the filter tab bar removed, we no longer have a count.

| <img width="337" alt="Screen Shot 2021-03-08 at 5 39 24 PM" src="https://user-images.githubusercontent.com/1816888/110401131-40e0dd80-8036-11eb-9428-a21a777fd387.png"> | <img width="339" alt="Screen Shot 2021-03-08 at 5 38 27 PM" src="https://user-images.githubusercontent.com/1816888/110401143-46d6be

[2021-03-09 15:59] mattmiklic commented on #15496
@ScoutHarris Yeah, I think this makes sense.

[2021-03-09 20:14] #15496 closed, assigned to ScoutHarris

[2021-03-09 22:45] bjtitus opened #16054 "Stories: Publishing a Story too quickly fails to change status"
### Expected behavior

A new story should be published after hitting the "Publish" button

### Actual behavior

Story is still in Drafts after hitting "Publish"

### Steps to reproduce the behavior

* Create a new story
* Add several media items (this will increase the upload time)
* Quickly publish the post
* Notice that the post stays in Drafts and does not move to Published

##### Tested on iPh

[2021-03-10 09:48] poojashetty18 commented on #15843
The same user got back again on 3804890-zen

[2021-03-10 10:19] poojashetty18 opened #16056 "Plugins: There is a message `Error loading plugins` when we try to search for plugins or check the popular category"
### Expected behavior
The plugin page should load without any errors

### Actual behavior
The popular plugin are and the search option throws the `Error loading plugins` message even though the site is connected to Jetpack

### Steps to reproduce the behavior
1. Head to My Site> Plugins
2. Scroll down to 'Popular' plugins and you will see the error
3. Enter any random plugin on the search bar and

[2021-03-10 10:20] poojashetty18 commented on #16056
Also reported on 3808103-zen

[2021-03-10 19:30] frosty opened #16057 "Update design of PostPostViewController"
PostPostViewController (accessible by tapping on the notice that appears after publishing a post) is looking a little dated:

<img src="https://user-images.githubusercontent.com/4780/110686034-d5824180-81d6-11eb-94c0-4c1705ac3bae.png" width=300>

Let's make a few tweaks to help it fit in with the rest of the app:

- Change the background to white
- Text to use `labelColor` and `secondaryLabel`
- B

[2021-03-10 23:58] #15738 closed, assigned to ScoutHarris

[2021-03-11 00:13] bjtitus opened #16061 "Stories: Media Library sometimes does not open"
### Expected behavior

* Tapping the Photo/Media library button in the bottom left should open the picker.

### Actual behavior

* Tapping this button does not open the picker in some cases.

### Steps to reproduce the behavior

* Create a new Story Post
* Tap the media picker in the bottom left
* Select an item
* Dismiss the post
* Start over and repeat these steps until the picker stops respondi

[2021-03-11 01:09] bjtitus opened #16062 "Stories: Editor can be rotated to landscape when editing from Gutenberg"
### Expected behavior

* The Story editor should be portrait only

### Actual behavior

* The editor can be rotated to landscape when opened from the Gutenberg editor

### Steps to reproduce the behavior

* Open an existing Story post
* Edit a story block
* Rotate the device to landscape

![IMG_4478](https://user-images.githubusercontent.com/3250/110720366-a87c6180-81cb-11eb-98e2-4ba1c1a77437.PNG)

[2021-03-11 01:18] reginabally opened #16063 "Accessibility: Unable to add a text overlay for Story post with VoiceOver"
It was reported in 3803957-zd-woothemes that a user without eyesight wasn't able to access the "A" button to add a text overlay when creating a Story post with the app.

### Expected behavior

The user would expect to be able to "tap" on the "A" button to add a text overlay with VoiceOver.

### Actual behavior

The "A" button wasn't accessible with VoiceOver.

##### Reported on WPiOS 16.8

I'm ask

[2021-03-11 03:03] iamgabrielma commented on #16056
Another case on 3800511-zen

[2021-03-11 04:23] yaelirub commented on #16056
@leandroalonso , we will need a hotfix for this most likely. Can you please address this?
From my investigation it seems that this https://github.com/wordpress-mobile/WordPressKit-iOS/blob/c8faa1585050f6937f9315b78356a03f7f40189e/WordPressKit/PluginDirectoryServiceRemote.swift#L122

returns:
` - debugDescription : "Expected to decode Dictionary<String, Any> but found an array instead."`

Since it'

[2021-03-11 13:50] guarani opened #16065 "Allow stories to be captured without microphone access"
### Expected behavior

When creating a Story, the user should be able to capture media with the camera without granting microphone permission (i.e. without tapping the "Allow access to microphone" button).

### Actual behavior

Until the user grants the app microphone permission, they can't capture media.

### Steps to reproduce the behavior

1. Tap the Floating Action Button on the My Sites scree

[2021-03-11 13:59] guarani opened #16066 "Allow user to exit Story editor without confirmation when no changes were made"
### Expected behavior

If the user opens the Story editor and immediately exits, the editor should close immediately without prompting the  for confirmation.

### Actual behavior

If the user opens the Story editor and immediately tries to exit the editor (without having made any changes), they are presented with a "You have unsaved changes." bottom sheet despite having made no changes.

### Steps

[2021-03-11 14:19] leandroalonso commented on #16056
@yaelirub I'm pretty sure something changed on the API side. This affects older versions of the app and this code wasn't touched for quite some time.

@emilylaguna will help us with it.

[2021-03-11 15:18] yaelirub commented on #16056
It affects production and beta as well

[2021-03-11 16:48] emilylaguna commented on #16056
**What's going on?**
Looked into this, found that the real error is: `"Parsed JSON number <81.84055644729803> does not fit in Int.`

which happens when processing the `PluginDirectoryEntry.rating` property.

The rating property is set to Int and some of the other plugin API's return the rating as an Int still.

**The Fix**
~Changing it to a Double fixes this issue and still supports the other plug

[2021-03-11 16:56] mdrockwell opened #16068 "Media: Unable to upload audio file from Voice Memos app"
### Expected behavior
Audio files recorded in the Voice Memos app and saved to Files should upload to media library.

### Actual behavior
Error occurs instead:

[code]

### Steps to reproduce the behavior
1. Record an audio clip in the Voice Memos app.
2. Tap on the … icon and select "Save to Files".
3. Save the file in any location.
4. In the WordPress app, navigate to the Media Library
5. Tap on

[2021-03-11 18:44] ScoutHarris commented on #15651
I've added this to the Hummingbird backlog. It'll take a bit of work to figure out and implement a solution, so it's best to treat it as a project.

[2021-03-11 18:52] ScoutHarris commented on #15496
@khaykov @develric I noticed Android has this same issue. Just bringing it to your attention that we've removed it from iOS.

[2021-03-11 21:05] eduardozulian commented on #15920
Just wanted to cross-reference this issue since it might slightly overlap: https://github.com/wordpress-mobile/gutenberg-mobile/issues/3174

[2021-03-11 22:08] eduardozulian opened #16071 "Stories: Recorded videos are missing/black, only sound available"
Recording a video directly as a Story returns a black/missing video with only sound available. The same does not happen when you choose a video from your media library.

### Expected behavior
To see the video I just recorded for my story.

### Actual behavior
* The video is missing/black
* Sound is available
* You can still add text elements, but they will appear in front of a black background

##

[2021-03-11 22:42] startuptester opened #16072 "Choose a Domain screen not right in Dark Mode"
### Expected behavior
Same boxes as light mode

### Actual behavior
![image](https://user-images.githubusercontent.com/66104034/110865056-3dd92d80-8280-11eb-97fc-e30da938f1d5.png)
![image](https://user-images.githubusercontent.com/66104034/110865072-4598d200-8280-11eb-90e5-84126caf8fe5.png)

### Steps to reproduce the behavior
Create a new site in Dark Mode

##### Tested on [device], iOS [version]

[2021-03-11 22:48] mattmiklic opened #16073 "Signup: gray background shouldn't appear behind grouped table header and footer."
On the account confirmation screen (epilogue), there is a gray background behind the Account Details header and password footer. These elements should not have a background color of their own (it should be white in light mode, black in dark mode).

![IMG_4437](https://user-images.githubusercontent.com/1396552/110865629-e643bd80-8291-11eb-84d1-9a18c88537b4.PNG)
![IMG_4438](https://user-images.githu

[2021-03-11 23:17] ScoutHarris commented on #15401
@startuptester I've fixed the Latest Post Summary on #16074 . The widget problem was discussed in Slack (after this issue was created) and was determined to be an iOS bug, so I'm ignoring that part.

[2021-03-11 23:22] mattmiklic opened #16075 "Login: Sign in request doesn't appear when app is open."
When trying to approve a WordPress.com sign in request in the apps, I did not receive the sign in request when the app was open.

The sign in request worked fine both when the app was in the background and when the device was locked.

This was tested in versions 16.8 and 16.9 beta.

I was trying to log in to calypso on the web using the mobile app to verify the login.
It worked fine when the app w

[2021-03-11 23:53] mattmiklic opened #16076 "Sometimes when publishing a story post, images are uploaded but don't appear in the story."
While testing 16.9: on my first time adding a Story post, the images were uploaded (I can see them in my media library) but they don't appear in the story, either in the app when viewing the post, or in a web browser on my desktop. Out of four images, only the third actually appears when viewing the story.

The story is viewable here: https://mattkjhshhwjji999.code.blog/2021/03/11/snow/

In Chrome

[2021-03-12 02:29] jd-alexander commented on #16068
@ceyhun could this in any way impact Audio block flow? meaning someone may try to do an upload this way to be able to access it from the Audio block?

[2021-03-12 02:44] dd32 commented on #16056
Just noting that I've corrected the root issue and it looks like the API is returning correctly again.

The average rating on dotorg is a x.y number, like 4.1, which is then converted to a percentage for this API.. Unfortunately, I had changed something that while it worked in theory, had resulted in extra precision, so a raw 4.11 would be converted to 82.2% instead of 4.1 => 82%.

I've additional

[2021-03-12 02:55] startuptester opened #16078 "View Site: the site title and close/reload icons aren’t visible in light mode"
When I tap View Site in the My Site menu, the site title and close/reload icons aren’t visible in light mode. This was not present in 16.8.
This is visible in other webviews; i.e. Pages > ... > View and Blog Posts > View

**This is a regression in 16.9**

![image](https://user-images.githubusercontent.com/66104034/110885181-9c63d300-82a3-11eb-903f-3d51ac89abe5.png)
![image](https://user-images.git

[2021-03-12 05:46] kelasante commented on #15596
Similar issue on 3813388-zen. Changing site privacy seems to help.

[2021-03-12 09:23] develric commented on #15496
Thanks for the ping @ScoutHarris 🙇  ! [Issue created](https://github.com/wordpress-mobile/WordPress-Android/issues/14246) and added to the Android P2 project 👍   (cc @khaykov )

[2021-03-12 12:15] leandroalonso commented on #16056
Thanks, @dd32 and @emilylaguna for fixing that!

Tested in the current WPiOS version and older versions and the issue is now fixed.

[2021-03-12 12:15] #16056 closed, assigned to nobody

[2021-03-12 12:35] ceyhun commented on #16068
Yes indeed this seems to not work on Audio block as well. I was able to reproduce this on WPiOS 16.8 and 16.9 both from media library and Audio block on a wpcom site with premium plan.

[2021-03-12 14:52] eduardozulian commented on #16071
Here are the specs for the user's report:

* iOS version: 14.3
* App version: 16.8
* Device model: iPhone SE

[2021-03-12 14:57] mdrockwell opened #16084 "Add Option to Publish Page from Share Extension"
### Expected behavior
When sharing content to the app through the app's share extension, there should be an option to publish a page instead of a post.

### Actual behavior
When sharing content to the app through the app's share extension, the content is always published as a post.

### Steps to reproduce the behavior
1. Open a text editing app such as Edit, iA Writer, or Bear.
2. Open a note or t

[2021-03-12 19:01] Gio2018 commented on #15945
Looks like we are not alone:
https://stackoverflow.com/questions/63764083/how-to-reset-intent-extension-configurations-in-widgetkit

apparently there is not a way (yet) to reset the intent configuration resulting in the same issue described in the above post.

Let's keep this one open and keep an eye on future versions of the api.

[2021-03-12 19:38] frosty commented on #15714
This issue will be fixed by #15714, once large titles / white headers is shipped.

[2021-03-12 19:58] startuptester opened #16087 "Plugins: horizontal scrolling doesn't work and nothing from the Featured section can be selected"
### Expected behavior
I expect to be able to scroll horizontally through the rows and be able to select a plugin from the row of Featured ones

### Actual behavior
**1. Scrolling: I cannot scroll horizontally in any row
2. Featured row: they all seem to be disabled
3. Popular row: It opens a list view when I select one, I don't think that is right**

![IMG_9FF046E363EF-1](https://user-images.githu

[2021-03-12 20:45] mdrockwell commented on #9659
Another request: 3813364-zen

[2021-03-12 23:45] #15401 closed, assigned to ScoutHarris

[2021-03-15 20:41] eduardozulian commented on #16023
Reported in 3817908-zen

[2021-03-15 20:43] eduardozulian commented on #16023
@bjtitus is there anything specific we could ask users for in terms of troubleshooting? I was not able to reproduce this with a WordPress.com site.

[2021-03-15 20:58] bjtitus commented on #16023
@eduardozulian Thanks for reporting this! There are two major things we can try:

1. Find out if they are in a bad network environment. Also, find out if the post is able to be published following dismissal of this message. It should be stored as a Draft with a "Failed" state

2. Ask them to update to version 16.8.1 and see if they experience any issues publishing. That version removes this alert

[2021-03-16 03:25] momo-ozawa opened #16098 "Reader Detail: buttons are unresponsive if the post fails to load"
### Expected behavior
When a post fails to load on Reader Detail, the buttons (open in browser, menu, share) should be responsive

### Actual behavior
When a post fails to load on Reader Detail, the buttons (open in browser, menu, share) are not responsive

### Steps to reproduce the behavior
Not sure how to reproduce this error. Discovered during calls for testing.
Ref: p5T066-21h-p2#comment-7554

[2021-03-16 04:42] bjtitus commented on #16065
The corresponding Kanvas issue: https://github.com/tumblr/kanvas-ios/issues/41

[2021-03-16 04:51] bjtitus commented on #16076
The post content includes the local URL for the media. It appears to have the upload ID for the media but has not updated to reference the remote URL.
`file:///var/mobile/Containers/Data/Application/64E40147-73E3-4F12-B2F5-380275B4A832/Documents/Stories/5648966144`

It seems like something probably went wrong with the upload observer. Some possibilities that come to mind which I'll check out for r

[2021-03-16 13:46] mattmiklic commented on #16076
Hey @bjtitus just in case it's useful --

In my case the answer to both of these is "no." I waited for the app to upload/publish, then attempted to view the story post by tapping the View button in the notice that popped up when it was published.

[2021-03-16 14:00] ceyhun opened #16101 "Blocklist values for comments are not persisted"
### Steps to reproduce the behavior
1. Go to `Site Settings` > `Discussion` > `Blocklist`
1. Add a new word
1. Go back to `Site Settings`
1. Go into `Discussion` > `Blocklist` again

### Expected behavior

See the newly added word in the list

### Actual behavior

The new word doesn't appear

New word also doesn't appear on web:
1. Go to your site's `Settings` from the admin panel
1. Switch to `Di

[2021-03-16 14:26] #15522 closed, assigned to nobody

[2021-03-16 17:01] jd-alexander commented on #16075
I also observed this very behavior during testing. I did not receive the sign-in request while the app was open.

[2021-03-16 21:05] eduardozulian opened #16106 "Reader: In-app browser preview hides/cuts important elements"
When you preview a post from the Reader using the 🌏 icon, you get a preview of the site itself. However, some elements (especially fixed ones like cookie-related banners) are hidden behind the bottom bar and cannot be used.

### Expected behavior
To be able to access all the elements from the in-app preview.

### Actual behavior

The bottom overlay bar gets on top of important elements like the bu

[2021-03-16 22:06] #15768 closed, assigned to nobody

[2021-03-17 00:16] illusaen commented on #15727
This unfortunately is a bit more complex of a problem than it first seemed.

The `WPStyleGuide` sets the `UITextField`'s `appearance` proxy to gray for all `UISearchBar`s. This can't be overridden via setting `tintColor` without setting the proxy again.

* If I set the appearance proxy, it will modify all other `UISearchBar`s.
* If I put the Zendesk view controller into a custom parent view contro

[2021-03-17 00:20] ScoutHarris opened #16110 "Comments: group by day"
Tasks:
- [x] Group comments by day. [#16130]
- [x] Remove timestamp from Comment cell. [#16130]

Design: (V1 pbArwn-1EF)

![comment_enhancements](https://user-images.githubusercontent.com/1816888/108762951-f7f53900-750d-11eb-9e2b-a55e494f9869.png)

[2021-03-17 00:29] ScoutHarris commented on #15727
This view is created by the Zendesk SDK. We simply display what Zendesk provides. My 2 cents - I don't think we should hack our way around this. 🤞 Zendesk will fix it in a future release.

[2021-03-17 00:47] startuptester commented on #15727
That makes sense to me. I agree with @ScoutHarris

[2021-03-17 00:58] illusaen commented on #15727
Yep it is, but you can actually customize the view controller via the appearance proxies. Unfortunately the colors aren't unified across the app :)

[2021-03-17 03:22] iamgabrielma commented on #16023
3817908-zen replied with more details:

I'll ask them to check for drafts in failed state, as they're already using 16.8.1 and the problem persists. Some other information they've added:

AFAIk this goes through the WP-API and whatever they've added to the `/wp-login` shouldn't affect the media upload, is that right?

[2021-03-17 03:34] bjtitus commented on #16023
Yes, that's correct. If they are able to upload Media normally through the app, uploading stories should work as well. The same APIs are used. That might be one other thing to confirm, whether they are able to upload other Media outside of Stories.

[2021-03-17 08:02] thehenrybyrd commented on #9015
Another in #3825927-zen

[2021-03-17 10:20] mbshakti opened #16112 "Add margin to the bottom of related posts"
A small request to add the same amount of margin that exists at the top of related posts to the bottom as well. This way there's a bit of room at the bottom of related posts. Thank you so much :)

<img width="992" alt="Screen Shot 2021-03-17 at 3 49 19 PM" src="https://user-images.githubusercontent.com/6350997/111452274-5d68ce00-8738-11eb-9344-95842dc4d743.png">

[2021-03-17 18:42] aerych opened #16114 "Reader: Do not show recommended posts on P2 articles"
For more discussion see: p1615940900000100-slack-wpmobile

P2 sites serve a project management function and are not your typical blog. From this perspective the recommended posts list seems out of place at the bottom of a P2 article.

Let's opt to not show recommended posts when the article belongs to a p2.

Related: https://github.com/wordpress-mobile/WordPress-Android/issues/14273

[2021-03-17 21:09] #16078 closed, assigned to frosty, chipsnyder

[2021-03-18 00:57] reginabally commented on #14572
Another report in 3829199-zd-woothemes with screenshots attached in the ticket. According to one of the screenshots, the duplicate posts have the "Upload failed" status.

Device: iPhone 7 (iPhone9,3)
iOS: 14.4
App version: 16.7.1

[2021-03-18 01:04] startuptester opened #16122 "Site Creation flow: flicker when switching between mobile and desktop view"
reported by @jd-alexander

### Expected behavior
preview loads cleanly

### Actual behavior
When I selected a design and clicked Preview there would be a flicker from the mobile layout to the desktop layout during loading.

https://user-images.githubusercontent.com/66104034/111557962-60bd8300-8753-11eb-90cb-43868ea2a4aa.MP4

Noticed on iPad and iPhone 12 in WPiOS 16.9 beta

[2021-03-18 01:51] startuptester opened #16123 "Label incorrect on widgets"
### Expected behavior
The blue labels should say "Views" in the small widgets.

### Actual behavior
Instead they duplicate the Today/All Time labels.

![image](https://user-images.githubusercontent.com/66104034/111561484-24415580-875a-11eb-8e02-b1c6bc173baf.png)

### Steps to reproduce the behavior
Install the smaller versions of the All Time and Today widgets

iOS 14

[2021-03-18 15:53] mdrockwell commented on #16023
3817908-zen replied with more info:

- Says they have a good internet connection, doesn't believe that is an issue at all.
- Not able to publish with a "retry", still gets an error.

[2021-03-18 17:47] AliSoftware opened #16128 "[Push Notifs] "Like" Notifications are always one step behind"
_(Not entirely sure that this is an iOS-side issue vs server side, but posting here since I experience this only in WPiOS, and wonder if that might not be due to something in our NotificationsExtensions rather than server-side)_

### Expected behavior

- After I created a post P and person A liked it
- If later person B likes the same post, I want to receive a notification saying "B liked your pos

[2021-03-18 21:58] #16110 closed, assigned to ScoutHarris

[2021-03-19 07:21] illusaen commented on #15872
Also was unfortunately unable to reproduce.

[2021-03-19 17:30] #15955 closed, assigned to ScoutHarris

[2021-03-19 17:37] #16057 closed, assigned to frosty

[2021-03-19 19:58] aerych commented on #16114
Closing. See p1616180676023700-slack-wpmobile

[2021-03-19 19:58] #16114 closed, assigned to nobody

[2021-03-22 15:12] illusaen commented on #15366
Was also unable to reproduce here, although I did try diving into the code and looked at the fix to see why index paths were negative.

[2021-03-22 16:24] FAIZFREADY commented on #15366
AppleApple<http://licensed.software.permissively/>AppleApple
Get mail for Android<https://aka.ms/AAb9ysg>Android<https://aka.ms/AAb9ysg>for

________________________________
Daripada: illusaen ***@***.***>
Dihantar: Isnin, 22 Mac 2021, 23:13
Kepada: wordpress-mobile/WordPress-iOS
Sk: Subscribed
Subjek: Re: [wordpress-mobile/WordPress-iOS] NSInternalInconsistencyException: Attempted to perform upda

[2021-03-22 16:56] #16071 closed, assigned to bjtitus

[2021-03-22 17:51] guarani opened #16145 "App doesn't recognize valid site address"
### Expected behavior

When I try to log into the self-hosted site using a URL such as https://example.com/wp-admin/index.php, the app should recognize that this is a valid URL for the site https://example.com and allow me to continue to the next screen.

### Actual behavior

When I try to log into the self-hosted site using the URL https://example.com/wp-admin/index.php, the app displays the mess

[2021-03-22 21:54] jkmassel commented on #11849
17.0 out-of-date dependencies:

[code]

[2021-03-23 17:05] SiobhyB opened #16150 "Enhancement: Display Notice for Featured Image's Recommended/Required Size/Dimensions"
### Expected behavior

If a theme requires featured images to be a certain size and a user attempts to upload an image outside of that size, then they are usually notified via a notice in the post editor's sidebar. Notices around recommended sizes for featured images are also sometimes incorporated in SEO plugins, for example, [the official AMP plugin](https://en-gb.wordpress.org/plugins/amp/).

I

[2021-03-23 20:26] kduncanwelke commented on #15925
I'm going to investigate both this and the linked #15655 as well. 👍🏻

[2021-03-23 20:27] kduncanwelke commented on #15655
I'm going to investigate both this and the related #15925 as well. 👍🏻

[2021-03-24 20:35] #5623 closed

[2021-03-24 20:37] leandroalonso commented on #6080
I can't reproduce this issue. Since it's quite dated I'm closing it.

[2021-03-24 20:37] #6080 closed

[2021-03-24 20:41] #6467 closed

[2021-03-24 20:41] #6556 closed

[2021-03-24 20:43] leandroalonso commented on #7055
Reader Detail now uses web view, closing this issue.

[2021-03-24 20:43] #7055 closed

[2021-03-24 20:46] leandroalonso commented on #6702
Doesn't seem to be happening anymore after the recent changes on Reader Detail.

[2021-03-24 20:46] #6702 closed

[2021-03-24 20:47] #6866 closed

[2021-03-24 20:50] leandroalonso commented on #9309
Given how old the issue is and the fact we haven't heard complaints about it I'm closing it for now.

[2021-03-24 20:50] #9309 closed

[2021-03-24 20:50] #9615 closed

[2021-03-24 20:50] #9650 closed

[2021-03-24 20:51] #9734 closed

[2021-03-24 20:54] leandroalonso commented on #10193
After the Reader Detail refactor these links are now handled.

[2021-03-24 20:54] #10193 closed

[2021-03-24 20:54] #10214 closed

[2021-03-24 20:54] leandroalonso commented on #10214
Fixed after the Reader Detail refactor.

[2021-03-24 20:57] leandroalonso commented on #10236
Doesn't happen anymore.

[2021-03-24 20:57] #10236 closed

[2021-03-24 20:59] leandroalonso commented on #10835
The nav bar is not hidden anymore.

[2021-03-24 20:59] #10835 closed

[2021-03-24 21:00] leandroalonso commented on #10865
The issue doesn't occur anymore.

[2021-03-24 21:00] #10865 closed

[2021-03-24 21:02] leandroalonso commented on #10866
After the Reader Detail refactor we follow the same space as the web, and the code that caused this issue doesn't exist anymore.

[2021-03-24 21:02] #10866 closed

[2021-03-24 21:03] leandroalonso commented on #10867
All images now have a `max-width: 100%` CSS property after the Reader Detail refactor.

[2021-03-24 21:03] #10867 closed

[2021-03-24 21:04] leandroalonso commented on #11037
This flow is now different, this screen is not shown anymore.

[2021-03-24 21:04] #11037 closed

[2021-03-24 21:05] leandroalonso commented on #11088
Reader Detail now uses a webview, which shouldn't cause this issue.

[2021-03-24 21:05] #11088 closed

[2021-03-24 21:07] #11631 closed

[2021-03-24 21:07] leandroalonso commented on #12288
This was solved during Reader Improvements. :)

[2021-03-24 21:07] #12288 closed

[2021-03-24 21:10] #12536 closed

[2021-03-24 21:11] leandroalonso commented on #12578
After the migration to webview audio blocks work just fine.

[2021-03-24 21:11] #12578 closed

[2021-03-24 21:11] leandroalonso commented on #12517
Similar to https://github.com/wordpress-mobile/WordPress-iOS/issues/14410

[2021-03-24 21:11] #12517 closed

[2021-03-25 13:58] chipsnyder commented on #16014
I believe this is related to the same general retain cycles that are mentioned here https://github.com/wordpress-mobile/WordPress-iOS/pull/14359#issuecomment-648993838 I still need to dig deeper to confirm but wanted to add my suspicion here as the errors look the same as when that issue arose.

[2021-03-25 16:37] leandroalonso commented on #13135
Sizes are now fixed.

While we can change the background to better display it for dark mode it has its own complexities, like handling when the system switches the system theme. Given apparently no users are complaining about it I'm going to close the issue for now. We can reassess it in the future if needed.

[2021-03-25 16:37] #13135 closed

[2021-03-25 16:38] leandroalonso commented on #12868
Reader Detail now uses a webview, the issue doesn't happen anymore.

[2021-03-25 16:38] #12868 closed

[2021-03-25 16:38] leandroalonso commented on #12844
This screen doesn't exist anymore.

[2021-03-25 16:38] #12844 closed

[2021-03-25 16:41] leandroalonso commented on #13410
After Reader Detail refactor, the issue is now fixed.

[2021-03-25 16:41] #13410 closed

[2021-03-25 16:43] leandroalonso commented on #13435
Given the lack of response here I'm assuming we won't change that in the near future, thus closing this issue.

[2021-03-25 16:43] #13435 closed

[2021-03-25 16:45] leandroalonso commented on #13609
Fixed during the Reader Improvements project.

[2021-03-25 16:45] #13609 closed

[2021-03-25 16:46] leandroalonso commented on #13630
Fixed during the redesign of the post cards.

[2021-03-25 16:46] #13630 closed

[2021-03-25 16:52] leandroalonso commented on #13719
This still happens.

However, given the lack of activity here and the fact that is not affecting users I'll go ahead and close the issue. We can reassess that decision anytime, of course.

[2021-03-25 16:52] #13719 closed

[2021-03-25 16:53] leandroalonso commented on #13872
This doesn't happen anymore.

[2021-03-25 16:53] #13872 closed

[2021-03-25 16:54] leandroalonso commented on #13873
After the Reader Detail refactor this issue doesn't happen anymore.

[2021-03-25 16:54] #13873 closed

[2021-03-25 16:57] leandroalonso commented on #13920
A lot of blockers were fixed as part of a task force to fix blocks.

If any block doesn't appear correctly, it probably doesn't render correctly on the web too. All the fixes done for Reader web now apply to iOS Reader, so if there's any block issue we should open an issue in https://github.com/Automattic/wp-calypso

[2021-03-25 16:57] #13920 closed

[2021-03-25 17:00] leandroalonso commented on #13921
Fixed in https://github.com/Automattic/wp-calypso/pull/43779

[2021-03-25 17:00] #13921 closed

[2021-03-25 17:00] #13930 closed

[2021-03-25 17:03] leandroalonso commented on #13931
The spacing is now correct, however, we do not render all the applied colors given we want to keep Reader with a generic visual.

Plus, all the block fixes should now be added in https://github.com/Automattic/wp-calypso (which is where the CSS resides)

[2021-03-25 17:03] #13931 closed

[2021-03-25 17:04] leandroalonso commented on #13932
Should be addressed in https://github.com/Automattic/wp-calypso/issues/43595

[2021-03-25 17:04] #13932 closed

[2021-03-25 17:05] leandroalonso commented on #13963
Given the cost of the change versus the impact, I'll close this issue for now. We can reassess it in future Reader projects.

[2021-03-25 17:05] #13963 closed

[2021-03-25 17:07] #14016 closed

[2021-03-25 17:07] leandroalonso commented on #14017
I couldn't reproduce this issue. Probably it was fixed by the changes in the Reader + Tab bar.

[2021-03-25 17:07] #14017 closed

[2021-03-25 17:08] leandroalonso commented on #14024
Should be addressed in https://github.com/Automattic/wp-calypso/issues/43595

[2021-03-25 17:08] #14024 closed

[2021-03-25 17:10] #14077 closed

[2021-03-25 17:11] leandroalonso commented on #14078
I can follow/unfollow my own sites through Reader. :)

Closing the issue.

[2021-03-25 17:11] #14078 closed

[2021-03-25 17:12] #14162 closed

[2021-03-25 17:12] #14175 closed

[2021-03-25 17:13] leandroalonso commented on #14540
I'm going ahead and closing this issue given that fixing it opens a rabbit hole.

[2021-03-25 17:13] #14540 closed

[2021-03-25 17:16] leandroalonso commented on #14701
Needs to be fixed in Calypso.

[2021-03-25 17:16] #14701 closed

[2021-03-25 17:17] leandroalonso commented on #14705
Needs to be fixed in Calypso/backend.

Given this is not part of the scope of the Reader mobile I'm closing this issue.

[2021-03-25 17:17] #14705 closed

[2021-03-25 17:21] leandroalonso commented on #14707
The reader doesn't apply all the styles that a user defines. We did that in order to keep the consumable in Reader a little bit more generic.

Plus, this needs to be addressed in Calypso styles, not in the mobile code.

I'm closing the issue, we can always reassess if needed.

[2021-03-25 17:21] #14707 closed

[2021-03-25 17:22] leandroalonso commented on #14708
Needs to be fixed in https://github.com/Automattic/wp-calypso/issues/45105

[2021-03-25 17:22] #14708 closed

[2021-03-25 17:23] leandroalonso commented on #14709
Given cost vs impact, I'm closing this issue.

[2021-03-25 17:23] #14709 closed

[2021-03-25 17:23] #14711 closed

[2021-03-25 17:23] leandroalonso commented on #14885
The design of this section was changed, thus the issue doesn't happen anymore.

[2021-03-25 17:23] #14885 closed, assigned to nobody

[2021-03-25 17:25] leandroalonso commented on #14900
@startuptester given this is an issue that occurs with very specific conditions (such as removing tags really fast) I don't think it's affecting our users.

I'll close the issue but feel free to reopen it anytime.

[2021-03-25 17:25] #14900 closed, assigned to nobody

[2021-03-25 17:26] leandroalonso commented on #14901
Given this issue is also related to removing tags faster, I'm closing it.

If we get any reports from our users we can reassess them.

[2021-03-25 17:26] #14901 closed, assigned to nobody

[2021-03-25 17:33] leandroalonso commented on #14992
I don't think this causes a huge impact on the user experience.

In a lot of apps you can through this infinite loop, but given is caused by user interaction and the user doesn't get stuck I don't think it worths adding code there to deal with this edge case.

As for the original issue description, I click on a site's name and it works as expected.

[2021-03-25 17:33] #14992 closed, assigned to nobody

[2021-03-25 17:34] leandroalonso commented on #15285
@aerych this was fixed?

Given it's quite an edge case and we haven't been hearing complaints about it I think we might want to close this issue.

[2021-03-25 17:34] #15285 closed, assigned to nobody

[2021-03-25 17:36] leandroalonso commented on #15326
Fixed in the recent "big titles" changes.

[2021-03-25 17:36] #15326 closed, assigned to nobody

[2021-03-25 17:37] ScoutHarris opened #16163 "App crashes when tapping FAB when viewing Blog Posts"
### Expected behavior
The FAB action sheet should display.

### Actual behavior
The app crashes.

### Steps to reproduce the behavior
On an iPhone, go to `Blog Posts`. Tap the FAB button. The app crashes.

Xcode shows the crash happening in `CreateButtonActionSheet`:

<img width="918" alt="Screen Shot 2021-03-25 at 11 36 23 AM" src="https://user-images.githubusercontent.com/1816888/112517815-653ef

[2021-03-25 17:37] ScoutHarris commented on #16163
@leandroalonso  - this looks related to https://github.com/wordpress-mobile/WordPress-iOS/pull/16129.

[2021-03-25 17:38] leandroalonso commented on #15340
We haven't had complaints about that recently and I think Atomic changed how cookies are used.

I'm closing this issue for now, if this gets reported again feel free to reopen it @guarani.

[2021-03-25 17:39] leandroalonso commented on #15389
@guarani is this still happening? Should we close the issue?

[2021-03-25 17:40] leandroalonso commented on #15417
The issue doesn't happen anymore.

[2021-03-25 17:40] #15417 closed, assigned to momo-ozawa

[2021-03-25 17:46] leandroalonso commented on #15757
@startuptester or @jleandroperez can you please add a link to the post that causes this issue?

[2021-03-25 17:51] guarani commented on #15389
@leandroalonso I tested again on 17.0 beta and the bug is still present. I used a private Simple WP.com site with a mapped domain, and tried to visit one of its posts in Reader and got a "site private" message.

[2021-03-25 17:53] guarani commented on #15389
I added a screen recording to the issue.

[2021-03-25 17:57] jleandroperez commented on #15757
@leandroalonso This should be it!

[code]

[2021-03-25 18:05] guarani commented on #15340
Could you please elaborate on the part about Atomic sites changing how cookies are used?

[2021-03-25 18:24] mdrockwell commented on #15596
Another here: 3853840-zen

[2021-03-25 18:35] leandroalonso commented on #15340
@guarani It seems I misunderstood previous info about Atomic + cookies. Reopening the issue!

[2021-03-25 22:01] ScoutHarris opened #16164 "Quick Start > Dark mode: completed header has white edges"
### Expected behavior
The `Complete (x)` header is fully dark grey.

### Actual behavior
The `Complete (x)` header has white edges.

### Steps to reproduce the behavior
On a iPad in dark mode:
- Create a new site.
- Accept quick start.
- When the steps are displayed, notice the `Complete` color.

![quick_start_dark](https://user-images.githubusercontent.com/1816888/112549304-35eeb280-8d83-11eb-8ee

[2021-03-25 22:57] ScoutHarris commented on #2939
The behavior is still the same, but with new and improved UI!

<kbd>![comments](https://user-images.githubusercontent.com/1816888/112554008-2d9a7580-8d8b-11eb-899d-1f109f7c6b2a.png)</kbd>

[2021-03-26 02:54] reginabally commented on #15388
Another report in 3833083-zd-woothemes. Reproduced through SSP on iPhone SE, iOS 14.4, WPiOS 16.9.

[2021-03-26 17:40] #16072 closed, assigned to chipsnyder

[2021-03-26 17:52] startuptester commented on #15783
I am no longer able to repro this in 17.0

[2021-03-26 17:52] #15783 closed, assigned to nobody

[2021-03-26 21:48] ScoutHarris commented on #5815
This is still an issue, but a bit different. The reply is actually successful, no error is shown.

- Comment on a post.
- Disable commenting on the post.
- Go to My Site > Comments.
- Tap a comment on the closed post.
- Enter a reply.
- `Reply Sent!` toast message is displayed.
- The reply appears in the Comments list.

[2021-03-26 22:00] ScoutHarris commented on #9659
Filters added with https://github.com/wordpress-mobile/WordPress-iOS/issues/15955.

[2021-03-26 22:00] #9659 closed

[2021-03-26 22:02] ScoutHarris commented on #10262
This appears to have been resolve at some point. Tested in 17.0. I am able to successfully comment from Blog Posts > View.

[2021-03-26 22:02] #10262 closed

[2021-03-29 01:18] reginabally opened #16174 "Feature Request: Add "Pending Review" filter for blog posts"
Currently, to view the posts that are having the "Pending Review" status, users will have to look for its label on the Drafts tab. It was mentioned in 3860874-zd-woothemes:

I understand even on Calypso, this isn't available but on WP Admin, there is such a filter on the Posts page.

[2021-03-29 10:39] mkevins opened #16178 "Wrong scroll position after orientation change in layout picker"
**Note:** This bug is also present in the Site Creation flow in the Site Design picker

### Expected behavior
Scroll position should stay at or near the layout category that was visible prior to the orientation change.

### Actual behavior
The scroll position is far from where it was prior to the orientation change.

### Steps to reproduce the behavior
* View the page layout picker
* Scroll down a

[2021-03-29 14:14] guarani opened #16179 "Reader un-liked posts appearing in the Liked posts tab"
### Expected behavior

The Likes tab in Reader should display the like status of posts correctly.

### Actual behavior

When I "like" and then "un-like" a post in Reader, the Likes tab still shows the post instead of removing it from the list of liked posts. It's not until I pull-to-refresh that the post is removed from the list of liked posts.

### Steps to reproduce the behavior

1. Open Reader

[2021-03-29 15:36] jkmassel commented on #14603
This is happening again, at least as far back at 16.3

[2021-03-29 18:26] chipsnyder commented on #11684
I have not been able to recreate this issue testing in 17.0.

@startuptester @aerych can either of you reproduce this still? If not I think we can close it out again.

[2021-03-29 18:29] chipsnyder commented on #12101
Closing this out as I don't see any instances of WPUplaodStatusButton referenced in the Repo https://github.com/wordpress-mobile/WordPress-iOS/search?q=WPUplaodStatusButton

[2021-03-29 18:29] #12101 closed

[2021-03-29 18:31] chipsnyder commented on #12828
Closing this out as Local previews have been deprecated https://github.com/wordpress-mobile/WordPress-iOS/issues/9282

[2021-03-29 18:31] #12828 closed

[2021-03-29 18:38] aerych commented on #11684
This could have been resolved after recent changes on the web that move away from 3rd party cookies. Will follow up after I have a chance to test.

[2021-03-29 18:44] chipsnyder commented on #13335
Testing this out I wasn't able to find a video on Flickr to test with but using the sample in the ticket I am seeing the previews work with the video placeholder

Editor | Preview
--- | ---
<kbd><a href="https://user-images.githubusercontent.com/3384451/112883991-f1be2380-909c-11eb-8461-bba4c1f78c22.PNG"><img width="300" src="https://user-images.githubusercontent.com/3384451/112883991-f1be2380-909

[2021-03-29 18:44] #13335 closed

[2021-03-29 19:01] chipsnyder commented on #13337
I was able to reproduce this issue and confirmed that this happens on desktop browsers as well. The [recommended](https://github.com/Automattic/jetpack/issues/11836) source for videos is to use a video block instead I'm going to close this issue. If it is a higher priority we might want to recreate the issue in https://github.com/Automattic/jetpack to get the proper eyes on it.

[2021-03-29 19:01] #13337 closed

[2021-03-29 19:11] chipsnyder commented on #13431
I am able to recreate this and noticed that selecting that button opens the editor in Safari. I'm not sure what the suggested fix for this should be. Potentially we could disable these buttons based on a flag from the Apps. However, I'm not sure the effort is worth the fix.

**EDIT:** Whatever solution we decide on here should be considered alongside https://github.com/wordpress-mobile/WordPress-i

[2021-03-29 19:23] chipsnyder commented on #13711
We might want to tie the effort here to the issue described in https://github.com/wordpress-mobile/WordPress-iOS/issues/13431. Then while in preview, we can disable links that navigate away 🤷

[2021-03-29 19:35] chipsnyder commented on #15388
Tested this via 17.0 on a self-hosted Jetpack site and I wasn't able to reproduce it. Including a specific action to logout in the webview. But seeing the user report it seemed like there might be a repro step I didn't find.

[2021-03-29 19:43] chipsnyder commented on #16122
@antonis @mkevins since you two were each working in this area recently do you know of any ways we could smooth out this transition?

[2021-03-29 20:03] aerych opened #16183 "Comments: Add an option to filter unreplied comments"
Add a new filter to the My Sites > Comments feature that shows recent comments that the user has not replied to.

[2021-03-29 22:09] guarani commented on #15388
👋 Hi @chipsnyder, I just tested this again on the 17.0 beta and was still able to reproduce. Here are the steps I took today to reproduce, please let me know if this helps or if the bug is still not appearing.
1. I created a new self-hosted site, installed Jetpack and connected it to a WP.com account
2. I logged into WPiOS using this WP.com account and located the self-hosted site
3. I went to My

[2021-03-30 12:30] frosty opened #16189 "Handle "Create a site" deeplink"
When a user has an account without a site, they're sent an email that links to the "Create site" flow. These links are now handled in the browser. We want to add a deeplink handling to the app so that these links now link to the in-app "Create site" flow.

This involves ensuring that we can handle /mbar links successfully.

[2021-03-30 16:19] dcalhoun commented on #13446
While testing on iPhone SE, iOS 14.4.1, WPiOS 16.9 (16.9.0.13), the superfluous Blue Screen did still occur. However, the soft lock did not occur. It is possible that the soft lock issue was addressed in other work, but we may still want to avoid displaying the superfluous Blue Screen momentarily.

https://user-images.githubusercontent.com/438664/113021824-95fda400-9149-11eb-88cc-3c78b2298494.MP4

[2021-03-30 16:33] aerych commented on #11684
Did a bit of testing and I was able to preview changes to drafts and to published posts.   Closing.  Thanks for taking a look @chipsnyder!

[2021-03-30 16:33] #11684 closed

[2021-03-30 17:25] mchowning commented on #9449
Spent a bit of time trying to reproduce these issues, but I didn't have any luck either.

[2021-03-30 17:29] mchowning commented on #8111
Retested and confirmed that this is still an issue.

[2021-03-30 17:35] mchowning commented on #4870
Confirmed both scenarios are still reproducible.

[2021-03-30 17:47] mchowning commented on #3978
Seems this is likely still an issue we should keep open since we still have [a default postId of -1](https://github.com/wordpress-mobile/WordPress-iOS/blob/50e1647c52304eef6b84fd330729d03be9796040/WordPress/Classes/Models/BasePost.swift#L5).

[2021-03-30 17:53] mchowning commented on #6511
I spent a little bit of time seeing if I could recreate this (without success). Since this bug report if >4 years old, I'm inclined to close it. wdyt @aerych ?

[2021-03-30 18:12] ScoutHarris commented on #16163
Fixed with https://github.com/wordpress-mobile/WordPress-iOS/pull/16162.

[2021-03-30 18:12] #16163 closed, assigned to leandroalonso

[2021-03-30 18:16] dcalhoun commented on #13522
I was unable to reproduce this issue on iPhone SE, iOS 14.4.2, WPiOS 16.9 (16.9.0.13). I tested tags with various diacritics and non-alphanumeric characters. I also tested adding a large quantity of tags (~1,000) all at once.

[2021-03-30 18:25] #16145 closed, assigned to ScoutHarris

[2021-03-30 18:26] dcalhoun commented on #14113
I was unable to reproduce this on iPhone SE, iOS 14.4.2, WPiOS 16.9 (16.9.0.13). It also appears #14117 merged and was marked as addressing this issue.

Closing this, but please feel free to reopen if I am mistaken.

[2021-03-30 18:26] #14113 closed

[2021-03-30 18:39] dcalhoun commented on #14115
I was unable to reproduce this on iPhone SE, iOS 14.4.2, WPiOS 16.9 (16.9.0.13). The Publish button remains disabled while the draft post has no content. I think we can likely close this. @rachelmcr what do you think?

https://user-images.githubusercontent.com/438664/113039340-2a253680-915d-11eb-9a11-893c9ba56b33.MP4

[2021-03-30 18:52] eduardozulian commented on #16068
Reported by a user in 3866804-zen with WPiOS 16.9

[2021-03-30 19:01] dcalhoun commented on #14251
Posting to confirm this issue is still valid and happens for me on iPhone SE, iOS 14.4.2, WPiOS 16.9 (16.9.0.13).

[2021-03-30 19:26] aerych commented on #6511
Yeah. Let's close it and we can reopen if necessary.  Seems like we've made significant changes to media and image handling since the block editor.  Whatever the original cause, it may no longer be valid.

[2021-03-30 20:03] dcalhoun commented on #14400
Posting to confirm this issue is still valid and happens for me on iPhone SE, iOS 14.4.2, WPiOS 16.9 (16.9.0.13).

[2021-03-30 20:59] guarani commented on #11728
I was able to reproduce on 17.0 beta, although it was tricky to do and I had to resort to creating a `hugs_me` tag! 😄
I'm sure there are other ways of reproducing this, but my goal here was to check if this issue is still reproducible.
Here's a video of the bug on 17.0 beta on an iPhone 11:

| <img src="https://user-images.githubusercontent.com/1898325/113055723-eb9d7500-9178-11eb-960c-9da156811c4

[2021-03-30 22:22] ScoutHarris commented on #14723
Unable to reproduce.

[2021-03-30 22:25] ScoutHarris commented on #14723
Finally got it. Confirmed it's still an issue in 17.0.

[2021-03-30 22:27] ScoutHarris commented on #14717
Confirmed still an issue in 17.0.

[2021-03-30 22:39] ScoutHarris commented on #14973
This should be resolved when the '[Gutenberg Comment Editor](https://hummingbirdp2.wordpress.com/2021/01/12/project-thread-gutenberg-comment-editor/)' feature is implemented.

[2021-03-30 22:39] #14973 closed, assigned to nobody

[2021-03-30 22:40] ScoutHarris commented on #14724
Linking to https://github.com/wordpress-mobile/WordPress-iOS/issues/14870, the master issue for Comment block issues.

[2021-03-30 22:40] #14724 closed

[2021-03-30 22:41] ScoutHarris commented on #14730
Linking to https://github.com/wordpress-mobile/WordPress-iOS/issues/14870, the master issue for Comment block issues.

[2021-03-30 22:41] #14730 closed

[2021-03-30 22:41] ScoutHarris commented on #14723
Linking to https://github.com/wordpress-mobile/WordPress-iOS/issues/14870, the master issue for Comment block issues.

[2021-03-30 22:41] ScoutHarris commented on #14722
Linking to https://github.com/wordpress-mobile/WordPress-iOS/issues/14870, the master issue for Comment block issues.

[2021-03-30 22:41] #14722 closed

[2021-03-30 22:41] ScoutHarris commented on #14717
Linking to https://github.com/wordpress-mobile/WordPress-iOS/issues/14870, the master issue for Comment block issues.

[2021-03-30 22:41] #14717 closed, assigned to nobody

[2021-03-30 22:43] ScoutHarris commented on #14758
Linking to https://github.com/wordpress-mobile/WordPress-iOS/issues/14870, the master issue for Comment block issues.

[2021-03-30 22:43] #14758 closed, assigned to nobody

[2021-03-30 22:44] ScoutHarris commented on #14716
Linking to https://github.com/wordpress-mobile/WordPress-iOS/issues/14870, the master issue for Comment block issues.

[2021-03-30 22:44] #14716 closed

[2021-03-30 22:52] ScoutHarris commented on #3530
One can now edit a comment from the notification.
- Go to Notifications > Comments.
- Tap one.
- Note the Edit button.

However, one cannot edit a comment from the Reader.
- Filtered Following for a site I'm an admin on.
- Tap the comment button on a post card.
- The only options are Reply and Like.

@aerych I'm assuming this will be resolved with the Unified Comments project, so I'm closing. Feel

[2021-03-30 22:52] #3530 closed

[2021-03-30 23:04] ScoutHarris commented on #13513
This seems resolved. The block quote now appears. Tested in 17.0.

![IMG_34F45564D491-1](https://user-images.githubusercontent.com/1816888/113067625-eab91300-9179-11eb-8b17-19ec519ae18c.jpeg)

[2021-03-30 23:04] #13513 closed

[2021-03-31 00:39] guarani commented on #10891
- The reports here related to the featured image, not the Image, Gallery or other Gutenberg blocks
- The images look fine when adding them on the device, it's only when viewing them on a (desktop) browser that their rotation is wrong
- Images were reported as being rotated 90° counter-clockwise
- This hasn't been consistently reproduced, we've only got reports from users as well as internal report

[2021-03-31 01:19] guarani commented on #10766
I think we have two separate issues here:
a. the location the app adds to posts doesn't appear in the front-end (this was reported in the original issue)
b. the app shows an incorrect current location in Post Settings (this was reported in comments above)

For the record, **I can reproduce** (a) but I cannot reproduce (b). Adding a location in the app appears to use my correct location but once I

[2021-03-31 01:43] guarani commented on #10465
I tested this and can't reproduce so I think this has been fixed sometime after this was reported.

When adding a paragraph to a post that ends in a quote, I got the expected HTML:
[code]
I also tried with a quote that includes a citation and again got the expected HTML:
[code]

I'll close this, but feel free to re-open it if you think there's still an issue.
It looks like the thread on the origin

[2021-03-31 01:43] #10465 closed

[2021-03-31 02:01] guarani commented on #10439
I think this can be closed because I can only reproduce from within the classic editor, which is [now deprecated](https://github.com/wordpress-mobile/gutenberg-mobile/issues/3209) and not receiving updates or regular bug fixes as I understand it. I **cannot reproduce** within the block editor or the site media screen.
Please feel free to re-open if you think this should stay open.
cc @mchowning

[2021-03-31 02:01] #10439 closed

[2021-03-31 02:10] guarani commented on #10367
Thanks for the report, I can reproduce this in the classic editor.

The block editor is the default editor now in the apps and this issue does not appear to be present there (i.e. `<em>` and `</em>` tags are added to the beginning and end of the text – as expected).

The classic editor [is deprecated](https://github.com/wordpress-mobile/gutenberg-mobile/issues/3209) and I don't think it will be re

[2021-03-31 02:10] #10367 closed

[2021-03-31 08:05] momo-ozawa opened #16197 "Jetpack App (Basics): Update About the App"
## Description
Update app info under App Settings

<img src="https://user-images.githubusercontent.com/6711616/113112435-21f3f680-9244-11eb-81da-1f65e36d50f1.png" width=300> | <img src="https://user-images.githubusercontent.com/6711616/113248634-4f01e100-92f8-11eb-85c2-e2ba5d74682f.png" width=300>
--- | ---

### App Settings
- [x] Update "About WordPress for iOS" to "About Jetpack for iOS"

### Ab

[2021-03-31 15:03] illusaen commented on #12829
Unable to reproduce.

[2021-03-31 15:04] illusaen commented on #13063
No longer reproducible.

[2021-03-31 15:05] illusaen commented on #12729
Unable to reproduce.

[2021-03-31 15:12] illusaen commented on #12103
Unable to reproduce with `jurassic-ninja`: https://tense-parrotfish.jurassic.ninja/2021/03/31/6/

[2021-03-31 15:27] illusaen commented on #12121
So currently, deleting a draft sets the publish date to when you deleted it. Restoring the draft and then publishing it then uses that deleted date. If that's intended then we're good now.

If we mean to keep the date that the draft was written (*not deleted*), then there's still a bug although perhaps a different one.

Tested on iPhone 12 Mini, iOS 14.4.1, WPiOS 17.0

[2021-03-31 15:38] frosty opened #16198 "GutenbergLayoutPickerViewController has a retain cycle on presentation"
There appears to be a retain cycle created somewhere around the presentation of `GutenbergLayoutPickerViewController`. If you display and dismiss the view controller multiple times (either via the Create FAB or the Create Page button in the Pages list), and then check the Debug Memory Graph in Xcode, you'll see multiple instances of it hanging around.

<img width="317" alt="image" src="https://use

[2021-03-31 18:05] ceyhun commented on #9614
I was only able to reproduce with the **Classic editor** and **not** with Gutenberg editor.

<p style="clear:both;"><sup>Tested with iPhone 11 Pro, iOS 14.4, WPiOS 17.0.0.20210329</sup></p>

[2021-03-31 18:07] ceyhun commented on #9871
I was not able reproduce this.

<p style="clear:both;"><sup>Tested with iPhone 11 Pro, iOS 14.4, WPiOS 17.0.0.20210329</sup></p>

[2021-03-31 18:13] ceyhun commented on #9928
I was not able reproduce this. I tried manually typing the list items mentioned in the issue and also randomly adding some empty list items.

<p style="clear:both;"><sup>Tested with iPhone 11 Pro, iOS 14.4, WPiOS 17.0.0.20210329</sup></p>

[2021-03-31 18:24] ceyhun commented on #10188
I was not able reproduce this with a very old draft I created in the app. I published it on the web and date was correct. It was the current date. Also tried editing a post created on web in the app and then publishing and still couldn't reproduce.

<p style="clear:both;"><sup>Tested with iPhone 11 Pro, iOS 14.4, WPiOS 17.0.0.20210329</sup></p>

[2021-03-31 18:29] ceyhun commented on #10261
I was not able reproduce this. The post has the "Pending Review" label in my case.

<p style="clear:both;"><sup>Tested with iPhone 11 Pro, iOS 14.4, WPiOS 17.0.0.20210329</sup></p>

[2021-03-31 18:32] ceyhun commented on #10286
I was not able reproduce this. I tested this using a Video block and uploading a video from the device.

<p style="clear:both;"><sup>Tested with iPhone 11 Pro, iOS 14.4, WPiOS 17.0.0.20210329</sup></p>

[2021-03-31 18:36] ceyhun commented on #10361
Issue still happens for me if I select "Switch to classic editor" after opening the post in Gutenberg editor in the app.

<p style="clear:both;"><sup>Tested with iPhone 11 Pro, iOS 14.4, WPiOS 17.0.0.20210329</sup></p>

[2021-03-31 18:54] startuptester commented on #16122
I had this come up in a different place in the 17.0 beta

https://cloudup.com/cVF8cpFMyeR

[2021-03-31 19:45] dcalhoun commented on #14221
I investigated this issue as an effort to identify which open issues are still valid. I believe this to be a valid issue in the latest WPiOS app.

I was able to identify steps to _somewhat_ consistently reproduce this issue, or at least a similar issue that I believe is likely related to what has been reported so far. I did not look into the code in an attempt to address the issue, but hopefully t

[2021-03-31 21:14] illusaen commented on #13144
Adding a feature image via WPiOS itself works; unfortunately, we are unable to test the 3rd party plugin. Please reach out to the authors if the issue still exists :)

[2021-03-31 23:33] #9871 closed

[2021-04-01 01:03] momo-ozawa opened #16209 "Jetpack App (Basics): Disable posts shortcuts"
## Description

Disable shortcuts for the Jetpack target
- New Photo Post
- New Post

[2021-04-01 02:29] momo-ozawa opened #16210 "Jetpack App (Basics): Disable ability to create a new site"
## Description
Disable the ability to create a new site by removing the "+" bar button item from My Sites

<img src="https://user-images.githubusercontent.com/6711616/113235228-a9da0f00-92dd-11eb-96a8-4665f6683845.png" width=200>

[2021-04-01 02:50] reginabally commented on #11225
We pointed the user to change the Slug using the WPiOS app (version 16.9) in 3869849-zd-woothemes but found out this isn't available on WPiOS. The same option can be found on WPAndroid.

[2021-04-01 09:58] ceyhun commented on #9614
Closing this Classic editor issue since the Classic editor is being deprecated on mobile at the time of writing. That said, if you find the issue occurring in the block editor as well, please feel free to open and repurpose, thanks!

[2021-04-01 09:58] #9614 closed

[2021-04-01 09:59] ceyhun commented on #9928
Closing this as non reproducible but, please feel free to reopen if it still occurs, thanks!

[2021-04-01 09:59] #9928 closed

[2021-04-01 09:59] ceyhun commented on #10188
Closing this as non reproducible but, please feel free to reopen if it still occurs, thanks!

[2021-04-01 09:59] #10188 closed

[2021-04-01 10:01] ceyhun commented on #10261
Closing this as non reproducible but, please feel free to reopen if it still occurs, thanks!

[2021-04-01 10:01] #10261 closed

[2021-04-01 10:01] ceyhun commented on #10286
Closing this as non reproducible but, please feel free to reopen if it still occurs, thanks!

[2021-04-01 10:01] #10286 closed

[2021-04-01 10:05] ceyhun commented on #10361
Closing this Classic editor issue since the Classic editor is being deprecated on mobile at the time of writing. That said, if you find the issue occurring in the block editor as well, please feel free to open and repurpose, thanks!

[2021-04-01 10:05] #10361 closed

[2021-04-01 11:59] mkevins commented on #16122
I have a feeling this may be related with the approach we are using to set the viewport width (in JS). I'll look to see if there's an easy win here for improving this.

[2021-04-01 14:27] dcalhoun commented on #14115
Closing this as non reproducible but, please feel free to reopen if it still occurs, thanks!

[2021-04-01 14:27] #14115 closed

[2021-04-01 14:27] dcalhoun commented on #13522
Closing this as non reproducible but, please feel free to reopen if it still occurs, thanks!

[2021-04-01 14:27] #13522 closed

[2021-04-01 15:27] illusaen commented on #13144
Closing this as non reproducible but, please feel free to reopen if it still occurs, thanks!

[2021-04-01 15:27] #13144 closed

[2021-04-01 15:27] illusaen commented on #13063
Closing this as non reproducible but, please feel free to reopen if it still occurs, thanks!

[2021-04-01 15:27] #13063 closed

[2021-04-01 15:27] illusaen commented on #12829
Closing this as non reproducible but, please feel free to reopen if it still occurs, thanks!

[2021-04-01 15:27] #12829 closed

[2021-04-01 15:27] illusaen commented on #12103
Closing this as non reproducible but, please feel free to reopen if it still occurs, thanks!

[2021-04-01 15:27] #12103 closed

[2021-04-01 16:54] #16098 closed, assigned to ScoutHarris

[2021-04-01 20:07] ScoutHarris commented on #16179
I could be missing something, but I couldn't come up with a good solution for this.

Normally, we'd do something targeted like `tableView.reloadRows(at: [indexPath]` to update the one post that changed. However, in this case, there is one view controller and the table contents are simply replaced when a different filter is selected (except Discover). This means you can't update a post for, say, Fo

[2021-04-01 22:51] cameronvoell opened #16218 "Classic Editor tests disabled until we update to edit existing classic post"
### Summary

The Classic (Aztec) editor is being deprecated for creating new posts in WPiOS. See simple sites classic editor deprecation for new posts PR here: https://github.com/wordpress-mobile/WordPress-iOS/pull/15766.  Atomic, and self-hosted blogs are planned to happen afterwards.

**Since users will still be able to edit existing posts, [existing classic editor tests](https://github.com/word

[2021-04-02 08:34] momo-ozawa commented on #16179
@ScoutHarris I haven't been able to look at this in depth, but I wonder if we could do something similar to [saved posts](https://github.com/wordpress-mobile/WordPress-iOS/pull/15526) and use a delegate

[code]

[code]

[2021-04-02 08:59] #15852 closed, assigned to frosty

[2021-04-02 10:35] #15853 closed, assigned to frosty

[2021-04-02 13:26] #16198 closed, assigned to chipsnyder

[2021-04-02 20:27] #15854 closed, assigned to nobody

[2021-04-02 21:13] mattmiklic commented on #12942
With the new My Site header rolling out in 17.0 I wanted to revisit this issue. Here's what the site icon border looks like now in dark mode:

![IMG_F707084D8A3F-1](https://user-images.githubusercontent.com/1396552/113454462-467fd800-93d6-11eb-9a16-4705fff264b1.jpeg)

I think we could use the same color for the site icon border as we're currently using on the quick action buttons. I think we could

[2021-04-04 21:10] jerrysarcastic commented on #11543
This came up again in the wpcom forums here:  https://wordpress.com/forums/topic/whatsapp-share-button-does-not-work/

And I am also able to consistently reproduce this error on my device:  iPhone 12 Pro — iOS 14.4.2 — WordPress App v16.9

**Steps to reproduce:**
1. On test site, have WhatsApp sharing button enabled.
2. On WordPress iOS app, click on _My Site > View Site_ to open the test site in

[2021-04-04 21:36] jerrysarcastic commented on #11543
Adding on here, I noticed that on the screen with the error message is a share icon.  If I clear the error message (click OK) and click on the share icon, I have the option to open the underlying page in the browser.  If I do that then I am redirected to the WhatsApp app on my phone.

If Instead I attempt to click the "Continue to Chat" button I am taken to a new error message:  **Redirection to U

[2021-04-05 01:48] reginabally commented on #15611
Another report in 3879254-zd-woothemes. iPhone 7 Plus, iOS 14.4.2, WPiOS 16.9.

[2021-04-05 04:13] momo-ozawa opened #16225 "Shortcuts: Stats Shortcut doesn't open the Stats screen"
### Expected behavior
Tapping on the Stats shortcut should open the up the Stats screen

### Actual behavior
Tapping on the Stats shortcut opens up My Site (Blog Details VC) instead of the Stats screen

https://user-images.githubusercontent.com/6711616/113536205-7a464200-9610-11eb-8bcb-5a868c850d4b.mov

### Notes
This bug was introduced in 17.0.
16.9 works as expected -- tapping on the Stats short

[2021-04-05 04:26] momo-ozawa commented on #16225
### Quick investigation

`navigationController.topViewController` is `MySiteViewController`. As a result, we never get a chance to show the stats section.

https://github.com/wordpress-mobile/WordPress-iOS/blob/6cd9c82939a5410ce9a609f0ffc6f78526668b43/WordPress/Classes/ViewRelated/System/Coordinators/MySitesCoordinator.swift#L131-L137

[2021-04-05 14:53] mdrockwell commented on #15390
Reported here: #3881016-zen:

[2021-04-05 18:32] startuptester opened #16230 "Site Creation: no indication to user of option to upgrade for custom domain"
- There's no indication of how to remove the "Blog at WordPress.com" line on your new page
- No indication in site creation of option to upgrade account to get custom domain at domain selection screen

[2021-04-05 18:37] startuptester commented on #16230
Twin Android Issue: https://github.com/wordpress-mobile/WordPress-Android/issues/14399

[2021-04-05 18:48] startuptester opened #16231 "Site timezone defaults to UTC instead of user timezone"
From user feedback session:

This comes up very often in testing so it's obvious it confuses people.

You schedule a post for later and it publishes immediately but you have no idea why. It's because new site timezones default to UTC instead of the user's location. This is not an intuitive experience.

[2021-04-05 18:51] startuptester commented on #16231
Android twin: https://github.com/wordpress-mobile/WordPress-Android/issues/14400

[2021-04-05 18:56] startuptester opened #16232 "Site is live without user choosing to make it live"
From user session:

When a user creates a site, they expect a "magic moment" of deciding they customized everything to their liking and they can now click a button to "make it live"!

With WP it's already live, even with template content which might make some people uncomfortable.

We discussed how we stole the magic moment and removed the ceremony of it. Do we want to change that?

[2021-04-05 19:36] emilylaguna commented on #16179
Took a quick look at this, you could look at invalidating the `topic.lastSynced` property since that is what is preventing the "refresh" of the content.

[2021-04-05 19:55] startuptester opened #16234 "Post Settings > Location: remove deprecated feature"
As feature does nothing and no longer exists on Android, please remove Post Setting > Location feature.

[2021-04-05 21:20] kduncanwelke commented on #15655
After some investigating, the fix for this seems to trace back to the Authenticator pod, so I will be submitting a PR there, which (once added) should solve the problem.

[2021-04-05 22:43] startuptester opened #16236 "Hide the Primary Site setting if the user only has one site"
Account Settings > Primary Site

If user only has one site, please hide this.

[2021-04-05 22:46] startuptester opened #16237 "Hide the Primary Site setting if the user only has one site"
Account Settings > Primary Site

If user only has one site, please hide this.

[2021-04-05 22:47] startuptester opened #16238 "Menu Editing needs overhaul"
- Social sharing, Sharing buttons, and Social links menu are all too similar
- Social links are hidden on the Menus screen
- When deleting default menu "Loading menu..." appears forever

[2021-04-05 22:50] #16237 closed, assigned to nobody

[2021-04-05 22:58] startuptester opened #16239 "Confirmation needed after changing Site privacy setting"
### Expected behavior
When a user change sthe privacy setting for their site, a confirmation is expected.

### Actual behavior
None.

### Steps to reproduce the behavior
1. My Site
2. Settings
3. Privacy  - change it to something else
4. It's not clear if it worked and the user was prompted to go check on their browser

[2021-04-06 11:07] osullivanchris commented on #12942
@mattmiklic agree with all that.

Only other thing I think we could consider is to have the border on top of the image, rather than outside, with transparency e.g. white/black 10%. Then, you only really see the border for a white/black image. And you don't see the border when its not needed.

Specific to the new header, theres a couple of other fixes [I have captured over here](https://github.com/

[2021-04-06 14:01] guarani commented on #14938
<sub>Source: https://link.reviewbot.io/review/sbCqmjhx5</sub>

[2021-04-06 18:11] #16210 closed, assigned to nobody

[2021-04-06 18:54] jkmassel commented on #11849
17.1 out-of-date dependencies:

[code]

[2021-04-06 21:19] guarani opened #16241 "My Site screen cannot be refreshed after being added to a site"
### Expected behavior

After someone adds me to a site, the app should allow the user to access the newly linked site (e.g. by pull-to-refresh on the My Site screen).

### Actual behavior

I have the app open and currently have no sites. I'm added to someone else's site. In the app the My Site screen doesn't allow me to access the newly associated site. I can't pull-to-refresh, and switching betwe

[2021-04-06 21:20] eduardozulian commented on #15868
Another case: 3881292-zen

[2021-04-06 22:01] ScoutHarris opened #16242 "Account Settings: Primary Site row stays selected"
### Expected behavior
Row selection cleared if `Select Site` view is cancelled or dismissed.

### Actual behavior
If `Select Site` is cancelled or dismissed (via swipe down) the `Primary Site` row is still selected.

### Steps to reproduce the behavior
- Go to Me > Account Settings.
- Select `Primary Site`.
- Cancel or dismiss `Select Site`.
- Notice `Primary Site` is still selected.

If a site is

[2021-04-06 22:44] ScoutHarris opened #16244 "Notification Likes List: show user profile when user tapped"
In Notifications > Likes > List, when a user row is tapped, show the user profile in a bottom sheet.

References:

- Likes Enhancements i2 design - pbArwn-1CQ-p2
- User Profiles i3 design - pbArwn-K3-p2

![user_profile](https://user-images.githubusercontent.com/1816888/113786644-c9ff3900-96f6-11eb-8058-51d7e4988569.png)

[2021-04-06 22:49] ScoutHarris opened #16245 "Like Notification > User Profile: show site when selected"
When the user's site is selected in the [User Profile](https://github.com/wordpress-mobile/WordPress-iOS/issues/16244), show the site in the Reader's site view in a fullscreen modal.

References:
- Likes Enhancements i2 design - pbArwn-1CQ-p2

![site_display](https://user-images.githubusercontent.com/1816888/113787278-f49dc180-96f7-11eb-9fd0-d4365a6c2ebc.png)

[2021-04-07 00:21] mattmiklic opened #16246 "Plugins: Items aren't tappable or open the wrong screen"
### Expected behavior
- On a Jetpack-enabled site, open the Plugins menu
- Tap on a plugin in any of the categories on that screen
- The detail page for that Plugin should be displayed.

### Actual behavior
- Tapping any of plugins in the Installed, Popular, or Newest rows opens the list of plugins in that category (what "See All" should link to), instead of going directly to that plugin's listing

[2021-04-07 00:33] #16197 closed, assigned to nobody

[2021-04-07 00:52] mattmiklic opened #16247 "Webviews: white text on white headers (invisible text and icons)"
There are quite a few webviews where I'm seeing white text and icons on a white background in the toolbar, meaning the page title and any icons are invisible. This only applies to light mode; in dark mode they are visible (but the web address subtitle is dark and hard to read).

- Me > App Settings > Privacy Settings > Learn More (under "Share information with our analytics tool...")
- Me > App Se

[2021-04-07 00:56] mattmiklic commented on #12942
A visual might be helpful here; I'm having a hard time imagining what exactly that'd look like. In terms of color, I think the system `separatorColor` would make most sense to use for both borders (site icon and quick actions) so they match the border on the background.

[2021-04-07 01:58] yaelirub commented on #16247
@frosty , @Gio2018 can one of you please take a look at this? If we can fix it for the next beta that would be great

[2021-04-07 05:44] reginabally commented on #11115
From a 4-star app review:

Date of review: Apr 4, 2021
App version: Version 16.9

[2021-04-07 12:47] osullivanchris commented on #12942
Sorry it wasn't clear. Here's what I was thinking.

First, with no border. In light mode, an icon with a dark image looks great. But an icon on a white background lacks any boundary.
![1 no border](https://user-images.githubusercontent.com/50576199/113868345-7c8ed480-97a7-11eb-872f-a5ef21ab0d55.png)

Second. If we add a grey border. The icon on the right with the white background is resolved, it n

[2021-04-07 12:52] osullivanchris commented on #12942
One last attempt at explaining!

![illustratino](https://user-images.githubusercontent.com/50576199/113869271-6c2b2980-97a8-11eb-9b6c-48ca62232595.png)

[2021-04-07 14:25] guarani commented on #16062
I ran into an issue which is probably the same as this but want to confirm:
1. Open a new blog post
2. Add a Story block
3. Add Media (camera view opens)
4. I rotate device to landscape-left
5. Image is stretched

If Stories isn't supposed to support landscape, I'd say this issue will go away when that change is made.

https://user-images.githubusercontent.com/1898325/113882647-7a1e8180-978b-11eb-

[2021-04-07 14:50] antonis opened #16248 "Schedule Now button is hidden from the screen when scheduling a story"
### Expected behavior
The schedule Now but is visible on the screen when scheduling a story without scrolling

### Actual behavior
Schedule Now but is hidden from the screen when scheduling a story

### Steps to reproduce the behavior
1. Create a new Story
2. Press the arrow on the top-right of the screen
3. Tap on the "Publish Date" and schedule in the future
4. Press Done
5. Notice that the **"S

[2021-04-07 18:08] twstokes commented on #9015
I'm game to take it! 👋

[2021-04-07 19:46] mattmiklic commented on #12942
Gotcha, thanks for the visuals -- that definitely makes it clear. I like this idea. It'd be good to try it with the standard separator color (which is semi-translucent) first but a tint of white/black seems like it works pretty well.

[2021-04-07 19:50] frosty commented on #16247
Thanks for reporting, I'll take a look! This should've been fixed by https://github.com/wordpress-mobile/WordPress-iOS/pull/16116, so I'll see what's going on here.

[2021-04-07 20:08] ScoutHarris opened #16249 "Notification Likes list: update user cell UI"
Update the user cell UI to match the design.

Design i2 - pbArwn-1CQ-p2

| Old | New |
|--------|-------|
| <img width="470" alt="old_user_cell" src="https://user-images.githubusercontent.com/1816888/113927208-66364800-97aa-11eb-8d4d-c6ae06eb12d1.png"> | <img width="375" alt="new_user_cell" src="https://user-images.githubusercontent.com/1816888/113927226-6d5d5600-97aa-11eb-96c8-b502a949b834.png">

[2021-04-07 20:55] startuptester opened #16250 "Site Title/ Domain name confusion"
In the site creation flow, the user is asked to select a domain. Spaces are allowed and since you are creating a site, the instinct might be that users are naming their site. (Site title, not domain)

[2021-04-07 21:00] startuptester opened #16251 "Design Review: Social links not in the page editor. User expected to see those (as a block or something) in the page editor."
When a user creates a page from a template, there are social links. When they customize and change content to make it their own, it's not intuitive how to change the social links.

[2021-04-07 21:02] eduardozulian opened #16252 "Story: allow search/filters when choosing the WP media library"
### Expected behavior
To be able to:

* Search for the image title as it's possible on My Site > Media
* Filter by Media Type and Date (Month + Year) as offered in WP Admin

### Actual behavior

You have an infinite list of images and videos with no indication of date/time. If the image you're looking for is really old, then you need to scroll for a long time until you find it.

### Steps to repro

[2021-04-07 21:26] startuptester opened #16253 "Bug: demo posts have featured images that are not inside the post itself"
![image](https://user-images.githubusercontent.com/66104034/113936877-a818bb80-97b5-11eb-88ef-d33c9b4d4fe1.png)
![image](https://user-images.githubusercontent.com/66104034/113936891-ad760600-97b5-11eb-8f30-d9cec7e741bf.png)

Featured image in the posts list  from Cassel template but no image inside the editor when opened

[2021-04-07 23:22] bjtitus opened #16254 "Stories: Add Draft saving when exiting a new Story"
### Expected behavior

1. Create a new Story
2. Add Media to the Story
3. Dismiss the Story editor
4. Prompt should allow saving the changes to a Draft

### Actual behavior

Prompt only allows discarding the changes.

##### Tested on iOS Simulator, iOS 14.4, WPiOS 16.9

[2021-04-07 23:22] startuptester opened #16255 "Cassel - Static Content for Featured Post is confusing"
Cassel theme has a "Featured Post: on the homepage that looks like it would auto-populate, but is actually static content.

[2021-04-08 08:39] SylvesterWilmott commented on #12942
This is what the App Store does for screenshots and icons for same reason Chris mentioned. From what I can tell by eye, light mode uses a black border with 8% opacity and dark mode uses a white border with 8% opacity.

[2021-04-08 08:46] reginabally opened #16256 "Unsupported redirect error when creating logo"
When I was testing the "Create logo" feature on WPiOS 17.0.0.6, I see an "Unsupported redirect" error.

### Expected behavior

No error appears on the screen before I was redirected to the BuildMyLogo page.

### Actual behavior

I'm seeing an "Unsupported redirect" error.

### Steps to reproduce the behavior

1. On the app, switch to a WordPress.com Simple site
2. Go to My Site > Themes > Customiz

[2021-04-08 09:18] frosty commented on #14938
@guarani Are you able to tell which method might be responsible for pushing the new view controllers? There's a single push in `MediaLibraryViewController`, and there's also `displayPreviewController` in `WPMediaPickerViewController` that performs a push of a preview VC.

[2021-04-08 18:30] startuptester opened #16260 "Remove Cancel button from Prologue with a connected self hosted site"
### Expected behavior
No cancel button squishing the top text

### Actual behavior
![image](https://user-images.githubusercontent.com/66104034/114078206-e4a3f000-9865-11eb-965d-63130ebcb537.png)

### Steps to reproduce the behavior
1. With only a self hosted site connected, go to Log In

##### Tested on iPhone 12 Pro, iOS 14.4.2, WPiOS 17.1.0.0

[2021-04-08 20:49] mattmiklic commented on #12942
I dig it; I think we can roll with this.

[2021-04-08 20:55] ScoutHarris commented on #16260
Hey @startuptester . The Cancel button is shown here as that is the only way to exit this flow (although, it is rather large, but that's another issue). I think instead the carousel needs to adjust per the height of the button view. @Gio2018 ?

[2021-04-08 21:34] Gio2018 commented on #16260
Hey @ScoutHarris and @startuptester

Yes.

And we can also work on the proper sizing of the cancel button. @frosty @osullivanchris what's your opinion in regard to this case?

[2021-04-08 22:33] bjtitus commented on #16062
Yep! The issue you pointed out should be fixed by removing rotation while in the Story editor but we will likely need to fix it for iPad support. I've got a change coming up for 17.2 to fix the rotation issue.

[2021-04-08 23:05] bjtitus commented on #16248
Just a note on temporary workarounds that the prepublishing sheet should be swipeable in this state so the button is reachable upon swiping up. Also, taller devices (primarily those without a home button) will show the top part of the button as shown in the Note section. I'm investigating at a few possible fixes for this.

[2021-04-08 23:12] #16249 closed, assigned to ScoutHarris

[2021-04-09 01:41] #16209 closed, assigned to nobody

[2021-04-09 10:17] frosty commented on #16241
@osullivanchris Do you have any thoughts about a fix for this? We could do something like refresh the user's list of sites every time the user navigates to the 'empty' My Site screen?

[2021-04-09 11:03] osullivanchris commented on #16260
@Gio2018 thanks for the ping. I wasn't aware of the view so I didn't consider it in the prologue screen designs. I can see a few options
- make the text or image smaller for this case
- instead of a cancel button, put an 'x' or back chevron at the top of the screen
- maybe in this case (the user hasn't just opened the app), the user doesn't need the full carousel pitching WordPress to them. We cou

[2021-04-09 11:15] osullivanchris commented on #16241
We have pull to refresh on the other two main tabs. Would it be weird to add pull to refresh on My Site? We will probably need it in future if we show dynamic content on the My Site tab.

Otherwise yeah I think you could refresh each time just for the people with no sites. Don't think that changes anything visually.

[2021-04-09 13:36] rossanafmenezes opened #16267 "After latest update Hebrew version of the site is truncated"
### Expected behavior

Since Hebrew is part of the Mag16 languages, I would expect the app to look normal if you have your phone set to Hebrew.

### Actual behavior

The user reported they are not able to switch sites because the switch site option is not showing:

![Annotation on 2021-04-09 at 09-19-51](https://user-images.githubusercontent.com/30724184/114186953-6f8ff380-9915-11eb-9893-b1e4f3bee

[2021-04-09 14:29] mdrockwell opened #16268 "Classic Editor Removes <br> Tag"
### Expected behavior
When switching to the HTML view and inserting the `<br>` tag, these tags should be maintained.

### Actual behavior
When switching between HTML mode and Visual mode, the `<br>` tag is removed from the editor.

### Steps to reproduce the behavior
1. Open a post or page in the classic editor.
2. Switch to HTML mode.
3. Insert a `<br>` tag.
4. Switch to visual mode.
5. Switch to

[2021-04-09 16:09] eduardozulian commented on #10233
Another report on 3894157-zen

Just noting that this happens with all links, not just the refresh icon/button.

[2021-04-09 20:42] sentry-io[bot] opened #16270 "Error Domain=NSURLErrorDomain Code=-1001 "The request timed out." UserInfo={_kCFStreamErrorCodeKe..."
Sentry Issue: [WORDPRESS-IOS-3A2H](https://sentry.io/organizations/a8c/issues/2207868421/?referrer=github_integration)

[code]

[2021-04-10 01:24] kelasante opened #16274 "Bug: Images Inserted From WP Media Library Do Not Contain Already Added Alt Text"
### Expected behavior
When using the desktop browser, the alt text is automatically added in when an image inserted from the media library contains the alt text. However, this does not happen when using the iOS app.

### Actual behavior
When using the Image block, images inserted via the media library do not automatically add in the alt text.

### Steps to reproduce the behavior
1. Go to the WordP

[2021-04-11 03:16] iamgabrielma commented on #6015
3893991-zen

[2021-04-11 07:25] iamgabrielma commented on #16267
They confirmed the version is  Version 17.0 (17.0.0.6)

[2021-04-11 15:01] sdooh393 commented on #16267
Sz

[2021-04-12 06:57] reginabally opened #16278 "Webviews: Not in logged in state when viewing blog posts through Reader"
It was reported in 3851270-zd-woothemes that the user was requested to log in when they tried to like a blog post with a mapped custom domain of a WordPress.com site when visiting it through the Reader in the app.

### Expected behavior

It was expected that the user is able to "Like" or "Comment" on the post since they're logged in to the app.

### Actual behavior

A log-in screen shows up when t

[2021-04-12 15:47] rossanafmenezes commented on #15595
Just got another case here 3899007-zen

Same issue, works on Safari and Apple devices but on ay other device you get the audio only. The shortcode using the Shortcode block in the app works, however the option to copy the video shortcode from the media library is not available in the app. You need to copy it from the browser. So maybe we should think about adding this option to the mobile media li

[2021-04-12 16:37] mtias commented on #15595
@hypest yes, but I don't know the status of it or if it was punted cc @roundhill

[2021-04-13 07:23] momo-ozawa opened #16289 "Jetpack Scan: display a warning for when server credentials are not configured"
### Expected behavior

1. When the user taps Scan
2. And server credentials are not configured
3. The user can't start the Fix Threat flow and they see a warning
4. When the warning is tapped user is redirected to https://wordpress.com/settings/jetpack/site (where "site" is the site address)

### Design

Similar to the design in [Jetpack Restore: display a warning for when server credentials are n

[2021-04-13 15:39] eduardozulian commented on #15390
Another report in 3893918-zen:

[2021-04-13 15:40] AtrumGeost opened #16290 "Atomic Sites: The "Try & Customize" option is not working for Varia-child themes"
### Expected behavior

For the theme preview to normal load

### Actual behavior

The mobile app (on iPhone and iPad) shows the following error:

`The parent theme is missing. Please install the "varia-wpcom" parent theme.`

![IMG_AC57BE7EDC33-1](https://user-images.githubusercontent.com/3696121/114579721-c06c5880-9c43-11eb-8021-9ddc8c90e8fd.jpeg)

### Steps to reproduce the behavior

Select an At

[2021-04-13 17:44] arunsathiya opened #16291 "`No recent posts` illustration not centered"
![Screenshot_20210413-231126.jpg](https://user-images.githubusercontent.com/18581859/114596782-abc4aa80-9cad-11eb-9f7b-982c3030f551.jpg)

![Screenshot_20210413-231127.jpg](https://user-images.githubusercontent.com/18581859/114596807-b1ba8b80-9cad-11eb-8b75-00ced8c96a8b.jpg)

No recent posts illustration is not centered when I open that tab. When I scroll down a bit, it can be centered. Feels like

[2021-04-13 17:45] arunsathiya commented on #16291
Oh no, I meant to file this on Android repository. Could someone with access move?

[2021-04-13 19:25] guarani opened #16293 "Cannot switch to block editor from empty post in classic editor"
### Expected behavior

With the classic editor open on an empty post, I should be able to switch to the block editor (via the three-dots menu) if the site has "Enable block editor" in the ON position.

### Actual behavior

There's no option to switch to the block editor.

### Steps to reproduce the behavior

1. Locate a site that has the "Enable block editor" switch ON
2. Locate an existing classi

[2021-04-13 20:26] leandroalonso opened #16295 "Jetpack App (Basics): Configure Zendesk"
Change the subject from "WordPress for iOS Support" to "Jetpack for iOS Support" (the latter without internationalization).

### To test

1. Contact the support from the Jetpack app and enter your message
2. Check that the ticket was sent with the "Jetpack for iOS Support" subject
3. Contact the support from WP app
4. Check that the ticket was sent with "WordPress for iOS Support" subject

[2021-04-14 03:31] twstokes opened #16297 "Bug: Author names don't appear in Blog Posts list"
This bug only applies to self-hosted WordPress sites.

<img src="https://user-images.githubusercontent.com/2092798/114650216-d9aaee80-9caf-11eb-8c62-35efafa7e8ba.png" width=500 />

### Expected behavior

In the Blog Posts view either:

1. An author name should be shown following the dot separator after the published date.
2. The dot separator should not be shown after the date if an author name is

[2021-04-14 10:45] thehenrybyrd opened #16299 "Self-Hosted Sites: Subscribers can login to the app"
### Expected behavior

I expected that Subscribers could not login to the WordPress app, as they can't manage sites.

### Actual behavior

With a self-hosted site, the Subscriber user is able to log in to the app, access the Blog Posts menu, and create a post. Though the post will not get uploaded to the site, the user is able to view the comments published on the site through My Site > Comments.

[2021-04-14 13:41] guarani commented on #16297
Thanks a lot for catching this issue, @twstokes! 🙇

[2021-04-14 15:12] fluiddot commented on #15767
**This issue still happens**, I managed to reproduce on iPhone 11, iOS 14.2, WPiOS 17.0 (17.0.0.6).

[2021-04-14 15:23] fluiddot commented on #15765
**This issue still happens**, I managed to reproduce on iPhone 11, iOS 14.2, WPiOS 17.0 (17.0.0.6).

The steps to reproduce it are:
1. Go to a site
2. Create a new blog post
3. Tap on the site selector located at the top
4. Input some text in the search field
5. Rotate the device
6. Observe that the search is reset

[2021-04-14 15:29] aerych commented on #10097
Closed with #15253

[2021-04-14 15:29] #10097 closed

[2021-04-14 15:35] fluiddot commented on #15695
Looks like this issue is a duplicate of https://github.com/wordpress-mobile/gutenberg-mobile/issues/3047 which is already solved.

I tried to reproduce it but it's no longer happening, I'm getting different results depending on what I search so I'm closing it.

_Tested on iPhone 11, iOS 14.2, WPiOS 17.0 (17.0.0.6)._

[2021-04-14 15:35] #15695 closed, assigned to nobody

[2021-04-14 15:44] fluiddot commented on #15619
**This issue still happens**, I managed to reproduce it on iPhone 11, iOS 14.2, WPiOS 17.0 (17.0.0.6).

In my case, the markup produced when sharing some text from Safari, it even doesn't have the `Read on ...` part:
[code]

[2021-04-14 16:01] aerych commented on #1188
~Closing. Seems resolved. I tested with a new comment with the text:~
[code]
~And all three formats were shown as emoji in notifications.
If we find new cases where emoji is not rendered we can revisit.~

Realizing this issue isn't about notifications, but other parts of the app.  Removing the notifications label and replacing it with the general label.

[2021-04-14 16:22] aerych commented on #2624
Retested and confirmed this is still an issue.

[2021-04-14 16:29] aerych commented on #3933
This seems to still be an issue.

[2021-04-14 16:42] aerych commented on #6341
It's been a couple of years with no new reports. If it reoccurs we can reopen.

[2021-04-14 16:42] #6341 closed

[2021-04-14 16:52] aerych commented on #6672
Tested this by pasting a url into a comment, then checking the notification I received.  The image was rendered as expected.
Closing. :)

[2021-04-14 16:52] #6672 closed

[2021-04-14 17:10] #14744 closed, assigned to nobody

[2021-04-14 18:25] aerych commented on #7970
Confirmed this is still an area for improvement.

[2021-04-14 18:45] aerych commented on #8410
Tested this again with test blogs and two different users.  The link was clickable and there was an option to view the source post.  Seems resolved now so closing.
![IMG_2320](https://user-images.githubusercontent.com/1435271/114762745-aad05f00-9d27-11eb-9f13-7661d08cf69d.PNG)

[2021-04-14 18:45] #8410 closed

[2021-04-14 18:49] aerych commented on #8898
From a quick test this appears to be resolved.  I currently have two unread notifications and if I open the panel on the web these are not immediately marked as read.  The also continue to show unread in the app.
Closing but feel free to reopen if I've misunderstood or you can reproduce with different steps.

[2021-04-14 18:49] #8898 closed

[2021-04-14 18:51] aerych commented on #9100
Still an issue.

[2021-04-14 18:54] aerych commented on #9201
This is still an issue. :)

[2021-04-14 18:56] aerych commented on #9481
cc @leandroalonso in case this is something to look at with the jp project

[2021-04-14 18:57] aerych commented on #9770
Resolved in https://github.com/wordpress-mobile/WordPress-iOS/pull/9771

[2021-04-14 18:57] #9770 closed

[2021-04-14 18:59] aerych commented on #10023
This is something we could still do for the Apple watch.

[2021-04-14 19:01] aerych commented on #10506
@astralbodies thoughts on this?

[2021-04-14 19:10] aerych commented on #12111
Potentially something we could look at. Probably something to consider as part of an app-wide strategy for haptic feedback design rather than doing it piecemeal and inconsistently applied.

[2021-04-14 19:13] aerych commented on #12443
Likely still an issue and I agree this is something most likely to be addressed server-side rather than in the app. Not sure this is strictly a bug but leaving the label for now

[2021-04-14 19:18] aerych commented on #12782
Closing.  The Notifications Followers tab is not intended to show a list of followers, rather notifications of when a new person followed a site.  We might look at improving the text on the no results view at some point if it's causing confusion, but unless we receive other reports it doesn't seem like something to prioritize.

[2021-04-14 19:18] #12782 closed

[2021-04-14 19:25] aerych commented on #13846
This remains an issue.  And as a bonus, the chevron is no longer vertically centered with the text when the keyboard is dimissed:
![IMG_2321](https://user-images.githubusercontent.com/1435271/114767382-2aacf800-9d2d-11eb-994a-2e8947e66ae0.PNG)

[2021-04-14 19:28] aerych commented on #13988
I've encountered this (or something similar) recently after the rollout of the new headers.  Steps to reproduce:
- Go through the sign up flow
- After signed up, visit the Notifications tab.
- Note that the no results view is pushed farther down the screen than we'd expect.

[2021-04-14 19:31] aerych commented on #13988
Refs https://github.com/wordpress-mobile/WordPress-iOS/issues/14898

[2021-04-14 19:37] aerych commented on #15337
@designsimply @jkmassel is this still a thing?  The sentry links seem to 404 now.  If it's still happening can we update with links to the current sentry issue being tracked? (Or close if resolved?)

[2021-04-14 19:50] aerych commented on #15488
I'm seeing this same behavior on the web.  A number of comments I've liked are not showing as liked in the notification screen.  This is potentially related to some recent updates to p2 likes. It could also be an issue with how the notifications endpoint caches data. More investigation is needed.
Asking in p1618430158119600-slack-automattic

[2021-04-14 20:00] aerych commented on #15987
Closing now that the new navigation bars are in use app wide.

[2021-04-14 20:00] #15987 closed, assigned to nobody

[2021-04-14 20:01] aerych commented on #15487
Dup of https://github.com/wordpress-mobile/WordPress-iOS/issues/5540

[2021-04-14 20:44] astralbodies commented on #10506
I thought we stopped sending Woo push notifications to the WordPress apps. I haven't seen it happen, at least so I think we can safely close it.

[2021-04-14 21:28] dougaitken commented on #10506
@astralbodies @aerych FYI we are still sending if the option is toggled on.

![image](https://user-images.githubusercontent.com/52214/114781438-92386700-9d70-11eb-9d72-4f6ff8e36607.jpeg)

This issue is related to the fact you cannot toggle these notifications off/on from the App settings

[2021-04-15 01:44] arunsathiya commented on #16291
It has been moved to https://github.com/wordpress-mobile/WordPress-Android/issues/14462.

[2021-04-15 01:44] #16291 closed, assigned to nobody

[2021-04-15 10:46] fluiddot commented on #15255
I tried to reproduce this issue by installing the GBoard but I couldn't it so probably it’s already solved, the inserter menu is displayed properly and the image block works as expected.

_Tested on iPhone 11, iOS 14.2, WPiOS 17.0 (17.0.0.6)._

@reginabally did the user give any update? If not I think we could close this issue and in case we receive another ticket similar to this one then re-open

[2021-04-15 11:48] fluiddot commented on #15184
I didn't manage to reproduce it with two devices using the WPiOS app, however it happened to me when using the web version. Looks like there's some kind of incompatibility on the HTML produced in video blocks when they're used in the native app and web.

**The steps for reproducing it are:**
1. In the app
    1. Create/edit a post
    2. Add a video block
    3. Insert a video
    4. Save the post

[2021-04-15 11:55] fluiddot commented on #15163
**This issue still happens**, I managed to reproduce on iPhone 11, iOS 14.2, WPiOS 17.0 (17.0.1.0).

[2021-04-15 12:35] AliSoftware opened #16311 "[UX + L10n issue] Action buttons on comments (esp. "Unapprove")"
### Expected behavior

When I open a comment in the app and look at the action buttons at the bottom of the comment, I expect those buttons to have readable label and clear intent.

### Actual behavior

1. Some buttons have their text truncated in some locales (below: French locale)
2. The "Unapprove" button meaning is unclear (at least to me). First impression that this button gave me is that I a

[2021-04-15 13:55] guarani commented on #15487
Thanks for spotting @aerych! I'm closing this now.

[2021-04-15 13:55] #15487 closed, assigned to nobody

[2021-04-15 13:55] guarani commented on #5540
Closed https://github.com/wordpress-mobile/WordPress-iOS/issues/15487 as a duplicate.

[2021-04-15 14:27] AliSoftware opened #16313 "Notifications about comments/reply have wording & display issues in other locales"
### Expected behavior

In notifications about comments and replies, I expect the wording of the notification to be correct in all locales and the (first words of the) comment being replied to be present in the notification to indicate which comments it is about.

### Actual behavior

At least in the French locale:
 - The translation in French is incorrect, as it is using "a répondu à votre comment

[2021-04-15 18:17] #16297 closed, assigned to nobody

[2021-04-15 20:53] #16295 closed, assigned to nobody

[2021-04-15 21:43] #15366 closed, assigned to nobody

[2021-04-16 06:43] reginabally commented on #15255
Hi, @fluiddot Thanks for following up. We didn't hear back from the user still so I'll close this issue for now.

[2021-04-16 06:43] #15255 closed, assigned to dratwas

[2021-04-16 08:55] diegoreymendez commented on #15750
@frosty - I see you moved this forward and that all checkboxes are ticked.  Can this issue be closed or are there pending action items?

[2021-04-16 14:30] frosty commented on #15750
@diegoreymendez Many of the future improvements could do with implementing at some point – I can prioritize the list, but we can move them to a new issue if you think that might be best.

[2021-04-16 15:44] diegoreymendez commented on #15750
@frosty No it's fine, I was only wondering if this needed closure.  Thanks for the update.

[2021-04-16 17:02] bjtitus commented on #15870
I made a change (https://github.com/wordpress-mobile/WordPress-iOS/pull/16314) to stop logging 404 errors as they would be expected when no site icon exists. This should reduce the volume of these errors by roughly half. Next steps should be to investigate the 400s (the next largest error group). I have a theory that they may be caused when Photon requests are made with bad parameters or when the

[2021-04-16 17:05] bjtitus commented on #15366
I made a change in https://github.com/wordpress-mobile/WordPress-iOS/pull/16315 to drastically reduce the occurrences of this error. I believe there is an issue within system frameworks which produces integer overflows. This creates a value on the upper end of the unsigned integer scale which should have been negative. Given that https://github.com/wordpress-mobile/WordPress-iOS/pull/15475 appeare

[2021-04-16 19:17] chipsnyder commented on #16014
This should now be resolved as part of https://github.com/wordpress-mobile/WordPress-iOS/pull/16282. We reworked this area completely so this specific code path no longer exists.

[2021-04-17 19:04] mdrockwell commented on #16068
Another report here: 3901679-zen

[2021-04-19 12:44] thehenrybyrd commented on #12121
@illusaen Thanks for checking in on this!

The current behavior on WordPress.com is that restoring a deleted draft retains the date the draft was last edited.

For example:
I found an old draft. The "Last Modified" date was August 13, 2019.
I trashed it, then restored it, without making any changes. The "Last Modified" date remains August 13, 2019.
Publishing it retains that date as the publish da

[2021-04-19 14:30] #16014 closed, assigned to chipsnyder

[2021-04-19 18:36] bjtitus commented on #15305
I tested this on simulator and device and was unable to reproduce the issues shown in the recording following either set of steps. Didn't see a specific commit that might have fixed it but I'm curious is anyone else can reproduce.

[2021-04-19 19:50] jkmassel commented on #11849
17.2 out-of-date dependencies:

[code]

[2021-04-19 20:49] emilylaguna commented on #15305
I did some work on this view end of last year, this may have been fixed by: https://github.com/wordpress-mobile/WordPress-iOS/pull/15551/files

[2021-04-20 03:16] reginabally opened #16337 "Non-descriptive error message when logging in with incorrect username and/or password"
### Expected behavior

I would expect to display a meaningful error message on the login screen when the user entered the incorrect username and/or password.

### Actual behavior

The error message shown on the screen is "The Operation couldn't be completed. (WordPressKit.WordPressOrgXMLRPCApiError Code 0.)

![IMG_32B29730A99C-1](https://user-images.githubusercontent.com/40906847/115332000-937eef0

[2021-04-20 05:50] momo-ozawa opened #16338 "Jetpack App (Emphasis)"
## Description
This is the parent issue for Emphasis, the second phase of the Jetpack App project.

## Project References
- Jetpack App i5: Emphasis (pcdRpT-iP-p2)
- Jetpack App i5 final wrap up comment (pcdRpT-iP-p2#comment-311)
- Removing Quick Actions (p1619069690172700-slack-C0180B5PRJ4)
- Keeping the Jetpack section header (https://github.com/wordpress-mobile/WordPress-iOS/pull/16363#pullrequ

[2021-04-21 00:35] #16289 closed, assigned to momo-ozawa

[2021-04-21 16:45] ceyhun commented on #16068
I came across a similar issue in 3926774-zen and I think this is in general about .m4a files rather than specifically Voice Memos (which also happen to use .m4a format).

When I try uploading an .m4a from Safari and Firefox using an Audio block, I get this error:

<img width="600" src="https://user-images.githubusercontent.com/1845482/115589134-c90e0000-a2cf-11eb-97de-731f14ac08c1.png">

But when

[2021-04-21 19:27] eduardozulian commented on #10233
Also in 3926628-zen

[2021-04-21 20:33] #16248 closed, assigned to nobody

[2021-04-21 21:18] #16183 closed, assigned to aerych

[2021-04-22 01:53] momo-ozawa opened #16356 "Jetpack App (Basics): Update notifications dot color"
## Description
Update the notifications dot color to Jetpack Green

## Notes
The unread notifications icon is an image asset. To update the notifications dot to green, we need to add a new image asset to the Jetpack AppImages asset file.
![Screen Shot 2021-04-22 at 11 38 21](https://user-images.githubusercontent.com/6711616/115647749-551b3880-a35f-11eb-905b-906f25126441.png)

[2021-04-22 05:24] #16267 closed, assigned to frosty

[2021-04-22 05:28] startuptester commented on #16256
Thanks @reginabally! I'm unable to repro this on a Simple site using the 17.2 beta from TestFlight. Can you please confirm? If so, we can call this fixed.

[2021-04-22 06:58] koke opened #16357 "Notifications don't always respect dynamic text"
It seems like the notifications list adapts to larger text sizes but the notification details don't, at leas for likes/comments:

![notifications-dynamic-text](https://user-images.githubusercontent.com/8739/115666732-3ad46100-a345-11eb-8504-54c9f9bade59.png)

### Steps to reproduce the behavior

1. [Switch the text size](https://support.apple.com/en-us/HT202828) to a larger font
2. Browse the noti

[2021-04-22 16:31] ScoutHarris commented on #16357
Dupe of #9201. Also, Like notifications should be resolved with the Like Enhancements project (pbArwn-1CQ-p2, which is in progress).

[2021-04-22 16:31] #16357 closed, assigned to nobody

[2021-04-22 20:08] aerych commented on #16278
I dug into this a little bit more and reproduced the same behavior described by the user and illustrated in the above linked video. (I tested with mobile.blog and data.blog).

What is interesting is that this _almost_ works and is _almost_ the behavior we'd expect after the recent changes on the web addressing third party cookies with likes.
- Tapping the like button in the web view opens a new sc

[2021-04-22 20:09] guarani opened #16359 "App crashes when trashing and restoring posts"
### Expected behavior

On the posts lists screen, trashing and restoring posts shouldn't result in a crash.

### Actual behavior

The first post I trash and restore seems to work, but when I try trashing and restoring a second post, the app crashes.

### Steps to reproduce the behavior

1. Navigate to My Sites > Posts
2. Trash and then restore a post
  a. Tap the More button
  b. Tap Move to Trash

[2021-04-22 20:17] guarani commented on #16359
[code]
From the logs here it looks like an inconsistency between the table view data source and the table view cell addition/removal operations.