[2019-05-30 08:45] #10623 closed

[2019-05-30 10:12] danielebogo commented on #11815
I think the wrong numbers displayed bug is fixed now in #11805 . It's related to `Stats don't update when a different site is selected.` However there's still a problem when a stats detail is pushed. Browsing back, sometimes, the overview results empty.

[2019-05-30 11:55] koke opened #11818 "Notifications about comments should take you to the right comment"
When you receive a notification related to a comment (like, reply, mention), the header of the notification detail shows a tiny excerpt and links to the discussion.

![35A8A75F-033E-4015-8B1C-1DF0A08E8E83](https://user-images.githubusercontent.com/8739/58631210-21a21180-82e2-11e9-9037-43c5bf870828.jpeg)

When you tap on it, you are taken to the comment list, but instead of scrolling to the right c

[2019-05-30 12:18] #11810 closed

[2019-05-30 13:25] sentry-io[bot] opened #11819 "Crash: NSRangeException in BlogDetailsViewController"
Sentry Issue: https://sentry.io/share/issue/96a43e29c8e645079d5fc76cd31612cb/

[code]

[2019-05-30 13:33] loremattei commented on #11819
It seems to be new in 12.4.

[2019-05-30 14:47] diegoreymendez commented on #11436
I could reproduce it back at the time @shiki although I haven't tried in a while.  Will check again.

[2019-05-30 15:28] shiki commented on #11434
@iamthomasbishop I'm reiterating to make sure I understand. We will have **2 ways** of removing a featured image.

| If Online | If Offline |
|--------|-------|
|  Use _Remove_ button in popup <br> <img src="https://user-images.githubusercontent.com/1200432/58594326-e1378a80-8232-11e9-90d8-6548d33738b5.png" width="320">  |  Use _Clear Featured Image_ in action sheet  <img src="https://user-images.

[2019-05-30 15:43] iamthomasbishop commented on #11434
Technically, yes. But the full-screen view is only shown when the image is successfully added. Here are the cases, as I understand them:

If the featured image is set successfully:
* Show image inline (same as current)
* Tapping on image shows full-screen view (left example above)

If the featured image has an error:
* Show error text (right example above)
* Tapping on error text shows sheet

[2019-05-30 15:47] iamthomasbishop commented on #11434
And to re-iterate, whatever we decide is the proper label for the `Remove` action, we should use the same label in both of those locations.

[2019-05-30 16:26] jkmassel commented on #11384
I'm seeing a few events from iPad mini and iPhone 6 in there as well, so _probably_ not a device-specific issue? I'm looking at this ticket: https://sentry.io/share/issue/331ad2ef7f894793b3f5b830b113d503/

[2019-05-30 16:59] ScoutHarris commented on #11815
@danielebogo thank you. I'll leave this open as part of fixing the returning from details problem.

[2019-05-30 17:07] elibud commented on #11782
I think on this one we are limited to what the Zendesk SDK provides, right @ScoutHarris? The solution would be to build our own UI and use their API (which we have discussed before but will be a lot of work).

[2019-05-30 17:20] ScoutHarris commented on #11782
@elibud - yep, you described it exactly!

[2019-05-30 17:32] #11742 closed

[2019-05-30 17:44] #11798 closed

[2019-05-30 17:53] megsfulton opened #11821 "Update screenshots in support documentation"
The screenshots on https://apps.wordpress.com/support/ are out of date and could use a refresh.

[2019-05-30 17:55] ScoutHarris commented on #11781
Hey @yaelirub . I'll take a look.

[2019-05-30 19:07] ScoutHarris commented on #11781
Well, I tried every scenario I could think of accessing the Help Center, on `develop` and `release/12.3`, and I couldn't repro it either.

I did see this Sentry issue [WORDPRESS-IOS-G](https://sentry.io/organizations/a8c/issues/1014091239/) that is suspiciously similar. @jkmassel marked it as resolved in version 12.4, although there is no linked GH issue so I'm not sure why.

I suspect this has be

[2019-05-30 19:07] #11716 closed

[2019-05-30 19:29] sentry-io[bot] opened #11822 "Crash: NSRangeException in NotificationDetailsViewController"
Sentry Issue: https://sentry.io/share/issue/9b55cc4affdf4e949d8fc35a2ff562e7/

[code]

First seen in: `12.3.0.4`
Users affect: `142`

This crash seems to happen a lot right after right after the `NoResultsViewController` tries to appear.

[2019-05-30 19:38] jkmassel commented on #11781
Hi y'all – this was resolved in 12.4 by the Sentry refactoring to stop the ZenDesk SDK warnings. I suspect it was an incompatibility between the SDK and the app after the Xcode 10.2 update (to update to Xcode 10.2, we needed their new SDK, which had had deprecation warnings in it for some time. I suspect our use of the deprecated method caused the crash)

[2019-05-30 19:45] ScoutHarris commented on #11781
Aaahhh. Thanks @jkmassel ! So when the deprecated methods were removed in https://github.com/wordpress-mobile/WordPress-iOS/pull/11511 (which was in 12.4) that probably had the side effect of resolving the crashes? Interesting. I vote to close. 😄

[2019-05-30 21:00] yaelirub commented on #11781
Thank you so much @ScoutHarris and @jkmassel. @designsimply closing this issue as it was resolved in 12.4

[2019-05-30 21:00] yaelirub commented on #11781
Thank you so much @ScoutHarris and @jkmassel. @designsimply closing this issue as it was resolved in 12.4

[2019-05-30 21:00] #11781 closed

[2019-05-30 21:05] charliescheer opened #11823 "Stats page showing error when user doesn't have permissions to view stats on jetpack sites"
With a Jetpack site, the administrators have the choice to decide what permissions level has access to view the stats for the site.  If you are in calypso from an account that does not have permission to view stats for a site there is no link to see the stats page at all.  I would expect in the WordPress app that if the user didn't have the permissions to view stats that the page to click on and v

[2019-05-30 21:18] ScoutHarris commented on #11823
Thanks @charliescheer . I've added it to The List.

[2019-05-30 21:52] shiki commented on #11434
Thank you, @iamthomasbishop! I believe I understand. 😄

I'm removing my assignment from this issue since I will be AFK the whole week next week. Just in case someone else wants to take it. I'll pick it up again when I'm back.

[2019-05-30 23:18] ScoutHarris opened #11824 "[Stats Refresh] Period Authors details: expanded rows should be 44pt"
- Go to Period > Authors > View more.
- Expand a row.
- The row height should be 44 pt.

<img width="450" alt="author_details" src="https://user-images.githubusercontent.com/1816888/58671176-dc400d00-82fe-11e9-9ff0-300cd473b6f8.png">

[2019-05-30 23:41] JavonDavis commented on #11822
Probably fixed in #11698... If there are no new reports of this we can close it with `12.6`

[2019-05-31 00:12] ScoutHarris commented on #11823
Hey @charliescheer . Would it be possible for you to do this on the current App Store version (i.e. on old stats) and let me know what happens? I'm not entirely sure this is a new problem. Sadly, I'm having issues with our test JP sites. Thank you!!

[2019-05-31 15:06] osullivanchris commented on #11753
I'm reading up on this and I'll ask stupid questions so we know if we're all on the same page.

**Current State**
- On Android, when hitting back, the changes are auto-saved and there is no message to the user
- On iOS, when hitting back, the user gets the option to either discard the draft or keep it

**Initial proposal**
- Change iOS to align with Android, by removing the option to save/discard

[2019-05-31 16:37] #11800 closed

[2019-05-31 16:38] #11815 closed

[2019-05-31 17:25] charliescheer commented on #11823
Sure thing.  Current app store version has the same problem, it just doesn't display an error.  It loads the stats page and you get no data.
<img src="https://cdn-std.dprcdn.net/files/acc_593859/Bbb13m" >

[2019-05-31 18:18] ScoutHarris commented on #11823
Thanks @charliescheer !

[2019-05-31 18:41] #11699 closed

[2019-05-31 18:46] yaelirub commented on #11307
https://github.com/wordpress-mobile/WordPress-iOS/pull/11817 address improving the messaging experience when replying/ commenting. This issue still remains and will be tackled in Offline support.

[2019-05-31 19:01] yaelirub commented on #11753
@wordpress-mobile/ravenclaw, @iamthomasbishop,
Since we are anticipating upcoming changes and updates to the view/edit functionality in Gutenberg that will affect the discard experience as well, we are closing this issue for now .

The discussions we had here and in other channels are valuable and will be used to reevaluate how we would like to proceed with this feature.

[2019-05-31 19:25] JavonDavis opened #11831 "Gutenberg Mobile: Page Break Block"
Page Break Block does not allow for access to other pages aside from page 1 in post preview

### Expected behavior

Creating a post with one or more page break blocks and then previewing should allow me to preview all pages in app.

### Actual behavior

Clicking on another page in the post preview attempts to open it in the device browser and will fail if the user is not signed in on the browser.

[2019-05-31 20:55] designsimply commented on #11797
Closing. Props @danielebogo #11806.

[2019-05-31 20:55] #11797 closed

[2019-05-31 21:13] designsimply opened #11834 "Domain Credit: the register domain step can be very slow"
In beta testing, the register domain step took ~26s to complete on a fast wifi connection [~100Mbps](https://user-images.githubusercontent.com/1119271/58734384-89289180-83b4-11e9-8e56-78279c17c246.PNG). Can this step be made faster by any chance?

Video: [2m35s](https://cloudup.com/cf2Yh01tm2E)
<sub>Tested with WP Internal 12.5.0.20190524 on iPhone 6S iOS 12.3.1.</sub>

<img src="https://user-imag

[2019-05-31 21:25] JavonDavis opened #11835 "Preview: Previewing a post while uploading image for image block"
Choosing Preview while image upload is still in progress opens preview with no image and going back to the post and making edits shows only new edits still without the image preview, only a little square

### Expected behavior

Not sure how we'd like to handle the user trying to preview while an image upload in progress, my suggestion is to continue to the preview and show a template image in the

[2019-05-31 21:30] JavonDavis opened #11836 "Preview: Editing image block causes image to not show in preview"
Editing the Image in an image block causes the image to not show in Preview

### Expected behavior

For the new image to be shown in the preview.

### Actual behavior

No image is shown and if there's a caption on the image the caption will show but now the image.

### Steps to reproduce the behavior

1. Activate the block editor and create a new post
2. Add an image block
3. Preview the Post
4. C

[2019-05-31 22:05] designsimply opened #11838 "Domain Credit: Error: A server with the specified hostname could not be found"
To prepare:

1. Setup a WordPress.com blog on the web and apply a plan to it.
1. Do not register the domain yet.

To test:

1. In the app, go to My Sites > {site} > Register Domain.
1. Follow the prompts to use the domain credit and register a domain.
1. Once finished, tap the "View Site" option.

<strong>Result:</strong> if you tap "View Site" right after you register a domain, in many case you w

[2019-06-01 04:23] #11694 closed

[2019-06-01 04:36] #11753 closed

[2019-06-01 06:51] diegoreymendez opened #11840 "Offline Support: Investigate Reachability issues."
This issue was spawned off [this PR](https://github.com/wordpress-mobile/WordPress-iOS/pull/11839).

In that PR I noticed Reachability isn't calling the network availability closures reliably.  In fact they're only called once apparently.

Investigate how this can be resolved.

## Options to Consider:

1. Investigate the different mechanisms we use in the App for reachability.
2. Consider using [t

[2019-06-01 22:46] #11609 closed

[2019-06-02 06:10] yaelirub commented on #11835
Hey @JavonDavis , we have an open issue in progress for this : https://github.com/wordpress-mobile/WordPress-iOS/issues/11808

[2019-06-02 06:19] yaelirub commented on #11808
@jklausa , please take a look at this issue as well https://href.li/?https://github.com/wordpress-mobile/WordPress-iOS/issues/11836 to see if it's related.

[2019-06-02 06:36] yaelirub commented on #3027
@designsimply , I was unable to reproduce and recommend closing this issue

[2019-06-02 06:42] yaelirub commented on #7206
I think this issue still rarely occurs: https://sentry.io/share/issue/12b4173dfe0b48f58636f1f277403c1d/

[2019-06-02 06:53] yaelirub commented on #7285
From a research on crash in the log, seems like this is a UIWebView issue and internal UIKit issue. I recommend closing.

[2019-06-02 06:54] thehenrybyrd commented on #11695
Love this! And I agree that noting this for all limited stats would be most consistent.
Having the limit stated will let users know what's up, and give HEs something to point to if/when users ask about it.

[2019-06-02 06:54] yaelirub commented on #10212
Closing this following comments above ^

[2019-06-02 06:54] #10212 closed

[2019-06-02 08:13] #11676 closed

[2019-06-02 08:23] thehenrybyrd commented on #7886
We've got another mention of this is #2073587-z.
Looks like it's probably the same issue as p4a5px-2fv-p2 (seeing some similar logs).

[2019-06-02 08:32] yaelirub commented on #11384
@jkmassel , not sure. It seems to happen more on iPad. Though the issue your referenced seems to have the same crashing reason while it's displaying the NoResultsViewController which is a bit odd imo.
Unfortunately, I didn't have time to investigate this issue more during GK round.

[2019-06-02 09:41] thehenrybyrd commented on #5475
This came up again in #2056460-zen, with another user getting into Calypso within the in-app browser. It makes for a very confusing editing experience.

[2019-06-03 09:15] SylvesterWilmott opened #11842 "[Site Pages] Incorrect labels on pages search"
In site pages search, header titles show "Publish" and "Draft"

- "Publish" should be changed to "Published"
- "Draft" should be changed to "Drafts"

[2019-06-03 10:04] yaelirub commented on #11840
might be helpful: https://www.youtube.com/watch?v=aRsPC2g77es

[2019-06-03 11:18] SylvesterWilmott commented on #11800
Thanks @ScoutHarris

[2019-06-03 14:33] aerych commented on #7206
I've noticed a crash similar to this when quickly logging out of the simulator (but not a device) after it launches. In the cases I've seen it appeared that the call to sync blogs was finishing after logging out.  Basically:
- Be already logged in.
- Launch simulator
- While blog info is syncing quickly log out.
- Crash when sync finishes.

I thought we had a separate issue opened for it but maybe

[2019-06-03 15:20] diegoreymendez opened #11843 "Fix reachability."
This issue was spawned from this PR: https://github.com/wordpress-mobile/WordPress-iOS/pull/11839

It seems reachability isn't working fine.  Let's analyze other options, such as using [this library](https://github.com/ashleymills/Reachability.swift).

[2019-06-03 15:22] diegoreymendez commented on #11843
Closing, as this is a duplicate of https://github.com/wordpress-mobile/WordPress-iOS/issues/11840#issuecomment-498194915

[2019-06-03 15:23] jkmassel commented on #11822
Moving this to 12.7 for the code freeze – if it doesn't show up in `12.5` during its release period, we can close it when `12.6` comes out (and when 12.7 is code-frozen).

[2019-06-03 15:35] jkmassel commented on #11809
I'm migrating this issue to `12.7` – if it was actually resolved in `12.6`, feel free to close :)

[2019-06-03 18:31] #11657 closed

[2019-06-03 20:23] elibud commented on #11688
Is there a corresponding Android issue for this one?

[2019-06-03 20:30] elibud commented on #11688
Oh found it [linked](https://github.com/wordpress-mobile/WordPress-Android/issues/9853), so Android is done and iOS pending, is that correct @diegoreymendez ?

[2019-06-03 21:02] #11809 closed

[2019-06-03 21:45] diegoreymendez opened #11846 "Refresh issues when UploadManager uploads images in Aztec."
This issue was spawned off the discussion here: https://github.com/wordpress-mobile/WordPress-iOS/pull/11839#issuecomment-498223891

## Original Report

The original report by @yaelirub is as follows:

Test 1:
The media upload resumed when the app returned to foreground but the image overlay stayed.
![media_background](https://user-images.githubusercontent.com/1335657/58799167-372e7880-860d-11e9-9

[2019-06-03 21:48] diegoreymendez commented on #11785
Implemented in a feature branch for now.  Will update the milestone once it's merged into `develop`.

[2019-06-03 21:48] #11785 closed

[2019-06-03 21:49] diegoreymendez commented on #11784
Implemented in a feature branch for now. Will update the milestone once it's merged into develop.

[2019-06-03 21:49] #11784 closed

[2019-06-03 21:50] diegoreymendez commented on #11809
Moving back into 12.6 since it was merged into that version.  Thanks @jkmassel!

[2019-06-03 22:34] designsimply opened #11847 "Notifications: push notifications for likes on posts sometimes show the wrong name"
Steps to reproduce:

1. Create and publish a post from the WordPress for iOS app.
1. Remain logged in to the app as the post author and have several other users like the post from elsewhere within a short time frame.
1. Check each push notification received to make sure the correct name shows for each like.

<strong>Result:</strong> I only received a couple push notifications even though I added a

[2019-06-03 22:46] designsimply commented on #11818
Thank you for the report! Closing as a duplicate of https://github.com/wordpress-mobile/WordPress-iOS/issues/5540.

[2019-06-03 22:46] designsimply commented on #5540
Closed https://github.com/wordpress-mobile/WordPress-iOS/issues/11818 as a duplicate.

[2019-06-03 22:52] designsimply commented on #5540
Added this to `Prioritized iOS` in the Groundskeeping project.

[2019-06-04 01:04] sentry-io[bot] opened #11848 "EXC_BREAKPOINT: initialDetailViewControllerForSplitView:"
Sentry Issue: https://sentry.io/share/issue/38dd20cbc7d4411784da5f7d61a613d9/

[code]

[2019-06-04 01:05] JavonDavis commented on #11848
This seems to be happening a lot in 12.5.0.3

[2019-06-04 03:25] diegoreymendez commented on #11688
Yep that’s correct.

[2019-06-04 04:42] jkmassel opened #11849 "Outdated Dependencies"
The following dependencies are out of date:

[code]

[2019-06-04 10:09] etoledom commented on #11583
Tracking on gutenberg-mobile: https://github.com/wordpress-mobile/gutenberg-mobile/issues/1063

[2019-06-04 11:27] koke commented on #11818
Ah, thanks, I knew I had seen that one before, but I wasn't able to find it 😁

[2019-06-04 17:57] ScoutHarris opened #11852 "Stats Refresh v2 Master Issue"
#### Shared
- [ ] Hide navigation bar on scroll (#10851)
- [ ] Add additional Tracks events (#11775)
- [ ] Update Widget - awaiting input from Sly.

#### Insights
- [ ] Insights Management
  - [ ] Initially, display these stats in this order: _Posting Activity_, _Today_, _All-Time_, _Most Popular Time_, _Comments_
  - [ ] Add an `Edit` button at the bottom of the Insights table to access the `Mana

[2019-06-04 18:03] ScoutHarris commented on #10840
[v2 Master Issue](https://github.com/wordpress-mobile/WordPress-iOS/issues/11852) created, which includes all outstanding issues from v1. Closing this.

[2019-06-04 18:03] #10840 closed

[2019-06-04 18:59] ScoutHarris opened #11853 "[Stats Refresh] Period Videos: selecting a video does nothing"
### Expected behavior
Selecting a video should show media details.

### Actual behavior
Selecting a video does nothing. This appears in the console:
`Unable to get blog when trying to show media from Stats.`

### Steps to reproduce the behavior
- Go to Stats > Period > Videos.
- Tap on a Video row.

It appears this broke between 12.5 and 12.6.

##### Tested on [all], iOS [all], WPiOS [12.6]

[2019-06-04 20:34] ScoutHarris commented on #11853
Fixed with https://github.com/wordpress-mobile/WordPress-iOS/pull/11854.

[2019-06-04 20:34] #11853 closed

[2019-06-04 20:53] diegoreymendez commented on #11688
I'll add some notes here to make analysis and discussion easier.  Implementing this won't be trivial because there's no relation (and indeed there's quite some separation) between the method where the notification is set-up, and the blog details VC.

This is where the notification is set-up: https://github.com/wordpress-mobile/WordPress-iOS/blob/7d72a3b99c8e5357d0ed6157c94e1fe2b590bf19/WordPress/C

[2019-06-04 21:34] diegoreymendez commented on #11688
One possible solution to this, could be to create a regular link attribute in the `WayPoint` description, using a link prefixed by the scheme `WPComScheme`.

This would be handled by `WordPressAppDelegate` here: https://github.com/wordpress-mobile/WordPress-iOS/blob/7d72a3b99c8e5357d0ed6157c94e1fe2b590bf19/WordPress/Classes/System/WordPressAppDelegate%2BopenURL.swift#L4-L35

[2019-06-04 23:02] nheagy commented on #11688
@diegoreymendez I think that @SylvesterWilmott meant to turn all of the Quick Start highlights to white. I created a PR: https://github.com/wordpress-mobile/WordPress-iOS/pull/11857

[2019-06-04 23:26] ScoutHarris commented on #11713
Hey @SylvesterWilmott - In Calypso, when you click the `Total posts with comment followers` link and it shows all Comments Followers, the very first row is a total row.

<img width="1178" alt="calypso_all_comments" src="https://user-images.githubusercontent.com/1816888/58920080-cad77600-86ed-11e9-88ac-483ccb5cc88c.png">

Do we want to show that, or just show the list of Posts?

cc @planarvoid

[2019-06-04 23:46] ScoutHarris commented on #11713
@SylvesterWilmott sorry, I just noticed in the API response that total row is actually the Home page.

<img width="325" alt="api_response" src="https://user-images.githubusercontent.com/1816888/58920681-8bf6ef80-86f0-11e9-94de-d2f5b5ad53d9.png">

If we don't like the 'All Posts' row as shown above, we could alternatively display it as 'Home Page', and tappable like all the other post rows.

[2019-06-05 07:58] #11583 closed

[2019-06-05 14:00] spigotdesign commented on #500
Given this thread is almost 6 years old and custom fields seem to be losing ground across the WP ecosystem, I can’t help but think another +1 on this will not move the needle here.

But anyway, +1

[2019-06-05 17:54] ScoutHarris opened #11859 "[Stats Refresh] Charts: improve axis number logic"
Reported by @SylvesterWilmott  -

One final thing I think we should align on across platforms is the chart axis number logic, as it stands there is a big difference between the platforms in this regard with Android using slightly more “sensible” numbers than iOS. I believe it’s just the highest number is being rounded to the next “sensible” number that is divisible by the number of horizontal line

[2019-06-05 18:03] diegoreymendez commented on #11688
Yes @nheagy, that's correct.  Removing my comments to reduce the noise a bit.

[2019-06-05 18:36] diegoreymendez commented on #11434
While estimating this task, we marked it as "13" because we need to break it up into different subtasks.

[2019-06-05 18:55] diegoreymendez commented on #11808
@jklausa - Can you assess if this issue impacts both Aztec and Gutenberg?  I think that'll be relevant to figure out if this is within scope.

[2019-06-05 19:08] diegoreymendez commented on #11650
@osullivanchris - Autosaves are created when a published post is previewed, or when the user exists the editor without saving / published their changes.  The messaging sounds a bit confusing because it makes it sound like this is conflict resolution for revisions in web vs mobile.

Maybe the message could be something like: "There's an autosave, want to restore it?"?

[2019-06-05 19:17] diegoreymendez commented on #10663
We're going to start by fixing the specific examples that were reported in this issue, and then spawn new issues for anything else that we find in terms of messaging.

[2019-06-05 19:33] diegoreymendez commented on #11427
I'm removing this from Offline Posting Improvements, since this will be taken care of in Offline Stats when that happens.

[2019-06-05 19:36] diegoreymendez commented on #11436
Can be reopened if we manage to reproduce it.

[2019-06-05 19:36] #11436 closed

[2019-06-05 19:42] diegoreymendez commented on #11422
We're closing this as it seems it was fixed along the way and is no longer an issue.

![Image from iOS](https://user-images.githubusercontent.com/1836005/58985079-eb1c3900-87b0-11e9-89a2-dbfd53d6b17c.png)

[2019-06-05 19:42] #11422 closed

[2019-06-05 20:10] elibud commented on #4870
@diegoreymendez can you all take a look at this one as part of the offline improvements?

[2019-06-05 20:48] #3027 closed

[2019-06-05 20:48] nheagy commented on #2589
@designsimply I referenced this one from #11683, so that I keep track of it. Close away!

[2019-06-05 20:58] elibud commented on #9473
@charliescheer I haven't seen any other report for this one, if you can't reproduce let's close it.

[2019-06-05 20:59] tomjn commented on #9473
I haven't noticed this happening recently, I'll close it out

[2019-06-05 20:59] #9473 closed

[2019-06-05 21:44] charliescheer commented on #9473
@elibud funny this comes up actually.  Recently I have seen 1 report of a similar issue to this.  We'd been trying to hunt down what was causing the repetitive notifications and hadn't been able to replicate the issue.  I will see if I can find it.

However, I have only ever seen 1 report of this problem, so it may be best to just leave it as is.  If I can find the issue I'll link it here

[2019-06-05 22:17] designsimply commented on #7283
@koke @maxme is this issue still high priority? Does it still need work beyond what was done in #7299?

[2019-06-05 22:23] designsimply commented on #11487
Adding to Groundskeeping for review because it has a `[Pri] High` label.

[2019-06-05 22:35] ScoutHarris opened #11863 "[Stats Refresh] accessing Stats from a Blog shows old post stats"
### Expected behavior
Accessing Stats from a Blog in Blog Posts should show the new post stats.

### Actual behavior
Accessing Stats from a Blog in Blog Posts shows the old post stats.

### Steps to reproduce the behavior
- Go to Blog Posts.
- On a blog, select `More`.
- Select `Stats`. Notice the old post stats are shown.

<img width="400" alt="blog" src="https://user-images.githubusercontent.com

[2019-06-05 22:43] nheagy commented on #11679
I'm seeing this on my 11 inch iPad Pro as well.

[2019-06-06 00:07] ScoutHarris opened #11866 "[Stats Refresh] Preload Insights if on WiFi"
In `BlogDetailsViewController`, if the device is on WiFi, it would pre-load the old Insights stats. We need to replicate that behavior for new Stats.

(Ref https://github.com/wordpress-mobile/WordPress-iOS/pull/11865)

[2019-06-06 03:21] nheagy commented on #11679
Update: this may be happening on iOS 13 now, as @realcarfax reports seeing it on an iPhone XS running the beta.

[2019-06-06 04:27] jklausa commented on #11679
yeah, can confirm with iOS13 on my 6S Plus and 11 PRo.

[2019-06-06 05:17] koke commented on #7283
I don’t think it’s high priority but the issue is still happening:

[2019-06-06 14:56] charliescheer commented on #9473
Here is the recent report of this that I saw.  2061302-zen

There isn't too much info there. I have asked for more info from the user, but haven't heard back.  I still think we can leave this closed for now as there are very few reports

[2019-06-06 15:17] osullivanchris commented on #11812
@yaelirub on this one, I definitely think we could come up with an alternative loading animation that doesn't block the UI. However, in the screenshots I see above, even if there was no animation, it looks like the UI has still not loaded.

The bigger issue to me is lazy loading / caching things where possible. Then there will be useful things in the UI, which we can get out of the way of.

Changi

[2019-06-06 16:19] ScoutHarris commented on #11863
Fixed with https://github.com/wordpress-mobile/WordPress-iOS/pull/11864.

[2019-06-06 16:19] #11863 closed

[2019-06-06 16:31] ScoutHarris commented on #11427
Hey @jklausa . This wasn't fixed by https://github.com/wordpress-mobile/WordPress-iOS/pull/11864 . The `No Connection` alert is still shown.

I'm not sure how this _can_ work, since Post Stats isn't persisted to Core Data. And even it it was, it's highly unlikely to have the stats for any post in the list.

[2019-06-06 17:19] designsimply commented on #11848
Adding a `[Pri] High` label because a new crash and because @JavonDavis noted it's happening a lot.

[2019-06-06 17:20] designsimply commented on #11848
**10-day impact:** ~43 per day
**Users affected:** 31 in the last 10 days
**First seen in:** 12.5

<sup>(https://sentry.io/share/issue/38dd20cbc7d4411784da5f7d61a613d9/)</sup>

[2019-06-06 18:10] ScoutHarris opened #11869 "[Stats Refresh] Follower details sometimes shows 0 total"
### Expected behavior
On Follower details, the Total Followers should show the number of followers.

### Actual behavior
On Follower details, sometimes the Total Followers shows 0.

### Steps to reproduce the behavior
- Go to Insights > Followers > View more.
- Notice sometimes the Total Followers is 0.
To note, this only happens on some sites. Some sites do show the correct value.

<img width="40

[2019-06-06 18:18] ScoutHarris opened #11870 "[Stats Refresh] Old stats shown from Follower notification details"
### Expected behavior
When selecting `See all of your followers` from the Follower notification details, it should show the new stats Followers.

### Actual behavior
It's showing the old stats Followers.

### Steps to reproduce the behavior
- On a site with (I believe) at least 10 followers that has received this notification:

<img width="350" alt="follower_notif" src="https://user-images.githubu

[2019-06-06 20:00] ScoutHarris commented on #11869
Fixed with https://github.com/wordpress-mobile/WordPress-iOS/pull/11872.

[2019-06-06 20:00] #11869 closed

[2019-06-06 20:23] ScoutHarris opened #11873 "[Stats Refresh] Period Overview: Views & Visitors are incorrect for previous periods"
### Expected behavior
The Views count should be accurate for all periods.

### Actual behavior
The Views count is only accurate for the current period (d, w, m, or y). But for weeks, months, and years, selecting a different period from the date bar or the chart, the Views count is always incorrect. Days is sometimes correct, but not always.

Also, Visitors is sometimes incorrect.

For example:

Ca

[2019-06-06 21:29] #11688 closed

[2019-06-06 21:31] jklausa commented on #11873
This is weird! I'll take a peek.

[2019-06-06 21:31] diegoreymendez opened #11874 "Quick Start Guide highlights no longer bold."
As a result of [this PR](https://github.com/wordpress-mobile/WordPress-iOS/pull/11857) there was a regression that [is causing the highlights in the Quick Start Tour notices to no longer be bold](https://github.com/wordpress-mobile/WordPress-iOS/pull/11857#issuecomment-499250463).

We need to fix them to be bold again.

<img width="390" alt="58919160-f2c0dc80-86e1-11e9-9b2f-b967450d67a9" src="http

[2019-06-06 21:48] ScoutHarris commented on #11870
Fixed with https://github.com/wordpress-mobile/WordPress-iOS/pull/11871.

[2019-06-06 21:48] #11870 closed

[2019-06-06 21:51] sentry-io[bot] opened #11875 "Crash on UntouchableViewController"
Sentry Issue: https://sentry.io/share/issue/a9607d6279064b15a9f77e6624b60afd/

[code]

Past 14 days:
~1K events
~554 Users affected
Latest affected version: 12.5.0.3

[2019-06-06 22:39] ScoutHarris opened #11876 "[Stats Refresh] When charts have no data, show grey bars"
Currently, when the charts are empty, they show nothing. They should show short grey bars like Android does.

This applies to:

- Latest Post Summary
- Period Overview
- Post Stats Overview

Examples:

**iOS:**
<img width="400" alt="ios_empty_chart" src="https://user-images.githubusercontent.com/1816888/59070766-46b1f980-8879-11e9-900a-e1ab85e04451.png">

**Android:**
![android_empty_chart](https:

[2019-06-07 06:33] planarvoid commented on #11876
I'm not sure if it helps in any way but this is the code that build the empty data set on Android
[code]
The value of all the columns is 1F, the color goes from `primary_50` to `transparent`. Let me know if something's not clear!

[2019-06-07 08:26] jtreanor commented on #11848
@designsimply As we discussed yesterday, the workaround for this was released in 2.5.1. It should no longer be happening for users. We are keeping the issue open as we would like to get to the root cause of this to ensure it doesn't happen again.

[2019-06-07 09:48] jtreanor commented on #11848
I believe I have found the cause of this and I'm working on a fix.

## Cause

The version of `WordPressUI` that was shipped in 12.5 added a `resource_bundles` entry to its `.podspec` (see https://github.com/wordpress-mobile/WordPressUI-iOS/pull/31). This is a feature of CocoaPods that bundles together the files you specify into a `.bundle` to be included by the pod. In the case of `WordPressUI`, t

[2019-06-07 10:54] jtreanor commented on #11848
I have implemented solution 2 here: https://github.com/wordpress-mobile/WordPressUI-iOS/pull/37

I was able to update the module the storyboard issue to resolve the loading issue I mentioned.

[2019-06-07 14:45] frosty opened #11880 "[Stats Refresh] Improve x axis labels"
The X axis labels on stats period charts always seems to use the format MMM DD (e.g. Jan 12), which isn't particularly useful for the charts with larger timespans like month and year. We should update it to match Android, which has more sensible labels:

![stats1-android](https://user-images.githubusercontent.com/4780/59112501-0ca92c00-893b-11e9-8031-6e1e8ebae124.png)

Here's what's used on Androi

[2019-06-07 17:07] ScoutHarris commented on #11713
Per a Slack conversation with @SylvesterWilmott , we've decide just to not show the `View more` option for _Comments_ until he has a chance to consider this issue.

[2019-06-07 17:14] ScoutHarris commented on #11876
Thanks @planarvoid ! I'm sure this will come in handy.

[2019-06-07 17:37] ScoutHarris commented on #11427
Hey @diegoreymendez .

Thanks for the explanation; that makes more sense. 😄

I agree, I think in this case we can show the no results view with the offline message.

[2019-06-07 18:38] ScoutHarris commented on #10974
https://github.com/wordpress-mobile/WordPress-iOS/pull/11826

[2019-06-07 18:38] #10974 closed

[2019-06-07 19:05] designsimply opened #11882 "[Stats Refresh] cannot tap chart bars to change data on first view"
Steps to reproduce:

1. Go to the Days/Weeks/Months/Years view for Stats on any site.
1. Tap the bars in the first chart you see and check that the data changes in the modules below.
1. Switch to a different site.
1. Go to the Days/Weeks/Months/Years view for Stats.
1. Check to see if tapping the bars changes the data below.
1. Close and re-open the app.
1. Go to the Days/Weeks/Months/Years view f

[2019-06-07 19:10] michaeldcain commented on #9473
I've been getting double notifications on all comments, likes, and posts for most of the day. This is in the latest iOS production app with iOS 12.3.1.

Let me know if I can provide any additional information.

![IMG_0459](https://user-images.githubusercontent.com/942359/59127498-cdc4a780-8935-11e9-8f8e-7a66a333c12a.png)

Reported here: p1559931305000700-slack-mobile-support

[2019-06-07 19:18] ScoutHarris commented on #11882
@jklausa believes this is related to #11873.

[2019-06-07 20:33] ScoutHarris commented on #11875
Hey @JavonDavis . From looking at the Sentry events, this seems to be related to `UntouchableViewController`. The crashes have different paths (and do sometimes go through `InsightsTableViewController`), but they all crash on `UntouchableViewController`.

(I've updated the title accordingly.)

From what I can tell, `UntouchableViewController` is only used by `NoticePresenter`. I don't see this occ

[2019-06-10 09:27] rachelmcr commented on #5475
@thehenrybyrd Do you know what steps the user you talked to used to get into Calypso? As far as I know the only remaining way to get into Calypso from this in-app browser is using the "Edit" link on a post or page, but I'd like to know if there are other routes we haven't considered.

I missed this question earlier, sorry! I agree this is no longer a requirement. The current plan is to keep the in

[2019-06-10 09:27] #5475 closed

[2019-06-10 11:18] rachelmcr commented on #10677
I'm still seeing this issue, using the steps in the original report, in WPiOS 12.6.0.20190604 (on iPhone XS). I confirmed that the image is uploaded and I can preview the post with the image in a web browser.

[2019-06-10 15:41] #11848 closed

[2019-06-10 15:41] yaelirub commented on #11812
@osullivanchris  thank you so much for your input on this.

The issue here is that the preview url is generated in the response to the auto save API call. We are making this call upon the user's request to preview the post. The caching option is not really valid here imo because we need to preview the updated post without actually uploading it. You will find that when the user requests to preview

[2019-06-10 20:04] ScoutHarris commented on #11873
Fixed with https://github.com/wordpress-mobile/WordPress-iOS/pull/11883.

[2019-06-10 20:04] #11873 closed

[2019-06-10 20:05] ScoutHarris commented on #11882
Fixed with https://github.com/wordpress-mobile/WordPress-iOS/pull/11883.

[2019-06-10 20:05] #11882 closed

[2019-06-10 20:23] ScoutHarris commented on #11859
Fixed with https://github.com/wordpress-mobile/WordPress-iOS/pull/11879.

[2019-06-10 20:23] #11859 closed

[2019-06-10 21:27] ScoutHarris commented on #11880
Fixed with #11884.

[2019-06-10 21:27] #11880 closed

[2019-06-10 22:42] shiki commented on #11875
I looked a bit into this. It does not look like the fault of `UntouchableViewController`.

`UntouchableViewController.viewDidAppear` being the last item in the breadcrumbs is a clue that the crash happened when the app was launched. I believe this because `UntouchableViewController` is created and added to `UntouchableWindow` once. It is never removed after that. That means that its `viewDidAppear

[2019-06-11 06:13] designsimply opened #11888 "[Stats Refresh] Likes graphs do not appear to be working properly."
Steps to reproduce:

1. Open any site that has traffic history.
1. Go to Stats > DWMY and tap "Likes" below the graph.
1. Try changing the selected time period by tapping different parts of the graph or by using the arrows at the top to navigate.

<strong>Result:</strong> graph bars are missing for all likes. ([29s](https://cloudup.com/c8wc7dk-uDs))

<img src="https://user-images.githubusercontent

[2019-06-11 06:26] designsimply commented on #11882
I re-tested with WP Internal 12.6.0.20190604 and develop `d780002de0` (12.6 alpha) on iPhone 6S iOS 12.3.1 and found it is working much better except for the graphs for individual post views such as Stats > Insights > Latest Post Summary > View more. ([21s](https://cloudup.com/crb2m7YNe6q))

<img src="https://user-images.githubusercontent.com/1119271/59248347-5e71e080-8bdf-11e9-9339-de27b6632577.p

[2019-06-11 07:01] designsimply opened #11889 "[Stats Refresh] Jetpack connect step is very slow"
Steps to reproduce:

1. Open stats for a self-hosted site without Jetpack installed.
1. Go to Stats and click the "Install Jetpack" button.
1. When you get to the connect step, start timing after you tap the "Approve" button and measure how long it takes to connect Jetpack.

<strong>Result:</strong> the Jetpack connect step is very slow—it took 1m17s for me even on a fast connection of [320Mbps](h

[2019-06-11 07:23] designsimply opened #11890 "[Stats Refresh] video details screen displays a media error for videos the first time you browse to one"
Steps to reproduce:

1. Start with a blog that already has traffic and that also has video content.
1. Go to Stats > DWMY > Videos and tap any video name.

<strong>Result:</strong> an error pops up the first time any video that has not yet been played in the app:

<img src="https://user-images.githubusercontent.com/1119271/59250908-bf9cb280-8be5-11e9-935d-8a91e8f9490e.PNG" width="270" alt="IMG_285

[2019-06-11 07:37] jklausa commented on #11882
@designsimply ah, yeah — that is a separate issue. If you could file it, I’d super appreciate it :)

[2019-06-11 13:19] yaelirub commented on #11429
When I run the production app I see the described behavior with the alert showing up.
![IMG_4253](https://user-images.githubusercontent.com/1335657/59275066-498b6080-8c64-11e9-81e6-d3708f4b392d.PNG)

But when I run on develop I notice some weird behavior while offline. The post completely disappears when I update. Anybody else seeing this? @diegoreymendez , @shiki ??

![offline_image_post_dissapea

[2019-06-11 17:13] ScoutHarris commented on #11889
Hey @designsimply .

Hrm. We haven't touched anything related to Jetpack install. Would it be possible for you to try that with the old stats, maybe with the current App Store version?

[2019-06-11 17:22] designsimply commented on #11890
Note: it helps to uninstall and re-install the app to be able to replicate the problem—I found that if you view the video at any point either by tapping on it in the video detail screen or if you open the Media screen at all, then all the videos start working, which may make this an even more relatively low priority issue. ([4m3s7](https://cloudup.com/cmhO6bu5Pcv))

[2019-06-11 21:47] diegoreymendez opened #11893 "Add reference to document some stats are a critical path."
We should add a comment before bumping some stats.

Comment:

[code]

Stats:

- `wpios_application_opened`
- `wpios_signup_button_tapped`
- `wpios_account_created `
- `wpios_site_created`

## Matching Android Issue:

https://github.com/wordpress-mobile/WordPress-Android/issues/10031

[2019-06-11 22:03] designsimply commented on #11889
Certainly! Here is a test comparing the Install Jetpack flow on the web, in the current WPiOS app store version 12.5, and 12.6 alpha again: [4m49s](https://cloudup.com/cnoR_LhcsEO).

* Web: ~22s
* WPiOS 12.5: ~9s
* WP Internal 12.6.0.20190604: ~21s

I think we can conclude from this that the timing varies and we should keep a close eye on the speed of the API interaction itself in regard to the ap

[2019-06-11 22:03] #11889 closed

[2019-06-11 22:09] ScoutHarris commented on #11889
Thanks @designsimply !

[2019-06-11 22:26] designsimply commented on #9256
I ran across this issue while beta testing version 12.6. I was prompted to log in again after logging in, going to Stats, tapping Jetpack Install, then tapping "Approve". ([33s](https://cloudup.com/c274PuUrms3))

However, when I tried replicating the same issue a second time, I did not see the problem. ([36s](https://cloudup.com/c36gFP5EZLk))

[2019-06-11 22:36] ScoutHarris commented on #11888
Fixed with https://github.com/wordpress-mobile/WordPress-iOS/pull/11887.

[2019-06-11 22:36] #11888 closed

[2019-06-11 22:56] designsimply opened #11894 "[Stats Refresh] chart bars are unresponsive when the post stats view is first loaded"
Steps to reproduce:

1. Go to Stats > Days > Posts & Pages and tap a post that has a few days of recent stats.
1. Tap on the different bars in the chart.
1. Check to see if tapping the bars changes the data as expected.

<strong>Result:</strong> tapping the bars in the chart does not change the data only for the first page load, if you refresh or use the arrows at top right to navigate then it sta

[2019-06-11 22:56] designsimply commented on #11882
Certainly! Filed at https://github.com/wordpress-mobile/WordPress-iOS/issues/11894.

[2019-06-11 22:57] jklausa commented on #11882
I think @ScoutHarris pre-empted you with fixing this before you got around to filing this :P Should've gotten fixed in #11892 :)

[2019-06-11 22:57] jklausa commented on #11894
Fixed (I HOPE) in #11892.

[2019-06-11 22:57] #11894 closed

[2019-06-12 00:03] designsimply commented on #9473
@michaeldcain in your case the push notification duplicates come in pairs and not over and over and over right? Do you have two separate versions of the app installed (one production and one development) by chance, and if so, could notifications be enabled for both?

Aside: your case might also be possibly (deceptively?) related to https://github.com/wordpress-mobile/WordPress-iOS/issues/11847.

[2019-06-12 11:57] yaelirub opened #11897 "Updating a post when offline clears post content in editor"
This bug is seen only on develop and not in production (12.5 works as expected). On both editors.

### Expected behavior
Updating a post when offline should result in a displayed error but shouldn't clear the editor

### Actual behavior
Choosing to update while offline clears the editor

### Steps to reproduce the behavior
1. Be offline
2.Edit a published post
3. Choose update
4. See a snack bar w

[2019-06-12 13:17] shiki opened #11900 "Initialize NoticePresenter in didFinishLaunchingWithOptions"
In #11345, we fixed a `UIWindow` rotation issue by keeping the `UIWindow` visible and hiding it on the next run loop (`DispatchQueue.main.async`). After talking to Apple engineers at WWDC, it looks like we can avoid doing the hack by moving the `NoticePresenter` initialization to `didFinishLaunchingWithOptions` instead of `willFinishLaunchingOptions`.

Here is a sample code showing that this works

[2019-06-12 14:10] #11874 closed

[2019-06-12 16:07] diegoreymendez commented on #11840
This issue seems to be known: https://github.com/tonymillion/Reachability/issues/171

[2019-06-12 17:30] diegoreymendez commented on #11840
I've tested this using a device instead of the simulator, and it's working fine.

Closing this issue for now.

[2019-06-12 17:30] #11840 closed

[2019-06-12 20:26] #11897 closed

[2019-06-12 21:17] #11433 closed

[2019-06-12 22:31] ScoutHarris commented on #11876
In the iOS version of the Charts, bar gradients have not been implemented. With #11887 , light grey bars were added to empty charts while we figure out if we can do gradients.

There are two outstanding PRs attempting to do so in the library, but both are over a year old, and are build off of older version of the library:
https://github.com/danielgindi/Charts/pull/3225
https://github.com/danielgin

[2019-06-12 22:37] katinthehatsite opened #11903 "Block Sites Option Behaves Differently on iOS and Android Apps"
I am not sure which one should be an expected behavior but there seems to be an inconsistency in the Reader behavior on Android and iOS app when using the option "Block Sites".

### Behaviour on the Android app
- Go to Followed Sites and click on three dots by one of the sites that you follow
- You will see the option to "Block Site" right away from there:

![Screenshot_20190612-151838](https://us

[2019-06-12 23:14] ScoutHarris opened #11904 "[Stats Refresh] Insights Today: update to new design"
Insights _Today's Stats_:
- Rename to _Today_.
- Update card to new design.

Current:
<img width="400" alt="today_current" src="https://user-images.githubusercontent.com/1816888/59392614-78253c00-8d35-11e9-8038-90fc694d5046.png">

New:
<img width="330" alt="today_new" src="https://user-images.githubusercontent.com/1816888/59392619-7b202c80-8d35-11e9-97d1-c0b35a78e575.png">

[2019-06-12 23:15] shiki opened #11905 "Draft changes are not saved when updating it offline"
## Expected behavior

Draft changes are saved.

## Actual behavior

The changes are shown initially but disappear as soon as the _Retry_ button is clicked. The Editor is also cleared when you click on _Update_.

### Steps to reproduce the behavior

1. While online, create a draft. Make sure the draft is uploaded to the server.
2. Stay on the Post List and go offline.
3. Edit the draft. Make some c

[2019-06-12 23:17] ScoutHarris opened #11906 "[Stats Refresh] Insights All Time: update to new design"
Insights _All Time Stats_:
- Rename to _All-Time_.
- Update card to new design.

Current:
<img width="400" alt="all_time_current" src="https://user-images.githubusercontent.com/1816888/59392730-ed910c80-8d35-11e9-9609-a6511157738d.png">

New:
<img width="330" alt="all_time_new" src="https://user-images.githubusercontent.com/1816888/59392738-f2ee5700-8d35-11e9-8a8b-b41391ef325c.png">

[2019-06-12 23:21] ScoutHarris opened #11907 "[Stats Refresh] Insights Annual: update to new design"
Insights _Annual Site Stats_:
- Rename to _This Year_.
- Update card to new design.

Current:
<img width="400" alt="annual_current" src="https://user-images.githubusercontent.com/1816888/59392840-62644680-8d36-11e9-9418-b204528b140a.png">

New:
<img width="330" alt="annual_new" src="https://user-images.githubusercontent.com/1816888/59392850-698b5480-8d36-11e9-93cd-56c768b80bb0.png">

[2019-06-12 23:25] ScoutHarris opened #11908 "[Stats Refresh] Insights This Year: add `View more` details"
Prerequisite: update card to new design #11907

Add `View more` option to display these details.

![this year detail](https://user-images.githubusercontent.com/1816888/59393014-ff26e400-8d36-11e9-8e7e-041622d0fe16.png)

[2019-06-12 23:28] ScoutHarris opened #11909 "[Stats Refresh] Insights Most Popular Time: update to new design"
Update Insights _Most Popular Time_ card to new design.

Current:
<img width="400" alt="most_popular_current" src="https://user-images.githubusercontent.com/1816888/59393109-647ad500-8d37-11e9-8448-ccbd7ec5b1d1.png">

New:
<img width="330" alt="most_popular_new" src="https://user-images.githubusercontent.com/1816888/59393117-6a70b600-8d37-11e9-814f-0a178127bdf0.png">

[2019-06-12 23:30] ScoutHarris opened #11910 "[Stats Refresh] Insights Follower Totals: update to new design"
Update Insights _Follower Totals_ card to new design.

Current:
<img width="400" alt="followers_current" src="https://user-images.githubusercontent.com/1816888/59393174-b91e5000-8d37-11e9-8e7e-9086b78013b1.png">

New:
<img width="330" alt="followers_new" src="https://user-images.githubusercontent.com/1816888/59393182-c1768b00-8d37-11e9-8ac0-9dff73186cc7.png">

[2019-06-13 03:21] sentry-io[bot] opened #11911 "EXC_BAD_ACCESS: addObject: > countByEnumeratingWithState:objects:count: > indexAtPosition: >"
Sentry Issue: https://sentry.io/share/issue/331ad2ef7f894793b3f5b830b113d503/

[code]

Events: 2.9k
Users Affected: 1k
Latest affected version: 12.5.1.0

~~This issue seemed to skip all the versions between 12.4.1 and 12.5.1, it's not many new events on that version~~ but I'd still like to check that it's not something we could have possibly reintroduced.

It also happens on 12.5.0.3

[2019-06-13 04:24] JavonDavis commented on #11875
@ScoutHarris @shiki https://github.com/wordpress-mobile/WordPress-iOS/issues/11911 is more than likely related to this right?

[2019-06-13 08:59] yaelirub commented on #11905
@shiki , please take a look at this: https://github.com/wordpress-mobile/WordPress-iOS/pull/11898

[2019-06-13 09:42] yaelirub opened #11912 "Header in a post created in Bear lose styling when multiple styles are applied"
### Expected behavior
Header in WP will preserve all styles created in Bear.

### Actual behavior
The header loses all styles.

### Steps to reproduce the behavior
1. Create a note in Bear
2. Create a header and make it **bold**
3. publish post on WP using share extension
4. Notice the header has no styling (normal size font and not bold)

In WP:
![IMG_D3889E38A769-1](https://user-images.githubuse

[2019-06-13 09:48] yaelirub opened #11913 "Header in post created in Bear appears as part of the paragraph in Reader"
### Expected behavior
The header will be separated in it's own row

### Actual behavior
The header appears in the same line as the paragraph.

This issue is in the Reader only. In the post list, the header appears separated but with no header style.

In Reader. Notice the header "Tel Aviv":
![IMG_4233](https://user-images.githubusercontent.com/1335657/59422420-06063300-8dd9-11e9-8954-231d14ba0f85.

[2019-06-13 10:02] yaelirub opened #11914 "Lists in a post created in Bear lose spacing and formatting"
### Expected behavior
Spacing and list formatting will be preserved.

### Actual behavior
Spacing between lists is ignored and lists look off in editor and in post lists.

In Bear:
![IMG_4268](https://user-images.githubusercontent.com/1335657/59423706-567e9000-8ddb-11e9-8ee1-6bac20b1f5c8.PNG)

In Editor:
![IMG_4269](https://user-images.githubusercontent.com/1335657/59423716-5d0d0780-8ddb-11e9-9579

[2019-06-13 10:05] yaelirub opened #11915 "Content of post in Reader is not aligned correctly in RTL language post from Bear"
### Expected behavior
RTL content will be aligned right

### Actual behavior
content is aligned left in Reader. Works well in editor.

### Steps to reproduce the behavior
1. Create a post in RTL language
2. Share to publish in WP
3. see the post content in reader is not aligned correctly (the title is aligned correctly)

![IMG_4240](https://user-images.githubusercontent.com/1335657/59424058-f3412d

[2019-06-13 10:09] yaelirub opened #11916 "Highlighting in Bear is not converted to markdown"
### Expected behavior
text that was highlighted in Bear will be highlighted in WP

### Actual behavior
text is not highlighted.

![IMG_4243](https://user-images.githubusercontent.com/1335657/59424361-7febeb80-8ddc-11e9-8094-f812423fe141.jpg)
![IMG_4245](https://user-images.githubusercontent.com/1335657/59424367-82e6dc00-8ddc-11e9-9341-f6d66ca2a0b4.jpg)

### Steps to reproduce the behavior
1. Creat

[2019-06-13 12:23] yaelirub commented on #11429
no longer seeing this issue (no blocking pop up alert) in develop.
Can you confirm? @diegoreymendez , @shiki ?

[2019-06-13 13:18] shiki commented on #11875
It doesn't seem like it. 🤔

[2019-06-13 13:19] roperjonathan commented on #500
+1

[2019-06-13 14:51] diegoreymendez commented on #11429
@yaelirub - I couldn't reproduce this either, but I looked into the code and this alert is still in there.

From what I could read, it seems to me like this may probably be hidden when the upload is async.  I'm not sure the exact conditions cos I just briefly looked at it, but for reference @yaelirub, this is where the alert is being shown:

https://github.com/wordpress-mobile/WordPress-iOS/blob/f

[2019-06-13 15:52] nheagy commented on #11912
This seems to be an issue in Bear, as it doesn't support styles within a header. So the asterisks are treated as content, and sent through to us in the MD file, where CommonMark does allow asterisks within headers, and `*Tel Aviv*` means to italicize it, so we wrap it in `<em>`.

Our behaviour is correct, but I'll pass it along to the Bear folks that they probably want to convert the asterisks to

[2019-06-13 15:52] #11912 closed

[2019-06-13 15:57] nheagy commented on #11913
This happens on any post that opens with a heading. It also happens in the post list, which I believe shares the same code for creating the synopsis string.

![IMG_3024](https://user-images.githubusercontent.com/517257/59448027-3047f880-8db9-11e9-8fa6-53321cd8d215.jpg)

Maybe a designer could weight in with a suggestion for what this should look like? The lack of a space is especially ugly.

[2019-06-13 16:47] shiki commented on #11435
Reopening this since the changes were reverted in #11920.

[2019-06-13 18:34] ScoutHarris opened #11922 "[Stats Refresh] iPhone XR crashes on rotation"
On the iPhone XR when in any Stats view, rotating causes the app to crash with this:

[code]

[2019-06-13 18:34] ScoutHarris commented on #11922
@jkmassel - we'll need to include this in 12.6 when it's fixed. Thank you!

[2019-06-13 19:25] jburciaga0 commented on #11414
Hey @designsimply - do you know if there is anyone that I can bump to look over this issue, if not you? I know a resolution may not be around the corner but I want to see if we can at least get a better timeframe on this bug.

Thank you!

[2019-06-13 20:07] shiki commented on #11435
@yaelirub @diegoreymendez I was thinking more about this. The current behavior where the last revision is discarded, which loses the offline changes, is not ideal. There might be a few options here. For example, we can say that "Discard" should just discard the changes since the beginning of the editing session.

However, changing this right now would risk going against the future decision of the

[2019-06-13 20:10] shiki commented on #11435
@yaelirub Would you mind explaining more why #11653 would solve this issue?

[2019-06-13 20:39] charliescheer commented on #8502
I went to look at this again and it has been fixed in a subsequent update

[2019-06-13 20:45] shiki commented on #11429
I cannot reproduce it too. I agree with what Diego suggested.

[2019-06-13 22:12] designsimply commented on #11543
@charliescheer can you help pick this one up? I am looking for a 2nd check that the testing steps to confirm it's possible to share from WPiOS to WhatsApp without an error. I re-tested it just now using WPiOS 12.5.1 on iPhone 6S iOS 12.3.1 and it's working for me without any problem. Can you spot if I'm missing anything?

[2019-06-13 22:16] megsfulton opened #11925 "Settings: Clean up and unify table views in App Settings"
This update cleans up and unifies the table view in the Me>App Settings screen.

![App Settings Update](https://user-images.githubusercontent.com/161697/59466643-aca30180-8de2-11e9-8ce9-85041385d647.png)

What's changed:
1. Removed the slider for max image upload - tapping the row pushes into a new view where the user can select the max image upload size. This behavior matches the max video upload

[2019-06-13 22:17] megsfulton commented on #11787
Adding an icon to app settings was addressed in https://github.com/wordpress-mobile/WordPress-iOS/issues/11925

[2019-06-13 22:56] designsimply commented on #11414
Hi @jburciaga0! I tested this just now and found that the comment form in an in-app browser on the iOS accessed via the Reader is working for me and the comment form when I look at a Webview accessed via the post list does seem to know who I am but I am unable to submit a comment from that view—which I would prefer to open a separate issue for. ([2m52s](https://cloudup.com/cxqBdHOfbaM))

<sup>Test

[2019-06-13 23:00] designsimply commented on #11414
@charliescheer could you test this again with the latest app store version (currently 12.5.1) and let me know if the comment form in a Webview on WordPress.com posts still don't recognize you if you are logged in to a WP.com account via the WPiOS app?

[2019-06-13 23:12] designsimply opened #11926 "Webviews: cannot leave a comment from a webview"
Steps to reproduce:

1. Open the WPiOS app and log in to a WP.com account.
1. Go to My Sites > Blog Posts > View on a site with comments allowed.
1. Check the comment form to see if you are recognized as a logged in user (ref: https://github.com/wordpress-mobile/WordPress-iOS/issues/11414).
1. Try to leave a comment and then verify whether or not it was saved.

<strong>Result:</strong> the comment

[2019-06-14 00:11] #11818 closed

[2019-06-14 00:47] designsimply commented on #11414
Scratch that last test. I figured out how to reproduce the issue. There is a step missing which is that you are not automatically authenticated in a webview if you are viewing a site with a custom domain in the reader. It works normally with a `*.wordpress.com` domain (which happens to be what I tested first).

[2019-06-14 11:53] yaelirub commented on #11435
@shiki , not sure. #11653 will cause failed uploads to be uploaded automatically when connectivity is regained hence maybe prevent the issue since the revision will be updated on the remote post.
but maybe @diegoreymendez  can answer that.

[2019-06-14 15:07] diegoreymendez commented on #11435
I don't think the upload manager is related at all to this issue.  From what I can see that edit is yours @yaelirub ?

[2019-06-14 15:22] yaelirub commented on #11435
Then I'll remove that. I think I confused this with a different issue

[2019-06-14 20:44] #9199 closed

[2019-06-14 21:47] charliescheer commented on #11414
Update. I am now not being asked to login when I try to comment, but the comments are not going through.
closing in favor of #11926

[2019-06-14 21:47] #11414 closed

[2019-06-14 21:47] charliescheer commented on #11926
I tested this just now and I can confirm the same thing.

If I try to comment on a post I am seeing that I am logged in but the comments do not go through
<img src="https://cdn-std.dprcdn.net/files/acc_593859/4FdP0J" />

@jburciaga0  This is an update of #11414 which you were asking about before.

[2019-06-14 22:57] frosty commented on #11922
Fixed by #11923

[2019-06-14 22:57] #11922 closed

[2019-06-15 17:33] su commented on #11670
This behavior is no longer occurring, presumably as a result of the work done in the cases linked above, now closed. So closing this one.

[2019-06-15 17:33] #11670 closed

[2019-06-17 08:09] thehenrybyrd commented on #5475
@rachelmcr I'm really not sure how they got there, and unfortunately this user was already frustrated and confused so we weren't able to get them to duplicate for us. I would guess they pressed "Edit" from a post or page though, as you suggest.

[2019-06-17 14:55] rachelmcr commented on #11013
I'm closing this issue as all of the initial tests have been completed and necessary improvements are being tracked in separate issues. We can continue to make general improvements as needed, as we move forward using these tests.

[2019-06-17 14:55] #11013 closed

[2019-06-17 18:34] #11906 closed

[2019-06-17 18:35] #11904 closed

[2019-06-17 18:37] yaelirub opened #11934 "Main Thread Checker: UI API called on a background thread when adding an image to a post while offline"
Steps:
1. Enable Main Thread Checker in scheme Diagnostics tab
2. be offline
3. Add an image to an existing post
4. See the current stack:
=================================================================
Main Thread Checker: UI API called on a background thread: -[UIApplication statusBarFrame]
PID: 2773, TID: 847242, Thread name: (none), Queue name: NSManagedObjectContext 0x283e75b30, QoS: 0
Back

[2019-06-17 19:43] yaelirub commented on #11934
@jkmassel  how do you think we should fix this?

[2019-06-17 19:49] yaelirub opened #11937 "Image overlay disappears when action sheet is dismissed in Aztec"
Spun off of: #11933
And related to: #11749

Steps:
1. Be offline
2. Add image to post in Aztec
3. see failure overlay
4. tap on overlay
5. choose retry or edit in action sheet
6. see overlay disappears when action sheet is dismissed

![overlay_dissapear](https://user-images.githubusercontent.com/1335657/59624976-2d753c80-9106-11e9-8e11-0f087cb0b49e.gif)

[2019-06-17 19:51] jkmassel commented on #11934
Ah interesting!

A few options:

1) Dispatch the tracks event on the main queue
2) Wrap the UI bits in `DispatchQueue.main.async` (this _shouldn't_ ever cause a deadlock)
3) Cache the result of the check much earlier (this is a bad option, because if the orientation changes, we won't get an update).
4) Check whether we're on the main queue, and if not, just return the `unknown` value.

The `status

[2019-06-17 20:46] yaelirub commented on #11934
closed with:  https://github.com/Automattic/Automattic-Tracks-iOS/pull/105

[2019-06-17 20:46] #11934 closed

[2019-06-17 21:59] jkmassel commented on #11849
12.7 Dependencies:

[code]

[2019-06-17 22:17] ScoutHarris commented on #11907
The iOS Zeplin design appears to be incorrect (as shown above), as it has duplicate rows and doesn't have the same data as Calypso or Android. So I'll display the same data as those two.

Example from Calypso:
<img width="391" alt="calypso_this_year" src="https://user-images.githubusercontent.com/1816888/59640247-af6f6080-911a-11e9-8bd3-3d71391bade5.png">

cc @SylvesterWilmott

[2019-06-18 16:39] yaelirub opened #11943 "Update "Preview unavailable" screen copy"
Currently:
title: "Preview Unavailable for Published Posts"
subtitle = "Update the published post to view your changes."

We'd like to simplify the copy to be just "Preview unavailable"

[2019-06-18 17:55] #11909 closed

[2019-06-18 18:09] #11907 closed

[2019-06-18 19:15] #11943 closed

[2019-06-18 21:48] msilbers commented on #11926
Regarding the above comment, this was reported in #2107412-zen

[2019-06-19 06:44] JavonDavis commented on #11911
This is also happening quite a bit on 12.6.0.5, @ScoutHarris I'm not sure if you got to take a look at this one as yet, I thought it was related to #11875 but it might not be the case

[2019-06-19 06:47] sentry-io[bot] opened #11947 "Preview failed"
Sentry Issue: https://sentry.io/share/issue/ccbd2973326c42e89bc0cef9759ae00d/

[code]

Seems the post preview is causing a few crashes,~232 over the past 14 days, only on version 12.6.0.5

[2019-06-19 06:50] JavonDavis commented on #11947
Hey @yaelirub when you get a chance could you take a look at this one?

[2019-06-19 06:52] sentry-io[bot] opened #11948 "EXC_BREAKPOINT: Fatal error"
Sentry Issue: https://sentry.io/share/issue/a00fc4cd481f459da22383cc12caa9cd/

[code]

Past 14 days
Events: 248
Affected Users: 42
Latest affected version: 12.6.0.5

[2019-06-19 07:09] JavonDavis commented on #11948
@jtreanor this seems unrelated to #11848 but it might be similar to #10548, @rachelmcr WDYT?

[2019-06-19 07:11] yaelirub commented on #11947
hey @JavonDavis , on it

[2019-06-19 07:45] sentry-io[bot] opened #11949 "NSRangeException"
Sentry Issue: https://sentry.io/share/issue/e6ba4afb03be4eefa7473ca1df180b89/

[code]

[2019-06-19 07:46] sentry-io[bot] opened #11950 "RCTFatalException: Unhandled JS Exception: undefined is not an object (evaluating 'y.attributes[V].multiline')"
Sentry Issue: https://sentry.io/share/issue/d106d5b6d0da4c0a86b071a59a5acd87/

[code]

[2019-06-19 07:50] jtreanor commented on #11948
@JavonDavis I think you are correct that this is a different crash to both of those. Perhaps @SergioEstevao will have some insight here since this is an Aztec crash.

[2019-06-19 09:25] rachelmcr commented on #11948
I reproduced this crash by creating a post with the following HTML:

[code]

I then opened the post in the app, placed my cursor in the quoted text, and tapped the Quote button in the toolbar (as if to toggle the quote formatting off). Result: crash.

I noticed that if I did other steps (e.g. toggling between visual and HTML mode in Aztec) before tapping the Quote toolbar button, the app didn't al

[2019-06-19 09:30] SergioEstevao commented on #11948
@rachelmcr thanks for the test case! I will investigate this on Aztec.

[2019-06-19 12:21] thehenrybyrd opened #11951 "Read More Block: Don't allow multiple"
### Expected behavior
After one More Block is added, no more should be possible.
In Calypso, only one More Block can be added. When one already exists, the More Block is greyed out and can't be added again.

<img width="376" alt="Screen Shot 2019-06-19 at 3 14 06 PM" src="https://user-images.githubusercontent.com/15107387/59764663-e70a1400-92a4-11e9-91a3-2770d28748b4.png">

### Actual behavior
It'

[2019-06-19 12:32] rachelmcr opened #11952 "Editor: Updating a post on a self-hosted site makes preview unavailable"
### Expected behavior

I expect that I will be able to save a draft post and preview it repeatedly while I am working on it.

### Actual behavior

On a self-hosted site (without Jetpack), I can only preview the post when I first create/save it or when I first open a saved draft. If I update a saved draft, when I try to preview it I always get the "Preview Unavailable" screen.

The app logs show th

[2019-06-19 12:48] thehenrybyrd commented on #10286
Doing some testing of the new [Video Block](https://github.com/wordpress-mobile/gutenberg-mobile/issues/687), and I'm unable to play videos while previewing.

To reproduce:
1. Create a new post
2. Add a video block and add a video from media library
3. Preview the post and note that you can't play the video.

![IMG_1766](https://user-images.githubusercontent.com/15107387/59765837-9d6ef880-92a7-11e

[2019-06-19 14:31] elibud commented on #11952
CC: @yaelirub

[2019-06-19 17:37] charliescheer opened #11954 "Stats Refresh: Stats graph showing formulas in some languages"
### Expected behavior
When you go to the Stats view in any language, on the side of the graph you should see the range of number of views appear

### Actual behavior
If you are in some languages (Swedish is the only one I found like this so far) instead of displaying the quantities in the side bar you see formulas for getting the quantity:
<img src="https://cdn-std.dprcdn.net/files/acc_593859/QVXy

[2019-06-19 17:57] ScoutHarris commented on #11083
Done with https://github.com/wordpress-mobile/WordPress-iOS/pull/11929.

[2019-06-19 17:57] #11083 closed

[2019-06-19 17:59] #11910 closed

[2019-06-19 18:04] yaelirub commented on #11947
Hey @JavonDavis , those events are not crashes but error logging. (You can see the blue tag on Sentry. Confirmed with @jkmassel).
We intentionally chose to log these kind of errors and the reason they are reported in 12.6 is because of the updates to the error logging we did in this release.

You can also scroll down and see the reason for the error to preview. (Could be due to no connection or if

[2019-06-19 20:22] yaelirub commented on #11952
When we're first saving the post createPost in `PostServiceRemoteXMLRPC` gets called and returns a remotePost with the appropriate values.

but updatePost  in `PostServiceRemoteXMLRPC` returns a remotePost with mostly null values (including the url).
I'm trying to figure out why.
Any thoughts? @diegoreymendez , @aerych ?

[2019-06-19 20:59] SergioEstevao commented on #11948
Solved here: https://github.com/wordpress-mobile/AztecEditor-iOS/pull/1203

@jtreanor do we want an hotfix for this? or it can go on the freeze version? 12.7?

[2019-06-19 21:01] ScoutHarris commented on #11954
Fixed with https://github.com/wordpress-mobile/WordPress-iOS/pull/11957.

[2019-06-19 21:01] #11954 closed

[2019-06-19 23:12] JavonDavis commented on #11947
@yaelirub yes I'm noticing that now, you're definitely right! sorry about that, closing this!

[2019-06-19 23:12] #11947 closed

[2019-06-20 01:24] ScoutHarris commented on #11911
Hey @JavonDavis . I defer to Jeremy's `Dereferencing Garbage Pointers` P2 for this one.

[2019-06-20 01:25] ScoutHarris commented on #11875
It looks like this hasn't occurred since 12.5.1. Can we close it?

[2019-06-20 08:35] jtreanor commented on #11948
I think we could go either way with this. I'll let @jkmassel decide since he's wrangling this release.

[2019-06-20 15:46] yaelirub opened #11961 "Example ticket"
some desc

[2019-06-20 16:14] #11961 closed

[2019-06-20 16:31] susanjanec commented on #10891
Another similar report in 13542158-hc

They're using an iPhone XR, iOS 12.3.1, WPiOS 12.6 on a WordPress.com hosted site.

[2019-06-20 16:51] JavonDavis commented on #11950
Over the past 14 days
~46 events
Latest affected version: 12.6.0.5

[2019-06-20 16:53] JavonDavis commented on #11950
@koke you think you could take a look at this one? Not sure if we were already tracking it somewhere

[2019-06-20 20:20] #11399 closed

[2019-06-20 20:40] koke commented on #11950
It looks like the crash is coming from this line https://github.com/WordPress/gutenberg/blob/rnmobile/release-v1.6.1/packages/block-editor/src/store/effects.js#L130

@SergioEstevao are you familiar with that methods? I'm not sure I understand what's going on there

[2019-06-20 21:14] SergioEstevao commented on #11950
@koke I never touched that class, but I know what the multiline attribute is on the RichText component, it's basically use to define if RichText will support multiline text and what element will be used for each line/paragraph. For example in the list block RichText multiline has the value = `li`.

[2019-06-20 21:53] charliescheer commented on #11543
@designsimply I was able to replicate this problem.  It is happening for me when I am viewing the user's posts in a web view.  Here is a screen capture. https://cld.wthms.co/6q32Js

I tried doing the same sharing from My Site > Blog Posts > View and it worked fine in that web view, but in the reader webviews I see this error.  I tried the site mentioned above and one of my testing sites this way,

[2019-06-20 22:25] ScoutHarris opened #11963 "[Stats Refresh] Period: add File Downloads stats"
Add _File Downloads_ Period stat.

- Add card to bottom of Period table.
- `View more` option to show details.
- Add new Track event(s).
- Add support in WPKit for `/sites/$site/stats/file-downloads` query. (https://developer.wordpress.com/docs/api/1.1/get/sites/%24site/stats/file-downloads/)
- Save to Core Data.

Design from [P2](https://wp.me/paCL20-cM):
![file_downloads_design](https://user-ima

[2019-06-21 14:14] koke commented on #11950
What I'm seeing so far is that the method adds a `START_OF_SELECTED_AREA` character to store the selection, and following the flow of events it seems the only explanation is that in some strange case it doesn't happen correctly. Either it's not inserted, or a block transformation gets rid of it.

I've tried merging every possible combination of supported block transformations, but I still haven't

[2019-06-21 15:53] diegoreymendez commented on #11952
@yaelirub - As we chatted yesterday, and to keep the history here, you can check the actual backend response to figure out if the relevant values are being returned as `null` or if they're being omitted.  If they're being omitted we should figure out why we're overwriting them (or why we don't have them to being with).

The first thing for this issue would be to have a more complete analysis of wh

[2019-06-21 16:21] #11893 closed

[2019-06-21 19:04] ScoutHarris opened #11966 "[Stats Refresh] On iOS 11, the chart legend is misplaced"
### Expected behavior
On the overview charts, the _Visitors_ legend should be just above the y-axis.

<img width="400" alt="chart_ios12" src="https://user-images.githubusercontent.com/1816888/59945469-f44e0c80-9424-11e9-8cb7-611267e19595.png">

### Actual behavior
On iOS 11, the Visitors legend is in the top left corner.

<img width="400" alt="chart_ios11" src="https://user-images.githubuserconten

[2019-06-21 19:06] ScoutHarris commented on #11949
Fixed with #11964.

[2019-06-21 19:06] #11949 closed

[2019-06-21 19:40] yaelirub commented on #11952
Sorry for pining you both before providing more information and thanks @diegoreymendez for your advice.

When we upload a post on a request to preview we call the uploadPost method in PostService.
That call creates a remotePost in https://github.com/wordpress-mobile/WordPress-iOS/blob/e26bb0f8ba71e7650a4149b145748aca68e66d59/WordPress/Classes/Services/PostService.m#L720

We then call updatePost wi

[2019-06-21 20:26] #11908 closed

[2019-06-21 22:00] aerych commented on #11952
So previewing after creating a post works, but previewing after updating a post doesn't. Let's have a closer look at the two methods to see what they might be doing different.

To [create a post](https://github.com/wordpress-mobile/WordPressKit-iOS/blob/4.1.3/WordPressKit/PostServiceRemoteXMLRPC.m#L84) we call the `metaweblog.newPost` [endpoint](https://codex.wordpress.org/XML-RPC_MetaWeblog_API#m

[2019-06-21 22:13] yaelirub commented on #11952
Thanks for the response @aerych.
I will update the code to fetch the post on a successful response from `metaweblog.editPost`

[2019-06-21 23:28] ScoutHarris commented on #10421
Fixed with Stats Refresh.

[2019-06-21 23:28] #10421 closed

[2019-06-21 23:45] ScoutHarris opened #11972 "[Stats Refresh] Latest Post Summary title doesn't render trailing emoji correctly"
On the Latest Post Summary card, if there is one (and only one) trailing emoji, it is not rendered correctly.

<img width="350" alt="Screen Shot 2019-06-21 at 5 37 24 PM" src="https://user-images.githubusercontent.com/1816888/59956150-bdd7b800-944b-11e9-9e9f-e2779249822b.png">

If there are more than one, they render fine. And emojis in any other location are fine as well. Some examples:

<img wid

[2019-06-24 08:27] etoledom opened #11975 "notifications_notification_details_opened being tracked on every app launch"
### Expected behavior
`notifications_notification_details_opened` should not be tracked when the user does not navigate to that section.

### Actual behavior

Every time I launch the app, I see this tracks event:
[code]
Even when the app starts in `My Sites` tab, and the `Notifications` tab is in the root (not showing any notification details).

### Steps to reproduce the behavior

Launch the app

[2019-06-24 08:29] etoledom commented on #11975
@designsimply - Not sure about the priority of this, but track events are sensible matter.

[2019-06-24 12:41] SylvesterWilmott opened #11976 "[Stats Refresh] Show value difference in grey for current period"
On Android, we show the current period value difference in grey because the current period is not complete yet. As a result, this value is far more likely to be coloured red than green which can be demotivating. We should do the same on iOS.

This applies to:

- DWMY tabs
- Post stats

<img width="389" alt="Screenshot 2019-06-24 at 07 40 04" src="https://user-images.githubusercontent.com/36532468/

[2019-06-24 13:24] SylvesterWilmott opened #11978 "[Stats Refresh] Fix chart heights"
The overall heights of the DWMY charts and post list charts differ from the Latest Post Summary Chart. We should align these heights.

Before being able to give an accurate height, I need to know the current height of the charts in different places.

[2019-06-24 13:28] SylvesterWilmott opened #11979 "[Stats Refresh] Make table header text normal-case"
Currently, these are uppercase and clash a little with the section headers. We should change all to normal-case:

- Insights/DWMY
- Detail views

<img width="408" alt="Screenshot 2019-06-24 at 08 28 00" src="https://user-images.githubusercontent.com/36532468/60022745-0238a300-965a-11e9-8eb0-346dc6594cf8.png">

[2019-06-24 18:41] ScoutHarris opened #11983 "[Stats Refresh] Insights: refresh resets and repopulates the table"
On Insights, pull-to-refresh resets all the stats in the table, and then repopulates then when fetching is done.

This seems to only happen when the data has not yet been saved to core data.

![insights_refresh](https://user-images.githubusercontent.com/1816888/60043409-3ffaf300-967d-11e9-8413-669e40e2dce2.gif)

(Initially reported on https://wp.me/paCL20-aV/#comment-441)

[2019-06-24 19:03] ScoutHarris commented on #11978
Hey @SylvesterWilmott .

Yep, they are different. Good catch. The heights are:
Latest Post Summary: 170
Overviews: 150

[2019-06-24 23:00] sentry-io[bot] opened #11988 "Crash on WPSplitViewController"
Sentry Issue: https://sentry.io/share/issue/52206eee84d94998959e599b929a3e24/
[code]

[2019-06-24 23:02] JavonDavis commented on #11950
Might be similar to https://sentry.io/share/issue/4a1af7d16b0540e09ed1724276aaa3fe/ as well? @hypest WDYT?

[2019-06-24 23:04] JavonDavis commented on #11950
Nevermind, I'm looking at it deeper and I don't believe so I'll open a new issue for that one.

[2019-06-24 23:05] sentry-io[bot] opened #11989 "RCTFatalException: Unhandled JS Exception: TypeError: v.forEach is not a function. (In 'v.forEach', 'v.forEach' is undefined)..."
Sentry Issue: https://sentry.io/share/issue/4a1af7d16b0540e09ed1724276aaa3fe/

[code]

[2019-06-24 23:07] JavonDavis commented on #11989
Closing since this doesn't happen later than WP v12.4

[2019-06-24 23:07] #11989 closed

[2019-06-24 23:11] sentry-io[bot] opened #11990 "[Stats Refresh] iOS 13: crash when updating table"
Sentry Issue: https://sentry.io/share/issue/f61e419831ff42cbae901226ae4b70de/

[code]

[2019-06-24 23:14] JavonDavis commented on #11990
@ScoutHarris could you take a look at this one? Seemed to happen when changing the filter.

[2019-06-25 00:29] yaelirub commented on #11430
@diegoreymendez , how can we move forward with this?
Do we need design input?

[2019-06-25 00:32] yaelirub commented on #11812
@osullivanchris , want to make the call on how we should handle this?
From a technical perspective, we have to make the call when the user requests to preview, so some loading time is necessary. The question is what's the best way to message the user.

[2019-06-25 01:08] ScoutHarris commented on #11963
Analytics event `WPAnalyticsStatStatsViewMoreTappedFileDownloads` was added with https://github.com/wordpress-mobile/WordPress-iOS-Shared/pull/210.

[2019-06-25 01:10] ScoutHarris commented on #11990
Sure, I'll take a look.

[2019-06-25 07:18] maxme opened #11994 "Improve "Revision Browser" entry in the editor "..." menu"
Currently the menu item to access the "Revision Browser" is "History". It's not clear. Calypso uses a different approach:
<img width="288" alt="Screenshot 2019-06-25 at 09 13 37" src="https://user-images.githubusercontent.com/40213/60077125-89a11780-9729-11e9-8956-b1bd1fe0c791.png">

Solution: replace "History" by "Revisions (N)" in this menu.

### WPAndroid ticket:

https://github.com/wordpress-m

[2019-06-25 08:10] frosty opened #11995 "[Stats Refresh] Voiceover audit"
It's important that our new stats refresh is accessible for users who rely on VoiceOver. At the moment, it doesn't function as well as the previous version of stats. Let's do an audit, and note here any issues that need resolving. Note that these are not necessarily listed in priority order.

- [x] View More rows in stats tables are not read correctly
- [x] Reflect expanded / collapsed state of ex

[2019-06-25 13:55] Tug commented on #11950
@koke Are you sure it's not this line instead:  https://github.com/WordPress/gutenberg/blob/rnmobile/release-v1.6.1/packages/block-editor/src/store/effects.js#L96

I'm not sure how it happens in our case (I was not able to reproduce as well), but a probable cause would be when a [SELECT_BLOCK](https://github.com/WordPress/gutenberg/blob/rnmobile/release-v1.6.1/packages/block-editor/src/store/reduc

[2019-06-25 15:38] koke commented on #11950
I looked at the [bundle source](https://raw.githubusercontent.com/wordpress-mobile/gutenberg-mobile/v1.6.1/bundle/ios/App.js) and the crash description seemed to match the other line better:

[code]

The one you linked looks more like this:

[code]

[2019-06-25 15:44] diegoreymendez opened #11997 ""Create Post" button should be shown when offline too."
This issue was spawned from a proposal by @shiki in: https://github.com/wordpress-mobile/WordPress-iOS/issues/11430#issuecomment-481835803

The proposal is that the "Create a Post" button should also be shown when there is no data AND we're offline.

## Decision

Original proposal accepted: **If there is no cached data and the device is offline, we should still show the Create a Post button.**
Hea

[2019-06-25 15:46] diegoreymendez commented on #11430
I've moved @shiki 's suggestion of adding the "Create a Post" button to a separate issue here: https://github.com/wordpress-mobile/WordPress-iOS/issues/11430

@yaelirub - We don't need design input on this one.  We most definitely need a technical analysis on what we have, and what could be done to implement this - it's definitely a discovery issue in that sense.

[2019-06-25 15:47] diegoreymendez commented on #11997
/cc @wordpress-mobile/ravenclaw

[2019-06-25 16:49] iamthomasbishop opened #11999 "Refine Revisions/History layout on tablet"
### Currently

At the moment, I'm seeing a couple of issues with our Revision/History viewer layout:

* The content container is full-width – should match the active editor
* The container doesn't have the same top-margin (when using GB)
* The previous/next arrows aren't vertically centered

I understand that some of these things are slightly different for Aztec vs. Gutenberg – ideally, the layout

[2019-06-25 17:10] diegoreymendez commented on #11449
This has been implemented as part of #11783

[2019-06-25 17:10] #11449 closed

[2019-06-25 17:15] diegoreymendez opened #12000 "Some posts with local changes are never uploaded."
### Expected behavior

Posts with local changes are uploaded when you have a connection.

### Actual behavior

If, while you're in the editor with local changes, you force the App to close (without really closing the editor first), when you open the back again, you can see a post with local changes that is never uploaded.

### Steps to reproduce the behavior

If, while you're in the editor with lo

[2019-06-25 17:15] diegoreymendez commented on #12000
/cc @wordpress-mobile/ravenclaw

@maxme - Can I ask you to provide some insights on what Android does?  This could be useful to implement something similar in iOS.

[2019-06-25 18:23] #11983 closed

[2019-06-25 18:25] #11979 closed

[2019-06-25 19:16] #11775 closed

[2019-06-25 21:34] jklausa commented on #11997
one tiny nitpick to note here too: we're incosistent about whether to include a period on the title of the no results page :

"You don't have any draft posts" / no period vs "Unable to load this page right now." / period

it's a tiny thing, but for some reason my brain notices that _immediately_ — it would be awesome if we could fix that while we're changing this here too.

[2019-06-25 22:52] yaelirub commented on #11684
Blocked by: https://github.com/Automattic/wp-calypso/issues/20265

[2019-06-25 23:41] ScoutHarris commented on #11890
Hey @designsimply . This is not related to stats specifically, but is the way the Image Loader handles errors when the media hasn't been loaded yet (and is used in many other areas of the app). I've added this to the Groundskeeping project.

[2019-06-26 00:04] ScoutHarris commented on #11743
This was fixed with https://github.com/wordpress-mobile/WordPress-iOS/pull/11964. Thanks @danielebogo ! 🎉 for accidental fixes! 😄

[2019-06-26 00:37] yaelirub opened #12003 "implement GET autosave"
Implement the end point to get the latest revision of a post:
GET v1.1/sites/$site_id/posts/$post_id/autosave

[2019-06-26 09:38] osullivanchris commented on #11997
If we are going by the principle that offline should behave similar to online, and not block the user, we should make the offline with no cached data look exactly the same as online with no cached data.

**Assumption I need to check here:**
The error says we cannot load the drafts page because the user is offline. But my understanding is that we **can** load the page, there just happens to be no p

[2019-06-26 11:10] Tug commented on #11950
Good point! In that case I'm not sure where it comes from, maybe a block that could not be transformed correctly before merge, it's hard to say at this point.
I think it would be really useful to send the stacktrace along with the error as well as enable sourcemaps on sentry (I know raven.js supports this, not sure about the ios lib).

[2019-06-26 11:54] osullivanchris commented on #11812
Hey I found something similar we are doing here
![IMG_1287](https://user-images.githubusercontent.com/50576199/60177658-59cd3f00-9811-11e9-9f63-fba3ac1aa1cd.PNG)

If thats something re-usable it seems like the quickest thing to do to get this unblocked? Shows a loading state, with a description, and doesn't block the user from using the UI. Let me know if it works!
![Generating preview loader](htt

[2019-06-26 13:54] diegoreymendez commented on #11997
As a note, there's a task to improve the caching of this data which will probably help a bit make this experience more similar to the online experience: https://github.com/wordpress-mobile/WordPress-iOS/issues/11430

My only concern with saying "You don't have any draft posts" when you're offline, is that this could come up in situations where the user has posts but they're not cached for offline

[2019-06-26 16:23] osullivanchris commented on #11997
@diegoreymendez  ok good to highlight that. I didn't know that was the case.

Then I agree with the original proposal to just add the button below the current offline empty state message

[2019-06-26 17:48] diegoreymendez commented on #11687
We've [recently changed the text to look white](https://github.com/wordpress-mobile/WordPress-iOS/issues/11688), which clarifies that it's not the blue text that you should tap.

@osullivanchris can I ask you for your input on this?  I feel like closing this issue, because there's no available definition of what it'd take to make this better.

@SylvesterWilmott was previously taking care of these

[2019-06-26 17:53] #11966 closed

[2019-06-26 18:23] frosty commented on #11976
Fixed by #11982

[2019-06-26 18:23] #11976 closed

[2019-06-26 18:45] yaelirub commented on #11997
@osullivanchris , should we update the message though?
Imo, it seems a bit weird to have:
[code]

[2019-06-26 18:47] ScoutHarris commented on #11990
Hey @JavonDavis . This is happening in iOS 13 only. It's a bit convoluted to for us to run iOS 13 right now, but we'll fix it eventually.

[2019-06-26 19:20] ScoutHarris opened #12007 "Post list: table background is white"
### Expected behavior
Table background is grey.

### Actual behavior
Table background is white.

### Steps to reproduce the behavior
Go to Blog Posts. It's easy to notice if there is only one post.

From `develop`:

<img width="400" alt="develop" src="https://user-images.githubusercontent.com/1816888/60208039-92224c80-9814-11e9-9890-b7d6a37656b3.png">

From 12.7:

![12_7](https://user-images.githu

[2019-06-26 19:20] ScoutHarris commented on #12007
@nheagy - is this you by chance?

[2019-06-26 19:22] nheagy commented on #12007
Yeah, almost certainly a result of changes for #11683. Will look into it!

[2019-06-26 19:57] JavonDavis commented on #11990
Ahh ok, thanks!

[2019-06-26 20:01] osullivanchris commented on #11997
@yaelirub thanks for catching that.

Headline "Unable to load any posts right now"
Subheading "Check your network connection and try again"
Button "Create a Post" (same button as online state)

Or we could go a step further and highlight that you can act offline, and give contect for the button
Headline "Unable to load posts right now"
Subheading "Check your network connection and try again. Or cr

[2019-06-26 20:12] charliescheer opened #12008 "Can not share to WordPress from Apple Notes"
### Expected behavior
If you go to apple notes, and click on the share button you should be able to select to share to the WordPress app, and share as a draft to the WordPress app.

### Actual behavior
In WordPress 12.6 and above WordPress does not appear as an option to share to.  I tested this on a few other apps and it seems to be isolated to apple notes.

<img src="https://cdn-std.dprcdn.net/f

[2019-06-26 20:13] frosty commented on #12008
@nheagy You mentioned that we made a change to the sharing predicate around this time?

[2019-06-26 20:16] nheagy commented on #12008
Yes, here: https://github.com/wordpress-mobile/WordPress-iOS/pull/11780

It's tough to wrap my head around. The change was just supposed to remove the limit for how many images could be shared. iOS 12 and 13 may be different because the format(s) notes shares in may have changed.

[2019-06-26 21:12] kristastevens commented on #11997
Hi @osullivanchris, thanks for the ping! I've got some thoughts on modifying the second option you shared, just slightly:

Original:

Suggested:

Headline:
Unable to load posts right now.

Subheading:
Check your network connection and try again. Or draft a post.

Button:
Create post

No punctuation on buttons, naturally, though I feel like our sentences here need terminal punctuation. Also, button

[2019-06-26 21:27] yaelirub commented on #11997
@kristastevens, thank you so much for your fast responses! 🙏
I like your suggestion and adding it to the decision on implementation.

[2019-06-26 22:15] charliescheer opened #12009 "Can't publish private post on self hosted sites"
### Expected behavior
If you are working on a self hosted site that is XMLRPC connected you should be able to publish a post that is set to be private.

### Actual behavior
However if you try to publish a new post as private you get an error.
<img src="https://cdn-std.dprcdn.net/files/acc_593859/3ZQtP7" />

I checked out the logs and they say:
"Error publishing post: Sorry you cannot stick a priva

[2019-06-27 00:03] ScoutHarris commented on #11743
The chevrons were fixed on all views except details. (It looked fixed because the table just wasn't updating.)

[2019-06-27 08:10] elibud commented on #12009
Thanks for the report @charliescheer, @diegoreymendez can your team look into this please? Thanks

[2019-06-27 09:11] osullivanchris commented on #11997
@kristastevens that sounds perfect to me! I'm imagining the answer is yes here - just want to confirm. Should we change the online button from "Create a Post" to "Create post" too?

@yaelirub @diegoreymendez this one has the go ahead from me

[2019-06-27 10:11] frosty opened #12015 "Push notifications formatting is inconsistent"
### Actual behavior

We've had reports that notifications are being displayed sometimes with text in bold, and sometimes without.

![notifications-issue](https://user-images.githubusercontent.com/4780/60258047-429f5780-98cc-11e9-864e-f5347250ffc0.png)

### Expected behavior

All notifications of a particular type should be styled the same way.

### Steps to reproduce the behavior

I've not been ab

[2019-06-27 12:48] kristastevens commented on #11997
Yes, definitely -- thanks for asking!

[2019-06-27 14:09] diegoreymendez commented on #12009
@elibud - Yep.

@jklausa can you look into this issue please?  Thanks!

[2019-06-27 14:12] diegoreymendez commented on #12009
I added the "High Priority" label to this one considering the nature of the issue, let's give this one full priority.

[2019-06-27 15:49] ScoutHarris opened #12018 "[Stats Refresh] Use Site timezone instead of User timezone"
From https://github.com/wordpress-mobile/WordPress-Android/issues/10117:

When using the value of "Today", the app should use site time zone instead of the app time zone. This is relevant for the "Overview" card which could (in some cases) be showing tomorrow's date as the last date in the graph. The same goes for the "Today" insights where we might be showing insights for "Tomorrow" in some cases

[2019-06-27 18:38] rachelmcr opened #12019 "Domain Registration: Contact information fields sometimes can't be selected/filled"
### Expected behavior

When I am redeeming a domain credit, I should be able to fill out all the required fields in the contact information form to register my domain.

### Actual behavior

When I try to tap on some of the fields in the contact information form, they don't respond to my taps. There's no other way to move the cursor to those fields, so I can't finish filling out the form.

The beha

[2019-06-27 18:48] rfaile313 commented on #12019
Reports in:
- 2138398-zen
- 2139420-zen

[2019-06-27 19:04] rachelmcr opened #12021 "Reader: Animation and illustration sometimes appear while fetching posts"
### Expected behavior

I expect to see an animation while the Reader is fetching posts.

### Actual behavior

An illustration (the empty Reader illustration) appeared below the fetching posts animation the first time I loaded the Reader tab after logging in.

![2019-06-27 19 46 59](https://user-images.githubusercontent.com/8658164/60292993-2f18de80-9916-11e9-8962-b7010024d2e3.png)

### Steps to re

[2019-06-27 20:03] frosty commented on #12015
Fixed by #12016

[2019-06-27 20:03] #12015 closed

[2019-06-28 00:49] yaelirub commented on #11997
@jklausa , for the period at the end of the title comment: We are lacking consistency in other places too:
You don't have any tags (no period)
You don't have any media.
You don't have any draft pages (no period)
No pages matching your search (no period)
You don't have any trashed pages (no period)
You don't have any scheduled pages (no period)
etc'

So I think this should be tackled in a separate

[2019-06-28 07:27] malinajirka commented on #11650
Just noting that we probably won't need to use the "GET https://public-api.wordpress.com/rest/v1.1/sites/$site_id/posts/$post_id/autosave" endpoint. More info https://github.com/wordpress-mobile/WordPress-Android/issues/9812#issuecomment-505802903

[2019-06-28 07:29] malinajirka commented on #11650
Looking at it again, I feel like we might want to close this ticket as it's a duplicate of #9812. We moved the conflict resolution discussion to #10008, so #9812 is just about "unpublished revision dialog" again.

[2019-06-28 07:30] malinajirka commented on #11650
Closing this as explained above - we can reopen it, if I missed something.

[2019-06-28 07:30] #11650 closed

[2019-06-28 07:42] yaelirub commented on #11650
Hey @malinajirka,
I left this ticket open as the issue representing the decision we made on the Android ticket (look at the decision section in the description)

If we're closing this one we should open a new ticket for implementing that logic. I can do that tomorrow if you agree.

Also, the links in your latest comment open up an unrelated issues under wpios repository. Can you update those to li

[2019-06-28 13:59] rachelmcr commented on #11352
Confirmed this is resolved when exporting the note as Markdown or TextBundle, per https://github.com/wordpress-mobile/WordPress-iOS/pull/11545. @nheagy is there a way for us to also do this when using the Share action (instead of exporting the note), or have we done everything we can here?

[2019-06-28 14:07] osullivanchris commented on #11420
1. Yes I think the user's intention is to publish the page, so retrying should complete that action. I'd follow the Android behaviour here and publish when retrying. If we're unsure - we could show the confirmation dialogue that we usually do before publishing. But as long as the messaging is clear I think its fine.
2. So just to confirm I understand...In this case the user has tapped publish, did

[2019-06-28 14:13] sentry-io[bot] opened #12028 "Unresolved Core Data save error"
Sentry Issue: ~~https://sentry.io/share/issue/9e65722f023948d28c2a5a34a7c74982/~~ https://sentry.io/share/issue/1dcb161bbb4a4e56b4aabe76dd557b19/

[code]

Latest affected version: WPiOS 12.6.1

[2019-06-28 14:17] osullivanchris commented on #11430
Just looking through this and agree, there's not much for me to do at this point. We've decided to add the button in the linked issue. If something comes up here loop me back in!

The only question I would have is whether we should be loading all posts when the user drills in to Blog Posts? Or loading the requested tab first, and the other tabs in the background. Then everything would be cached no

[2019-06-28 14:17] JavonDavis commented on #12028
@nheagy it's not happening since v12.6 but I'd still like to bring your attention to this one just incase.

[2019-06-28 14:19] JavonDavis commented on #11988
@nheagy Could you take a look at this one when you get a chance?

[2019-06-28 14:19] diegoreymendez commented on #11700
<img width="439" alt="Screen Shot 2019-06-28 at 11 19 19 AM" src="https://user-images.githubusercontent.com/1836005/60348755-97a7a000-9996-11e9-881b-325ad034ecd3.png">

[2019-06-28 14:19] #11700 closed

[2019-06-28 14:32] diegoreymendez commented on #11430
I really appreciate your input on this @osullivanchris.  I tend to agree that the user would want the switching between tabs to be mostly immediate.

This is going to be one of the trickiest issues to implement for sure, but I believe we can learn a bit from talking with @malinajirka and @maxme about how this is done in Android.

[2019-06-28 16:04] rfaile313 commented on #12019
Another report in 2139893-zen (ios)

[2019-06-28 16:24] jklausa commented on #12019
Fix for this should go out on Monday in 12.7 :)

[2019-06-28 16:41] rfaile313 commented on #12019
@jklausa what a legend ⚡

[2019-06-28 18:29] jklausa commented on #12009
Should be fixed by #12024

[2019-06-28 18:29] #12009 closed

[2019-06-28 18:52] #11952 closed

[2019-06-28 18:56] #12003 closed

[2019-06-28 19:26] diegoreymendez commented on #12009
Thanks for the swift work @jklausa !

[2019-06-28 19:29] diegoreymendez commented on #12019
I think we can close this, right?

[2019-06-29 02:52] yaelirub opened #12032 "Loading preview spinner is blocking user interaction. Show status in navigation bar instead"
Similar to https://github.com/wordpress-mobile/WordPress-iOS/issues/11812 when the preview is loading we currently show a spinner that is blocking user interaction.
This becomes prominent on low connectivity and can leaves the user stuck till the preview loads.

We need to handle this in the same way we do when saving/ generating before showing the preview, but displaying the status in the navigat

[2019-06-30 15:14] jklausa commented on #12019
Argh, I thought it would get closed automagically when #12025 gets merged, but apparently not. Closing.

[2019-06-30 15:14] #12019 closed

[2019-07-01 00:34] charliescheer opened #12034 "When sharing from Bear, Sharesheet fails if there is too much media"
### Expected behavior
If you are working in Bear and you add a bunch of text and images you should be able to share your post into WordPress using the new Bear sharing.

### Actual behavior
If you have around 10 or more images in your post and you try to share from bear the sharesheet crashes while trying to fetch the site list and you are unable to share the post to WordPress.

Screen capture:  h

[2019-07-01 09:14] koke commented on #11683
The buttons on the prompt when you have push notifications disabled have the old colors:

![IMG_8F1F681DD906-1](https://user-images.githubusercontent.com/8739/60424762-5101b200-9bf1-11e9-9beb-2b3497002fa3.jpeg)

[2019-07-01 09:35] koke commented on #11683
The headers for Me and BlogDetails are different. Comparing to the section header color they might both be wrong, but I think at least one of them is:

![colors](https://user-images.githubusercontent.com/8739/60426108-4268ca00-9bf4-11e9-983e-ec64f9cc978e.png)

[2019-07-01 09:57] koke commented on #11683
I would add that cell borders are also off, the gear icon for the "Manage" cell at the top, the "Fecthing posts..." animation looks blue-ish...

![Screen Shot 2019-07-01 at 11 38 23](https://user-images.githubusercontent.com/8739/60427649-6a0d6180-9bf7-11e9-88bf-4a391fe9b2bf.png)
![Screen Shot 2019-07-01 at 11 38 36](https://user-images.githubusercontent.com/8739/60427651-6a0d6180-9bf7-11e9-996a-4

[2019-07-01 10:03] koke commented on #11683
Another one, I found some discrepancies between the blog list styles in "My Sites" vs "Reader > Manage"

![reader-manage-following](https://user-images.githubusercontent.com/8739/60427993-3121bc80-9bf8-11e9-8f8c-76f0de2c0aa7.png)

[2019-07-01 10:05] koke commented on #11683
Me > Support > WordPress Help Center has the wrong colors on the search bar:

![Screen Shot 2019-07-01 at 12 04 36](https://user-images.githubusercontent.com/8739/60428131-79d97580-9bf8-11e9-87b7-38bc3c5565d0.png)

[2019-07-01 12:40] rachelmcr commented on #12019
Issues are automatically closed when a PR is merged into the default (`develop`) branch, but not when it's merged into other branches e.g. release branches.

[2019-07-01 12:42] osullivanchris commented on #11420
Discussion has progressed [here on Android](https://github.com/wordpress-mobile/WordPress-Android/issues/9555), will capture the proposal back in this ticket when we have finished resolving. Should be the same on both platforms

[2019-07-01 12:54] rachelmcr commented on #12034
cc @nheagy

[2019-07-01 12:58] danielebogo opened #12035 "[Stats Refresh] Legend color should be primary dark"
### Expected behavior
Legend color used in the Period Chart should be `.primaryDark`

### Actual behavior
The current color is `.primary`

### Steps to reproduce the behavior

##### Tested on [device], iOS [version], WPiOS [version]

[2019-07-01 13:35] #11693 closed

[2019-07-01 13:47] #12035 closed

[2019-07-01 14:29] thehenrybyrd opened #12037 "Stats: Day/Week/Month/Year: Tapping date bars doesn't change data"
### Expected behavior
When looking at stats in Day/Month/Week/Year, tapping each bar should change the stats shown to reflect the day I'm trying to look at.

### Actual behavior
In some cases, tapping the bar changes which bar is highlighted, but doesn't change the stats shown.

For example, this screenshot shows 1 view and 1 visitor, but the bar selected shows close to 30 visitors.
<img width="38

[2019-07-01 14:33] elibud commented on #12037
@danielebogo another one for you, thanks for the report @thehenrybyrd .

[2019-07-01 15:22] shiki commented on #11997
Heads up! It looks like there will be a significant change coming for the Post List. We might want to limit our changes, if there are any, on it. See https://github.com/wordpress-mobile/WordPress-iOS/issues/11646.

[2019-07-01 15:30] diegoreymendez commented on #11997
Nice catch @shiki.  That said, the PR is already up, so it may make sense to still move ahead... your call @yaelirub !

[2019-07-01 15:55] yaelirub commented on #11997
@shiki , @diegoreymendez , not sure what those changes have to do with adding the create post button to the no results view.
Are they getting rid of the no results view?

[2019-07-01 16:00] leandroalonso commented on #11997
Hi everyone!

Even with the changes in #11646  the no results view will still be appearing if the user has no connection and/or posts — this behavior will not change.

[2019-07-01 16:18] shiki commented on #11997
@leandroalonso Thank you!

@yaelirub Sorry, I did not mean to cause an alarm. I just wanted to make sure everyone is aware of possible conflicts. 🙂

[2019-07-01 17:46] yaelirub commented on #11997
Thanks @shiki . Seems like no possible conflicts.

[2019-07-01 18:01] jkmassel commented on #11875
I'm bumping this to `12.9` as part of the `12.8` code freeze. If we need to land it in the `12.8` timeframe, let me know and we can release a new beta release containing it once it lands.

[2019-07-01 18:01] jkmassel commented on #11822
I'm bumping this to `12.9` as part of the `12.8` code freeze. If we need to land it in the `12.8` timeframe, let me know and we can release a new beta release containing it once it lands.

[2019-07-01 18:02] jkmassel commented on #11948
It looks like this'll land in 12.8.

[2019-07-01 18:04] jkmassel commented on #11911
I'm bumping this to `12.9` as part of the `12.8` code freeze. If we need to land it in the `12.8` timeframe, let me know and we can release a new beta release containing it once it lands.

[2019-07-02 00:06] jklausa commented on #11997
oh, 100% agreed!

It's just something that was bugging me and I noticed while looking at the screenshots, so thought I'll mention it. Do you want me to file a separate issue for it?

[2019-07-02 00:09] yaelirub commented on #11997
Yes please, @jklausa and thank you

[2019-07-02 01:22] jklausa opened #12042 "Make NoResultsViews consistent in terms of including trailing period in titles"
As noted in #11997, and expanded by @yaelirub in this comment: https://github.com/wordpress-mobile/WordPress-iOS/issues/11997#issuecomment-506560583 we're incredibly inconsistent when it comes to including trailing periods in No Results Views messages.

We should decide on one style and update it across all the screens.

## Samples

| Location | Screenshot |
|--------|-------|
| Notifications   |

[2019-07-02 02:50] theck13 commented on #11999
@iamthomasbishop, I was able to confirm similar behavior on WordPress Android 12.7.  See the screenshots below for illustration.

HTML|Visual
-|-
![1562035570](https://user-images.githubusercontent.com/3827611/60478999-8504c380-9c41-11e9-8b9d-10b3bc2aa4a7.png)|![1562035574](https://user-images.githubusercontent.com/3827611/60479007-87ffb400-9c41-11e9-9b45-2d71bc0ee944.png)

[2019-07-02 06:23] rachelmcr commented on #8224
This confusion came up again with a user in 2053985-zen. The user looked for the Edit option in the ellipsis menu and couldn't find how to edit a page:

[2019-07-02 08:43] SylvesterWilmott commented on #11687
Is the blue dot invisible on iOS every time? This is a bug for sure since it *was* added.

On Android, the words: "Your Site Icon" should be in a heavier text weight

[2019-07-02 09:20] thehenrybyrd commented on #12037
Had another report in #2149095-zen.
It sounds like you're already working on this, so let me know if I should stop reporting and start telling folks to look out for a fix. 😄

[2019-07-02 09:31] thehenrybyrd commented on #12037
And another in #2148632-zen

[2019-07-02 09:57] thehenrybyrd commented on #12037
One of the original reporters came back with another gif for us in #2142342-zen.
In this case, it seems whenever they open the app and go to stats, they see the stats sticking until they use one of the arrows to move to a different day. https://wp.me/p7cLQ7-Da /#comment-1211

[2019-07-02 10:10] danielebogo commented on #12037
Thanks @thehenrybyrd ! I'm working on it [here](https://github.com/wordpress-mobile/WordPress-iOS/pull/12041).

[2019-07-02 13:34] diegoreymendez opened #12046 "Site Creation: The preview is laid out behind the "Done" button."
This was reported initially by @aerych

### Expected behavior

The whole site preview should be scrollable all the way up, and be visible on top of the done button.

### Actual behavior

When the preview is long enough, it's laid out behind the "Done" button.

![img_0391](https://user-images.githubusercontent.com/1836005/60516869-faf64280-9cb4-11e9-88b2-f2504892f315.png)

### Steps to reproduce th

[2019-07-02 13:38] diegoreymendez opened #12047 "Site Creation: Pressing enter sometimes not doing anything"
This issue was initially reported by @aerych

### Expected behavior

Pressing ENTER in a field should always perform an action, be it moving first responder to the next field, or submitting the form.

### Actual behavior

Sometimes pressing ENTER does nothing.

This happens in step 1, when entering the topic for the blog.
This also happens in step 2 for both fields (title and tagline).

### Steps

[2019-07-02 13:42] frosty opened #12048 "Stats: Chart bars take a long time to reflect user interaction"
### Actual behavior

Related to #12037, after tapping a bar in a stats chart (for data that has already been cached), there's a long 1 - 2 second delay before the bar is highlighted to show the tap.

![stats-bar-tap-1](https://user-images.githubusercontent.com/4780/60517313-5e916780-9cd7-11e9-8ecb-23f7375c6094.gif)

### Expected behavior

I would expect the bar highlight to update the instant I ta

[2019-07-02 14:00] diegoreymendez opened #12049 ""Create Page" button should be shown when offline too."
This issue was spawned as a follow up to: https://github.com/wordpress-mobile/WordPress-iOS/issues/11997

The proposal is that the "Create a Page" button should also be shown when there is no data AND we're offline.

Just replicate the work we did in the post list.

[2019-07-02 14:47] shiki commented on #11905
Closing this since this was mostly about reversing the fix for https://github.com/wordpress-mobile/WordPress-iOS/issues/11435. We will continue the work again on that issue.

[2019-07-02 14:47] #11905 closed

[2019-07-02 14:50] shiki commented on #11435
@osullivanchris I'd like to confirm this. In https://github.com/wordpress-mobile/WordPress-Android/issues/9561, we decided to remove the "Discard Local Changes" option. Does this mean that we will be removing that option on iOS too?

NB: Contrary to Android, this option is shown when the user leaves the editor.

[2019-07-02 15:19] diegoreymendez commented on #11687
Thanks... that's missing.  I'll look into it.

[2019-07-02 15:25] nheagy commented on #11687
fwiw, the code that's supposed to add that dot (called a spotlight in code fwiw) is here: https://github.com/wordpress-mobile/WordPress-iOS/blob/develop/WordPress/Classes/ViewRelated/Blog/BlogDetailHeaderView.m#L102

I'm not sure at what point it stopped working.

@diegoreymendez I'm available to help with this, give me a ping anytime.

[2019-07-02 15:30] diegoreymendez commented on #11687
Thanks @nheagy, that helps a lot!

I'll give it a brief look to see if it's an easy fix and if it gets tricky I'll ping you.

[2019-07-02 16:18] yaelirub commented on #12042
We need to look at some guidelines.

[2019-07-02 16:27] shiki commented on #12042
@yaelirub I assumed the decision was already made by https://github.com/wordpress-mobile/WordPress-iOS/issues/11997#issuecomment-506047116:

I guess I may have misunderstood. How do we proceed with this then?

[2019-07-02 17:33] diegoreymendez commented on #11653
Reopening and re-closing since this is coming up in my GitHub notifications.

[2019-07-02 17:33] #11653 closed

[2019-07-02 18:25] shiki commented on #12042
I gathered a big sample of the NoResultsViews and updated the description with screenshots. ☝️ I stopped here because it looked counterproductive to continue. 😄

### Observation

Most of them do not have terminal punctuations. Some have periods and exclamation marks. Should we change all of them to have terminal punctuations?

I'll request input from Editorial. I'm sure they can answer this questi

[2019-07-02 18:33] jkmassel commented on #12048
It looks like the UI is updated after the network requests complete. Watching in the log + simulator, it changes as soon as `Stats: All fetching operations finished` appears.

[2019-07-02 20:41] jkmassel commented on #11849
12.8 out-of-date dependencies:

[code]

[2019-07-02 21:53] michelleweber commented on #12042
Okay! So:

- Buttons are sentence case, so there are some that need to have capital letters removed.

- For things like "No comments yet," it depends on whether these are regular copy or headlines. If they're copy, they should all have terminal punctuation. If they're headlines, none of them should have terminal punctuation except for a few with exclamation points. I'm assuming these function like

[2019-07-02 22:03] shiki commented on #12042
Thank you for the response, @michelleweber.

In the case of search results like this:

<img src="https://user-images.githubusercontent.com/198826/60536383-592a2200-9cc3-11e9-8ea9-c91ff09c9ffc.png" width="180">

Is that still considered as a headline?

Would you be able to point out some of them so I can understand more? 🙂 Thank you!

[2019-07-02 22:23] shiki commented on #11808
Good news! I can't reproduce this anymore.

@diegoreymendez @yaelirub Would anyone of you kindly confirm that you can't reproduce it too? Then we can close this. 🙂

[2019-07-02 23:52] #11997 closed

[2019-07-02 23:55] #12046 closed

[2019-07-03 04:56] yaelirub commented on #11808
Hey @shiki , I couldn't reproduce either.
I'm fine with closing it

[2019-07-03 11:44] osullivanchris commented on #11435
@shiki Yeah we decided to remove 'Discard Local Changes' from the overflow menu in Android here https://github.com/wordpress-mobile/WordPress-Android/issues/9561

You're right in iOS it appears differently. I have been working on this across both Android and iOS the last couple of days to find a consistent approach for the behaviour when the user leaves the editor. The concept is captured here on

[2019-07-03 13:11] shiki commented on #11808
Thank you, Yael!

[2019-07-03 13:11] #11808 closed

[2019-07-03 13:25] shiki commented on #11435
@osullivanchris Thank you for pointing me to https://github.com/wordpress-mobile/WordPress-Android/issues/9810. We can continue the discussion there. I'll mark this as blocked by that issue for now.

[2019-07-03 14:09] diegoreymendez commented on #9282
@yaelirub - This issue is in the "closed" column in the project, but still open.  What's the right status?

(PS: if we're keeping this open because there's pending work we can just use new smaller tickets for the remaining work and close this one)

[2019-07-03 15:06] SylvesterWilmott opened #12057 "Snackbar covering important UI elements"
### Expected behavior
Snackbar should appear aligned above the toolbar in the editor

### Actual behavior
Snackbars should not cover the editor toolbar or other important on screen elements

### Steps to reproduce the behavior
Bug is seen in various parts of the app.

Within the editor:
1. Upload an image with GB enabled
2. Turn device to airplane mode
3. Notice alignment and z-index of snackbar

[2019-07-03 17:57] yaelirub commented on #9282
@diegoreymendez, that's an overlook on my end, it should be closed. Apologies.
Closing.

[2019-07-03 17:57] #9282 closed

[2019-07-03 18:18] diegoreymendez commented on #9282
Thanks!

[2019-07-03 19:53] shiki opened #12060 "Media is not attached after relaunching the app"
Found in https://github.com/wordpress-mobile/WordPress-iOS/pull/11839#issuecomment-498223891 by @yaelirub.

### Expected behavior

Media is attached to the post when the app is relaunched.

### Actual behavior

The media upload resumes when the app was relaunched but the image was never attached to the post and only a placeholder is visible.

<img src="https://user-images.githubusercontent.com/133

[2019-07-03 19:54] shiki commented on #11846
I created a separate issue for the _Test 2_ since it seems like an entirely different issue.

→ https://github.com/wordpress-mobile/WordPress-iOS/issues/12060

[2019-07-03 20:15] shiki commented on #11937
Adding an additional image. I started creating an issue until I found out that this issue already exists. 😄

<img src="https://user-images.githubusercontent.com/198826/60622114-bd6ce480-9d9c-11e9-9c6e-da36b3265ca7.gif" width="320">

[2019-07-03 20:23] shiki commented on #10272
I found that the magic link does not work if I open it using Gmail. Clicking on it would launch the Google Chrome app but nothing happens.

[2019-07-03 20:25] marecar3 commented on #11836
Hi @JavonDavis,
I have tried to reproduce this issue on both public and private site and I didn't have luck.

WPiOS: 12.8
iOS: 12.3
iPhone XS

Are there maybe any extra steps that I should follow? Thanks 😃

[2019-07-03 20:56] jkmassel opened #12061 "Possible deadlock in `persistToCoreData`"
I came across this crash in the simulator while launching the app:

<img width="2603" alt="Screen Shot 2019-07-03 at 2 39 21 PM" src="https://user-images.githubusercontent.com/1123407/60623802-ceb7f000-9da0-11e9-81c8-33fce04cf824.png">

Unfortunately I don't have a full stack trace, but I did have the debugger attached.

It seems we're somehow causing the stats store to refresh twice at the same t

[2019-07-03 21:00] jkmassel commented on #12061
Just kidding about the stack trace – TIL the LLDB command `bt all`:

[code]

[2019-07-03 23:26] charliescheer opened #12063 "Domain Registration: blogger plan offering non .blog domains"
### Expected behavior
When you purchase the blogger plan on a WordPress.com account you are able to register a free .blog domain to your site, but you are not able to use any other TLD.  If you have purchased the blogger plan and try to register your domain from with in the app, I would expect that you would only be given the option to register .blog domains.

### Actual behavior
If you go to the

[2019-07-03 23:29] designsimply commented on #6603
Tested this today using WPAndroid alpha-177 (12.8 alpha) on Pixel 3 Android 9 and found that it is still a valid issue and that when I search for a post then view it and tap the back button I land at the unfiltered posts list when I expected to see the filtered search view at that point.

[2019-07-03 23:37] elibud commented on #12063
@jklausa can you please look into this one?

[2019-07-04 00:58] designsimply opened #12064 "Posts List: cannot search for posts using words from the post body"
### Expected behavior

I expected to be able to search the posts list using words either from the post title or body.

### Actual behavior

I can only search posts using words from the post titles.

### Steps to reproduce the behavior

1. Go to Blog Posts.
1. Toggle the view to "Everyone" (this will also work if you're just viewing your own posts but only if your search is for a post you authored

[2019-07-04 00:58] designsimply opened #12065 "Posts List: cannot search old posts"
A user reported being unable to scroll back to or search old posts. Their site is a WordPress.com site and they are using iOS App version 12.5.1 on both iPad and iPhone. User is able to search and backscroll without issue when using a web browser. A few people have tried testing and have been unable to reproduce the problem on separate test sites so far.

@aerych noted the following:

<blockquote>

[2019-07-04 07:11] rachelmcr commented on #12063
As discussed in Slack last week, this will likely require some backend changes to support only returning the appropriate TLDs for domain searches with the Blogger plan. (Internal discussion: paCL20-dh-p2)

[2019-07-04 07:51] rachelmcr commented on #10272
@shiki I couldn't reproduce that issue (the dialog still appears to redirect me to the app) but if it's happening in some cases it definitely would be good to have an alternative available.

[2019-07-04 13:45] ellatrix commented on #11950
How do I reproduce the crash? What is steps is @sentry-io doing?

[2019-07-04 14:30] JavonDavis commented on #11836
@marecar3 here's a video run of what I did on WPv12.7.0.201090620

https://www.dropbox.com/s/svjcqb8fgs58h87/image%20block.MP4?dl=0

[2019-07-04 14:50] JavonDavis commented on #11875
@ScoutHarris @shiki You're right, thanks for taking a look! I'll close this and reopen if it shows up again

[2019-07-04 14:50] #11875 closed

[2019-07-04 14:54] JavonDavis commented on #11822
There are no new reports of this one, will reopen if it shows up again

[2019-07-04 14:54] #11822 closed

[2019-07-04 14:55] #11911 closed

[2019-07-04 15:23] rachelmcr commented on #12063
I checked and we should be able to resolve this without any backend changes. The domain suggestions endpoint includes a `tlds` parameter we can use to restrict the suggestions to one or more specific TLDs (in this case, the .blog TLD).

cc @jklausa

[2019-07-04 16:45] marecar3 commented on #11836
Thanks, @JavonDavis.
From the video, I can see that you went to the Preview screen before the image was uploaded with success.
Please, can you try to wait for image to be uploaded before you got to the Preview screen?

[2019-07-04 17:04] #11687 closed

[2019-07-04 18:44] JavonDavis commented on #11836
Waiting actually does cause it to work as expected, do you think we should disable the Preview until it's ready then?

You're right, should I still go ahead and open there since this seems a little preview related instead?

[2019-07-04 20:29] marecar3 commented on #11836
Please, can you compare how it's working with Aztec Editor? and then we can decide about further steps.

[2019-07-04 22:13] JavonDavis commented on #11836
The behavior is the same with Aztec Editor... Previewing while the image is uploading will lead to the image not showing up in the Preview.

[2019-07-04 22:45] JavonDavis commented on #11836
Closing as a duplicate of 11835

[2019-07-04 22:45] #11836 closed

[2019-07-05 12:14] hypest commented on #11836
#11835 seems to itself be a duplicate of #11808 which is now closed as not-happening-anymore. @JavonDavis , can you confirm whether this here needs to be reopened or is it fixed for the block editor as well? Thanks!

[2019-07-05 16:28] JavonDavis commented on #11835
Hey @shiki @yaelirub I tested this on develop and I'm still seeing the same issue here

[2019-07-05 16:28] osullivanchris commented on #11425
Made a proposal for this on Android https://github.com/wordpress-mobile/WordPress-Android/issues/9558

Following the logic of a few tasks I've been working on. We would tell the user that it _will be_ deleted when connection returns to set the correct expectation. Then make the update when they return online.

[2019-07-05 18:44] ersatzpenguin opened #12072 "[Stats Refresh] Posts and Pages > View more: list truncate to 10 posts when switching to landscape"
User reported an issue with the post display under Stats in the WordPress.com iOS App.

### Expected behavior
All posts will list correctly in landscape stats view and scroll down as normal.

### Actual behavior
Upon switching to landscape, list is truncated to 10 posts and scrolling past that is not possible without refreshing the page by pulling down from the top.

Switching back to portrait doe

[2019-07-05 22:42] shiki commented on #12060
@diegoreymendez After some more investigation, I found that there are 2 main problems here. They are the usage of full path URLs and using the cache directory.

## Problem A: Full Path URLs

After we attach an image and we save the post, the content will look like this:

[code]

Notice that the `<img>` `src` is the full path to the image in the file system. The issue here is that we cannot fully r

[2019-07-08 05:46] etoledom opened #12282 "Crash editing/ adding media after failed upload"
Editing a media or adding media after a failed upload crashes the app in both block and classic editors if some steps where previously followed:

**Block editor:**
- Create a new Post with Block editor
- Add a video block
- Add a video from camera roll
- While is uploading, turn off networking to make the upload fail
- When the retry UI is visible, Save as Draft from the contextual menu (...)
- Re

[2019-07-08 06:01] etoledom opened #12073 "Double draft post created when saving as draft after video upload failed"
### Expected behavior
Just one draft post is created.

### Actual behavior
Two draft posts are created

### Steps to reproduce the behavior
- Start a new post (Aztec or Gutenberg)
- Add a video from the camera roll
- While it is uploading, turn off network connection to make the upload fail
- With the network off, save the post as Draft without leaving the post
- Turn network connection back on -

[2019-07-08 08:16] SiobhyB commented on #9705
We chatted about this in p1562572814187500-slack-mobile-support and confirmed it's still something that comes up in support a lot.

[2019-07-08 12:23] thehenrybyrd commented on #9705
I run into requests like this _all the time_. I looked up tickets about this based on the snippet I use + assigned to me, and found 9 from this week alone.
While the workflow of 'send a snippet' doesn't make this feel like a "bug" or "problem", it's clearly a common request from users. Would be great to let them stay in the app for this! ❤

[2019-07-08 12:32] thehenrybyrd commented on #12037
@danielebogo I'm still seeing this issue in the 12.8 beta - can you let me know when this will be live for us to try out?

[2019-07-08 12:48] shiki commented on #12073
This could be related to https://github.com/wordpress-mobile/WordPress-Android/issues/9845 where we found that:

1. The post could have been uploaded and received by the server. Hence, a post in the server was created.
2. The client (app) did not receive the server response and assumed the post was not created.

So, the client will try the upload again, creating another post.

[2019-07-08 12:48] danielebogo commented on #12037
@thehenrybyrd this has been fixed in the [12.7.1 release](https://github.com/wordpress-mobile/WordPress-iOS/tree/release/12.7.1) but not merged in 12.8 beta yet.
@jkmassel is working on `12.7.1 hotfix` submission.

[2019-07-08 12:53] thehenrybyrd opened #12074 "Editing: Bring Users to Editor from Pages and Posts in Webviews"
We recently removed the “edit” link from pages/posts when visiting a site from within the apps.
https://wp.me/p77Llu-ccd

This is great, and will likely reduce confusion since it will reduce/eliminate the possibility to get to wp-admin or Calypso from within the apps.
However, we’ve had a few users complaining about this - they can no longer edit their posts via their normal flow.

For those we’ve

[2019-07-08 13:36] shiki commented on #12042
Moving this to _Ready for Dev_. But note that it's a low priority issue. I think we can request for copy review for each piece we work on.

[2019-07-08 14:39] thehenrybyrd opened #12075 "Feature: Highlight Image Optimization/Resize"
Frequently, users don’t realize how much space their images are taking up until they run out of space and are no longer able to upload posts with media. This can be a frustrating surprise, and could be mitigated by better awareness of our image optimization/resizing option.

Image optimization/resizing allows users to upload images in a smaller format, so they can upload faster and take up less st

[2019-07-08 16:32] osullivanchris commented on #11420
https://github.com/wordpress-mobile/WordPress-Android/issues/9933

Linked the wrong Android issue previously. We decided the following:

- As the user intended to publish the post, retrying should also publish the post
- To clarify, we should amend the error state to mention posting. Error message should say "Could not upload media. Post not published." Then its clear that retry relates to posting

[2019-07-08 17:12] JavonDavis opened #12076 "No network connection message not shown on Stats Insights page"
### Expected behavior

A page looking like this,

![IMG_2840](https://user-images.githubusercontent.com/6520461/60828951-66d72000-a179-11e9-91bb-78c6a05e4c8c.PNG)

or cached data

### Actual behavior
![IMG_2838](https://user-images.githubusercontent.com/6520461/60828970-70608800-a179-11e9-9aa2-e0d0507db6c1.PNG)

![IMG_2839](https://user-images.githubusercontent.com/6520461/60828978-75253c00-a179-1

[2019-07-08 17:31] designsimply commented on #12074
<blockquote>In addition, users want to be able to change font colors when editing posts. Both #2148242-zen and #2143888-zen mention this.</blockquote>

I think not being able to edit how they would like is the **main** reason they are asking to edit within a webview. This is exactly the kind of thing we'll want to document going forward, especially because the proposed solution to add back the edi

[2019-07-08 18:55] ScoutHarris commented on #12048
Fixed with https://github.com/wordpress-mobile/WordPress-iOS/pull/12055.

[2019-07-08 18:55] #12048 closed

[2019-07-08 18:57] ScoutHarris commented on #12037
Fixed with https://github.com/wordpress-mobile/WordPress-iOS/pull/12041.

[2019-07-08 18:57] #12037 closed

[2019-07-08 19:08] sentry-io[bot] opened #12078 "EXC_BREAKPOINT: dateForDisplay > didAccessValueForKey: > integerValue > isApproved"
Sentry Issue: https://sentry.io/share/issue/92b709106ce542fbb3cc3a7f22c4d7ba/

[code]

[2019-07-08 19:11] designsimply commented on #9705
@SiobhyB @thehenrybyrd can you document these requests as you find them so I can use that info as part of prioritizing issues?

The format I find most helpful is to include the shorthand (internal reference) and a small quote from the user mentioning the pain point or (especially helpful) **why** they want the change in one note per comment (this helps with searching by number of comments later).

[2019-07-08 19:13] ScoutHarris commented on #11978
From Slack convo: the chart heights "should be like DMYW".

[2019-07-08 19:32] ScoutHarris commented on #12072
Thanks @ersatzpenguin ! We'll take a look.

[2019-07-08 19:36] ScoutHarris commented on #12076
@danielebogo - can you look at this please?

[2019-07-08 20:46] ScoutHarris commented on #11799
NOTE: review _all_ separator lines to ensure they all look correct (ref this comment: "Stroke on top of blocks are darker than the bottom.")

[2019-07-08 20:49] designsimply commented on #7206
I noticed a crash after log out while beta testing 12.8 today (WP Internal 12.8.0.20190701).

Here are some possibly relevant lines from my app logs at the time of the crash. The part about autofill and Safari looks suspicious to me but I am not 100% sure it's related.

[code]

<sub>Tested with WP Internal 12.8.0.20190701 on iPhone 6S iOS 12.3.1.</sub>

[2019-07-08 20:52] yaelirub commented on #11835
@JavonDavis , looking into it

[2019-07-08 21:11] designsimply opened #12080 "Stats Refresh: top right navigation arrows are sometimes difficult to tap"
Steps to reproduce:

1. Start with a WordPress.com or Jetpack site that has more than a year's worth of stats.
1. Go to Stats > Insights > This Year > View more to reach the "Annual Sites Stats".
1. Tapp the arrows at top right to navigate.

<strong>Result:</strong> I found the navigation arrows a bit difficult to trigger at times. They do work, it's just you have to tap on them exactly perfectly

[2019-07-08 21:12] ScoutHarris commented on #12080
Hey @designsimply . Thanks, we'll take a look.

[2019-07-08 21:49] ScoutHarris commented on #11963
According to [this post](https://wp.me/p56BUd-kz/#comment-897), File Downloads will be launched in Calypso Aug 1.

[2019-07-08 22:07] aerych opened #12081 "Logs: Redact magic link tokens from logs."
Title has it.  Our logging for when the app is launched via a URL includes the full URL for a magic link:
`2019-07-08 14:26:02:691 Application launched with URL: wpinternal://magic-login?token=`

We need to be redacting the token.

[2019-07-08 22:26] designsimply commented on #12081
Okay, I (sheepishly) admit this was filed because of me 😊 but only for a test user account. Thank you for spotting it and raising the issue @aerych ! @jkmassel can you take a look at this for 12.9 ?

[2019-07-08 23:55] sentry-io[bot] opened #12082 "SIGABRT: Attempt to use unknown class 0x2803d7420. > nsli_layoutEngine > objc[627]: Attempt to use unknown..."
Sentry Issue: https://sentry.io/share/issue/3d89f0e64e17487ebd693bc670a97a41/

[code]

[2019-07-09 01:09] ScoutHarris commented on #7186
Closing in favor of #11995 .

[2019-07-09 01:09] #7186 closed

[2019-07-09 04:39] yaelirub commented on #12060
Great research, @shiki!
I can't believe we don't run into more issues (or maybe we do?) by caching the full path. Since the solution to Problem A is pretty clear and needs to be done regardless I think we should split this ticket.
Updating to relative paths shouldn't be too hard and is something we should do imo.

Is Problem B a current issue?

How do you feel about splitting the ticket into an im

[2019-07-09 08:48] danielebogo commented on #12076
@ScoutHarris @JavonDavis This should be fixed [here](https://github.com/wordpress-mobile/WordPress-iOS/pull/12055) Basically we didn't notify the view to display the loader when the Stats Period Overview refresh was triggered while one was in progress.

[2019-07-09 14:46] michelleweber commented on #12042
I'd consider that a headline in this context, yes.

For other screens with long "headlines," specifically the Add a Site and Domain Credit screens, I'd want to see a shorter headline with no punctuation; right now there are full sentences acting as headlines.

REL the button capitalization, it's all the buttons that say Create a Page, Create a Post, Create a Tag -- page, post, and tag aren't prope

[2019-07-09 15:31] shiki commented on #12060
Thank you for responding, @yaelirub.

It is an issue but my guess is it's not likely to happen. It's probably okay to move it to the Groundskeeping backlog.

[2019-07-09 18:43] yaelirub commented on #12060
Great! Let's create a new ticket for the relative path implementation and move it to the backlog with high priority.

And another one for the cache usage to the backlog in Groundskeeping.

I believe we can remove the 13 from this one.

Thank you, @shiki

[2019-07-09 18:48] ScoutHarris commented on #12072
Fixed with #12083 .

[2019-07-09 18:48] #12072 closed

[2019-07-09 20:30] nheagy commented on #12007
Fixed in #12077

[2019-07-09 20:30] #12007 closed

[2019-07-09 20:31] nheagy commented on #2589
Should be fixed in #12077

[2019-07-09 20:31] #2589 closed

[2019-07-10 13:49] thehenrybyrd opened #12092 "Media: Improve Media Library Full Message"
### Expected behavior

When the Media Library on my site is full, I expect a clear message explaining this.

### Actual behavior

The error message is vague. It says there's not enough space, but it isn't clear _where_ there isn't enough space.

![unclearerror](https://user-images.githubusercontent.com/15107387/60974761-4f439700-a333-11e9-98a4-68a61fe1bc61.png)

I would suggest adapting the wp-adm

[2019-07-10 17:45] diegoreymendez commented on #12047
We implemented this for the verticals screen.  We still need to implement this for the Basic Information screen.

[2019-07-11 00:49] yaelirub opened #12099 "Previewing a draft post with published status, publishes the post."
Proposal to remove the option to manually change the post status in Post settings to Published.

[2019-07-11 01:00] yaelirub opened #12100 "Previewing a draft post with published status, publishes the post."
As part of  the work done on [deprecating local preview,](https://github.com/wordpress-mobile/WordPress-iOS/issues/9282) we are forcing an upload of the post before providing the user with a preview link to view it.

If the user manually updates the post status to published in Post Settings and then asks to preview the post, the upload will end up publishing the post.

## Proposed solution:
Use au

[2019-07-11 01:31] yaelirub opened #12101 "Replace WPUplaodStatusButton with LoadingStatusView"
In https://github.com/wordpress-mobile/WordPress-iOS/pull/12031 we have added a new class LoadingStatusView which we are using to display the upload status in the navigation bar using autolayout instead of frames and so easier to customize.

[2019-07-11 01:33] #11646 closed

[2019-07-11 01:34] #11812 closed

[2019-07-11 05:43] donkristo opened #12103 "Image upload failure "Failed to get size for image""
### Expected behavior
In editor (block or classic) when the upload of the picture completes the picture should be shown.

### Actual behavior
When the upload completes the picture is not shown. Instead a picture placeholder is shown.
The log has entries about a failed image download.
It only happens on my self hosted sites not on wordpress.com hosted site. I've tried two different wordpress virtua

[2019-07-11 10:00] osullivanchris commented on #12099
Thanks for bringing it up @yaelirub

I have two proposals which are closely related to this. I wonder if these move forward, will it remove the use case we're seeing here.

1. Leaving the editor behaviour. This is different on Android and iOS today. I had proposed making this closer to Android, where we do not ask the user what they want to do with a draft before leaving the editor, we assume they

[2019-07-11 15:53] osullivanchris commented on #11650
Discussion on paCBwp-bZ-p2 about this and the Android version https://github.com/wordpress-mobile/WordPress-Android/issues/9812

[2019-07-11 18:50] jkmassel opened #12107 "Upgrade Zendesk SDK to 3.0.0"
Currently, the Zendesk SDK is at version `2.3.1`.

There's a new major version available at: https://github.com/zendesk/zendesk_sdk_ios/releases/tag/3.0.0

It appears to be bug fix release made backwards-incompatible by the addition of another required library.

This is a technical debt task. At this point, we'd like to scope it out for possible inclusion in groundskeeping. It's marked as medium p

[2019-07-11 19:43] designsimply commented on #9734
Tested with WP Internal 12.8.0.20190709.2 on iPhone 6S iOS 12.3.1 and found that gallery images are still displayed too large for the allotted space in the Reader.

<img src="https://user-images.githubusercontent.com/1119271/61080122-938d7080-a3e1-11e9-84e0-f145444602ad.PNG" width="270" alt="IMG_2908">

<sup>(more images: https://cloudup.com/cwKqmR2VUeJ)</sup>

[2019-07-11 19:58] frosty opened #12108 "Stats: Incorrect DWMY period data shown when changing tabs quickly"
### Expected behavior

When I switch between Stats DWMY tabs I expect to see the correct data for that tab.

### Actual behavior

If I select tab A then quickly change to tab B (before A's data has loaded), the view is populated with tab A's data.

![stats-tabs](https://user-images.githubusercontent.com/4780/61081073-41b70b80-a41e-11e9-92f5-7ebbe1fb4698.gif)

### Steps to reproduce the behavior

V

[2019-07-11 20:16] yaelirub commented on #12099
@osullivanchris , thank you for the quick response!

Can we Focus on the 2nd proposal for this issue?
I think that the discussion on "leaving the editor" expected behavior on both platforms is a big ongoing discussion and so I don't want it to block this one.

I am absolutely for this option and I believe @diegoreymendez is too. Can't think of the value in allowing the user to update the draft sta

[2019-07-11 23:20] shiki commented on #10884
@designsimply I believe we can close this. We have Issue Templates now.

[2019-07-11 23:23] designsimply opened #12111 "Notifications: haptic feedback when marking notifications read or unread"
Can we add haptic feedback when marking notifications read or unread?

<img src="https://user-images.githubusercontent.com/1119271/61091750-95b2f780-a400-11e9-8132-3c45d0906b00.png" width="270" alt="notifications-mark-unread">

<sub>h/t @bisko for the original report (internal reference: p4a5px-2py-p2)</sub>

[2019-07-11 23:44] designsimply opened #12112 "Reader: header disappears and reappears in a distracting way when scrolling"
Steps to reproduce:

1. Browse to a post with several paragraphs in the Reader.
1. Scroll back and forth through the post using inertia.
1. Scroll back and forth through the post but stop scrolling before lifting your finger.

**Result:** If I scroll with my finger down, stop scrolling and then release the finger, the header doesn’t disappear. If I scroll, lift my finger while the content is still

[2019-07-12 00:53] yaelirub opened #12113 "Post "More" menu options are not consistent"
Spun off: https://github.com/wordpress-mobile/WordPress-iOS/pull/12087
### Expected behavior
When tapping on the 3 dots menu in the post list when the card is expended will show the following options:
- Stats
- Move to draft
- Move to trash
- Cancel

### Actual behavior
More menu options show:
- Move to draft
- Delete Permanently

### Steps to reproduce the behavior
1. Tap on the list view icon to

[2019-07-12 18:01] diegoreymendez opened #12117 "Site Creation: Review "Next" button ambiguity."
In step 2 (Basic Info) when the title field has focus, the virtual keyboard is showing a "Next" button, which is the default in iOS for moving the focus to the next field.

This was introduced in: https://github.com/wordpress-mobile/WordPress-iOS/pull/12095

But even if standard, this change brought some ambiguity since we already had a button right above the virtual keyboard named "Next", which w

[2019-07-12 18:07] diegoreymendez commented on #12117
One suggestion could be to rename the button to "Done" which is what's shown in the virtual keyboard if the last field has focus.

[2019-07-12 19:23] yaelirub commented on #12117
Would changing the keyboard "next" to "continue" help?
Or possibly changing the copy on the button to be "Next Step"?

[2019-07-12 19:28] diegoreymendez commented on #12117
Could be!  At this point I'm gathering up several issues to tackle this as part of a next iteration of Site Creation starting with a design review.

[2019-07-12 19:28] #12047 closed

[2019-07-12 22:17] designsimply opened #12118 "Signup: VoiceOver: username edit page could have a description about how it works"
Steps to reproduce:

1. Log out of the WPiOS app.
1. Go to Settings > General > Accessibility > VoiceOver and toggle the setting on.
1. Go to WPiOS and double tap the "Sign up for WordPress.com" button.
1. Follow the prompts until you reach the "New Account" screen.
1. Tap the "Username" label.
1. ⚠️ It should read: "Username, {the user name}. Button – Double tap to edit."
1. ⚠️ Try to understand

[2019-07-12 22:30] #12081 closed

[2019-07-13 23:48] nheagy commented on #11916
Just heard back from Bear that we'll have to do this conversion ourselves.

What tag should we convert it to? They suggested `<mark>`

[2019-07-14 09:46] thehenrybyrd commented on #6037
This would be super nice, I've always wished we could preview posts before restoring them in the web interface, too. Would be awesome to have in mobile.

[2019-07-14 17:02] thehenrybyrd opened #12121 "Restored Draft Posts, when Published, Disregard Publish Date Setting"
### Expected behavior
When I restore a post from the Trash, it will maintain its original publish date settings.

### Actual behavior
When I restore a post which was originally a draft, publish date settings are maintained. However, when I then publish that draft, publish date settings are ignored and it states that I published the post today.

### Steps to reproduce the behavior

1. Restore a dra

[2019-07-15 11:41] thehenrybyrd commented on #9705
#2178404-zen (internal reference)

The user doesn't specify why - and this is the case for almost all cases I come across. This account has been around for two years, so I'm thinking more like your second case.
I can start asking why they want to change their username, while sending instructions, but honestly I don't expect to get a lot of response. 😕

[2019-07-15 12:15] #11846 closed

[2019-07-15 14:49] osullivanchris commented on #12099
Thanks for the feedback @yaelirub

Just wondering how to push this forward. Is point 2 and the sketch answering the right question? Do you think we should make that change?

[2019-07-15 18:42] jkmassel commented on #11948
12.8 is now live – @JavonDavis, can you close this if it's not showing up anymore after 2 weeks?

[2019-07-15 18:46] JavonDavis commented on #11948
@jkmassel 👍

[2019-07-15 19:30] designsimply opened #12127 "Site Creation: VoiceOver: search fields on page 1 of 3 and 3 of 3 are unclear"
Steps to reproduce:

1. Log out of the WPiOS app.
1. Go to Settings > General > Accessibility > VoiceOver and toggle the setting on.
1. Go to WPiOS and double tap the "Sign up for WordPress.com" button.
1. Follow the prompts until you reach the Create Site 1 of 3 screen.
1. Double tap a type of site.
1. Double tap the search fields on page 1 of 3 and 3 of 3 and try to understand what they are abou

[2019-07-15 19:32] designsimply commented on #12061
Moving up in priority, see internal reference: p77Llu-cdK-p2.

[2019-07-15 19:34] jkmassel commented on #11849
12.9 out-of-date dependencies:

[code]

[2019-07-15 20:06] designsimply opened #12128 "Quick Start v2: VoiceOver: the completed cells state is not communicated"
Steps to reproduce:

1. Open a site in the app which has Quick Start v2 enabled or create a new site and select the option for quick start at the end of Site Creation ([screenshot](https://user-images.githubusercontent.com/1119271/61245040-d95f7700-a708-11e9-84ea-7ad966003389.png)).
1. Double tap "Completed (x)" to toggle it.
1. Double tap any item that is completed.

**Result:** the completed cel

[2019-07-15 20:07] ScoutHarris commented on #12061
Hey @danielebogo . I don't suppose you could take a look at this?

[2019-07-15 20:19] designsimply opened #12129 "Quick Start v2: VoiceOver: references to "Tap" in toast messages should be read as "Double tap""
Steps to reproduce:

1. Go to Settings > General > Accessibility > VoiceOver and toggle the setting on.
1. Open a site in the app which has Quick Start v2 enabled or create a new site and select the option for quick start at the end of Site Creation ([screenshot](https://user-images.githubusercontent.com/1119271/61245040-d95f7700-a708-11e9-84ea-7ad966003389.png)).
1. Double tap any item.
1. Double

[2019-07-15 20:34] designsimply opened #12130 "Quick Start v2: VoiceOver: consider providing a hint on what will happens after activating the tour"
Steps to reproduce:

1. Go to Settings > General > Accessibility > VoiceOver and toggle the setting on.
1. Open a site in the app which has Quick Start v2 enabled or create a new site and select the option for quick start at the end of Site Creation ([screenshot](https://user-images.githubusercontent.com/1119271/61245040-d95f7700-a708-11e9-84ea-7ad966003389.png)).
1. Try to understand what this sc

[2019-07-15 20:40] danielebogo commented on #12061
@ScoutHarris I did already when I was working on the hotfix 12.7.1. I was able to replicate it many times. I made different tests and I can confirm it’s not CoreData related. I was able to make it happen removing all the code used to work on the CoreData stack.

[2019-07-15 20:43] designsimply opened #12131 "Quick Start v2: VoiceOver: highlighted cells with pulsing dot are missed"
Steps to reproduce:

1. Go to Settings > General > Accessibility > VoiceOver and toggle the setting on.
1. Open a site in the app which has Quick Start v2 enabled or create a new site and select the option for quick start at the end of Site Creation ([screenshot](https://user-images.githubusercontent.com/1119271/61245040-d95f7700-a708-11e9-84ea-7ad966003389.png)).
1. Double tap any checklist item.

[2019-07-16 06:57] maxme commented on #12000
Sorry I just noticed your ping here. In wpandroid, we don't check for failed uploads. We list post with local modifications (currently we do only this only for drafts, but this should be extended to any post status).

The logic is described [there](https://github.com/wordpress-mobile/WordPress-Android/blob/69285d79c29a8b21e22bb9ced0d0e30e87cbed63/WordPress/src/main/java/org/wordpress/android/ui/up

[2019-07-16 09:24] galakhyati commented on #11926
The above issue is reported in #2175267-zen too.

[2019-07-16 14:11] diegoreymendez commented on #12100
This is resolved.

[2019-07-16 14:11] #12100 closed

[2019-07-16 14:42] diegoreymendez opened #12136 "[Auto-upload Published] Safety: Content hash and timeout for offline actions"
Parent issue: #12240.

Came up on: #9555 (comment)

## Goal

The goal is to avoid auto-uploading posts if the user has not **confirmed** publishing by pressing the _Publish_ button in the editor.

The work should be targeting the master branch, `issue/12240-master-branch`.

## Known Tasks

- [x] Use content hash code to decide if the user has confirmed publishing/uploading. The example is what @ma

[2019-07-16 17:36] thehenrybyrd opened #12138 "Stats: Better Error Messaging for Jetpack Remote Install Failure"
### Expected behavior

When I try to install Jetpack on my site, I expect an informative error if it fails.

### Actual behavior

Instead all reasons for failure give:

![image-43-1](https://user-images.githubusercontent.com/15107387/61315657-eadb7880-a807-11e9-9810-6b253e9a3f7b.jpg)

Known reasons for failure include blocked XML-RPC (such as a 403 at /xmlrpc.php) and Jetpack already existing in t

[2019-07-16 19:43] richardmtl commented on #11679
Sorry @danielebogo I am reopening this as I still see the issue on iOS app version 12.8.

Oh, I can't re-open! I'll let you re-open it, then, or if you have different instructions for me, let me know.

[2019-07-16 19:56] RealCarFax commented on #11679
I'm also still seeing the blue logo on blue background on my iPhone XS running iOS 13 beta 3

[2019-07-16 20:03] jkmassel commented on #11679
This should be resolved by https://github.com/wordpress-mobile/WordPress-iOS/pull/12134.

It's going out in a hotfix release that's on its way to Apple now. Should be available tomorrow! 🤞

[2019-07-16 20:16] yaelirub opened #12141 "Implement Restore Revision dialog iOS"
For discovery history - wordpress-mobile/WordPress-Android#10008,  wordpress-mobile/WordPress-Android#9812
If the post has no local changes and a remote autosave, we are going to show a dialog to the user.
This issue is for implementing the design for this dialog.
<img width="422" alt="screenshot-2019-05-03-at-09 25 19" src="https://user-images.githubusercontent.com/40213/57301854-3a9c1600-70da-11

[2019-07-16 20:18] yaelirub commented on #12060
@shiki , any updates on this ^ ?

[2019-07-16 21:41] diegoreymendez commented on #12000
I'm starting to think that it may make sense not to auto-upload posts when there was no explicit request by the user to "save" the changes.  The reason is that to do this properly, we'd need to:

1. Check the previous status of the post vs the current one (to prevent an unwanted status change)
2. Even if the status wasn't changed, make sure it's not a published or scheduled post (because we can't

[2019-07-16 21:48] shiki commented on #12060
@yaelirub Thanks for the nudge. It's been in my list of things to do. Since we're revisiting our list of issues to tackle though, do you think we should still work on this as part of Offline Posting or should we keep this as is and move everything to Groundskeeping?

[2019-07-16 21:50] yaelirub commented on #12060
I still stand by my previous suggestion:

[2019-07-16 22:08] shiki opened #12142 "Media thumbnails may disappear because of choice of storage"
In #12060, we found that whenever you attach a media to a post, a thumbnail is generated. This thumbnail is stored in `Library/Cache`. This location may not be ideal. Based on the [docs](https://developer.apple.com/library/archive/documentation/FileManagement/Conceptual/FileSystemProgrammingGuide/FileSystemOverview/FileSystemOverview.html#//apple_ref/doc/uid/TP40010672-CH2-SW28) say:

It looks lik

[2019-07-16 22:10] designsimply commented on #12138
Raised in priority due to several user reports and a steady uptick in metrics for `install_jetpack_remote_failed `.

<sup>(internal reference: p4a5px-2pQ-p2)</sup>

[2019-07-16 22:11] shiki opened #12143 "While offline, media is not attached after upgrading the app"
This was found in #12060.

## Expected behavior

Media is attached to the post when the app is relaunched.

## Actual behavior

The media upload resumes when the app was relaunched but the image was never attached to the post and only a placeholder is visible.

<img src="https://user-images.githubusercontent.com/1335657/58799308-adcb7600-860d-11e9-9a19-3e7370a7ae6c.gif">

### Steps to reproduce th

[2019-07-16 22:12] shiki commented on #12060
Split this issue into #12142 and #12143.

[2019-07-16 22:12] #12060 closed

[2019-07-17 02:55] sentry-io[bot] opened #12145 "EXC_BREAKPOINT: Fatal error > Index out of range"
Sentry Issue: https://sentry.io/share/issue/97123a91aa564239a4a3af7ae4f24712/

[code]

**After accessing the Sentry Issue, filter events for those _not_ happening on iOS 13, all other events are unrelated to this issue.**

[2019-07-17 03:09] #11390 closed

[2019-07-17 07:07] malinajirka commented on #12000
I created this table yesterday, which might be useful - the comment seems more complicated than it actually is https://github.com/wordpress-mobile/WordPress-Android/issues/10174#issuecomment-511735103

I agree this solution doesn't cover the following scenario
1. User edits a draft in offline
2. User edits the same draft in Calypso and publishes it
3. The app auto-uploads the draft from step 1 - i

[2019-07-17 09:18] danielebogo opened #12146 "[Stats Refresh] Insights: Load overview block independently"
On Insights we should load the LPS block first, then all the other blocks

[2019-07-17 09:19] danielebogo opened #12147 "[Stats Refresh] DWMY: Load overview block independently"
On DWNY we should load the Chart block first, then all the other blocks

[2019-07-17 14:35] JavonDavis commented on #12076
@danielebogo I'm still seeing this on WP12.9... For example when I go Stats > Insights > Today > View More > Turn on Airplane mode > Pull to refresh

[2019-07-17 14:47] danielebogo commented on #12076
Hey @JavonDavis is this only happening in a _detail view_ (ex. opening a view clicking on View More)? Do you still have the problem in Insights overview? Because [this](https://github.com/wordpress-mobile/WordPress-iOS/pull/12055) fixed the problem for the overview.

[2019-07-17 14:57] #11999 closed

[2019-07-17 15:19] JavonDavis commented on #12076
Ahh sorry I just grouped them in my mind! no I'm not having it for the overview anymore 👍 Should I go ahead and open an issue for the _detail view_?

[2019-07-17 15:28] danielebogo commented on #12076
@JavonDavis no problem! Yes another Issue would be great! Feel free to assign it to me 😉

[2019-07-17 15:30] JavonDavis commented on #12076
Fixed with #12055

[2019-07-17 15:30] #12076 closed

[2019-07-17 16:07] diegoreymendez commented on #12000
I'm closing this issue as we shouldn't auto-upload posts that didn't receive confirmation to do so by the user.

[2019-07-17 16:07] #12000 closed

[2019-07-17 17:20] diegoreymendez commented on #11430
@yaelirub - I'm self assigning this now, since I have some capacity to tackle something else.  Feel free to de-assign yourself if that's fine, or let me know if I should let you go forward with this.

[2019-07-17 19:37] jklausa commented on #12063
This should be fixed in 12.9 now :)

[2019-07-17 19:37] #12063 closed

[2019-07-17 19:50] frosty commented on #11683
When sharing from the WordPress app using our share extension the nav bar button text is white, so the buttons are almost invisible:

![IMG_455C6AE5EB47-1](https://user-images.githubusercontent.com/4780/61406826-8c300080-a8d4-11e9-9f84-b15361cf464e.jpeg)

[2019-07-17 21:56] jklausa commented on #11429
I've been able to reproduce it once by "faking" a response from a server about a malformed image — so I don't think we can get rid of the whole logic just yet.

I have a work in progress patch based on #11933 to clean up the code around this a bit and make sure we'd only show that for cases where there's an actual actionable problem for users, not just a bad network connection.

[2019-07-17 21:58] mattmiklic opened #12152 "Stats: Inconsistent borders on backgrounds"
While examining some of the new color work I noticed that in the new Stats design, the borders on tops of the "cards" that contain each section are larger than the borders on the bottom. When viewing 3x screenshots, the bottom border is 1 actual px tall, but the top border is 2px. I think in iOS terms that's 0.5px and 1px, but I'm not sure. The smaller border is the correct one, as it's consistent

[2019-07-17 22:05] mattmiklic opened #12153 "Reader: borders on posts appear blurry, border under Manage bar is too large."
In the Reader there are two issues with borders: the border under the Reader appears 3px when viewing a 3x screenshot, it should only be 1 actual px to be consistent with other borders/separators.

Second, the borders on posts in the Reader appear blurry because it appears the borders are sitting on half-pixels or something causing them to not appear sharp. There's a light gray "inner" border abov

[2019-07-17 22:29] ScoutHarris commented on #12152
Hey @mattmiklic . @SylvesterWilmott had already mentioned this to us. Thanks for creating an issue (sorry, there wasn't one already). If I don't get to it sooner, it'll be fixed during the upcoming Hack Week.

[2019-07-18 00:44] JavonDavis opened #12154 "EXC_BREAKPOINT: Attempting to mutate immutable collection! > removeObject: XPC API Misuse (iOS 13 only)"
Sentry Issue: https://sentry.io/share/issue/97123a91aa564239a4a3af7ae4f24712/

[code]

This issue only happens on iOS 13. **After accessing the Sentry Issue, filter events for those happening on iOS 13, all other events are unrelated to this issue.**

[2019-07-18 00:45] JavonDavis commented on #12154
It's iOS 13 so this may or may not disappear but just opening this for visibility. The crash happened when playing around with the block editor while editing a post.

[2019-07-18 03:09] ScoutHarris opened #12155 "Stats: Hogwarts 'Home page / Archives' Post Stats chart is blank"
I only see this for Hogwarts, so I suspect it's site specific.

- On Hogwarts, go to Stats > any period.
- In _Posts and Pages_, select 'Home page / Archives'.
- Notice the chart is blank:

<img width="400" alt="hogwarts_home_page" src="https://user-images.githubusercontent.com/1816888/61425720-1710fb00-a8d5-11e9-8c50-41484deb2de1.png">

But _Recent Weeks_ shows plenty of views:

<img width="400"

[2019-07-18 09:43] etoledom commented on #10871
Closing this issue since it's already outdated. We're going to open new ones with the plans for v13.0.

[2019-07-18 16:08] ScoutHarris opened #12156 "Stats: Post Stats chart: stats difference value should be grey for current day"
### Expected behavior
On the Post Stats chart, the stats difference value text color should be grey for current day.

### Actual behavior
It is red or green.

### Steps to reproduce the behavior
- Go to Period > Posts and Pages > select a post.
- Go to Insights > Latest Post Summary > View more.

Notice the difference color is not grey for the current day. The behavior should match the behavior of

[2019-07-18 16:18] ScoutHarris opened #12157 "Stats: Post Stats date bar back button should be limited"
### Expected behavior
On Post Stats, the back button on the date bar should be limited to the available days.

### Actual behavior
On Post Stats, the back button on the date bar is unlimited and goes prior to the data shown on the chart. Also, when this happens, the highlight bar returns to the current day.

### Steps to reproduce the behavior
- Go to Period > Posts and Pages > select a post.
- Go

[2019-07-18 17:04] designsimply opened #12158 "Analytics: need more info about the `install_jetpack_remote_failed` stat for debugging Jetapack Install failures"
We are seeing ~180 failed Jetpack Install requests per day in the `install_jetpack_remote_failed` stat (internal reference: p4a5px-2pQ-p2#comment-9969).

Can we please add add the site URL to the tracks props for success and failure events? This will allow for qualitatively debugging install issues by looking at the actual login screen.

Is there anything else we can add to the error logs to help

[2019-07-18 17:36] jkmassel opened #12160 "Constant CPU usage after loading posts from a Post List NoResultsController"
### Steps to reproduce the behaviour
1) Load a blog that has posts by an author other than the logged in user. Your user should have no posts on the blog.
2) Load the "me" tab. Wait until the "You haven't published any posts yet" screen is visible. Then choose the authors picker, and choose "Everyone". The CPU will run at 100% indefinitely until you navigate upward from this screen (ie – if you ch

[2019-07-18 18:07] jkmassel opened #12161 "Fetching posts blocks the main thread"
### Steps to reproduce

1) Open the post list for any blog
2) Observe that `PostService.syncPostsOfType` takes a significant amount of main queue time (1.49s in my simulator, for the blog I was using). `ContextManager.saveDerivedContext` takes a significant amount of main queue time as well (0.89s in my simulator, for the blog I was using). This work should be done in a background queue to avoid t

[2019-07-18 18:14] jkmassel opened #12162 "Scroll Indicator not visible on login epilogue screen"
#11791 # Expected behavior
After logging in, if I have a long list of sites, I'd expect to be able to scroll through them and see the scroll indicator fully.

### Actual behavior
The scroll indicator is mostly off-screen.

### Steps to reproduce the behavior
1) Log into any WordPress.com account.
2) Scroll within the list of sites (only tested on iPhone Xs hardware and simulator)
3) Note the lack

[2019-07-18 18:43] diegoreymendez commented on #11430
I'm closing this for now because:

1. After further testing, I believe the current experience is already quite good.
2. The improvement proposal in this issue isn't clear or well defined.  If we ever decide we want to make this better we can start with a more concrete proposal.

This was discussed and agreed together with @yaelirub

[2019-07-18 18:43] #11430 closed

[2019-07-18 18:50] diegoreymendez commented on #11434
This apparently no longer needs design and is quite clear.  I'm estimating this at 2 and self-assigning to work on it.

[2019-07-18 20:41] frosty commented on #12158
cc @danielebogo

[2019-07-18 21:15] yaelirub opened #12164 "Post uploader temporarily duplicate post that was created/ updated offline"
### Expected behavior
When regaining connectivity, I expect the posts that are auto uploaded to appear once in the post list
### Actual behavior
When regaining connectivity and pulling to refresh the list, posts that were created/ update while offline are auto uploaded but sometimes appear as duplicated when pulling to refresh while auto uploader uploads.

### Steps to reproduce the behavior
1. Cr

[2019-07-18 21:45] richardmtl commented on #11679
Same problem still, 12.8.1. Sorry!

[2019-07-18 21:47] jkmassel commented on #11679
Thanks @richardmtl – we'll investigate further!

[2019-07-18 23:56] designsimply opened #12165 "Media: cannot upload new images on a site using 75% of the allotted upload limit"
Steps to reproduce:

1. Create a WordPress.com site and add a Personal Plan.
1. Upload ~4.5 GB of images.
1. On the web, check that the Media > Add New page says something like: "You are currently using 4.5 GB out of 6.0 GB upload limit (75%)."
1. On the app, create a new post and try to upload an image.
1. If the upload fails, check the app logs to see if you can find a message similar to: "Not e

[2019-07-19 06:01] frosty commented on #11679
@richardmtl Would you mind testing with a fresh install of the app? I've seen some caching of the app's launch image going on when testing this issue (https://github.com/wordpress-mobile/WordPress-iOS/pull/12134) – upgrading users were fine, but fresh installs were missing the launch screen.

If that doesn't work, I have one more idea for a potential fix. Thanks!

[2019-07-19 11:42] danielebogo commented on #12158
@frosty @designsimply maybe the error message if it does exist?

[2019-07-19 13:44] frosty commented on #12160
Related: https://github.com/wordpress-mobile/WordPress-iOS/issues/10770

[2019-07-19 14:21] richardmtl commented on #11679
@frosty Reinstall fixed it! Now I need to log in again, boo ;)

[2019-07-19 14:24] frosty commented on #12160
I was just testing this, but I don't see the issue on post list view controller. Since we merged @leandroalonso's recent redesign, we don't use animated box on the post list any more. I also ran through most of the other sections of the app that I could find that use animated box and couldn't recreate this issue. 🤔

[2019-07-19 14:27] frosty commented on #11679
Well that's good to hear! It seems like the launch image can potentially get cached for a long time - I just found a thread on Apple's forums discussing something similar: https://forums.developer.apple.com/thread/105790

@jkmassel the only _potential_ fix I can think of would be to rename the launch storyboard, and see if that forces the new one to be used for existing users. Do you think that's

[2019-07-19 15:37] richardmtl commented on #11679
@frosty it's obviously not a critical bug, but it's annoying and is a bit of a "broken window" problem; if this doesn't work, what else is broken, you know?

[2019-07-19 15:41] jkmassel commented on #11679
@frosty – I have no issue at all with adjusting the file name to fix this issue – obviously we can't get all the users to reinstall, and I'm quite inclined to agree with what @richardmtl is saying about broken windows.

If we can confirm that renaming that file invalidates the cache (I'm not convinced it will, because I could see the cache living a layer above this – whatever `.png` is generated b

[2019-07-19 15:50] frosty commented on #11679
Right, I'm not convinced it'll work either, but I guess we can see. @RealCarFax could you please confirm that you can still recreate the issue? If so, please don't uninstall / reinstall the app as we may want you to verify the fix! :)

[2019-07-19 16:06] jkmassel commented on #12160
So this is a little bit WTF.

I can repro the issue on `develop` _if_ I'm running instruments. If I'm not, it doesn't happen.

Even more weirdly, I have other issues when running with instruments attached. I can't load my own posts on any blog (only the "Everyone" list, which includes my own). Also, I can't log in without the app crashing.

This is the same binary – doing build + run with Xcode do

[2019-07-19 16:13] #12158 closed

[2019-07-19 18:25] RealCarFax commented on #11679
Yes, I'm still seeing the blue WordPress logo on blue background on WordPress 2.8.1 with iOS 13 Beta 3

[2019-07-19 18:28] RealCarFax commented on #11679
Wait! No I was mistaken! My phone made it seem like I was on 2.8.1 but it wasn't. Once I updated (no uninstall/reinstall) it is fixed - white WordPress logo on blue background. 💃

[2019-07-19 19:19] designsimply commented on #11397
Found a case of a user not being able to contact us via the iOS app (they are either using 12.7.? or 12.8.?) at 2185450-zen and here are the descriptions of the problem that the user sent:

[2019-07-19 20:44] ScoutHarris opened #12172 "Stats LPS summary: single periods have plural descriptors"
In the Latest Post Summary summary text, when the period is 1, the time period is plural (hours, days, weeks, months, years).

<img width="400" alt="lps_summary" src="https://user-images.githubusercontent.com/1816888/61564357-83097580-aa33-11e9-9506-6ee9e73c5dec.png">

It would be nice if they were singular where applicable.

[2019-07-21 10:10] thehenrybyrd commented on #10663
Ran into this in #2195107-zen, particularly the unclear "Message "1 post, 1 file not uploaded" message.

![uploaderror](https://user-images.githubusercontent.com/15107387/61589833-7eba9500-abb8-11e9-8f60-aff839fed474.png)

It would be great if we could include the post's title and/or specify the type of file we're having trouble. For instance, we could say "We couldn't upload Post Title because a

[2019-07-21 18:50] frosty commented on #11679
Okay, thanks @RealCarFax!

[2019-07-22 14:16] thehenrybyrd commented on #12074
Another report of trying to edit using the now-missing "edit" button in #2196119-zen. Asking about their workflow.

@designsimply re: your note: core Gutenberg is considering adding text-level color settings: https://github.com/WordPress/gutenberg/issues/15899

[2019-07-22 14:29] thehenrybyrd commented on #9705
Another in #2196455-zen.

[2019-07-22 16:41] danielebogo commented on #12061
@designsimply @jkmassel I merged today #12169 where the Insight store has been improved, removing the reference to the Period store. This means we won't have the _double reload_ mentioned above. I wasn't able to reproduce this crash with this fix so I would like to keep this issue open and see how _13.0_ will behave.

[2019-07-22 17:06] designsimply opened #12177 "Support: VoiceOver: alerts are not accessible and Contact Us screen should have instructions"
Steps to reproduce:

1. Go to Settings > General > Accessibility > VoiceOver and toggle the setting on.
1. Go to Profile (Me) > Help & Support for a new account.
1. You will see an alert either asking to update email & username or an a8c-only warning.
1. ⚠️ The contents of the alert is not read out by VoiceOver.
1. Go to Contact Us.
1. ⚠️ No instructions are provided for the Contact Us screen.
1.

[2019-07-22 17:08] designsimply commented on #9643
This came up today in an app store review:

<blockquote> am totally BLIND and there is NO WAY to DELETE WordPress Account in the app! Contacting Support is IMPOSSIBLE!</blockquote>

<p style="clear:both;"><sub>(internal reference: p1563664437001300-slack-cellular-happiness, p77Llu-bQ6-p2#comment-1307)</sub></p>

[2019-07-22 17:45] designsimply opened #12179 "My Site: VoiceOver: site icon is not accessible"
Steps to reproduce:

1. Go to Settings > General > Accessibility > VoiceOver and toggle the setting on.
1. Go to My Sties and select a site.
1. Try to double tap the site icon at the top next to the site title and tagline.

**Result:** it's not possible to access the site icon with VoiceOver enabled. ([37s](https://cloudup.com/cW_7txdP1qw))

<img src="https://user-images.githubusercontent.com/1119

[2019-07-22 17:53] designsimply opened #12180 "My Site: VoiceOver: the header on the blog main screen should be one accessible element"
Steps to reproduce:

1. Go to Settings > General > Accessibility > VoiceOver and toggle the setting on.
1. Go to My Sties and select a site.
1. Interact with the header.

**Result:** the whole header should be one accessible element.

<img src="https://user-images.githubusercontent.com/1119271/61653190-f222dc00-ac76-11e9-83c7-07cd90b47257.PNG" width="270" alt="IMG_2914">
<sup>Tested with WPiOS 12.

[2019-07-22 18:20] ScoutHarris commented on #12155
Well, it isn't happening anymore.

[2019-07-22 18:20] #12155 closed

[2019-07-22 19:14] designsimply opened #12181 "Domain Credit: domain registration phone validation fails if you use a "+" symbol in the country code"
To prepare:

1. Setup a WordPress.com blog and apply a plan to it.
1. Do not register the domain yet.
1. Have an external keyboard connected to your device.

To test:

1. In the app, go to My Sites > {site} > Register Domain.
1. Fill out the "Domain contact information" form.
1. Using an external keyboard, enter "+1" for the country code.
1. Tap the "Register domain" button.

**Result:** if a "+"

[2019-07-22 19:16] elibud commented on #12181
Ping @jklausa

[2019-07-22 19:17] rfaile313 commented on #12181
User report in 2197458-zen

[2019-07-22 19:17] jklausa commented on #12181
I'll take that on as part of groundskeeping / hack week!

[2019-07-22 22:55] designsimply commented on #11644
I re-tested using WPiOS 12.8.1 (app store version) on iPhone 6S iOS 12.3.1 and confirmed the Media Library takes quite a long time to load for a site using several GB of storage space. For a site I manage which is using 8.5 GB out of a 213.0 GB upload limit, it took 43s for the page to load after tapping "Media" on the My Site screen and 40s for media to load after tapping the Media Library (WordP

[2019-07-22 23:50] designsimply commented on #12074
Noting a report of this that came in from @charliescheer as a mobile request:

<blockquote>Currently the edit link is still there but can not be clicked on. I was wondering if what we could do instead is have the edit button go back into the app and edit the post that they are viewing. In my mind the flow would look like:
User goes to My site > Blog Posts > View post [for Post X]
User views the po

[2019-07-23 00:16] ScoutHarris commented on #11799
Looks like this has been resolved - I can't reproduce it.

[2019-07-23 00:16] #11799 closed

[2019-07-23 08:06] #11602 closed

[2019-07-23 10:05] jtreanor opened #12186 "Peril test issue"
### Expected behavior

Opening this issue to test the changes from https://github.com/Automattic/peril-settings/pull/11

### Actual behavior

### Steps to reproduce the behavior

##### Tested on [device], iOS [version], WPiOS [version]

[2019-07-23 10:08] #12186 closed

[2019-07-23 12:51] thehenrybyrd commented on #9705
# 2199257-zen

The account is two months old, and the user just changed their site address.

[2019-07-23 13:55] jtreanor commented on #11398
There was a bunch of duplicate crashes being track for this in Sentry. I have merged them in into https://sentry.io/share/issue/d8febc329fe94104805ab63529949268/.

I'm doing a bit of digging and I'm starting to wonder if the change in https://github.com/wordpress-mobile/WordPress-iOS/commit/57b6cc0 are a red herring. The crash seems to occur as part of `UITextView`'s internal deinit process. The b

[2019-07-23 14:22] jsit commented on #500
@spigotdesign This issue title (but not the description) also refers to Custom Post Types, which are widely used and still unavailable in the iOS app.

@sendhil Can you please update the description to include Custom Post Types?

[2019-07-23 14:22] charliescheer commented on #12074
I spoke to a few users about this since it happened.  Anecdotally, most people used the edit button as part of their workflow. They found it the easiest way to view then edit a post.  But there were a few people who mentioned using the color or alignment tools.

But for most people it was about workflow

[2019-07-23 14:23] jtreanor commented on #11398
Okay, I think I have debunked this theory. `WPRichContentView` is never accessed off the main thread. I'm at a bit of a loss here so I'm going to move on to another issue.

[2019-07-23 16:20] shiki opened #12188 "Update error message when entering an invalid site address"
In https://github.com/wordpress-mobile/WordPress-Android/pull/10255, we received feedback from Editorial about the error message shown when entering an invalid site address.

## Steps to show the message

1. Log out
2. Click on Login → Log in by entering your site address
3. Enter an invalid site address like "@&%"
4. Wait 2 seconds. The error message should be shown.

## Tasks

The error message

[2019-07-23 17:55] rfaile313 commented on #12181
Another report in #2200396-zen

[2019-07-23 17:59] #12018 closed

[2019-07-23 18:01] #12157 closed

[2019-07-23 18:04] #12152 closed

[2019-07-23 19:33] #12080 closed

[2019-07-23 19:45] rfaile313 commented on #12074
Thanks for the report @thehenrybyrd - I've seen a few reports about this, for example in #2200024-zen

[2019-07-24 09:07] thehenrybyrd commented on #12181
Another in #2199725-zen

Basically we need to make the validation on this screen better over all. In this case, the user hasn't entered a country code because people in the US don't know about country codes (honest).
Ideally we'd fill in the country code automatically based on the stated Country, and the user could edit if their phone number doesn't come from that country.
We should also allow the

[2019-07-24 09:37] ctarda opened #12193 "Missing Tracks event: wpios_push_notification_received"
### Expected behavior
The Tracks event `wpios_push_notification_received` should be fired when a push notification is received

### Actual behavior
The aforementioned event is not fired

### Steps to reproduce the behavior
- Send a push notification (i.e. ssh into your sandbox and run the notifications daemon
- Test that the `wpios_push_notification_received` is sent to Tracks

##### Tested on [de

[2019-07-24 13:14] #12193 closed

[2019-07-24 15:04] iamthomasbishop commented on #11787
I'm going to close this one out as it's been addressed in #11925

[2019-07-24 15:04] #11787 closed

[2019-07-24 15:05] #11824 closed

[2019-07-24 21:49] nheagy commented on #10663
I added the tag `Needs Design` because I feel we need a reference point to know _what_ to implement here.

[2019-07-24 21:51] nheagy commented on #12138
Not sure how to implement this one. Hoping to involve design to give some direction.

[2019-07-25 12:17] #12179 closed

[2019-07-25 12:17] #12180 closed

[2019-07-25 12:18] #12177 closed

[2019-07-25 13:19] #12153 closed

[2019-07-25 15:24] JavonDavis commented on #12028
@nheagy This is still happening on 12.8.1, it's not the exact same logs but I think it's related and caused a crash on startup on prod, could you take a look or let me know who might have a better idea of what's up if you haven't worked on this recently? At first I thought it had something to do with the `WPSplitViewController` but I'm not sure about that anymore and it might just be a Core Data i

[2019-07-25 15:52] jtreanor commented on #12165
I have spent quite a bit of time trying to reproduce this but with no luck so far.

I did get some image upload failures from my simulator, but they were resolved once I reset it and I don't think that was related.

[2019-07-25 16:20] #12172 closed

[2019-07-25 19:03] shiki commented on #12127
### Step 1 of 3

When hovering over the "e.g. Fashion, travel, design, plumbing" text field, VoiceOver dictates:

The "search field" is automatically added by VoiceOver.

The suggestion is to use "For example, fashion, travel, design, plumbing" so it will be dictated as:

### Step 3 of 3

The search field is dictated as:

This seems alright to me.

Perhaps the Editorial team might be able to sugge

[2019-07-25 19:41] ScoutHarris commented on #11866
Hey @danielebogo @frosty .

In the old stats, Insights data was [preloaded](https://github.com/wordpress-mobile/WordPress-iOS/blob/57b6ffd2edeaa14c69a78a84d1fcaa48f51f2232/WordPress/Classes/ViewRelated/Blog/BlogDetailsViewController.m#L1209) in `BlogDetailsViewController` if the device was on WiFi.

I'm not sure that's necessary with the new Stats.
1) With @danielebogo separating the overview load

[2019-07-25 19:41] #11866 closed

[2019-07-25 19:47] ScoutHarris commented on #11876
With these changes, we're now showing grey bars:
https://github.com/wordpress-mobile/WordPress-iOS/pull/11887
https://github.com/wordpress-mobile/WordPress-iOS/pull/11971

As stated previously, bar gradients were not implemented in the iOS Charts library. And doing so manually will take a bit of effort.

I'm closing this as Done. If we _really_ have to have gradient bars, we discuss the effort vs

[2019-07-25 19:47] #11876 closed

[2019-07-25 21:42] benhuberman commented on #12127
For step 1 of 3, I'd make a small change to make it sound more like an actual sentence (it's still technically a fragment, but a more natural-sounding one, I hope):

For step 3 of 3, I wonder if it would make sense to flesh it out just a tad more? For example:

@designsimply do you think this addresses the lack of clarity? I'm less familiar with voiceover flows, and am happy to iterate further if

[2019-07-26 05:41] designsimply commented on #12078
**30-day impact:** ~4.4 per day
**Users affected:** 64 in the last 30d
**First seen in:** 12.5
**Last seen in:** 12.8.1 (latest major point release at the time of this comment)

<sup>https://sentry.io/share/issue/92b709106ce542fbb3cc3a7f22c4d7ba/</sup>

[2019-07-26 05:43] designsimply commented on #12078
**30-day impact:** ~4 per day
**Users affected:** 64 in the last 30d
**First seen in:** 12.5
**Last seen in:** 12.8.1 (latest major point release at the time of this comment)

<sup>https://sentry.io/share/issue/92b709106ce542fbb3cc3a7f22c4d7ba/</sup>

[2019-07-26 05:45] designsimply commented on #12082
**30-day impact:** ~4 per day
**Users affected:** 45 in the last 30d
**First seen in:** 12.5
**Last seen in:** 12.8.1 (latest major point release at the time of this comment)

<sup>https://sentry.io/share/issue/3d89f0e64e17487ebd693bc670a97a41/</sup>

[2019-07-26 12:58] jklausa commented on #12160
I think the most probable explanation here is that adding Instrument to the mixes changes timing of things enough to make some data races have different outcomes than "usually", and therefore causing stuff like the 100% CPU utilisation and Core Data weirdnes?

[2019-07-26 13:52] frosty opened #12211 "iOS 13 Fixes Master Issue"
This is a master issue to track any issues that need to be addressed when building with the iOS 13 SDK.

### Visual Issues

- [x] We should set the window background color to black, otherwise the new modal style looks odd:

![ios-13-modal](https://user-images.githubusercontent.com/4780/61955965-0e46b600-afb4-11e9-8f04-109c1097c439.png)

- [x] The login screen is now displayed as a dismissable moda

[2019-07-26 13:59] frosty opened #12212 "Comments: Swipe to delete has no title"
### Expected behavior

When I swipe on a table cell that has custom swipe actions, I expect to see a title for each action so I know what it does.

### Actual behavior

When you swipe a row in the Comments list, there's a swipe to delete action but it's unlabelled:

<img width="381" alt="image" src="https://user-images.githubusercontent.com/4780/61956803-c759c000-afb5-11e9-8524-8c6e4431affe.png">

[2019-07-26 14:06] jklausa opened #12213 "Repeating notices about failed uploads"
We've gotten a report from number of users (2204495-zen, https://ios.forums.wordpress.org/topic/strange-behavior-with-uploading-pics#post-15436) about them repeatedly seeing notices in the format of "1 post, 1 file not uploaded", which are probably connected to the recent changes to how we handle file uploads.

[2019-07-26 16:56] #12181 closed

[2019-07-26 17:25] #11637 closed

[2019-07-26 17:26] #11743 closed

[2019-07-26 17:39] designsimply commented on #11950
**30-day impact:** ~18 per day
**Users affected:** 76 in the last 30d
**First seen in:** 12.5.1
**Last seen in:** 12.8.1 (latest major point release at the time of this comment)

<sup>https://sentry.io/organizations/a8c/issues/1072451205/</sup>

@ellatrix it looks to me like we're getting the crash reports from the logs but we aren't quite sure how to reproduce it as of yet.

@koke I saw that Ella

[2019-07-26 17:44] designsimply commented on #11988
**30-day impact:** ~6 per day
**Users affected:** 14 in the last 30d
**First seen in:** 12.6.1
**Last seen in:** 12.6.1

<sup>https://sentry.io/share/issue/52206eee84d94998959e599b929a3e24/</sup>

Moving to Groundskeeping and asking for a check to make sure (1) that the Sentry crash report hasn't popped up in a slightly different report and (2) if this really was last seen in 12.6.1 and is now oka

[2019-07-26 17:55] designsimply commented on #12145
**30-day impact:** ~60 per day
**Users affected:** 12 in the last 30d
**First seen in:** 12.5.1
**Last seen in:** 12.8.1

<sup>https://sentry.io/share/issue/97123a91aa564239a4a3af7ae4f24712/</sup>

Note: this is an odd crash report, some parts of it are only happening in iOS 13 and that is being tracked at https://github.com/wordpress-mobile/WordPress-iOS/issues/12154.

[2019-07-26 17:55] designsimply commented on #12154
**30-day impact:** ~60 per day
**Users affected:** 12 in the last 30d
**First seen in:** 12.5.1
**Last seen in:** 12.8.1

<sup>https://sentry.io/share/issue/97123a91aa564239a4a3af7ae4f24712/</sup>

[2019-07-26 18:10] designsimply commented on #11384
**30-day impact:** ~400 per day
**Users affected:** 3.3k in the last 30d
**Last seen in:** 12.8.1

<sup>https://sentry.io/share/issue/331ad2ef7f894793b3f5b830b113d503/</sup>

[2019-07-26 18:13] designsimply commented on #11389
:wave: hiya, I see this is in progress at the moment and I'm just popping in with some updated stats:

**30-day impact:** ~7 per day
**Users affected:** 127 in the last 30d
**Last seen in:** 12.8.1

<sup>https://sentry.io/share/issue/bbdff820b0ca448c9dc4cb835fac5550/</sup>

[2019-07-26 18:16] designsimply commented on #12145
Can we check to see if Zendesk is ready for iOS 13?

[2019-07-26 18:24] designsimply commented on #11398
Just popping in with some updated stats:

**30-day impact:** ~7 per day
**Users affected:** 99 in the last 30d
**Last seen in:** 12.8.1

<sup>https://sentry.io/share/issue/d8febc329fe94104805ab63529949268/</sup>

[2019-07-26 18:28] designsimply commented on #11439
**30-day impact:** ~3 per day
**Users affected:** 53 in the last 30d
**Last seen in:** 12.4.1

<sup>https://sentry.io/share/issue/183da3287efb46579eee0c49fd9853a2/</sup>

Since last seen in is at 12.4.1, we need a Groundskeeper to double check to make sure the issue hasn't moved to a different Sentry report as part of determining if this crash is okay to close because it's not happening in recent

[2019-07-26 18:39] designsimply commented on #11819
**30-day impact:** ~21 per day
**Users affected:** 216 in the last 30d
**First seen in:** 12.4
**Last seen in:** 12.4.1

<sup>https://sentry.io/share/issue/96a43e29c8e645079d5fc76cd31612cb/</sup>

Okay to close? Needs a Groundskeeper check.

[2019-07-26 18:50] designsimply commented on #11802
Closing this one for now because I searched and searched (and asked Jeremy for help 🙂)  and couldn't find it in Sentry.

Noting we will open a new issue if anything similar pops back up in crash reports. 😇

[2019-07-26 18:50] #11802 closed

[2019-07-26 18:58] designsimply commented on #12145
@frosty can your team look into this both in terms of verifying priority (high?) and adding it to future work where/when needed?

[2019-07-26 19:03] ScoutHarris commented on #5213
Resolved with Stats Refresh.

[2019-07-26 19:03] #5213 closed

[2019-07-26 19:11] ScoutHarris commented on #6045
I'm not sure what this means, I don't see a Media section under Clicks. Maybe it doesn't exist anymore. I'm gonna go ahead and close this.

[2019-07-26 19:11] #6045 closed

[2019-07-26 19:12] ScoutHarris commented on #3445
Pinging @SylvesterWilmott as we'll soon be updating the Stats widgets. If this is included, it'll get done as part of that project.

[2019-07-26 19:12] #3445 closed

[2019-07-26 19:14] ScoutHarris commented on #7165
Addressed with Stats Refresh.

[2019-07-26 19:14] #7165 closed

[2019-07-26 19:15] ScoutHarris commented on #7172
Addressed with Stats Refresh.

[2019-07-26 19:15] #7172 closed

[2019-07-26 19:15] ScoutHarris commented on #7173
Addressed with Stats Refresh.

[2019-07-26 19:15] #7173 closed

[2019-07-26 19:15] ScoutHarris commented on #7178
Addressed with Stats Refresh.

[2019-07-26 19:15] #7178 closed

[2019-07-26 19:18] ScoutHarris commented on #7177
Negated by Stats Refresh.

[2019-07-26 19:18] #7177 closed

[2019-07-26 19:18] designsimply commented on #11384
Moving to high priority.

<sup>(Please see internal reference: p77Llu-cdK-p2).</sup>

[2019-07-26 19:18] ScoutHarris commented on #7191
Negated by Stats Refresh.

[2019-07-26 19:18] #7191 closed

[2019-07-26 19:19] ScoutHarris commented on #7195
Addressed with Stats Refresh.

[2019-07-26 19:19] #7195 closed

[2019-07-26 19:19] ScoutHarris commented on #7196
Addressed with Stats Refresh.

[2019-07-26 19:19] #7196 closed

[2019-07-26 19:19] mattmiklic commented on #11683
![Simulator Screen Shot - iPhone Xs Max - 2019-07-26 at 15 15 46](https://user-images.githubusercontent.com/1396552/61976037-b494ba80-afb8-11e9-9a9b-8003c1f59b48.png)

Icons in the Sharing section are too light, should be Gray 30 to match icons on the My Site screen.

[2019-07-26 19:22] mattmiklic commented on #11683
In addition to the blue backgrounds in the Activity Log (reported above), grouped table view headers are also blue. They should be Gray 50.

![IMG_F84C9509D00D-1](https://user-images.githubusercontent.com/1396552/61976225-3553b680-afb9-11e9-90d2-16e76c298d81.jpeg)

[2019-07-26 20:14] designsimply commented on #12028
Noting that we received a report of the WPiOS (app store version) of the app crashing on startup internally and we think this may be the related crash but are also on the look out for app logs to see if we can find some helpful details in them.

[2019-07-26 22:09] #11486 closed

[2019-07-28 14:06] thehenrybyrd commented on #12213
Here's another report in #2212383-zen. URL reachability logs are noted there.
@jklausa Are there any extra details we can be gathering to make your work easier here?

[2019-07-28 14:33] jklausa commented on #12213
@thehenrybyrd The logs from #2212383-zen seem to point to the same issue as before, so that's good.

If everything will go well, this should get merged into the release that goes out on Monday! I'll try to keep y'all posted on here in Slack.

[2019-07-28 15:59] AtrumGeost opened #12218 "“Clear Device Media Cache” doesn't clear everything"
Hi folks!

I had a user who's WordPress.com app was using around 21.4 GB. We asked the user to go to **Me > App Settings** and select **Clear Device Media Cache**.

Also, we verified the user didn't have any offline drafts.

### Expected behavior
We expected the app to delete any local content it could be storing.

### Actual behavior
Even though the app was using a lot of space the "Media Cache S

[2019-07-28 16:48] thehenrybyrd commented on #8238
Another in #2212745-zen

[2019-07-28 16:48] thehenrybyrd commented on #500
Another in #2212745-zen

[2019-07-29 02:54] mediajolt001 commented on #10949
I don’t think this issue has been resolved. I’m getting this error when trying to upload an image on any of my iOS devices. I don’t have the Wp-Super-Cache plugin (and never have).

[2019-07-29 02:56] mediajolt001 commented on #10949
Yes. It also happens using the web dashboard.

[2019-07-29 10:28] SylvesterWilmott opened #12219 "[Post List] Add "+" icon to navigation bar"
The new post list uses a view changer in the upper right-hand corner of the screen which has replaced the "+" button / the action to create a new post.

Let's re-include the "+" button to the top right corner:

<img width="400" alt="Screenshot 2019-07-29 at 11 28 04" src="https://user-images.githubusercontent.com/36532468/62041604-f52c4800-b1f3-11e9-8501-86212961d689.png">

[2019-07-29 12:23] osullivanchris commented on #10104
I've had a look at this issue on hack week. I went through the flow on iOS and Android and considered a number of changes which are in the image below.

Option 1:
Pros: simple, cheap
Cons: can't do the action on the upper level, no improvement to the UI or alignment with Android

Option 2:
Pros: user can see the issue and act on it one level up, and cancel if desired
Cons: Not aligned with Android

[2019-07-29 14:21] koke commented on #11950
If I'm reading this right, this made first it into gutenberg-mobile 1.9, which should be WPiOS 12.9. If it worked we should see crashes going down starting next week

[2019-07-29 14:21] #12219 closed

[2019-07-29 14:58] frosty commented on #12219
Also merged into 12.9: https://github.com/wordpress-mobile/WordPress-iOS/pull/12222

[2019-07-29 15:43] frosty commented on #12145
@designsimply Sure, we'll take a look and I'll keep you updated

[2019-07-29 17:39] jkmassel commented on #12213
I'm moving this issue's milestone forward to `13.1`, which is the next unfrozen release branch. If we need have a fix prepared sooner, please merge it into `release/12.9` or `release/13.0` and DM me and I'll be happy to include it in a beta or hotfix, as required.

[2019-07-29 18:39] nheagy commented on #12160
I'm closing this because it's only related to using Instruments. Also, I was personally unable to recreate it :(

@jkmassel please reopen if you disagree.

[2019-07-29 18:39] #12160 closed

[2019-07-29 18:56] mattmiklic opened #12223 "Update colors used for the Stats bar chart"
Right now there's not quite enough contrast between the "Views" and "Visitors" sections of our Stats charts. We're using Blue 50/Pink 50 and Blue 70/Pink 70 so there's only two steps between the two, and they're very dark overall.

![IMG_F16D98346C20-1](https://user-images.githubusercontent.com/1396552/62074135-19961d80-b210-11e9-87e0-e83ba664183c.jpeg)

Updating them to use Blue 30/Pink 30 for Vi

[2019-07-29 19:20] carinapilar opened #12226 "Plugins: Remove option shows for unremovable plugins"
### Expected behavior
To show the removal option only for plugins that can be removed from a site.

### Actual behavior
When you access an Atomic site that has plugins that can't be removed, the app lets you click on the Remove link, but it shows an error when you try to remove it.

### Steps to reproduce the behavior
Add an Atomic site on the app and check plugins such as Jetpack, AMP, Gutenberg,

[2019-07-29 19:27] shiki opened #12227 "[Epic] Offline Posting"
This covers the planned offline posting epic as described by this:

![](https://user-images.githubusercontent.com/50576199/60972121-8ad36680-a31d-11e9-930b-e5d3f3fd79fc.jpg)

This epic links to all the related sub-issues.

Related posts:

- paCBwp-bF-p2
- paCBwp-c7-p2

## Out of Scope

Deletion while offline is currently out of scope.

### General Test Cases

- Upgrading from an old version with f

[2019-07-29 20:07] shiki commented on #11425
@diegoreymendez When @malinajirka, @maxme, and I looked at the scope for Offline Publishing, we considered _Deletion while offline_ as out of scope. I think we should do the same for iOS.

[2019-07-29 21:04] shiki commented on #11425
I'm gathering the status of the Offline Publishing epic for both iOS and Android together in https://github.com/wordpress-mobile/WordPress-iOS/issues/12227. I'll close this for now since it is similar. We can create more specific sub-issues from the epic if we'd like to.

[2019-07-29 21:04] #11425 closed

[2019-07-29 22:36] shiki opened #12228 "iOS and Android: Consistent messaging in Publicize to Facebook"
This is a link to the main issue which describes the changes for both iOS and Android: https://github.com/wordpress-mobile/WordPress-Android/issues/10278.

[2019-07-29 22:54] designsimply commented on #11397
Spotted a Tweet where someone mentioned they were unable to send us a message using the Contact Us form in the iOS app:

<sup>Source: https://twitter.com/thebiologyguy/status/1154861095653392389</sup>

<sub>(internal reference: p1564176579033300-slack-cellular-happiness)</sub>

[2019-07-30 06:50] sophiegyo commented on #9705
Another (Italian) in 2233788-zen.
Quick translation:

They were contacting us through the app and weren't specifically asking about how to do it within the app, but I still had to direct them to browser.

[2019-07-30 09:22] SylvesterWilmott commented on #8641
I think we can reuse what we have for the "Register Domain" alert on the dashboard. Explicit designs in "misc" in Zeplin.

<img width="429" alt="Screenshot 2019-07-30 at 10 21 53" src="https://user-images.githubusercontent.com/36532468/62117460-e1e0b180-b2b3-11e9-9142-6005b60fd441.png">

[2019-07-30 11:09] rachelmcr commented on #10104
Agreed. I'm not aware of this as a significant point of confusion or something that gets a lot of user reports, so I think the lowest friction solution (option 1) makes sense at this point.

Also, just to follow up on this point about option 4:

I _think_ the blue UI came from copying the Calypso UI for the pending email change banner at the time it was implemented, as seen in the screenshot on th

[2019-07-30 12:44] frosty commented on #12107
I just tested updating the pod to 3.0.1, and I don't see any issues – it just seems to work. Is there any reason we shouldn't just do this? Without adding any imports for the new library it just seems to work. Could be because we're not using the UiConfiguration class directly?

[2019-07-30 13:04] rachelmcr opened #12232 "Post Settings: Screen underneath editor is visible when adding a tag in post settings"
### Expected behavior

I expect the Post Settings > Tags screen to be full screen.

### Actual behavior

At the top of the Tags screen, you can see the screen underneath the editor (e.g. the My Sites screen) bleeding through above the tags text field:

![2019-07-30 13 08 53](https://user-images.githubusercontent.com/8658164/62131116-6e9a6800-b2d2-11e9-8d14-7dc0da7ac880.png)

The screen you see the

[2019-07-30 17:15] jkmassel commented on #12107
If we have the bandwidth to test it _extensively_ this cycle, we could include it in 13.0. In the past, things have broken when we upgraded the SDK, even just between minor versions, so I'd just want to be _really_ sure it'll be stable :)

@designsimply – WDYT?

[2019-07-30 18:10] designsimply commented on #12107
@jkmassel the biggest concern at the moment is helping unblock users who have reported not being able to use the Contact Us form. It sounds to me like we don't really have a lock on whether an SDK update will do that yet (we need more reports/more data/more steps to reproduce for that case). Because of that, I don't think it's urgent enough to push into 13.0 but would like to get something on the

[2019-07-30 18:31] sentry-io[bot] opened #12238 "NSInternalInconsistencyException"
Sentry Issue: https://sentry.io/share/issue/3f47d86fa2e94ff4944e14efe03654b1/

[code]

[2019-07-30 18:34] JavonDavis commented on #12238
@frosty any thoughts on this one? It seems to be happening quite a bit?

[2019-07-30 18:36] JavonDavis commented on #12238
@frosty never mind, it's a duplicate of #10073

[2019-07-30 18:42] JavonDavis commented on #10073
@SergioEstevao I'm still seeing this crash happening up to WPv12.9, here's [a link](https://sentry.io/share/issue/3f47d86fa2e94ff4944e14efe03654b1/) to the Sentry issue, could you check it out and see if the cause is still related to the fix in #321?

[2019-07-30 18:43] frosty commented on #12107
Fwiw, when testing with 3.0.1 I was still getting a crash when trying to add media to a ticket from my camera or device media library (the small selection of recent media worked fine though).

[2019-07-30 19:48] designsimply commented on #11397
Noting some feedback from @frosty who helped me with some testing (thank you! ❤️).

Tested and confirmed using the following steps to reproduce:

1. Go to Profile > Help & Support > Contact Email and make sure an email is set.
1. Go to Contact Us.
1. Tap the paperclip to attach a file.
1. Tap the more icon at bottom right.
1. Swipe right to reveal the Camera and Library options at bottom left.
1.