[2020-10-08 17:58] ScoutHarris commented on #14342
Tangentially related - I haven't fixed this because simply centering the NRV vertically in the view makes things worse on the iPad by cutting off the button. Specifically because, as noted [here](https://github.com/wordpress-mobile/WordPress-iOS/issues/14547#issuecomment-702217917), when the My Sites NRV is displayed, the view is no longer updating on rotation.

| Now | With NRV vertically centere

[2020-10-08 20:21] diegoreymendez commented on #14963
The crashing code is from the backtrace is:

https://github.com/wordpress-mobile/WordPress-iOS/blob/b83aaaf67dc80e296871f805077ffc72accac018/WordPress/Classes/ViewRelated/Media/MediaProgressCoordinatorNoticeViewModel.swift#L159-L176

Some notes:

1. We're obtaining `blogInContext` for the `blog` object, but the `media` object is accessed directly without checking what context it belongs to, or whe

[2020-10-09 13:43] rachelmcr commented on #15074
For some reason, English text entry fails in the password (secure text entry) field with Russian (`ru`) and Thai (`th`) keyboards, even though it works fine in other text fields.

One possible way to bypass this is to paste the text instead of typing it into the field, e.g. with an XCUIElement extension like this:
[code]

I've found pasting like that to be a little flaky in past attempts, so I'm h

[2020-10-09 14:02] chipsnyder commented on #13738
Merged a PR that I believe will resolve this issue. Closing for now we can reopen it later if it continues

[2020-10-09 14:02] #13738 closed

[2020-10-09 15:37] elibud commented on #9662
+1 to adding this feature.

[2020-10-09 16:14] designsimply commented on #9662
I also would benefit a lot from this feature on mobile! I use it all the time to post calls for testing. 😊

[2020-10-09 16:28] designsimply commented on #9662
Found that we have designs for this already https://github.com/wordpress-mobile/WordPress-Android/issues/7954#issuecomment-515509809, courtesy @osullivanchris. 👏

<img src="https://user-images.githubusercontent.com/50576199/61965121-676c1500-afc7-11e9-8d9f-b9c0546844c3.png" alt="Duplicate Post iOS">

[2020-10-09 17:51] #14220 closed

[2020-10-09 18:31] #14646 closed

[2020-10-09 19:29] mbshakti commented on #15052
From the new build, just two small nits:

If it's already 16px, can we bump it to 20px? I feel the space between the topic chips & header icons are too tight, and just needs to breath a bit.

One other thing I *just* noticed was that there seems to be a difference in border size/stroke size/color in the bottom sticky bar (on RDV) & main nav bar (on main Reader feed/across the app). Attached screen

[2020-10-09 20:54] aerych commented on #14967
I've been looking into this one and I'm having some trouble reproducing.  Here's what I've tried:

### Test posts
I created several test posts:
- one with very brief test content and tagged it "zencoffee".
- one with a snippet from Hamlet and tagged it "zencoffee"
- one with a different snippet from Hamlet and tagged it "test123"
- one with a snippet from the Scottish play and tagged it "postaday"

[2020-10-09 21:25] ScoutHarris commented on #14342
I was able to put in a [workaround](https://github.com/wordpress-mobile/WordPress-iOS/pull/15081) for the aforementioned iPad rotation issue. So I went ahead and fixed the NRV vertical alignment that will fix this Media view issue.

[2020-10-09 22:27] ScoutHarris commented on #14695
Hey @designsimply . What @mzorz [said](https://github.com/wordpress-mobile/WordPress-Android/issues/12736#issuecomment-683013500) on the Android issue pertains to iOS as well - `the SDK is closed in this aspect, we present the chat screen and it doesn't expose this information to us (so we can't really tell what length the messages are)`.

So there's really nothing we can do on the app side for th

[2020-10-10 00:51] guarani commented on #14354
FWIW I experienced a very similar crash today on WPiOS 15.8 after logging out and logging back in again. I could only reproduce it twice out of ten or so attempts — notably, the second time it happened was after a delay of five minutes between tries. (Update: Happened three times, still don't have concrete steps to reproduce.)

It looks like that issue is no longer active for the latest release. S

[2020-10-12 10:12] hypest commented on #14991
Fixed by https://github.com/wordpress-mobile/WordPress-iOS/pull/15007

[2020-10-12 10:12] #14991 closed, assigned to emilylaguna

[2020-10-12 10:24] hypest commented on #13875
Closing in favor of https://github.com/wordpress-mobile/gutenberg-mobile/issues/559 since that's older and with more discussion. Let me know if this needs to stay open too, thanks!

[2020-10-12 10:24] #13875 closed

[2020-10-12 13:23] Yaso1980 commented on #6015
it will be great option to allow more than one user to connect to one website
through wordpress.com

[2020-10-12 15:07] bummytime commented on #14791
@designsimply 👍 from me. Thank you!

[2020-10-12 15:07] #14791 closed, assigned to nobody

[2020-10-12 16:02] Gio2018 commented on #14785
Deassigned myself from the issue as was not able to reproduce/make any progress on this one.
For more context, since the issue seems originated from a variety of sources (notices, auth, stats) what I did was just try a variety of situations that would potentially cause the crash. Since this happens at the beginning, I tried to recreate these scenarios at startup, using state restoration.
To add so

[2020-10-12 17:04] #14342 closed

[2020-10-12 17:28] ScoutHarris commented on #14547
This is to summarize the state of this issue after my poking around.

The root issue still remains, that is when an empty view is displayed that is meant to be full width, it is not. This includes:
- My Sites > no sites.
- Notifications > Jetpack install prompt.
- Notifications > no notifications _at all_.

If you have some Notifications, selecting a filter that has no notifications will display t

[2020-10-12 18:49] designsimply commented on #7039
Closing due to no new reports of wrong counts of likes on this issue since the it was originally reported ~3.5 years ago.

@astralbodies please let me know if you spot any like miscounts again and I will re-investigate!

[2020-10-12 18:49] #7039 closed

[2020-10-12 20:14] mindgraffiti opened #15084 "Accessibility: Rebuild the NUXButton"
Pair with: https://github.com/wordpress-mobile/WordPressAuthenticator-iOS/issues/501 because NUXButton originates from Authenticator.
Ref. p5T066-1yK-p2#comment-6042

### Background

`NUXButton` looks like a `FancyButton`, but does not act like one. NUXButtons differ because they have a built-in spinner (`UIActivityIndicatorView`) that activates after a user taps the button. (iirc, it handles form

[2020-10-13 12:09] astralbodies commented on #7039
@designsimply I still see it happen once in a while but I suspect that is now resolved with the push notification backend being replaced. I'll keep my eyes open! 😄

[2020-10-13 15:41] designsimply commented on #7039
Thank you very much!

[2020-10-13 16:36] mbshakti opened #15088 "UI changes for Interest Picker Screen (in Discover tab)"
<img width="317" alt="Screen Shot 2020-10-13 at 12 33 56 PM" src="https://user-images.githubusercontent.com/6350997/95889588-913a6480-0d50-11eb-87d8-3c2c2d55e739.png">

Request 1: Center align screen contents for interest picker within Discover tab

<img width="557" alt="Screen Shot 2020-10-13 at 10 40 19 AM" src="https://user-images.githubusercontent.com/6350997/95889453-69e39780-0d50-11eb-8288-1

[2020-10-13 21:07] guarani opened #15089 "Rename Blog.isHostedAtWPcom for clarity"
### Expected behavior

By its name alone, one would expect `Blog.isHostedAtWPcom` to be `true` for all WordPress.com sites, whether or not they have plugins installed. It's not `true` in this scenario, because it's actually just [an indication of whether or not Jetpack is installed](https://github.com/wordpress-mobile/WordPress-iOS/blob/b347ef8c2488401c1df006e548cc2d5aee42c8d8/WordPress/Classes/Se

[2020-10-13 21:36] guarani commented on #15089
I've also noticed WordPress.com sites with plugins installed can't be switched to private using WPiOS but can be switched using WPAndroid. This happens because of:

https://github.com/wordpress-mobile/WordPress-iOS/blob/8bfca4663f4beeab131ec1d67e2d4cf6f946f5a0/WordPress/Classes/Models/Blog.m#L504-L506

<sub>Tested on WPiOS 15.8 and WPAndroid 15.9 (beta) </sub>

[2020-10-13 21:46] guarani opened #15090 "No site privacy option for WordPress.com sites with plugins installed"
### Expected behavior

The app should allow the user of an Atomic site to change the site's privacy settings, just like it's done on WordPress for Android.

### Actual behavior

There's no Privacy option shown in Site settings when the site is an Atomic site.

### Steps to reproduce the behavior

1. Log in to the WordPress for iOS app
2. Choose an Atomic site
3. On the Site screen, scroll down to

[2020-10-13 22:10] guarani commented on #15089
WPiOS doesn't show a Language option on the Settings screen (I'd expect to see it under the GENERAL section, below Time Zone) for WordPress.com sites with plugins installed.
Interestingly, neither does WPAndroid.

Based on the following comment though, I think the fact that the Language option is not present might be an oversight:

https://github.com/wordpress-mobile/WordPress-iOS/blob/50e1647c523

[2020-10-13 22:12] jkmassel opened #15091 "EXC_BREAKPOINT: Exception 6, Code 10971972, Subcode 8"
**Sentry Url**: https://sentry.io/share/issue/585d5341acb24fe5ac880c265e054d7d/
**User Count**: 290
**Count**: 553
**First Release**: 15.8.0.0
**First Seen**: 2020-09-23T16:20:26Z
**Last Seen**: 2020-10-13T22:01:35Z
**24 Hours**: 214
**30 Days**: 550
**LogID:** EA415C18-F941-463C-999B-17F583E2D570

[code]

[2020-10-13 22:13] jkmassel opened #15092 "NSInternalInconsistencyException: Invalid indexPath"
**Sentry Url**: https://sentry.io/share/issue/30aed83802a5493e8ad4238fe8eea923/
**User Count**: 230
**Count**: 341
**First Release**: 13.6.0.3
**First Seen**: 2019-12-01T10:58:40Z
**Last Seen**: 2020-10-13T09:28:07Z
**24 Hours**: 7
**30 Days**: 285
**LogID:** 199EE8E5-7E49-4758-8F0E-AB5EDC6136D5

[code]

[2020-10-13 22:14] jkmassel opened #15093 "EXC_BREAKPOINT: Fatal error"
**Sentry Url**: https://sentry.io/share/issue/c8b278eb617b483bafeaf01e0b4f9c1e/
**User Count**: 2
**Count**: 10
**First Release**: 15.6.0.4
**First Seen**: 2020-09-11T11:29:48Z
**Last Seen**: 2020-10-13T21:24:38Z
**24 Hours**: 1
**30 Days**: 9
**LogID:** 27181748-633E-40D0-94B0-333AE6B623EA

[code]

[2020-10-13 22:15] jkmassel opened #15094 "EXC_BREAKPOINT: _existingView > countByEnumeratingWithState:objects:count: > frame > horizontalSizeClass > sizeFo..."
**Sentry Url**: https://sentry.io/share/issue/ca758ecaa3b84eb798ccf5e5e8a851f2/
**User Count**: 0
**Count**: 42
**First Release**: 15.8.0.2
**First Seen**: 2020-10-06T20:27:37Z
**Last Seen**: 2020-10-13T21:25:47Z
**24 Hours**: 8
**30 Days**: 39
**LogID:** 7738DE90-12E8-4859-9476-C56AE2BB3DDC

[code]

[2020-10-13 22:16] jkmassel opened #15095 "NSGenericException: Task created in a session that has been invalidated"
**Sentry Url**: https://sentry.io/share/issue/022e2d35a81a44c4a7b243c91818047b/
**User Count**: 402
**Count**: 918
**First Release**: 14.5.0.2
**First Seen**: 2020-04-15T12:16:52Z
**Last Seen**: 2020-10-13T18:44:02Z
**24 Hours**: 7
**30 Days**: 144
**LogID:** 1C703AF7-E0BE-41F3-93B3-F50FAFA321CF

[code]

[2020-10-13 22:18] jkmassel opened #15096 "Deleting a media object that's failed to upload because of a missing local file."
**Sentry Url**: https://sentry.io/share/issue/9541f74a474e4fe78ef4185b0ca5b23d/
**User Count**: 12
**Count**: 1072
**First Release**: 13.0.0.3
**First Seen**: 2019-08-15T23:58:40Z
**Last Seen**: 2020-10-12T13:33:47Z
**24 Hours**: 0
**30 Days**: 89

[code]

[2020-10-14 05:09] reginabally opened #15098 "App Review: Unable to save draft even after reconnected to a working network source"
Date of the review: Oct 12, 2020
WPiOS version: 15.8

[2020-10-14 15:57] guarani opened #15100 "Post previews show black nav bar after user visits Unsupport Block Editor on Jetpack-connected sites"
### Expected behavior

A black nav bar shouldn't be shown in post previews.

### Actual behavior

Post previews sometimes show an unwanted black navigation bar. It looks like this happens after the user has used the Unsupported Block Editor (note the black bar with the various buttons such as profile icon and plus button).

<img width="350" alt="Screenshot showing black nav bar in Unsupported Bloc

[2020-10-14 17:32] #15074 closed, assigned to nobody

[2020-10-14 17:51] #15052 closed, assigned to emilylaguna, mbshakti

[2020-10-14 17:52] #14895 closed, assigned to emilylaguna

[2020-10-14 18:23] Gio2018 opened #15102 "Today Widget - Setup"
- [x] Setup a feature branch, since it's not possible to feature flag widgets.
- [x] Configure the necessary profiles and app ids on the developer portal
- [x] Add a new widget extension target and add the target to the necessary files (if Any).
- [x] Also add the necessary app group(s) to it.

[2020-10-14 18:25] Gio2018 opened #15103 "Today Widget - UI"
Build the Today Widget UI with SwiftUI. At this stage, we can use a static model (to be removed in the future) to test the UI.

Designs:

**Small size**
![variations-small-3](https://user-images.githubusercontent.com/34376330/96767592-582e6f80-13a2-11eb-9b6c-cc25b899101b.png)

**Medium size**
![variations-medium-5](https://user-images.githubusercontent.com/34376330/96767659-7005f380-13a2-11eb-9217

[2020-10-14 18:31] Gio2018 opened #15104 "Today Widget - Adapt existing data for Today Widget to the new architecture"
We want to reuse the existing `TodayWidgetStats` to feed data into the new Today Widget. This will likely require some adaptation to the new SwiftUI architecture.

[2020-10-14 20:01] mbshakti commented on #15088
Thanks for implementing this change as quickly, looking good, @emilylaguna. I noticed two things, both would be "nice to" fix:

1. Can we unsticky the H1 & H2 ("discover and follow blogs you love" & "choose your interests") so that way the user can see more topics as they scroll? Right now, the H1 & H2 take up too much page. When it was full screen, it didn't matter much, but I feel like the space

[2020-10-14 20:21] emilylaguna commented on #15088
Unfortunately that is a pretty big change since I'll need to change how the entire view is structured and works. If this is something we really want to do it'll be in another task.

The spacing right now is 16px, but I'm worried about increasing the size of it since we'll start running into more vertical space issues like you mentioned above. Thoughts?

[2020-10-14 20:33] mbshakti commented on #15088
I see. In that case, I'll take a note of this for myself and we can revisit this at some point!

[2020-10-14 20:34] mbshakti commented on #15088
For the top spacing, can we just bump it to 20px? That should be much, and it will feel slightly less tight.

[2020-10-14 21:25] shiki commented on #15003
Hi @rohanrk! Thanks for contributing. Go for it! I assigned you to the issue. 🙂

[2020-10-14 22:31] rohanrk commented on #12954
This is quite closely related to the PR I just put out. I'm happy to work on this once that PR is closed

[2020-10-14 22:54] designsimply commented on #15098
Thanks for reporting this @reginabally!

I was unable to reproduce the problem using the following testing steps. I tested using WPAndroid 15.9-rc-2 on Pixel 3 with Android 11 using a WordPress.com Free site. It's possible the reporter was using a different setup so we should either run this test again under different scenarios or try to get additional information from the user about the problem.

[2020-10-14 23:50] guarani opened #15111 "Page button always shown despite user's lack of required capability/role"
### Expected behavior

The app should **not** allow site users with the `author` or `contributor` roles to manage (add/edit) pages. Only users with the `editor`, `administrator`, or "Super Admin" roles should be allowed to do this.

Roles and capabilities reference: https://wordpress.org/support/article/roles-and-capabilities/

### Actual behavior

**Tested on a self-hosted site**

The app allows

[2020-10-15 00:07] guarani commented on #15111
Related: https://github.com/wordpress-mobile/WordPress-Android/issues/13139

[2020-10-15 00:30] guarani commented on #15111
If this is implemented, we should consider adopting pull-to-refresh on the site screen to allow the user to "refresh" their role so that if their role is changed remotely, it can be used withing the app (similar to https://github.com/wordpress-mobile/WordPress-Android/issues/13140).

[2020-10-15 07:57] reginabally commented on #15098
I've tested this on iPhone SE, iOS 14.0.1, WPiOS 15.8 but I'm not able to replicate this issue.

Video recording: https://d.pr/v/QSmJcm/7ehXGN5P9z

[2020-10-15 13:24] #15088 closed, assigned to emilylaguna

[2020-10-15 13:42] #14767 closed, assigned to emilylaguna, leandroalonso

[2020-10-15 16:08] shiki commented on #12954
@rohanrk Cool! I assigned you to the task. 🙂

[2020-10-15 22:34] #15102 closed, assigned to Gio2018

[2020-10-16 00:36] yaelirub commented on #15095
Seems like we are trying to use an invalidated session in Account Settings

[2020-10-16 01:27] yaelirub commented on #15094
High priority by version. @ScoutHarris, would you please take a look?

[2020-10-16 01:35] yaelirub commented on #15092
Low by numbers

[2020-10-16 13:48] #15009 closed, assigned to leandroalonso

[2020-10-16 19:54] designsimply commented on #15098
Thank you for reporting this @reginabally!

I tried testing using my iPhone 6S and I was unable to reproduce the problem using the following steps:

1. Create a new post and add a title and some content.
1. Tap More (three dots, top right) > Save as Draft.
1. Quickly turn off the internet connection (i.e. turn on Airplane mode) while the draft is saving.
1. Observe that the draft saved locally.
1.

[2020-10-16 20:00] designsimply commented on #15098
I responded to the review noting that we tested and were unable to replicate the problem and asking for more info if possible.

<sup>(internal reference: app-store-reviewId=6526972740)</sup>

[2020-10-16 20:02] designsimply commented on #15098
Closing this issue with an ask to please re-open if it comes up again or if you find different testing steps we can try. Creating a new issue would also be fine if desired. 👍

[2020-10-16 20:02] #15098 closed, assigned to nobody

[2020-10-16 21:27] #14766 closed, assigned to emilylaguna

[2020-10-18 22:59] rohanrk commented on #12954
Could I get some more info on the preview and insert buttons? I'm not quite sure what they refer to in this context. I think preview has to do with previewing selected images but this is handled through a long press rather than a button.

[2020-10-19 11:44] hypest commented on #15100
Also happening on WPAndroid, ticket is here: https://github.com/wordpress-mobile/WordPress-Android/issues/13133

[2020-10-19 13:19] #14768 closed, assigned to emilylaguna, yaelirub, leandroalonso

[2020-10-19 21:01] jkmassel commented on #11849
16.0 out-of-date dependencies:

[code]

[2020-10-20 13:41] emilylaguna opened #15133 "Reader: Tapping back after opening a post on the following feed results in a broken table"
### Screenshots
<img width="30%" alt="Screen Shot 2020-10-20 at 9 38 35 AM" src="https://user-images.githubusercontent.com/793774/96594088-17016700-129f-11eb-961e-cbef75cfb02f.png">

### Steps to reproduce the behavior

1. Open the following tab
2. Tap on a post
3. Swipe to go back or tap back

### Expected behavior
The view cards are rendered correctly

### Actual behavior
The view cards are rend

[2020-10-20 20:59] shiki commented on #12954
It looks like the UI has changed a bit and it's no longer possible to pick multiple images. I have crossed out the ones the issues that are no longer valid.

Sorry about that, @rohanrk!

[2020-10-21 05:25] kyleaparker opened #15140 "My Sites > Unable to select the first site in the list (iOS 16.0)"
### Expected behavior

When I navigate to the "My Sites" screen for a moment there is a loading icon towards the top of the page that prevents me from clicking on the first site in the list, I am able to click on any other site though. I wouldn't expect the loading icon to be visible at all at this point, as it appears the sites list has loaded.

### Actual behavior
Every time I navigate to "My Si

[2020-10-21 13:02] guarani opened #15142 "Avatars in @-mention suggestion UI appear pixelated"
### Expected behavior

When viewing the @-mentions suggestion list, the user's avatar is shown alongside their name (or if an avatar is not available, a placeholder is shown). This image should not appear pixelated, if possible.

### Actual behavior

This avatar image appears pixelated (low-res).

<img alt="screenshot showing pixelated avatar images in suggestion UI" width="500" src="https://user-

[2020-10-21 18:31] #15133 closed, assigned to emilylaguna

[2020-10-21 19:14] guarani opened #15146 "Move SuggestionService to WordPressKit"
### Expected

`SuggestionService` should probably live in https://github.com/wordpress-mobile/WordPressKit-iOS, since that's where all (?) the API calling code lives.

This also applies to the soon-to-be-added `XpostSuggestionService`.

### Actual

`SuggestionService` is currently in WordPress-iOS and isn't in WordPressKit.

[2020-10-21 22:14] ccwalburn commented on #14561
User from 3283407-zen has contacted us again on 3426699-zen with a request for a fix

[2020-10-21 22:53] guarani commented on #15146
A potential downside to this could be that we have to create a separate model for `UserSuggestion` and `SiteSuggestion`. At the moment, the same `SiteSuggestion` type that is a `NSManagedObject` also conforms to codable, so it serves as both a Core Data entity and a model to deserialize the network response objects into.
If we move these types to WordPressKit, I think it would mean creating anothe

[2020-10-22 00:31] guarani opened #15148 "Align @-mentions and x-post messaging with WPAndroid"
### Expected behavior

Improved @-mention and xpost messaging.

### Actual behavior

- On WPAndroid, there's a "No matching users." message shown when what the user types doesn't match any results from the @-mention suggestion list (iOS doesn't show anything at the moment) — the same applies to xposts where a "No matching crosspost." message is shown on WPAndroid but not on WPiOS
- If I then go ah

[2020-10-22 14:57] guarani commented on #15032
One possible lead here (noting down for future reference) is that when I background the WPiOS app during a video upload, I can pretty consistently reproduce a failed upload (app needs to be backgrounded for ~30 seconds).

The logs show that the `media_service_upload_failed` happened as soon as I foregrounded the app (after it was in the background for 30 seconds) and the error is a "The network co

[2020-10-22 15:27] guarani commented on #14561
Thanks for the update! I had a read of the new Zendesk ticket now and can understand the user is waiting for a fix.

Although we couldn't reproduce this [earlier](https://github.com/wordpress-mobile/WordPress-iOS/issues/14561#issuecomment-697003805), I tried again just now by testing featured images on:
- WordPress.com Simple sites
- WordPress.com Atomic sites
- Jetpack connected self-hosted site

[2020-10-22 21:44] Gio2018 opened #15152 "Display What's New in WordPress in App Settings also for fresh installations"
### Expected behavior

When users install the app for the first time and there are Feature Announcements for the installed version, they should not see the announcements at app launch, but they should still be able to access the announcements by tapping on "What's New in WordPress", from App Settings (see screenshot below)

<p align=center>
<img width="300" src="https://user-images.githubuserconte

[2020-10-22 21:48] Gio2018 opened #15153 "Refresh Feature Announcements cache"
### Expected behavior
If Announcements have changed for a specific version, the app should reflect that change in "App Settings/What's New in WordPress", even if the user has already updated the app

### Actual behavior
When users update the app, they see Feature Announcements (if available) and those announcements are stored in the local cache and don't get refreshed, even if the announcements on

[2020-10-23 08:46] koke commented on #7886
This issue came back from the dead 😭 3430870-zen
I'm hoping it's just that she hasn't seen the sites list yet and the problem never fixed itself, but we'll see

[2020-10-23 10:11] rezzap opened #15155 "Improving Error Messaging for non-English characters in Site Creation Flow"
### Expected behavior

I would expect to be told non-English characters are not supported if I'm using unsupported characters in trying to create a site.

### Actual behavior

When trying to create a site using a language like Arabic or Chinese, we see the error `No available addresses matching your search` instead. It would be helpful if we could show a message that non-English characters are not

[2020-10-23 10:37] koke commented on #13994
Related: #8641

[2020-10-23 10:39] koke commented on #8641
A user in 3418322-zen wanted to disconnect some sites that didn't exist anymore and wasn't able to

[2020-10-23 16:10] Gio2018 opened #15157 "Today Widget - Localization and internationalization"
Make sure that the localization and translations work properly on the widget.

[2020-10-23 16:10] Gio2018 opened #15158 "Today Widget - Tracks"
Add tracks to the Today Widget

[2020-10-23 16:12] Gio2018 opened #15159 "Today Widget - Accessibility"
Add accessibility to the Today Widget.

[2020-10-23 16:21] bummytime commented on #15155
On WP.com, this is the error displayed when the `اختبارات` is used as a site name:

<img width="953" alt="Screen Shot 2020-10-23 at 11 18 46 AM" src="https://user-images.githubusercontent.com/154014/97028525-e1b87b80-1521-11eb-8514-0250e36f9d52.png">

[2020-10-24 09:24] heavybeard commented on #500
News?

[2020-10-24 22:07] ericamQA opened #15161 "Unable to search for site content to link to, must paste in URL manually"
### Expected behavior

When creating a link, you should be able to search for existing content to link to rather than pasting in the title.

### Actual behavior

Site Content is not suggested and a URL must be pasted in

### Steps to reproduce the behavior

1. Edit a page or post
2. Select text and tap chain link icon to turn it into a link
3. Start to type the name of another post on the site
4.

[2020-10-26 11:36] frosty opened #15163 "Post published local notification doesn't launch to correct section of the app"
Uncovered in #15150, we discovered that the local notification that appears after a post is successfully published doesn't launch to the correct section of the app.

`ShareNoticeNavigationController.navigateToPostList(with:)` is called from `InteractiveNotificationsManager`, which in turn calls `ShareNoticeNavigationController.fetchPost(from:onSuccess:onFailure:)`. This expects a post ID and a sit

[2020-10-26 11:55] frosty opened #15164 "[Xcode 12] Fix deployment target warnings"
When building with Xcode 12, we have many `IPHONEOS_DEPLOYMENT_TARGET` warnings, for each of our dependencies. We should resolve these issues to reduce the number of warnings in our project.

It's my understanding that some of these may require updating other dependencies, or we can silence them via CocoaPods: https://www.jessesquires.com/blog/2020/07/20/xcode-12-drops-support-for-ios-8-fix-for-co

[2020-10-26 12:54] etoledom commented on #15091
So far I haven't been able to reproduce the issue.

I haven't had much luck trying to find what does "signal 6" means.

A wild guess is that we are trying to access `gutenberg` while it's still either initializing or deinitializing, in that case it would make sense that it won't be easy to reproduce.

Any idea on how to test this theory?

I also saw in sentry that all crashes happens with `App.Sta

[2020-10-26 14:48] frosty opened #15165 "[Xcode 12] Fix miscellaneous build warnings"
There are a few random Xcode 12 / iOS 14 build warnings that we should address:

- [x] System Blur Style before iOS 13.0
- [x] Non-Default Vibrancy Style before iOS 13.0
- [x] Plain Style unsupported in a Navigation Item
- [x] MinimumOsVersion of '4.0' is less than the value of IPHONEOS_DEPLOYMENT_TARGET '11.0'
- [x] Backward matching of the unlabeled trailing closure is deprecated; label the argu

[2020-10-26 16:49] jkmassel commented on #3070
A user has reported experiencing this issue (and I've confirmed it via the app logs) as of October 2020.

[2020-10-26 17:20] designsimply commented on #15161
Thanks for the report @wpericam! The ability to search for existing content was not added until version 1.38 of Gutenberg Mobile (see sidebar [here](https://github.com/wordpress-mobile/gutenberg-mobile/pull/2484)) and that version was shipped with 15.9 of the WPiOS app (you can see which Gutenberg Mobile went out with each release by checking out the [milestone](https://github.com/wordpress-mobile

[2020-10-26 17:20] #15161 closed, assigned to nobody

[2020-10-26 19:13] frosty opened #15167 "[Xcode 12] Fix Core Data transformer warnings"
When building on Xcode 12, there are many of these warnings:

[code]

- [ ] AbstractPost.revisions
- [ ] Blog.capabilities
- [ ] Blog.options
- [ ] Blog.postFormats
- [ ] BlogSettings.commentsBlacklistKeys
- [ ] BlogSettings.commentsModerationKeys
- [ ] BlogSettings.jetpackLoginWhiteListedIPAddresses
- [ ] Media.error
- [ ] MenuItem.classes
- [ ] Notification.body
- [ ] Notification.header
- [ ] N

[2020-10-26 20:24] designsimply commented on #500
I ran across an old request for CPT support in an app review and am adding it here for reference.

Translated with Google:

<sup>Version 14.6 - Apr 13, 2020</sup>

[2020-10-26 20:26] designsimply commented on #500
@heavybeard no news yet! This not on the roadmap that I am aware of though it's also not a simple task to make such an update. The best thing we can do right now is encourage people to contact support or post a note here when they find the would like the same thing. It also helps very much to have a bit of background about why the update would be helpful to each person!

[2020-10-26 20:35] designsimply commented on #14195
Here's another similar request, so I think what's happening is that users don't know to look for the Copy function using the Share icon…

[2020-10-26 20:36] #15003 closed, assigned to rohanrk

[2020-10-26 20:51] designsimply commented on #500
Another app review came in asking for this:

[2020-10-27 00:09] designsimply commented on #14798
Some feedback came in from a user about synchronization not working properly, including synchronizing content from various devices, and I am noting their feedback here for reference. 👍

Translated from Spanish using Google Translate:

<sup>2-star - Oct 10, 2020 - WPiOS 15.8 - app-store reviewId=6521434431</sup>

[2020-10-27 02:09] ctarda opened #15169 "Crash on iPad when sharing a post from the Notifications Tab"
The application crashes when sharing a post by clicking the Share button in the navigation bar (top right corner), only on iPad, and only when the Notifications tab is active.

Step 1: Select a Notification
<Img src="https://user-images.githubusercontent.com/2722505/97248027-d32cd580-183b-11eb-959e-584f75517ea1.png" width="350"/>

Step 2: Navigate down until reaching the content of the post
<img s

[2020-10-27 13:18] guarani opened #15171 "Display PR number and build number in App Settings for applicable builds"
### Expected behavior

Note: This is an productivity improvement for test builds generated on CircleCI, it doesn't affect user-facing App Store builds.

Showing the Pull Request and build numbers in the app's "About WordPress for iOS" and "Help & Support" screens would help us make sure we're on the right versions when reporting bugs, etc. This is already implemented on WPAndroid.

**Example:**
In

[2020-10-27 14:30] rezzap opened #15173 "Unable to Delete Site error message"
### Expected behavior

I would expect that if a user sees a WordPress.com site listed in their My Site list and tries to delete it, they would be able to do so. If not, a clear message would display.

### Actual behavior

User reported trying to delete their site, but after typing in their full site address the delete button could not be clicked.

On checking the logs, I believe that the token for

[2020-10-27 19:26] ScoutHarris opened #15177 "Today Widget - Show release type in widget name"
On the current Today widget, we display the release type name on the widget to differentiate the widgets between release, alpha, and internal. Example:

![today_internal](https://user-images.githubusercontent.com/1816888/97352357-50664380-1858-11eb-9013-1919f4dd364a.jpg)

We should do the same for the Home Today widget. I propose following the same method, and add alpha and internal to the "Today"

[2020-10-27 19:27] ScoutHarris commented on #15177
@mattmiklic - does this work for you?

[2020-10-27 19:43] ScoutHarris opened #15178 "Today Widget - unconfigured view"
On the current Today widget, we have an "unconfigured" view that is displayed when the widget is added but a site to use for widgets has not been selected within the app. Example:

![no_site](https://user-images.githubusercontent.com/1816888/97353742-08e0b700-185a-11eb-8ed9-8f970b9ddc43.jpg)

We need the same sort of view for the Home Today widget.

[2020-10-27 19:44] ScoutHarris commented on #15178
@mattmiklic - do you have any thoughts on what this would look like for the new Today widget?

[2020-10-27 22:34] designsimply opened #15179 "Support: content in the content form is lost if the screen is swiped while adding a message"
Steps to reproduce:

1. Go to My Site > Account > Help & Support > Contact Support.
1. Add content to the form.
1. Swipe.

**Result:** the form is dismissed without a prompt and the content is lost. ([1m5s](https://cloudup.com/cx7zAhomITI))

<img src="https://user-images.githubusercontent.com/1119271/97369245-26ba1600-1872-11eb-9fdd-e907e79e2376.gif" width="270" alt="contact-form-swipe-content-los

[2020-10-27 22:57] designsimply commented on #8689
From an App Review, translated from Spanish using Google Translate:

<sup>2-star - Oct 10, 2020 - WPiOS 15.8 - internal references: app-store reviewId=6521434431, p4a5px-2EM-p2</sup>

If we make [Jetpack SEO Tools](https://jetpack.com/support/seo-tools/) available via the app, we should make [WordPress.com SEO Tools](https://wordpress.com/support/seo-tools/) available too.

[2020-10-28 02:23] mattmiklic commented on #15177
@ScoutHarris I think this sounds fine.

[2020-10-28 02:33] mattmiklic commented on #15178
@ScoutHarris here's the design we should use if the user is logged out of WordPress (pbArwn-116-p2):

![Unconfigured Widget](https://user-images.githubusercontent.com/1396552/97383277-9eecff80-18a3-11eb-8ac3-1c9d160ea4be.png)

Here are the specs for the font color and size:

<img width="921" alt="Screen Shot 2020-10-27 at 10 25 25 PM" src="https://user-images.githubusercontent.com/1396552/97383293

[2020-10-28 16:52] Gio2018 opened #15182 "Today Widget - Adjust baseline above the thousands separator"
### Expected behavior

Ideally, descenders like the thousands separator should encroach into the space below

### Actual behavior

at the moment, the baseline of the view is set right below the descenders. There are ways to adjust it, but we need to make sure that the adjustment works with any locale and format.

See image below that compares the actual (on the left) with the design (on the right)

[2020-10-28 17:50] ScoutHarris commented on #15178
Ah, ok, thanks @mattmiklic !

[2020-10-28 18:54] startuptester opened #15184 "When editing a post, loading a version from another device fails to load video"
### Expected behavior
All blocks should load properly when editing from another device

### Actual behavior
If I add a video block to a post and then view it in preview on another device, I will get this message when I return to the app to edit:
![image](https://user-images.githubusercontent.com/66104034/97482459-cda6bc80-191b-11eb-8692-d0c0b120c0f3.png)
If I select, “From this device”, everything

[2020-10-29 13:27] diegoreymendez opened #15187 "Crash in iOS 14 when using Bulgarian or Icelandic keyboards."
# Description

The App is crashing when focusing a text field using the Bulgarian or Icelandic keyboards.

Reference: p4a5px-2F1-p2

# Crash reproduction

## Prerequisites

- Make sure your device is running iOS 14.
- Make sure you're logged out before running this test.  It's not specific to the login flow but the steps below use the login flow.

## Steps

1. Add the Bulgarian or Icelandic langua

[2020-10-29 15:38] bjtitus commented on #15187
Hey @diegoreymendez, I've been following along with this from Slack since it sounded so crazy!

I think you also need to set one of these languages as the top preferred language also. If English is the preferred language it was not crashing for me.

<img width="374" alt="Screen Shot 2020-10-29 at 9 39 26 AM" src="https://user-images.githubusercontent.com/3250/97596770-b07cf700-19ca-11eb-9f78-786f1

[2020-10-29 16:38] diegoreymendez commented on #15187
Thanks @bjtitus - I wrongly tried to simplify the testing steps without properly testing them, my bad.  I actually tested this issue by adding the language as you rightly mentioned.

I'm updating the description.

[2020-10-29 16:51] diegoreymendez commented on #15187
@frosty, @ScoutHarris - I added a very small project showcasing this issue, with validations steps, and a testable workaround.  It's not necessary to check it out but it can give some interesting context around this issue.

It's available here:

https://github.com/diegoreymendez/BulgarianKeyboardCrash

The repo's readme file contains all necessary instructions.

[2020-10-29 18:28] ScoutHarris commented on #15157
Fixed with https://github.com/wordpress-mobile/WordPress-iOS/pull/15186

[2020-10-29 20:50] emilylaguna opened #15190 "Jetpack Section: Scan"
Project: https://github.com/wordpress-mobile/WordPress-iOS/issues/15193

Add ability to start scans, see status, and manage threats.

<img width="1785" alt="Screen Shot 2020-10-29 at 4 48 36 PM" src="https://user-images.githubusercontent.com/793774/97630930-7a9d3a00-19ed-11eb-85e7-86bd7df7acb5.png">

## Tasks

#### Network
- [x] Create a new remote service for the scanning APIs: https://github.com

[2020-10-29 20:50] emilylaguna opened #15191 "Jetpack Section: Backup and Restore detail"
Project: https://github.com/wordpress-mobile/WordPress-iOS/issues/15193

![Screen Shot 2021-01-04 at 13 19 42](https://user-images.githubusercontent.com/6711616/103500816-901c5d80-4e8f-11eb-9cc8-183cd005459b.png)

## Tasks

#### Network
- [x] Add endpoints (https://github.com/wordpress-mobile/WordPressKit-iOS/pull/321)

#### General
- [x] Replace occurrences of Rewind with Restore to be inline wit

[2020-10-29 20:50] emilylaguna opened #15192 "Jetpack Section: Activity Log"
Project: https://github.com/wordpress-mobile/WordPress-iOS/issues/15193

<img width="1779" alt="Screen Shot 2020-10-29 at 4 46 03 PM" src="https://user-images.githubusercontent.com/793774/97630636-1c705700-19ed-11eb-95c6-10ada417ea8c.png">

## Designs
Coming Soon.

## Tasks
#### Network
- [x] Update endpoints to support the new query parameters (https://github.com/wordpress-mobile/WordPressKit-iOS

[2020-10-29 20:51] emilylaguna opened #15193 "Jetpack Section: Project Issue"
This is the main project issue for the Jetpack Section project

### Tasks
- [x] Jetpack My Site Menu Improvements: https://github.com/wordpress-mobile/WordPress-iOS/issues/15275
- [x] Activity Log Filters: https://github.com/wordpress-mobile/WordPress-iOS/issues/15192
- [x] Download Backup/Restore: https://github.com/wordpress-mobile/WordPress-iOS/issues/15191
- [x] Scan: https://github.com/wordpr

[2020-10-30 11:07] hypest commented on #15165
👋 @guarani , can you have a look here regarding the Gutenberg Integration side of things and share a quick assessment of how many warnings are related to Gutenberg and what do you think the effort/difficulty will be to address them? Asking so we can plan to address them. Thanks!

[2020-10-30 13:05] #15187 closed, assigned to diegoreymendez

[2020-10-30 13:55] rezzap commented on #15173
There's another ticket here, though I'm not sure if they have the same issue:

3450881-zen

[2020-10-30 16:36] ScoutHarris commented on #15159
Fixed with https://github.com/wordpress-mobile/WordPress-iOS/pull/15194.

[2020-10-30 16:36] #15159 closed, assigned to ScoutHarris

[2020-10-30 17:11] guarani commented on #15165
We have lots of Pods that need their deployment target updated, e.g.:
[code]
some are forks, some are Gutenberg RN pods, others are regular pods. While we could [fix this in the `Podfile`](https://stackoverflow.com/a/58367269/1305067), the best solution might be to look for new versions of affected Pods (and update our forks).

[2020-10-30 17:18] guarani commented on #15165
Another warning we've been seeing a lot lately (not directly related to Gutenberg) relates to Core Data:
[code]
the fix involves updating the `.xcdatamodel` to use `NSSecureUnarchiveFromDataTransformer`:
[code]

Also, as @danielebogo pointed out offline, custom types have to have a custom ValueTransformer (and all your entities must conform to `NSSecureCoding`).
And as @leandroalonso said offline,

[2020-10-30 21:28] ScoutHarris commented on #15158
Hey @Gio2018 .

One thing I remembered while working on https://github.com/wordpress-mobile/WordPress-iOS/pull/15198.

The widget tracks don't appear in the Xcode console. However, they do appear in the Tracks Live View. For example, if you search for an existing widget's Event Name, you'll see the results. You can verify the new widget's tracking the same way.

[2020-11-02 10:58] frosty commented on #15165
FYI we have separate issues for both of these items:

- [CocoaPods deployment targets](https://github.com/wordpress-mobile/WordPress-iOS/issues/15164)
- [Core Data transformers](https://github.com/wordpress-mobile/WordPress-iOS/issues/15167)

[2020-11-02 10:59] frosty commented on #15165
I don't think changing older models is a good idea... once they're released, they should generally be left alone. I don't think potentially having some warnings during tests is an issue.

[2020-11-02 13:51] guarani commented on #15165
Good to know! Hadn't looked for an issue.

[2020-11-02 16:49] jkmassel commented on #11849
16.1 out-of-date dependencies:

[code]

[2020-11-02 17:48] bummytime commented on #14695
**Nov 2nd, 2020 Update:** @mzorz emailed Zendesk about this and they replied that having a minimum character limit is **not** possible with any version of the Zendesk SDK.

@designsimply I am assuming so, but not sure. 😄 So since there's no way to see _any_ text the user entered on the app side, this would be our only option.

cc @msilbers @ScoutHarris

[2020-11-02 18:55] bummytime commented on #14695
After a quick chat with @elibud, we decided to close this issue since nothing can happen on the app side. Please re-open if this situation changes.

[2020-11-02 18:55] #14695 closed

[2020-11-03 14:40] #15073 closed, assigned to mindgraffiti

[2020-11-03 16:32] mindgraffiti commented on #12881
Confirmed fixed: https://d.pr/v/kGqprl. Tested on iPhone 11 Pro, iOS 13.7, WPiOS 16.1 (DEV).

[2020-11-03 16:32] #12881 closed

[2020-11-03 17:10] #12374 closed

[2020-11-03 17:36] designsimply commented on #14695
Thank you everyone for following up on this one. Even though we couldn't fix it, it's helpful to have checked on it and to have this documented!

[2020-11-03 18:19] ScoutHarris commented on #12162
This view was replaced with the [new Login Epilogue](https://github.com/wordpress-mobile/WordPress-iOS/issues/13413), which resolved this issue.

[2020-11-03 18:19] #12162 closed

[2020-11-03 18:29] ScoutHarris commented on #10843
The News Card has been removed.

[2020-11-03 18:29] #10843 closed

[2020-11-03 18:49] ScoutHarris commented on #13550
Cannot reproduce.

[2020-11-03 18:49] #13550 closed

[2020-11-03 19:01] ScoutHarris commented on #13972
The nav bar "+" has been replaced with the FAB.

[2020-11-03 19:01] #13972 closed

[2020-11-03 22:02] #15165 closed, assigned to Gio2018

[2020-11-03 22:54] #15103 closed, assigned to Gio2018

[2020-11-04 11:28] #15164 closed, assigned to frosty

[2020-11-04 17:23] rachelmcr commented on #11759
Closing this issue since we're using mocked data to always log in with the same user, and don't have plans to change that. We can always revisit this later on if that changes.

[2020-11-04 17:23] #11759 closed

[2020-11-04 18:21] ScoutHarris opened #15216 "Menus: detail view is cut off on iPhone split view"
### Expected behavior
The view should be sized properly in split view.

### Actual behavior
The left side of the view is cut off in split view.

### Steps to reproduce the behavior
On an iPhone with split view (ex: iPhone 11 Pro Max) go to Site > Menu. Rotate the device. Notice the detail view is cut off.

![Simulator Screen Shot - iPhone 11 Pro Max - 2020-11-04 at 11 09 11](https://user-images.gi

[2020-11-04 19:35] #14080 closed

[2020-11-05 00:01] ScoutHarris commented on #10619
The Reader has been refactored, and `Discover` is now translated.

| ![discover_english](https://user-images.githubusercontent.com/1816888/98180891-55ae3880-1ebf-11eb-8156-fb6ebb2c264f.jpg) | ![discover_spanish](https://user-images.githubusercontent.com/1816888/98180906-5c3cb000-1ebf-11eb-9430-1671ce676f23.jpg) |
|--------|-------|

[2020-11-05 00:01] #10619 closed

[2020-11-05 00:04] ScoutHarris commented on #10620
Hey @ctarda . It looks like this was resolved with the Reader refactor. Discover now looks like this:

| ![discover_english](https://user-images.githubusercontent.com/1816888/98180891-55ae3880-1ebf-11eb-8156-fb6ebb2c264f.jpg) | ![discover_spanish](https://user-images.githubusercontent.com/1816888/98180906-5c3cb000-1ebf-11eb-9430-1671ce676f23.jpg) |
|--------|-------|

If you disagree, feel free to

[2020-11-05 00:04] #10620 closed

[2020-11-05 01:33] guarani opened #15224 "Editor-related UI tests failing"
### Expected behavior

Editor-related UI tests are failing. The issues appear to be related to the `testTextPostPublish` and `testBasicPostPublish` tests.

### Actual behavior

UI tests should pass

### Steps to reproduce the behavior

1. If testing locally, run `rake mock` and then run UI tests from Xcode (see [here](https://github.com/wordpress-mobile/WordPress-iOS/blob/develop/WordPress/WordPre

[2020-11-05 18:02] #8224 closed

[2020-11-05 20:05] mindgraffiti commented on #15094
I haven't found much of anything so far. I checked out [this hint](https://github.com/wordpress-mobile/WordPress-iOS/issues/12669#issuecomment-568551056) from a previous EXC_BREAKPOINT crash. There are no implicitly unwrapped optionals when moving from `WordPressAuthenticator.showLogin` to the `LoginPrologueViewController.viewWillTransition` method. And an `untouchable view controller` didn't net

[2020-11-05 21:01] mindgraffiti opened #15229 "App Size Reduction: Country flag icons"
Ref. paNNhX-1H-p2

As part of our app size reduction efforts, create an API request to `/sites/$site/stats/country-views/`. [Docs](https://developer.wordpress.com/docs/api/1.1/get/sites/%24site/stats/country-views/). The response body contains a key, `country-info`, which links to stylized flag icons and flat icons. The icons are PNG format. Pass the size parameter to scale the PNG.

- [ ] Add API

[2020-11-06 00:24] ScoutHarris commented on #15094
I coudn't repro this, and like @mindgraffiti I didn't find anything that screamed "I'm going to crash!". But after some poking around, I think I found a possible issue.

The app was crashing on this line:
`buttonViewLeadingConstraint.constant = defaultButtonViewMargin`

That led me to believe that assuming the button view constraints actually exist might be a bad thing. So I've made the constraint

[2020-11-06 01:47] jmcme1992 opened #15233 "WordPress"

[2020-11-06 17:17] jkmassel opened #15237 "EXC_BREAKPOINT: account > blog > initWithManagedObjectContext:"
**Sentry Url**: https://sentry.io/share/issue/dc2b672c44de401da95506aebb49354f/
**User Count**: 115
**Count**: 199
**First Release**: 16.0.0.2
**First Seen**: 2020-10-24T12:41:42Z
**Last Seen**: 2020-11-06T17:05:12Z
**24 Hours**: 78
**30 Days**: 200
**LogID:** 8C241806-056A-453E-A7AB-ABF4C2820140

[code]

[2020-11-06 17:18] jkmassel opened #15238 "EXC_BREAKPOINT: account > blog > initWithManagedObjectContext: > sharedInstance"
**Sentry Url**: https://sentry.io/share/issue/aacb3ad1dcc14e3cb9ffc9fb49e74cd2/
**User Count**: 1827
**Count**: 3031
**First Release**: 15.9.0.1
**First Seen**: 2020-10-13T06:48:50Z
**Last Seen**: 2020-11-06T16:00:46Z
**24 Hours**: 123
**30 Days**: 2984
**LogID:** 9E7A7E30-EA6C-46B5-A42E-FA1F92E112FA

[code]

[2020-11-06 17:18] jkmassel commented on #15238
This may be the same issue as #15237

[2020-11-06 17:19] jkmassel opened #15239 "EXC_BREAKPOINT: _existingView > countByEnumeratingWithState:objects:count: > frame > horizontalSizeClass > sizeFo..."
**Sentry Url**: https://sentry.io/share/issue/4feb8eb70a0d451b9271b365aa050a28/
**User Count**: 0
**Count**: 856
**First Release**: 15.8.0.2
**First Seen**: 2020-10-07T04:26:10Z
**Last Seen**: 2020-11-06T14:48:05Z
**24 Hours**: 12
**30 Days**: 779
**LogID:** 36CA1FED-A1BD-4744-AE63-F1D55E5F0330

[code]

[2020-11-06 17:20] jkmassel opened #15240 "EXC_BREAKPOINT: initWithManagedObjectContext:"
**Sentry Url**: https://sentry.io/share/issue/ab3f3820cc104070aa2548d5c064c2cf/
**User Count**: 185
**Count**: 290
**First Release**: 15.9.0.2
**First Seen**: 2020-10-19T19:57:40Z
**Last Seen**: 2020-11-06T16:53:26Z
**24 Hours**: 43
**30 Days**: 295
**LogID:** FEA5FB7F-0C4F-418F-BD24-B00E86C800A7

[code]

[2020-11-06 17:21] jkmassel commented on #15240
It looks like this is a typical Core Data crash, but only applies to iOS 14.2, which doesn't have debug symbols yet. For this reason, the stack trace in Apple's frameworks isn't symbolicated, so I think this _might_ be a duplicate – if so, the events on it will drop to zero once Sentry has iOS 14.2 debug symbols.

[2020-11-06 17:22] jkmassel opened #15241 "NSInternalInconsistencyException: Attempted to perform update with invalid index path: <NSIndexPath: 0x283abc7c0> {length = 2, path..."
**Sentry Url**: https://sentry.io/share/issue/9a816872f06d407087e0b7fc4f59850b/
**User Count**: 103
**Count**: 177
**First Release**: 16.0.0.20201020
**First Seen**: 2020-10-21T21:27:54Z
**Last Seen**: 2020-11-06T16:18:39Z
**24 Hours**: 47
**30 Days**: 176
**LogID:** F7A1F624-520B-4E81-9760-D543EBD858B1

[code]

[2020-11-06 17:23] jkmassel opened #15242 "C++ Exception: __NSCFConstantString"
**Sentry Url**: https://sentry.io/share/issue/5562d24d0206485899f420ba523e33f4/
**User Count**: 150
**Count**: 218
**First Release**: 15.3.0.3
**First Seen**: 2020-08-23T22:34:52Z
**Last Seen**: 2020-11-06T11:17:09Z
**24 Hours**: 1
**30 Days**: 215
**LogID:** FE17B01E-0629-47E7-865C-D8364F165E82

[code]

[2020-11-06 17:24] jkmassel commented on #15242
This looks like a crash in React Native on a background thread.

[2020-11-06 18:05] #15233 closed, assigned to nobody

[2020-11-06 18:07] ScoutHarris commented on #15239
This is the same as https://github.com/wordpress-mobile/WordPress-iOS/issues/15094. Closing as dupe.

[2020-11-06 18:07] #15239 closed, assigned to nobody

[2020-11-06 18:17] #15224 closed, assigned to guarani

[2020-11-06 19:45] #10104 closed

[2020-11-06 20:30] #15094 closed, assigned to ScoutHarris

[2020-11-06 20:46] startuptester opened #15246 "Crash when Opening App from a Notification in 16.1 beta"
### Expected behavior
The app should open when you tap on a notification in iOS 14 (only on TestFlight build)

### Actual behavior
Crash

### Steps to reproduce the behavior
Open app from a notification in iOS 14 on the TestFlight 16.1 beta

[code]

##### Tested on iPhone 11, iOS 14.2, WPiOS 16.1 (16.1.0.1)

[2020-11-06 21:19] ScoutHarris commented on #13417
This was addressed in the Unified Auth project.

[2020-11-06 21:19] #13417 closed

[2020-11-06 21:26] ScoutHarris commented on #13217
This has been resolved. A loading indicator and a No Results View is now displayed.

![File](https://user-images.githubusercontent.com/1816888/98416274-00e3fc80-203c-11eb-8291-46e74e1948dc.jpg)

[2020-11-06 21:26] #13217 closed

[2020-11-06 21:29] ScoutHarris commented on #13090
This was addressed with the [new](https://github.com/wordpress-mobile/WordPress-iOS/issues/13413) Login Epilogue.

[2020-11-06 21:29] #13090 closed

[2020-11-06 21:40] ScoutHarris commented on #11978
Fixed with https://github.com/wordpress-mobile/WordPress-iOS/pull/12086.

[2020-11-06 21:40] #11978 closed

[2020-11-06 21:41] #11782 closed

[2020-11-06 22:35] ScoutHarris commented on #10618
The News Card has been removed.

[2020-11-06 22:35] #10618 closed

[2020-11-06 22:40] mindgraffiti commented on #11645
Relevant Stack Overflow: https://stackoverflow.com/a/52174457. iOS 13 and below will need special links (`tel:` `mailto:` `facetime:`) handled.

~Interestingly, it works in iOS 14, WPiOS 16.1, with no changes.~ (only in certain places).

[2020-11-09 05:32] reginabally opened #15255 "Screen flickers when creating new post and freezes when adding a picture"
Reported in the app review:

##### Reported on iPhone XS and iPad Pro 9.7, WPiOS 16.0

Unable to reproduce this on iPhone SE, iOS 14.1, WPiOS 16.0 so I've requested the user to reach out to us.

Date of review: Nov 6, 2020

[2020-11-09 05:44] ctarda opened #15256 "My site: Unable to select first blog in list of My Sites"
The first (top) site in the list of sites in the My Sites tab does not react to taps.

<Img src="https://user-images.githubusercontent.com/2722505/98504250-7eed1100-2291-11eb-8142-7bd42490df39.gif" width="350"/>

### Expected behavior
I should be able to select the first (top) site in the list of sites.

### Actual behavior
I can not select the first site in the list of sites. Other sites can be s

[2020-11-09 17:15] #10855 closed

[2020-11-09 17:34] tarunvijwani commented on #14967
@aerych Sorry for the late response.

No, you have already followed all the steps to reproduce the issue.

No, the posts never appeared for me in the iOS reader. However, it is working fine on Android and web browser.

[2020-11-09 17:54] ScoutHarris commented on #15157
For localizations, I had first [shared](https://github.com/wordpress-mobile/WordPress-iOS/pull/15186) WP's `Localizable.strings` with the widget. It worked, except it increases the bundle size too much. So I [reverted](https://github.com/wordpress-mobile/WordPress-iOS/pull/15260) it. Unless/until @wordpress-mobile/platform-9 comes up with a better solution, the translations from the existing [Toda

[2020-11-09 19:28] #14205 closed

[2020-11-10 04:56] yaelirub commented on #15241
This seems like CoreData issue. Medium priority per version

[2020-11-10 05:01] yaelirub commented on #15238
I agree. Closing as a duplicate

[2020-11-10 05:03] yaelirub commented on #15238
Actually I'll close #15237 as this log the correct earlier version

[2020-11-10 05:04] yaelirub commented on #15237
Closing as duplicate

[2020-11-10 05:04] #15237 closed, assigned to nobody

[2020-11-10 05:12] yaelirub commented on #15238
High priority per version and affected numbers.
@Gio2018, would you mind taking a look since you it looks related to the work on `BlogDetailHeaderView.toggleSpotlightOnSiteIcon` ?

[2020-11-10 15:41] mindgraffiti opened #15263 "P2: Modify navigation items for P2 sites"
**Free P2 sites:**
- [x] Hide the Activity Log, Plans, Themes (https://github.com/wordpress-mobile/WordPress-iOS/pull/15268)
- [ ] ~~TBD: hide wp-admin~~

Note: wp-admin is already hidden in Blog Details in [`shouldDisplayLinkToWPAdmin`]((https://github.com/wordpress-mobile/WordPress-iOS/blob/ab76b2eec0099c221cd903a745fa50c81ad8eb46/WordPress/Classes/ViewRelated/Blog/Blog%20Details/BlogDetailsView

[2020-11-10 15:43] mindgraffiti opened #15264 "P2: Add branding"
Ref. pbArwn-1p9-p2#comment-2019

As part of P2 improvements, we should add the P2 logo as the default blavatar image for all sites marked as `is_wpforteams_site`

It looks like this on the web:
<img width="102" alt="Screen Shot 2020-11-20 at 8 21 46 AM" src="https://user-images.githubusercontent.com/1062444/99810523-74d8d700-2b09-11eb-925a-9e3bf58e5c45.png">

Mobile design:
[p2-icon.pdf](https://g

[2020-11-10 15:48] mindgraffiti commented on #14875
Android equivalent: https://github.com/wordpress-mobile/WordPress-Android/issues/12934

[2020-11-10 16:07] Gio2018 commented on #15238
Sure!!

[2020-11-10 17:52] rachelmcr opened #15265 "UI Tests: Status bar override cuts off first character of date and time"
As noted in https://github.com/wordpress-mobile/WordPress-iOS/pull/15108#pullrequestreview-510827441 there's a problem with the status bar override we do in the UI tests (for screenshots).

The `override_status_bar` setting used when generating screenshots should set the simulator date/time to `9:41 AM Tue Jan 9` but it shows `:41 AM ue Jan 9` instead:

<img width="1366" alt="iPad Pro (12 9-inch)

[2020-11-10 21:17] eduardozulian opened #15266 "View link: sharing a link to the post displays a preview URL instead of the public one"
When you click on the `View` button on published posts is bringing the preview link (ending with ?preview=true) instead of the correct link to the blog post.

### Expected behavior

The actual link to the published post. In my case, `https://eduardoistesting.blog/2020/10/18/testing-the-form-block/`

### Actual behavior

I got a Preview link to `https://eduardoistesting.wordpress.com/2020/10/18/tes

[2020-11-10 21:23] scottlee commented on #9118
I'm still experiencing this issue. Steps to reproduce are the same as mentioned above.

Did a fresh self-hosted install on a VPS, not customizations just to test.
WP: 5.5.3
Jetpack: 9.1
iOS: 14.1
WP app: 16.0

[2020-11-10 21:30] eduardozulian commented on #15266
Now I’m wondering if this is not the expected behavior on newer versions of the app. In this case, if the user really wants to share their public link, they should go to More > Share instead.

[2020-11-10 21:46] jkmassel commented on #15265
This _may_ be fixed in Xcode 12.2 – the release version should drop within a couple of days, so we can check then 🙂

[2020-11-10 22:16] scottlee commented on #9070
This is similar to #9118?

[2020-11-11 00:32] bjtitus opened #15269 "Integrate Stories Editor with Gutenberg"
Connect the Gutenberg editor to the Story editor by allowing Stories in posts to be edited.

[2020-11-11 01:44] momo-ozawa commented on #11645
Another report in 3479618-zen on version 16.0 / iOS 14.1 for a `mailto:` link.

[2020-11-11 16:55] mindgraffiti commented on #14883
Hey @startuptester 👋

Can you clarify the Steps to Reproduce?

This seems fixed in https://github.com/wordpress-mobile/WordPress-iOS/pull/14702. I can see the follow / unfollow button in our latest beta, 16.1.

I tested under two cases and verified the issue was fixed:

**Test Case 1**
1. Navigate to Reader tab
2. Select Automattic in carousel
3. Find a post from a known old p2
4. Tap the post's c

[2020-11-11 17:22] mindgraffiti opened #15273 "P2: Support Follow / Unfollow conversations button on DotCom and Jetpack sites"
Background: https://github.com/wordpress-mobile/WordPress-iOS/issues/14883

~As an early adopter of P2s, I want to follow and unfollow conversations for internal P2s, wherever in the Reader that I happen to find them.~

Ref. pbArwn-1n5-p2

Enable the "Follow Conversation" feature for all DotCom and Jetpack-connected sites. This feature does not exist for external (self-hosted, no Jetpack) sites.

[2020-11-11 18:47] msilbers commented on #15266
I just wanted to note that this is a bigger issue than just the preview parameter being added, as it also doesn't use the site's custom domain that way. Preview links use the underlying subdomain/site address

[2020-11-11 19:14] emilylaguna opened #15275 "Jetpack Section: My Site Menu Improvements"
Project: #15193

### Tasks
- [x] Add a new value to `BlogDetailsSectionCategory` enum
- [x] Create a new `BlogDetailsSection` object for the Jetpack section grouping
- [x] Create a new `BlogDetailsRow` object for the new Jetpack `Settings` action
- [x] Add action to the row that creates and pushes to a new settings screen with 2 rows : Security and Manage connection
- [x] Check if this change effe

[2020-11-11 19:39] megsfulton opened #15276 "Stories: Update button in intro to stories page"
The pink "create story" button on the Introducing Stories sheet looks larger than buttons used elsewhere in the iOS app

Could we use the same button styling that appears on the "Choose a layout" sheet for pages just in pink?

<img width="645" alt="Screen Shot 2020-11-11 at 11 38 14 AM" src="https://user-images.githubusercontent.com/161697/98856433-63f5da80-2412-11eb-9eac-2a9571384183.png">

[2020-11-11 19:41] megsfulton opened #15277 "Stories: Intro to Stories screen, add spacing between title and body text"
Can we add some spacing between the titles (ex: Now Stories are for everyone) and the body text (ex: Combine photos...)?

<img width="326" alt="Screen Shot 2020-11-11 at 11 40 35 AM" src="https://user-images.githubusercontent.com/161697/98856652-b9ca8280-2412-11eb-8dd0-bc89a2086ebf.png">

[2020-11-11 19:46] megsfulton opened #15278 "Stories: Change the"Post draft uploaded" notification"
After publishing a story, a snackbar notification is shown that says "Post draft uploaded" with a Publish call to action.

<img width="325" alt="Screen Shot 2020-11-11 at 11 42 38 AM" src="https://user-images.githubusercontent.com/161697/98856916-234a9100-2413-11eb-8b43-89e024018ced.png">

Could we update this notification to reflect the state of the post? Maybe:

Uploading post
Post title
(with n

[2020-11-11 20:03] megsfulton opened #15279 "Stories: remove "New" badge after the user has seen it X number of times"
In the create sheet, we should create a condition so the new badge is only shown a certain number of times. I'm not sure what the limit for that should be.

Maybe 3 times? Open to suggestions / other thoughts.

[2020-11-11 20:20] megsfulton opened #15280 "Stories: slides exported out of order"
In this story: https://wpstoriesdemo.mystagingwebsite.com/2020/11/11/random-extra-long-story-title-so-very-long-long-long-long-long/

The order in the editor was:
1 - dog photo (captured with camera in app)
2 - bird video (photo library)
3 - bird photo (photo library)
4 - cat photo (photo library)

The export order ended up being:
1 - cat photo
2 - dog photo
3 - bird video
4 - bird photo

[2020-11-11 22:22] edequalsawesome commented on #15266
Also seeing the same behavior in WPiOS 16.1 beta on my iOS 14.2 device -- if there's any other information I can provide, let me know!

[2020-11-12 00:33] ScoutHarris commented on #14875
Hey @mbshakti .

A couple of questions please.

1. To be clear, do you want to show the author any time a P2 card is displayed in any Reader feed (`Following`, `Likes`, etc.)? Or just when `Automattic` is selected?

2. On cross-post cards, the author avatar is on top of the site icon. Can we make the P2 card the same for consistency?

<img width="404" alt="Screen Shot 2020-11-11 at 5 26 14 PM" src

[2020-11-12 14:10] mindgraffiti commented on #14875
@mbshakti if there is a Figma link, would you DM that to us as well?

[2020-11-12 15:32] mbshakti commented on #14875
Hey @ScoutHarris

Yes, anywhere the card is displayed (likes/saved). AFAIK, we don't show P2 content on "following", right? Isn't "following" only reserved for non-P2 sites?

Good catch! yes, let's do that.

[2020-11-12 15:33] mbshakti commented on #14875
@mindgraffiti I will put this together on Figma and share it by EOD today or tomorrow. Does that work?

[2020-11-12 17:56] ScoutHarris commented on #14875
Thanks @mbshakti !

I see now. I believe you are correct - the _new_ P2s do not appear in Following.

[2020-11-12 18:13] mindgraffiti commented on #14875
@mbshakti sounds good. Thank you!

[2020-11-12 18:59] #15263 closed, assigned to nobody

[2020-11-12 20:49] ScoutHarris commented on #14875
Hey @mbshakti . I'm wondering why we're removing the URL. It seems like a handy piece of information to see, just like any other site card. I don't suppose we could leave it? FWIW, the "time ago" is already being displayed, and there is enough room for both.

<img width="433" alt="Screen Shot 2020-11-12 at 1 48 12 PM" src="https://user-images.githubusercontent.com/1816888/98994968-e6070180-24ed-11

[2020-11-13 00:13] ScoutHarris commented on #14875
Hey @mbshakti .

Another thing to note. All the Reader avatars have borders on them. I assume this is so avatars that are not perfectly round and color-filled look better. Like Simplenote and Puffin:

<img width="63" alt="simplenote" src="https://user-images.githubusercontent.com/1816888/99011794-1e1c3d80-250a-11eb-8eb8-e7c33162a70d.png">
<img width="85" alt="puffin" src="https://user-images.githu

[2020-11-13 00:32] aerych opened #15285 "Reader Comments: Comment cell can sometimes show an mismatched avatar"
We've received a report and an example of a reader comment cell showing a mismatched avatar.  See p1605192953097200-slack-wpmobile.  Per the report it was not able to be reproduced.

One theory is this is an edge case where a cell is being reused while there is an inflight image download that, when complete, replaces a correct image that had been previously retrieved from the image cache.

### Ste

[2020-11-13 03:21] bjtitus commented on #15280
This should be fixed in build 37660.

[2020-11-13 04:45] happychait commented on #15266
A customer report in 12134877-hc

[2020-11-13 10:55] rezzap commented on #15266
There was another use report in 25609324-hc and I was able to replicate the issue myself on iOS 16.0.

[2020-11-13 13:02] guarani commented on #15266
I also reproduced this on WPiOS 16.0.

Good point! Apart from the lack of custom domain and presence of `preview=true` at the end of the URL in 16.0, it's also missing:
- Twitter, Facebook and WordPress Like buttons
- related posts

| 15.9 | 16.0 |
| - | - |
| <img src="https://user-images.githubusercontent.com/1898325/99074651-edceb080-2596-11eb-9e41-b961f7d9d16d.jpg" alt="screenshot of 15.9 show

[2020-11-13 16:14] Gio2018 opened #15289 "Today Widget - Add refresh policy"
Widgets will have to refresh data periodically.

From the designs:

"Apple’s suggestion for a similar type of data is to update hourly"

We should then set a configurable update interval, that defaults to 1 hour

[2020-11-13 17:15] mbshakti commented on #14875
One of things we found in research was that new users didn't know where content on the reader was coming from. We included the URL in the postcards to help new users build a mental model that these are posts from websites (hence the URL). With P2, I didn't see it as that important since users of P2 already know what it else etc. And the P2 name on top helps close the gap on knowing which p2 the co

[2020-11-13 17:36] ScoutHarris commented on #14875
@mbshakti and I had a Slack conversation about hiding the URL. To summarize the conclusion: "if we have the space, readers might benefit from the URL. I think we shouldn’t unnecessarily make the postcards inconsistent if they don’t need to be."

So I'll leave the URL. If need be it can be removed later.

[2020-11-13 17:47] designsimply commented on #15266
For reference, a related update was in https://github.com/wordpress-mobile/WordPress-iOS/pull/15061.

I believe it's expected that "Share this" and "Like" options should not show in a Preview (i.e. viewing a change to a post or page from the editor or viewing a draft) but you would expect those options to show in a View such as when tapping View Site and browsing to an individual post or when tapp

[2020-11-13 18:02] mbshakti commented on #14875
@mindgraffiti the figma for this is here https://www.figma.com/file/MhMFkAdCxg7zOMga3ypKGo/P2-Postcards?node-id=0%3A1 - in case I'm using any text styles or colors in the Figma that are different from what's the production, let's lean on what's in production since we want to maintain consistency with the current postcard design :) Feel free to ping me any questions!

[2020-11-13 18:50] emilylaguna opened #15294 "Quick Start: Sharing step is unachievable for Jetpack sites that do not have the Publicize plugin enabled"
<img width="375" alt="Screen Shot 2020-11-13 at 1 45 55 PM" src="https://user-images.githubusercontent.com/793774/99109283-6c2e5100-259d-11eb-8c18-c2c561328c89.png">

### Expected behavior
The Quick Start list should only show steps that can be completed for the current site.

### Actual behavior
For Jetpack sites without the Publicize plugin the Sharing option is not present which means when they

[2020-11-13 19:48] guarani opened #15296 "Commenting inside the View Site screen requires re-authentication for mapped domains"
### Expected behavior

When I visit a site within the app (_Site Screen_ → View Site), I expect to be able to comment on posts/pages. However, if the site has a mapped domain (a.k.a. custom domain), this does not seem possible (or it requires re-authentication).

### Actual behavior

| Un-mapped domain ✅ | Mapped domain ❌ |
| - | - |
| <img src="https://user-images.githubusercontent.com/1898325/99

[2020-11-13 19:50] startuptester opened #15297 "Crash when publishing a post"
### Expected behavior
Post publishes without crash

### Actual behavior
Beta users are experiencing a crash

### Steps to reproduce the behavior
I am not able to reproduce this yet, but this is the crash:
0  WordPress                     	0x0000000104882420 Swift runtime failure: Unexpectedly found nil while implicitly unwrapping an Optional value + 0
1  WordPress                     	0x0000000104

[2020-11-13 20:01] designsimply commented on #15296
/hat tip @inaikem for passing along the report from internal reference 18747941-hc/3483014-zen. 👍

[2020-11-13 21:01] designsimply commented on #14775
@ceyhun I saw https://github.com/wordpress-mobile/WordPress-iOS/pull/15080. Thank you!

Can you let me know what else needs to be done to close out this issue or can we close it now?

[2020-11-13 21:31] startuptester commented on #14883
Thanks @mindgraffiti! I am unable to reproduce this in the latest beta also.

[2020-11-13 21:38] designsimply commented on #15255
Thanks for reporting this @reginabally!

Would you mind having a look at https://github.com/wordpress-mobile/gutenberg-mobile/issues/1696 and let me know if you think that matches with the screen flicker behavior they're describing?

For the image upload problem, I know it's from an App Review but we would still need more info than what I can see here in order to investigate further. I'm sure you

[2020-11-14 01:17] reginabally commented on #15255
Hi @designsimply! Thanks for taking a look at this!

It looks like the user reached out to us at the iOS forums [here](https://ios.forums.wordpress.org/topic/serious-bug-in-ios-app-when-pressing-sign) with the video recording.

I've uploaded the video and this is the link: https://d.pr/v/b7Cbse/UJDpsReWh4

The video was recorded on iPhone XS with IOS 14.1 and GBoard. We're still asking them for mo

[2020-11-14 10:37] rezzap commented on #15296
There is another report of this in 3462155-zen

Issue #1: I can't "like" the posts. When I click "like," on the post, the screen flashes for an instant and then returns to the post I'm trying to "like," but no "like" shows up.

Issue #2: For those same posts, if I try to comment, it doesn't seem to recognize that I'm already logged on to WordPress and asks me to enter my name, email, and website.

[2020-11-14 13:07] rezzap commented on #15296
I believe there is another report of this here: 3486967-zen

Translation from French.

[2020-11-16 09:07] rezzap commented on #15296
Another issue that is linked here, since a viewer is not authenticated in the web view when they click 'visit site' the stats count them as a view. I've replicated this on a Premium plan WordPress.com Public site with a custom domain.

Reported by a few users in 3491046-zen
WordPress.com Personal plan, custom domain.
Public Site

And again in 3490091-zen
WordPress.com Personal plan, custom domain.

[2020-11-16 13:22] guarani commented on #15266
That makes sense, @designsimply — I agree that sharing or liking a preview of a post should not be possible.

I'm not sure it would, although I'm not familiar with that change.

[2020-11-16 14:20] mindgraffiti commented on #14883
Related: pbArwn-1n5-p2. Leaving this ticket open for now, until we know how we should handle the older internal P2s.

[2020-11-16 16:48] rachelmcr commented on #15265
It turns out the issue here isn't Xcode; it's that we're also using `SimulatorStatusMagic`. Removing that resolves the issue with the status bar. I'll have a PR up for that soon!

[2020-11-16 17:45] guarani opened #15304 "Remove suggestions table view IBOutlet from NotificationDetailsViewController"
### Expected behavior

`NotificationDetailsViewController.suggestionsTableView` should be instantiated via code, and not via the storyboard.

### Actual behavior

At the moment, `NotificationDetailsViewController.suggestionsTableView` appears to be instantiated both via the `Notifications.storyboard` storyboard **and** via code:

https://github.com/wordpress-mobile/WordPress-iOS/blob/eb82431172bad

[2020-11-16 18:00] #15289 closed, assigned to Gio2018

[2020-11-16 18:50] mdrockwell commented on #15296
I believe there is another report of this here: 3492126-zd-woothemes

[2020-11-16 19:29] renanferrari commented on #15246
This appears to have been fixed by #15300. Feel free to open this issue again if this is not accurate.

[2020-11-16 19:29] #15246 closed, assigned to jleandroperez

[2020-11-16 20:02] emilylaguna opened #15305 "Prepublishing Nudges Categories: Height of bottom sheet doesn't reset when going back from categories view"
### Expected behavior
The PPN view will always be the correct height

### Actual behavior
The PPN view can become clipped or appear too large

### Steps to reproduce the behavior
#### On a site with 1 or 2 categories:
1. Create a new post
2. Tap the Publish button
3. Tap on the Categories item
4. Swipe down to shrink the bottom sheet
5. Tap back

The bottom sheet will stay "minimized" clipping the

[2020-11-16 20:04] designsimply opened #15306 ""View Site" is not working for private sites with a custom domain or free .blog subdomains"
Steps to reproduce:

1. Set up a site with a domain that does not end in .wordpress.com.
1. Go to My Site > Settings > Privacy and select "Private".
1. Go to My Site > View Site.
1. If you are prompted to log in, try logging in to view the site.

**Result:** private sites with any domain other than *.wordpress.com prompt you to log in but the login loops back and shows the Protected Blog page with

[2020-11-16 20:05] designsimply commented on #15296
I moved this to high priority because we have received several user reports about it.

[2020-11-16 20:16] yaelirub commented on #8641
Wondering if this is related to https://github.com/wordpress-mobile/WordPress-iOS/issues/8641 ?
@designsimply wdyt?

[2020-11-16 20:39] mindgraffiti commented on #11645
These are probably 3 separate classes.

- [ ] Support common link protocols in Reader posts (`ReaderDetailViewController`) #15307
- [ ] Reader > {post} > {more} > Visit (webview) #15310
- [ ] Notifications > tap a link > (webview) #15310

[2020-11-16 21:24] #15275 closed, assigned to emilylaguna, yaelirub

[2020-11-17 01:11] jkmassel commented on #11849
16.2 out-of-date dependencies:

[code]

[2020-11-17 12:19] ceyhun commented on #14775
We can check how the total count progresses after WPiOS 16.1 release and close this accordingly. Maybe @koke can you help with that?

[2020-11-17 13:30] guarani opened #15313 "Site creation preview shows cut-off site header"
### Expected behavior

The preview of a newly created site shouldn't have cut-off sections.

### Actual behavior

After creating a site in the app, the site preview is shown but the top of the site is cut-off.

| <img src="https://user-images.githubusercontent.com/1898325/99396448-84b1aa80-28c0-11eb-81c0-e47838f27cc2.jpg" alt="Screenshot showing cut-off site preview" width="350"> |
| - |

### Step

[2020-11-17 14:34] guarani commented on #15256
I've experienced this too. This is especially annoying when searching for a site and you want to pick the first search result.
A "workaround" is to pull to refresh, and while refresh takes place, tap the first cell 😅.

[2020-11-17 15:17] guarani opened #15314 "No privacy setting shown for Atomic sites"
### Expected behavior

The app should allow the user of an Atomic site to change the site's privacy settings, just like it's done on WordPress for Android.

### Actual behavior

There's no Privacy option shown in Site settings when the site is an Atomic site.

### Steps to reproduce the behavior

1. Log in to the WordPress for iOS app
2. Choose an Atomic site
3. On the Site screen, scroll down to

[2020-11-17 16:09] mindgraffiti commented on #11645
Part 3. Rough outline of steps to reproduce:

0. Make sure your test site sends notifications for new followers on your blog.
1. Have a test site with a Personal Plan (at minimum).
2. Create a new page and add the Payments block.
3. Log in with a test account to be the subscriber.
4. Subscribe to the test site and pay (use a dev testing account).
5. Go to the app > Notifications and open the subsc

[2020-11-17 18:20] mindgraffiti commented on #11645
Part 3.  Notifications > tap a link > (webview) uses the same universal coordinator as Part 2. So the fix is already in place for Part 3.

[2020-11-17 19:14] designsimply commented on #15306
I think https://github.com/wordpress-mobile/WordPress-iOS/issues/15306 might fix this problem. 🤞

[2020-11-17 19:28] designsimply commented on #6327
Still valid! @akirk may I check in with you again about the status of https://github.com/GlotPress/GlotPress-WP/issues/666? I'm asking because this issue is stale, not because it's prioritized. So an update to say it's still in progress is acceptable and that will make it so we put it on hold again but check back in on it in a year if it goes stale again. 🙂

[2020-11-17 21:30] #14875 closed, assigned to ScoutHarris

[2020-11-17 22:06] mindgraffiti commented on #11645
Timeboxed an attempt to test the payments notification. I couldn't successfully receive a masterbar notification using a testing environment. Once this bug is closed, it would be good to follow up with 3385201-zen to see if the link works.

[2020-11-17 22:35] mindgraffiti commented on #14560
No response on 3351551-zen and no further login activity for that user since September 26. As we've had no new reports I suggest we close this one.

[2020-11-18 05:10] reginabally opened #15319 "WordPress app doesn't appear in the iOS share sheet consistently on Safari"
Originally reported in 3488734-zen.

Go back snd try again, it sometimes does show up.

### Expected behavior

I would expect the WordPress app to show up as one of the share options when I tried to share a URL from Safari on iOS.

### Actual behavior

The WordPress app icon appear sometimes in the share sheet, but not consistently.

### Steps to reproduce the behavior

The steps added here are ba

[2020-11-18 11:22] rezzap commented on #15319
The user confirmed using iOS 16.1.

The re-install temporarily revealed the sharing icons.

I was able to replicate this now (previously it showed for me on the same iOS). On iPhone X, iOS 14.1, WPiOS 16.1. After updating my iOS to 14.2, the share icon now shows.

[2020-11-18 12:13] guarani commented on #15256
FWIW, there was recent work on the site list refresher here: https://github.com/wordpress-mobile/WordPress-iOS/pull/15136

[2020-11-18 12:43] #15265 closed, assigned to nobody

[2020-11-18 13:00] diegoreymendez commented on #15256
If you wait long enough, does the cell become tappable again?

That's what I'm seeing here.

[2020-11-18 13:01] guarani commented on #15306
👋 That link should be https://github.com/wordpress-mobile/WordPress-iOS/pull/15309, right? I agree that #15309 should fix this, will check!

[2020-11-18 13:07] guarani commented on #15256
It depends, if I'm searching for a site and there is one search result, this first cell never becomes tappable (I waited ~20 seconds). If I cancel the search, the first cell is still not tappable, and if I then pull to refresh, the first cell becomes tappable again.

[2020-11-18 15:12] #11645 closed

[2020-11-18 17:05] mindgraffiti commented on #9662
One thing to note.
- `copy` is a reserved keyword in iOS. I suggest using `duplicate` everywhere, including in the UI, because that's the term Calypso uses. @osullivanchris wdyt?

[2020-11-18 17:43] mindgraffiti commented on #9662
Implementation hints:

@Gio2018 and I explored some classes related to cloning or copying. There is no duplication helper `PostCoordinator` or `PostService`, but there is one in `AbstractPost`, `- (AbstractPost *)cloneFrom:(AbstractPost *)source`, so that may be of some use.

You might also check out the `reblog` feature, where a new draft post is created and then the fields were added one-by-one

[2020-11-18 18:52] mbshakti opened #15323 "Dark mode UI on "follow" notifications looks unpolished"
### Expected behavior
I expected the one shade of gray/black for the full screen

### Actual behavior

<img src="https://user-images.githubusercontent.com/6350997/99574174-0549d700-29a5-11eb-8c86-a9247e407394.jpg" width="270" alt="Ea3KXDrWsAM8Pn2">

### Steps to reproduce the behavior
Get a follow count notification on dark mode and tap through the notification

##### Tested on [device], iOS [vers

[2020-11-18 19:29] guarani opened #15326 "Reader site viewer is missing post title in navigation bar"
**Note: This issue is not yet present on the 16.0, 16.1, or 16.2 WPiOS versions, it's only present on the current `develop` branch.**

### Expected behavior

When I visit a post in Reader, the modal screen that is shown should display the post title in the navigation bar.

### Actual behavior

When I visit a post in Reader, the post title in the navigation bar is not visible.

The screen recording

[2020-11-18 20:30] elibud commented on #15140
@diegoreymendez @ScoutHarris can you check if this one is fixed as part of the work you are currently doing?

[2020-11-18 20:32] ScoutHarris commented on #15140
Thanks @elibud . Yes, this is exactly what we're fixing. I'll close this when all the PRs are merged.

[2020-11-18 20:40] startuptester commented on #15256
Checked on my iPhone 12 Pro in 16.0, 16.1 and 16.2 (beta)
iOS 14.2

I am able to reproduce this, but I had to open site details for a different site first, then tap "Switch To" and come back to the list in order to trigger the bug. Repeating those steps, it happens 1/10 times and the cell does not become tappable after at least 1 minute.

[2020-11-18 21:01] mindgraffiti commented on #15297
The crash log comes from this issue: https://sentry.io/share/issue/02558ce4c4ee42f6bd3d3936da263663/

And was fixed in this PR: https://github.com/wordpress-mobile/WordPress-iOS/pull/15300

[2020-11-18 21:01] #15297 closed, assigned to nobody

[2020-11-18 21:04] ScoutHarris commented on #15256
Fixed with https://github.com/wordpress-mobile/WordPress-iOS/pull/15320 and https://github.com/wordpress-mobile/WordPress-iOS/pull/15325.

[2020-11-18 21:04] #15256 closed, assigned to ScoutHarris

[2020-11-18 21:04] ScoutHarris commented on #15140
Fixed with https://github.com/wordpress-mobile/WordPress-iOS/pull/15320 and https://github.com/wordpress-mobile/WordPress-iOS/pull/15325.

[2020-11-18 21:04] #15140 closed, assigned to ScoutHarris

[2020-11-18 22:18] startuptester opened #15329 "Activating a theme does not close the preview or disable the "Activate" button"
### Expected behavior
I expect activation to look like something is installing and then the preview to close.

### Actual behavior
1. During activation, there is no user feedback, so I do not actually know anything is happening and I am likely to keep tapping the Activate button. (The video is a bit faster, actual time of seemingly no action is about 7 seconds).
2. It stays open and the Activate b

[2020-11-18 22:32] startuptester opened #15330 "Customize Sidebar heading gets cutoff after scrolling down"
### Expected behavior
Menu to remain in full view

### Actual behavior
https://cloudup.com/c_KaUalFKnV

### Steps to reproduce the behavior

1. In themes, select customize
2. Choose Site Identity
3. Scroll down and up

##### Tested on iPad, iOS 14.2, WPiOS 16.0, 16.2

[2020-11-19 03:45] designsimply commented on #15319
Nice find for that stackoverflow link @reginabally!

Note: we can check this out in a future Groundskeeping as I don't consider it high priority unless we get additional reports. I also checked it out and wasn't able to see the problem using the steps provided. I tested using WPiOS 16.0.0.6 App Store version on iPhone 11 iOS 14.1.

[2020-11-19 04:01] designsimply commented on #15326
Tested and confirmed that I couldn't see this problem in 16.2.20201116 alpha or 16.2.0.0 TestFlight beta.

@emilylaguna is this something we should be concerned about for `develop` or that we should watch out for in 16.3?

[2020-11-19 04:40] designsimply commented on #7261
Still valid. I re-tested this in 16.2 beta testing and found that deactivating Jetpack still removes it from the Site Picker when I'm logged in as the connected WordPress.com account in the app an that I must both re-activate and re-connect the Jetpack site to the same account to get it to appear again. ([1m4s](https://cloudup.com/cHryF9Y6oCU))

![wordpress-ios-7261-7s](https://user-images.githubu

[2020-11-19 04:46] designsimply commented on #7261
@yaelirub this is a stale, low priority issue but it's also not very actionable since there isn't a clear path for exactly what to update to improve the situation. Would you mind having a look and letting me know if this is something you'd like to keep open and explore further to make it actionable or if it would be okay to close as wontfix unless it comes up from users?

[2020-11-19 05:36] jkmassel opened #15331 "NSInternalInconsistencyException: Tried to set <UIBarButtonItem: 0x104b43840> target=0x105330c00 action=didTapMenuButton: image=<UI..."
**Sentry Url**: https://sentry.io/share/issue/a01eba2c7df6405c9d4e4dfc6f4ac9b0/
**User Count**: 342
**Count**: 700
**First Release**: 16.0.0.3
**First Seen**: 2020-10-27T22:44:50Z
**Last Seen**: 2020-11-19T05:35:22Z
**24 Hours**: 45
**30 Days**: 698
**LogID:** 17DFB57D-C021-4F5A-9B80-359B13FFF0F5

[code]

[2020-11-19 05:37] jkmassel opened #15332 "EXC_BREAKPOINT: Exception 6, Code 22148160, Subcode 8"
**Sentry Url**: https://sentry.io/share/issue/c0b7ec4f4e044ae0a22a434200c0fa94/
**User Count**: 5
**Count**: 7
**First Release**: 16.0.0.6
**First Seen**: 2020-11-09T15:25:33Z
**Last Seen**: 2020-11-19T05:31:54Z
**24 Hours**: 1
**30 Days**: 7
**LogID:** EF48F337-EABF-4F6E-BB15-742F3CF664FD

[code]

[2020-11-19 05:38] jkmassel opened #15333 "EXC_BREAKPOINT: bvx2"
**Sentry Url**: https://sentry.io/share/issue/611bd7342e4e4a8882f57ea636958805/
**User Count**: 835
**Count**: 1769
**First Release**: 16.0.0.0
**First Seen**: 2020-10-21T00:25:04Z
**Last Seen**: 2020-11-19T05:31:45Z
**24 Hours**: 172
**30 Days**: 1761
**LogID:** 5E783C30-D0D6-4CD6-848D-3B0272B51D85

[code]

[2020-11-19 05:39] jkmassel opened #15334 "NSInvalidArgumentException: cannot access fetched objects before -performFetch:"
**Sentry Url**: https://sentry.io/share/issue/72a403e40c524643a61091b3a399ca43/
**User Count**: 99
**Count**: 171
**First Release**: 15.3.0.3
**First Seen**: 2020-09-03T15:26:12Z
**Last Seen**: 2020-11-19T05:10:22Z
**24 Hours**: 3
**30 Days**: 87
**LogID:** 0318CFF4-E9B3-47A0-AD56-0F6D832056FE

[code]

[2020-11-19 05:39] jkmassel opened #15335 "NSInvalidArgumentException: *** -[NSRegularExpression enumerateMatchesInString:options:range:usingBlock:]: nil argument"
**Sentry Url**: https://sentry.io/share/issue/b8c196821556411ab4ad369ca15212ad/
**User Count**: 71
**Count**: 148
**First Release**: 15.5.0.3
**First Seen**: 2020-08-31T14:12:07Z
**Last Seen**: 2020-11-19T05:06:58Z
**24 Hours**: 3
**30 Days**: 45
**LogID:** DBF77645-E9E7-45C0-8CF3-40660F28EEDF

[code]

[2020-11-19 05:40] jkmassel opened #15336 "NSInvalidArgumentException: -[UIBarButtonItem bounds]: unrecognized selector sent to instance 0x108522960"
**Sentry Url**: https://sentry.io/share/issue/8d716ba403784433b92767d53341cdb2/
**User Count**: 177
**Count**: 337
**First Release**: 15.3.0.3
**First Seen**: 2020-08-28T05:13:48Z
**Last Seen**: 2020-11-19T04:47:40Z
**24 Hours**: 4
**30 Days**: 123
**LogID:** BB7B96B1-371B-4DC1-831F-06BAC9F84045

[code]

[2020-11-19 05:40] jkmassel opened #15337 "NSInternalInconsistencyException: All view controllers in a navigation controller must be distinct"
**Sentry Url**: https://sentry.io/share/issue/b2cea328234f42d0849166c9fcf6b1eb/
**User Count**: 112
**Count**: 419
**First Release**: 15.8.0.2
**First Seen**: 2020-10-13T07:14:04Z
**Last Seen**: 2020-11-19T04:03:58Z
**24 Hours**: 33
**30 Days**: 411
**LogID:** DD90FEF2-FFDB-4C15-AC38-910EC4BE7E42

[code]

[2020-11-19 05:43] jkmassel opened #15338 "EXC_BREAKPOINT: _existingView > frame > horizontalSizeClass > sizeForChildContentContainer:withParentContainerSiz..."
**Sentry Url**: https://sentry.io/share/issue/9fdd1b49f1de421db6a24bc7d220383c/
**User Count**: 0
**Count**: 242
**First Release**: 16.0.0.6
**First Seen**: 2020-11-04T15:05:48Z
**Last Seen**: 2020-11-19T01:53:37Z
**24 Hours**: 18
**30 Days**: 236
**LogID:** EE8B041D-A763-4662-86A0-F02A392B468B

[code]

[2020-11-19 05:43] jkmassel commented on #15338
https://sentry.io/share/issue/bf7246371a424e3ab5c9b7dfd41ec6e0/ seems like a very similar issue

[2020-11-19 06:26] designsimply commented on #15306
Yes, #15309 🤦‍♀️ thank you!

[2020-11-19 11:11] koke commented on #14775
I'm still seeing some events coming with user_id=0 from 16.1, but it's a bit early to tell if the number has gone down. Maybe we can check again in a week

[2020-11-19 12:33] hypest commented on #15255
Thanks for the report!
@etoledom , can you have a look please to see if you make something out? Thanks!

[2020-11-19 15:09] renanferrari commented on #15338
Hey @ctarda, would you mind looking into this? It seems like you have worked around the area of the codebase that is coming up in the logs and would have the necessary context to better evaluate the issue.

I'm labeling this issue as medium priority ([high severity, low impact](https://github.com/wordpress-mobile/WordPress-Android/blob/develop/docs/issue-triage.md#prioritization)) but feel free to

[2020-11-19 15:14] renanferrari commented on #15337
Hey @ScoutHarris, would you mind looking into this? It seems like you have worked around the area of the codebase that is coming up in the logs and would have the necessary context to better evaluate the issue.

I'm labeling this issue as medium priority ([high severity, low impact](https://github.com/wordpress-mobile/WordPress-iOS/blob/develop/docs/issue-triage.md#prioritization)) but feel free t

[2020-11-19 15:23] renanferrari commented on #15336
This seems to be related to the issue fixed by #15262. @yaelirub Would you mind looking into this and making sure I'm not mistaken?

[2020-11-19 15:24] renanferrari commented on #15336
@jkmassel Btw, the Sentry link seems to be broken for some reason. This is what I see when I open it:

<img width="600" alt="Captura de Tela 2020-11-19 às 12 23 50" src="https://user-images.githubusercontent.com/830056/99686164-173d7f80-2a62-11eb-9b76-5257c96eda1e.png">

[2020-11-19 15:40] yaelirub commented on #7261
Thanks for flagging, @designsimply! Lets leave it open for now

[2020-11-19 15:48] renanferrari commented on #15335
This one is a bit confusing for me, as the logs on Sentry seem to be different from the logs in the description above, even though everything else matches. Based on the Sentry logs, it seems like this is an issue around the `MediaService` class. I found a [similar issue](https://github.com/wordpress-mobile/WordPress-iOS/issues/13741) from a few months ago, but that one seems to be fixed already.

[2020-11-19 16:04] renanferrari commented on #15334
I'm not totally sure about this one, but going by the Sentry logs this seems to be an issue around the `PostListViewController` class.

@bjtitus Would you mind taking a look at this? It seems like you have worked around this area of the codebase recently, so you probably have the necessary context to evaluate this better than me.

I'm labeling this issue as medium priority ([high severity, low imp

[2020-11-19 17:30] diegoreymendez commented on #15335
Sure @renanferrari

[2020-11-19 17:56] renanferrari commented on #15333
I'm not totally sure about this one, but going by the Sentry logs this seems to be an issue around a call to `BlogJetpackSettingsService::syncJetpackSettingsForBlog` inside the `GutenbergViewController` class.

@yaelirub Would you mind taking a look at this? It seems like you have worked around this area of the codebase recently, so you probably have the necessary context to evaluate this better t

[2020-11-19 18:11] renanferrari commented on #15332
Hey @aerych, would you mind looking into this? It seems like you have worked around the area of the codebase that is coming up in the logs and would have the necessary context to better evaluate the issue.

I'm labeling this issue as medium priority ([high severity, low impact](https://github.com/wordpress-mobile/WordPress-iOS/blob/develop/docs/issue-triage.md#prioritization)) but feel free to cha

[2020-11-19 18:14] yaelirub commented on #15336
@renanferrari , though the Sentry link is 404 so I can't look at the details, it does seem like its the same crash we fixed in https://github.com/wordpress-mobile/WordPress-iOS/pull/15262

[2020-11-19 18:21] renanferrari commented on #15331
This seems related to #15336. I'm labeling it as medium priority ([high severity, low impact](https://github.com/wordpress-mobile/WordPress-iOS/blob/develop/docs/issue-triage.md#prioritization)).

[2020-11-19 18:23] renanferrari commented on #15336
@yaelirub Sorry for pinging you again, but you mind looking into #15331 as well? It seems to be related to this one.

I'm labeling this issue as medium priority ([high severity, low impact](https://github.com/wordpress-mobile/WordPress-iOS/blob/develop/docs/issue-triage.md#prioritization)) but feel free to change it as you see fit.

[2020-11-19 18:36] ScoutHarris commented on #15337
Hey @renanferrari .

Split view is used by almost everything on iPad or split view iPhones. Typically, it's not split view itself, but how it's being used. In this case, looking at the breadcrumbs for this issue in Sentry, this is related to Notifications:

[code]

And given it was first seen "a month ago in release 15.8.0.2", it pre-dates my changes. It looks like @leandroalonso did some work wit

[2020-11-19 18:42] ScoutHarris commented on #15338
I attempted to fix this with https://github.com/wordpress-mobile/WordPress-iOS/pull/15232, but maybe that didn't work. I'll take this one.

[2020-11-19 19:02] ScoutHarris commented on #15338
I'm going to close this. The [fix](https://github.com/wordpress-mobile/WordPress-iOS/pull/15232) I implemented in in 16.2. Per this Sentry issue, this was last seen in release 16.0.0.6. If it reoccurs with/after 16.2 I'll take another look.

[2020-11-19 19:02] #15338 closed, assigned to ScoutHarris

[2020-11-19 19:06] guarani commented on #15314
Closing as a duplicate of https://github.com/wordpress-mobile/WordPress-iOS/issues/15090 🤦

[2020-11-19 19:45] guarani opened #15340 "Reader not working for Atomic sites unless user has existing cookies"
### Expected behavior

Attempting to view a post from a private Atomic site should show the post in the reader, just like it is done for posts from other types of sites.

### Actual behavior

Attempting to view a post from a private Atomic site in Reader results in a log in screen.

### Steps to reproduce the behavior

Use a fresh install of the WPiOS app

1. Log in to the app and navigate straigh

[2020-11-19 20:18] mindgraffiti opened #15341 "Reader Comments: missing and outsized emoji"
### Expected behavior
All emoji load, instead of a gray box appearing, and when it loads, it shows up as the correct size.

### Actual behavior
Some emoji show up as a large gray box. Some emoji load but as large blurry photos.

### Steps to reproduce the behavior
1. Navigate to Notifications > "liked your comment" > Comment. The `twemoji` images are too big.
2. Navigate to Reader > Following > ch

[2020-11-19 20:25] guarani opened #15342 "Web views not logged in when visiting Jetpack-connected self-hosted sites"
### Expected behavior

When managing a Jetpack-connected self-hosted site, the app's functionalities which use web views should provide a logged in experience. These functionalities are:

- View Site
- View a Draft or Published Post or Page
- Reader Visit Post

### Actual behavior

Navigating to any of these web views shows the page (except Reader, which seems to not work with this type of site),

[2020-11-19 20:39] ScoutHarris opened #15343 "Reader: Add P2 section"
In the Reader, add a `Followed P2s` section.

Ref. pbArwn-1q7-p2

The WordPress.com Reader:

<img width="279" alt="Screen Shot 2020-11-19 at 1 38 32 PM" src="https://user-images.githubusercontent.com/1816888/99721486-8c15b700-2a6c-11eb-89a1-37a0b97b6db5.png">

---
Tasks:
- [x] Reader: add P2 menu item and stream. [PR #15442]
- [x] Update post topic type from "team" to "organization". [PR #15449]
-

[2020-11-19 20:39] renanferrari commented on #15337
@ScoutHarris Thanks for the help with these issues, really appreciate it! 🙇

[2020-11-19 20:46] aerych opened #15344 "Analytics: Add a flag to identify P2s"
We would like to be able to easily identify [new P2](https://wordpress.com/p2/) sites in tracks events.
Let's update `WPAppAnalytics` to include a `site_type` property anywhere we note a site's blog_id.  If the site is a P2 assign the value "p2", otherwise assign "blog".  In the future this can be extended to other site types, e.g. "store".

Details:
Property name: site_type
Property values: p2, b

[2020-11-19 21:09] emilylaguna commented on #15326
Hey @designsimply, I took a look at this and it looks like it's related to the new navigation bar (all white) that's under a feature flag and is only enabled on develop currently. If you disable that feature flag on develop the issue is not present.

I'll ping @frosty since I believe he worked on that project recently.

[2020-11-19 21:25] startuptester commented on #15319
iPhone 12 Pro, iOS 16.2 beta
I tried this 20 times in Chrome and Safari and wasn't able to reproduce it. Based on that, I agree with @designsimply

[2020-11-19 21:40] #15002 closed, assigned to mindgraffiti

[2020-11-19 21:43] Gio2018 opened #15347 "Today Widget - Fetch stats from backend"
Allow the widget itself to refresh stats from backend periodically.

[2020-11-19 22:05] diegoreymendez commented on #15335
I've [added some logging in WPiOS](https://github.com/wordpress-mobile/WordPress-iOS/pull/15348) as it's really hard to tell what's causing this issue with the info we have in the existing crash log.

[2020-11-19 22:23] startuptester opened #15350 "Quick Start message overlaps + button"
### Expected behavior
The message should not overlap the button.  This has been since the move from that top corner button to a FAB in 16.1.

### Actual behavior

![IMG_1962](https://user-images.githubusercontent.com/66104034/99730581-ec5f2580-2a79-11eb-9894-344cdfade544.PNG)
![IMG_1963](https://user-images.githubusercontent.com/66104034/99730588-eff2ac80-2a79-11eb-83b2-452a152382a7.PNG)

### Step

[2020-11-19 22:31] guarani commented on #15326
Good find @emilylaguna, I was wondering why I saw this issue on a local checkout of 15.9, but it makes total sense now since it's enabled on development builds.

[2020-11-19 22:35] startuptester opened #15351 "Quick Start guidance in the Reader"
### Expected behavior
The Quick Start guidance really doesn't show a user what to do in the Reader or show off the many new improvements.

### Actual behavior
It tells me to follow a site, but doesn't show me how to do that and even after I navigate it myself, the Grow Your Audience > Follow Other Sites steps isn't completed.

https://cloudup.com/cZhOp8vJ-dl

### Steps to reproduce the behavior
1.

[2020-11-20 00:31] aerych opened #15352 "Analytics: Implement new tracks events for comments to fill gaps."
See pbArwn-1oJ-p2 for more background.

We're lacking analytics coverage for Site comments, and need to fill gaps in Notifications and Reader comments. Let's implement the following new tracks events and properties to gain better insight into comments:

_Note: Please update with any corrections or additions in case there is existing coverage that was missed, or anything overlooked._

### Reader
Ad

[2020-11-20 11:20] frosty commented on #15326
Thanks folks, yes this only affects development so far. We'll work on a fix!

[2020-11-20 12:14] leandroalonso commented on #15337
I'll take a look!

[2020-11-20 14:27] mindgraffiti commented on #14883
Closing in favor of #15273.

[2020-11-20 14:27] #14883 closed, assigned to nobody

[2020-11-20 14:30] osullivanchris commented on #9662
that's totally fine with me, @mindgraffiti ! Copy can mean a lot of things. Duplicate sounds more clear and specific.

I hadn't heard of reserved keywords before, that's interesting to know too.

[2020-11-20 14:31] AliSoftware opened #15353 "Fix Localization issue with long key"
TL;DR: One of the L10n keys we use is too long and causes issues with GlotPress. We need to split it in 2

### Context

I'm currently implementing an automated linting of our `.strings` file to detect any inconsistency between the translation of some of our keys across different locales. [Ref: paaHJt-D6-p2]

So far my tool has found existing inconsistencies:

 - Some are because of translators not

[2020-11-20 14:44] mindgraffiti commented on #9662
@osullivanchris a reserved keyword is a word that the programming language already uses for OS-level work. Thankfully, it is rare to have a naming conflict like that. Most Swift keywords are not things you would normally use when naming your feature, such as: enum, for, if, else, subscript, var, const, struct. Think of it like naming your circles 'pixels' in a design, even though pixels are a meas

[2020-11-20 15:00] mindgraffiti opened #15354 "Reader: Add unread counts"
### Project Issue

Ref. pbArwn-1p9-p2#comment-2018

As a user, I want to see the unread counts for posts, comments, and mentions of my username in the Reader section of the app.

- [ ] unread count for posts - https://github.com/wordpress-mobile/WordPress-iOS/issues/15483
- [ ] unread count for comments
- [ ] unread count for mentions

### Context on the web

In the new P2 design, there are unread

[2020-11-20 15:52] mindgraffiti opened #15355 "Reader: Mark posts as seen / unseen"
As a user on mobile, I would like the app to mark a post as seen when I visit it in Reader. I would also like to mark a post as seen / unseen at will, in the "more" menu.

Calypso alignment: Do not release until 16.4 or later.

Tasks:
- [x] Add ability to mark posts seen/unseen. [wordpress-mobile/WordPressKit-iOS/pull/327, wordpress-mobile/WordPressKit-iOS/pull/336, wordpress-mobile/WordPressKit-i

[2020-11-20 15:58] mindgraffiti opened #15356 "P2: Add invite links"
Ref. pbArwn-1uy-p2

As a P2 user, I want the ability to invite others to my P2.

**Accessibility notes**
Don't forget to test the textfields with VoiceOver enabled. Placeholder text can sometimes cause issues with VO.

(Include People Management refactor here.)

### Tasks

Changes to current view:
- [x] View title: change to 'Invite People'. [PR  #15512]
- [x] Role: Add 'Learn more about roles' li

[2020-11-20 16:15] mindgraffiti opened #15357 "Reader: Followed Sites: Mark all as seen"
- [ ] Design TBD.
- [ ] Get clarity on the design
- [x] Discover: what does it mean to "Mark all as seen"? Does that only mark **posts** as seen? Comments? Mentions? - The "Mark as seen" button affects only **post counts.** It does not affect comment counts, nor does it affect mentions.
- [ ] Discover: are we scoping this to "Mark all as seen" for all sites and for a single site?
- [ ] Calypso ali

[2020-11-20 17:41] ScoutHarris commented on #15356
Just leaving this here as something to consider.

#10795 - Invite people: message field doesn't show entire message

Maybe we can address that with the refactor.

[2020-11-20 22:43] aerych commented on #15332
I took a quick peek and it looks like this crash is due to an implicitly unwrapped optional being nil. The patch will probably end up in WordPressKit-iOS rather than here but let's leave this one open for now.  I should be able to loop back to this before the next code freeze. :)

[2020-11-20 23:09] designsimply commented on #15329
Tested and confirmed using WPiOS 16.2.0.0 TestFlight beta on iPhone 11 iOS 14.1.

I noticed the theme _is_ activated but the modal window is not dismissed afterward (the "Activate" link in the overflow menu that triggers a bottomsheet selector works normally though).

[2020-11-21 00:25] startuptester commented on #15330
Able to reproduce this in Safari. Moving to wp-calypso.

[2020-11-21 00:29] startuptester commented on #15341
Sent to groundskeeping

[2020-11-21 00:44] #15330 closed, assigned to nobody

[2020-11-21 02:50] yaelirub commented on #15350
@bjtitus , can you please take a look at this? For a quick fix I recommend we either show the notice higher than the FAB, or reduce the height and font of the notice.

I think I've seen this issue of the notice covering the FAB in other places too so maybe we should think of a different way or style for presenting the instructions

[2020-11-21 02:52] yaelirub commented on #15351
@bjtitus , can you please take a look at this? For a quick fix I recommend we either show the notice higher than the FAB, or reduce the height and font of the notice.

I think I've seen this issue of the notice covering the FAB in other places too so maybe we should think of a different way or style for presenting the instructions

[2020-11-23 08:50] etoledom commented on #15255
I know there have been changes to the bottom-sheet to make it grow and have navigation. @Tug's team sure will have a better insight about what the issue might be and how to solve it.

[2020-11-23 09:04] Tug commented on #15255
Indeed, might be related to https://github.com/WordPress/gutenberg/pull/26204
@dratwas Could you have a look?

[2020-11-23 09:08] dratwas commented on #15255
Sure! :)

[2020-11-23 12:41] dratwas commented on #15255
Hey @Tug, I tried it in a few configurations but I couldn't reproduce that :( Maybe there are some additional things that are required to make it happen.

What i have tested so far:
## iOS 14.1 - WPiOS 16.0
- iPhone XS
- iPhone 11 Pro
- iPad Pro 9.7

## iOS 14.1 - WPiOS 16.0 + GBoard
- iPhone XS
- iPhone 11 Pro
- iPad Pro 9.7

## iOS 14.1 - WPiOS 16.1.1 (from Appstore)
- iPhone XS
- iPhone 11 Pro

[2020-11-23 13:26] leandroalonso commented on #15337
Even though this report is new, the crash has been there for at least 3 months (based on Sentry data).

I was looking into `WPTabBarViewController.m` and the `NotificationsViewController` instance is kept (which can explain how the same `NotificationsViewController` is added twice) but I'm not sure _how_ that might happen. I tried calling `reloadSplitViewControllers` twice but not crash at all.

@

[2020-11-23 17:49] #15344 closed, assigned to aerych

[2020-11-23 18:31] jkmassel opened #15366 "NSInternalInconsistencyException: Attempted to perform update with invalid index path: <NSIndexPath: 0x282d70f80> {length = 2, path..."
**Sentry Url**: https://sentry.io/share/issue/254d191b7a1d43d7a1216fc8e0a2fcf7/
**User Count**: 1735
**Count**: 3038
**First Release**: 15.5.0.3
**First Seen**: 2020-09-02T19:01:36Z
**Last Seen**: 2020-11-23T18:29:36Z
**24 Hours**: 731
**30 Days**: 2936
**LogID:** 60361914-FE54-4668-BA43-A0C9AAF49BEA

[code]

[2020-11-23 18:32] jkmassel opened #15367 "NSInternalInconsistencyException: Invalid update: invalid number of rows in section 1. The number of rows contained in an existing ..."
**Sentry Url**: https://sentry.io/share/issue/ee3fd209a355449c814bcbe746c67567/
**User Count**: 745
**Count**: 869
**First Release**: 15.3.0.3
**First Seen**: 2020-09-01T19:20:13Z
**Last Seen**: 2020-11-23T18:28:28Z
**24 Hours**: 223
**30 Days**: 821

[code]

[2020-11-23 18:33] jkmassel opened #15368 "[NotificationsViewController.selectRow] NSInternalInconsistencyException: Attempted to perform update with invalid index path: <NSIndexPath: 0x283a1b9a0> {length = 2, path..."
**Sentry Url**: https://sentry.io/share/issue/0fdb6fedd3d44625bf944ffb7c306193/
**User Count**: 616
**Count**: 803
**First Release**: 14.8.0.3
**First Seen**: 2020-09-04T04:34:54Z
**Last Seen**: 2020-11-23T18:22:01Z
**24 Hours**: 216
**30 Days**: 763

[code]

[2020-11-23 18:33] jkmassel opened #15369 "NSInternalInconsistencyException: Attempted to perform update with invalid index path: <NSIndexPath: 0x28356d220> {length = 2, path..."
**Sentry Url**: https://sentry.io/share/issue/2668f88c560f4dae9b5fbf2c1ba85132/
**User Count**: 489
**Count**: 831
**First Release**: 15.5.0.3
**First Seen**: 2020-09-03T03:33:47Z
**Last Seen**: 2020-11-23T18:12:20Z
**24 Hours**: 107
**30 Days**: 814
**LogID:** 297028AD-3552-4B81-87DD-3640147A968A

[code]

[2020-11-23 18:34] jkmassel opened #15370 "[WPTableViewHandler.controllerDidChangeContent] NSInternalInconsistencyException: Attempted to perform update with invalid index path: <NSIndexPath: 0x2817c5fa0> {length = 2, path..."
**Sentry Url**: https://sentry.io/share/issue/26030d0c26be4d41b1bad2ce380e8b41/
**User Count**: 563
**Count**: 793
**First Release**: 15.5.0.3
**First Seen**: 2020-09-03T20:31:11Z
**Last Seen**: 2020-11-23T17:40:03Z
**24 Hours**: 167
**30 Days**: 714
**LogID:** 8A6ACD7C-E03A-4288-BAA9-E059D0DEF429

[code]

[2020-11-23 18:34] jkmassel opened #15371 "NSInternalInconsistencyException: Attempted to perform update with invalid index path: <NSIndexPath: 0x283ff4900> {length = 2, path..."
**Sentry Url**: https://sentry.io/share/issue/d36aac251b5f4881984c02a949ff6f9e/
**User Count**: 441
**Count**: 611
**First Release**: 15.5.0.3
**First Seen**: 2020-09-01T18:18:55Z
**Last Seen**: 2020-11-23T17:52:11Z
**24 Hours**: 128
**30 Days**: 508
**LogID:** 759889CB-4418-49F1-BEF2-6A9570846A72

[code]

[2020-11-23 18:35] jkmassel opened #15372 "NSInternalInconsistencyException: Attempted to perform update with invalid index path: <NSIndexPath: 0x282df6120> {length = 2, path..."
**Sentry Url**: https://sentry.io/share/issue/ac285c965807430f9a6c6ce0413161fa/
**User Count**: 393
**Count**: 448
**First Release**: 15.5.0.3
**First Seen**: 2020-08-31T19:29:25Z
**Last Seen**: 2020-11-23T18:12:38Z
**24 Hours**: 103
**30 Days**: 396
**LogID:** 5EC78FA6-4C28-4451-B5FA-6963E896B756

[code]

[2020-11-23 18:35] jkmassel opened #15373 "NSInternalInconsistencyException: Attempted to perform update with invalid index path: <NSIndexPath: 0x280ea5ac0> {length = 2, path..."
**Sentry Url**: https://sentry.io/share/issue/0372f2e941c74943b76637facdee49ac/
**User Count**: 288
**Count**: 336
**First Release**: 15.3.0.3
**First Seen**: 2020-09-01T16:42:47Z
**Last Seen**: 2020-11-23T17:51:55Z
**24 Hours**: 80
**30 Days**: 322
**LogID:** C1AEB997-CDB0-4032-8962-AD66E8D34E65

[code]

[2020-11-23 18:37] jkmassel opened #15374 "EXC_BREAKPOINT: _existingView > frame > horizontalSizeClass > sizeForChildContentContainer:withParentContainerSiz..."
**Sentry Url**: https://sentry.io/share/issue/d99729fea5ae4239af032548afe53016/
**User Count**: 0
**Count**: 319
**First Release**: 16.0.0.6
**First Seen**: 2020-11-04T15:08:38Z
**Last Seen**: 2020-11-23T07:55:48Z
**24 Hours**: 8
**30 Days**: 309
**LogID:** AC3F5045-B01C-47DF-8555-76B0911FAC19

[code]

[2020-11-23 18:46] ScoutHarris commented on #15374
My (possible) [fix](https://github.com/wordpress-mobile/WordPress-iOS/pull/15232) for this is in the 16.2 release. Per Sentry, this crash is in 16.0. I'm closing this. If it reoccurs in/after 16.2, I'll take another look.

[2020-11-23 18:46] #15374 closed, assigned to nobody

[2020-11-23 19:52] eeturunen commented on #14514
Any progress on this?

[2020-11-23 21:00] chipsnyder opened #15378 "[Choose a Domain] Update search results to behave more like Android"
### Expected behavior
When you search for a domain on Android during the site creation flow, it returns results that include "This domain is unavailable" and more results than the iOS flow.

<kdb><a href="https://user-images.githubusercontent.com/3384451/100014517-770a9200-2da4-11eb-9338-755c59ba01b1.jpg"><img width="300" src="https://user-images.githubusercontent.com/3384451/100014517-770a9200-2d

[2020-11-23 21:59] #15352 closed, assigned to aerych

[2020-11-24 10:36] reginabally commented on #15255
@dratwas The user hasn't replied to us yet. I'll nudge them and ask them to reach out to us through email for easier communication.

[2020-11-24 12:17] chipsnyder commented on #15378
@mkevins Want to move this comment over from https://github.com/wordpress-mobile/WordPress-iOS/pull/15360#issuecomment-732938289 so we could track our discoveries on this issue.

[2020-11-24 12:36] leandroalonso commented on #15370
Duplicate of https://github.com/wordpress-mobile/WordPress-iOS/issues/15366

[2020-11-24 12:36] leandroalonso commented on #15371
Duplicate of https://github.com/wordpress-mobile/WordPress-iOS/issues/15366

[2020-11-24 12:36] #15371 closed, assigned to nobody

[2020-11-24 12:36] leandroalonso commented on #15372
Duplicate of https://github.com/wordpress-mobile/WordPress-iOS/issues/15366

[2020-11-24 12:36] #15372 closed, assigned to nobody

[2020-11-24 12:37] leandroalonso commented on #15373
Duplicate of https://github.com/wordpress-mobile/WordPress-iOS/issues/15366

[2020-11-24 12:37] #15373 closed, assigned to nobody

[2020-11-24 12:49] leandroalonso commented on #15369
Duplicate of https://github.com/wordpress-mobile/WordPress-iOS/issues/15368

[2020-11-24 12:49] #15369 closed, assigned to nobody

[2020-11-24 12:52] leandroalonso commented on #15368
@jleandroperez pinging you here cause you're our notifications master, sir!

I was thinking that perhaps we can just check if the indexPath is valid before updating it? I'm just not sure if that would leave the app in a weird state somehow. Thoughts?

[2020-11-24 13:33] jleandroperez commented on #15368
@leandroalonso Hey there!! long time no see!!

As far as I understand, it's crashing in this API right?

[code]

**Invalid Index Path** makes me think that the `resultsController.indexPath(forObject:)` invocation succeeds, but the TableView is unaware of such path.

I'd say that the table (for whatever reason) got Out of Sync with the NSFetchedResultsController. I would suspect of:

- This method

[2020-11-24 15:16] guarani commented on #15296
Although https://github.com/wordpress-mobile/WordPress-iOS/pull/15309 will potentially address this issue, there are some user reports I'm not sure we've explicitly addressed.

### Can't like or comment source posts from pingbacks

In https://github.com/wordpress-mobile/WordPress-iOS/issues/15296#issuecomment-727184900, the user mentions:

### Stats counting user's own views

In https://github.com

[2020-11-24 17:49] etoledom commented on #15091
This issue might have been solved via https://github.com/wordpress-mobile/WordPress-iOS/pull/15380

Let’s monitor the crashes after the release and close this ticket accordingly.

[2020-11-24 17:56] bjtitus commented on #15350
I think we can fix this particular problem most easily by adding the `newPage` quick start tour item to this handler:
https://github.com/wordpress-mobile/WordPress-iOS/blob/e6040a25fd617d6cc3b552b7f99c3e8cf43dd998/WordPress/Classes/ViewRelated/System/Floating%20Create%20Button/CreateButtonCoordinator.swift#L202-L216

There is a larger problem with the bottom notices in general, though, for which t

[2020-11-24 18:07] chipsnyder commented on #15378
@iamthomasbishop @kyleaparker

I wanted to get your thoughts on this. On Android we have a bar that will let you know an address that matches your search term isn't available. From what I can tell it gets this information based on not finding an exact match in the results. Should we try and mimic this on the iOS side as well? I was thinking we might be able to add a row above "Suggestions" as a se

[2020-11-24 18:18] ScoutHarris opened #15381 "Reader: cannot unsave post from Saved filter"
### Expected behavior
If a post is unsaved from the Saved filter, it should remain unsaved.

### Actual behavior
If a post is unsaved from the Saved filter, it remains saved. If it is unsaved from another filter, it is then unsaved.

### Steps to reproduce the behavior
- Save a post from a feed, say Following.
- Go to Saved. Unsave the post.
- Go back to Following. Note the post is marked as saved

[2020-11-25 00:50] guarani commented on #15296
After reviewing #15309, I think it fixes this issue but does not address the two secondary problems I mentioned in the above comment https://github.com/wordpress-mobile/WordPress-iOS/issues/15296#issuecomment-733040126.

@aerych, do you think we should close this issue when #15309 is merged and open separate issues for the pingbacks and stats issues mentioned here or leave this open?

[2020-11-25 02:04] #15332 closed, assigned to nobody

[2020-11-25 02:12] #15266 closed, assigned to nobody

[2020-11-25 02:13] aerych commented on #15296
I'm a fan of closing and opening specific issues for ping backs and stats.

[2020-11-25 13:11] guarani opened #15386 "Unable to like or comment source posts via pingback notification"
### Expected behavior

After receiving a pingback notification, users might wish to "like" or comment on the source post by tapping the "Read the source post" button and viewing the source post in a logged in web view. This works fine on Simple WP.com sites with unmapped domains (i.e. `*.wordpress.com`).

Reported by users in https://github.com/wordpress-mobile/WordPress-iOS/issues/15296#issuecomm

[2020-11-25 13:16] guarani opened #15387 "Notifications not receieved for pingbacks from Atomic or Jetpack-connected self-hosted sites"
### Expected behavior

The app should receive a notification when a post is made on an Atomic or Jetpack-connected self-hosted site makes a pingback back to a site the app is currently managing. The app does get a notification if the site is a Simple site.

### Actual behavior

The app doesn't get a notification

### Steps to reproduce the behavior

On the web:
1. Copy the link to a post on a site

[2020-11-25 13:33] guarani opened #15388 "On Jetpack-connected self-hosted sites, viewing posts and sites within the app incorrectly counts as a viewing stat"
### Expected behavior

On Jetpack-connected self-hosted sites, the app's webviews should show a **logged in** (authenticated) version of the page/post/site that was opened.

### Actual behavior

On Jetpack-connected self-hosted sites, the app's webviews show a **logged out** version of the page/post/site that was opened.

The major issue this causes for users is that every time they open these log

[2020-11-25 13:37] guarani commented on #15296
I opened the above two issues for pingbacks and stats.

[2020-11-25 13:55] guarani opened #15389 "Unable to visit private sites with mapped domains using Reader's visit post functionality"
### Expected behavior

In Reader, when viewing a private site that uses a mapped domain (e.g. `example.com`, not `example.wordpress.com`), tapping Visit to view the site's posts in a web view should load the site and log the user into the site automatically.

### Actual behavior

In Reader, when viewing a private site that uses a mapped domain, tapping Visit to view the site's posts in a web view

[2020-11-25 14:08] guarani opened #15390 "Likes not working consistently in View Site and View Post web views"
### Expected behavior

Users expect to be able to perform like and comment actions on the View Site and View Post screens.

### Actual behavior

There are some issues with likes in web views. Issues vary depending on the site type. Here's a summary based on https://github.com/wordpress-mobile/WordPress-iOS/pull/15309#pullrequestreview-538075712:

| Scenario | Issues |
| - | - |
| Simple WP.com sit

[2020-11-25 14:12] guarani commented on #15296
https://github.com/wordpress-mobile/WordPress-iOS/pull/15309 (scheduled to land in WPiOS 16.3) has fixed this specific issue (commenting inside the View Site web view) and we have new issues for other scenarios:
- Not able to like or comment source posts via pingback notification: https://github.com/wordpress-mobile/WordPress-iOS/issues/15386
- Stats getting counted incorrectly due to logged out w

[2020-11-25 14:12] #15296 closed, assigned to guarani

[2020-11-25 14:16] guarani commented on #15387
Notifications didn't seem to arrive at all for @-mentions on Atomic or Jetpack-connected self-hosted sites, see https://github.com/wordpress-mobile/WordPress-iOS/pull/15317#issuecomment-731381904 — so I'm not sure if this issue is restricted to pingbacks or to all notifications on these types of sites.

[2020-11-25 15:55] #15104 closed, assigned to Gio2018

[2020-11-25 18:18] startuptester commented on #15366
Reported by 16.2 beta users 9 times.

`0   CoreFoundation                    0x1a7bee86c exceptionPreprocess + 220 (NSException.m:199) 1   libobjc.A.dylib                   0x1bcb07c50 objc_exception_throw + 60 (objc-exception.mm:565) 2   CoreFoundation                    0x1a7af4000 +[NSException raise:format:arguments:] + 100 (NSException.m:146) 3   Foundation                        0x1a8edc728

[2020-11-25 21:39] startuptester opened #15393 "Posts list refresh is not right in Dark Mode"
### Expected behavior
A smooth refresh

### Actual behavior
https://cloudup.com/c5A957Vb1wr

https://cloudup.com/cBDWGQOJFED

### Steps to reproduce the behavior
In Dark Mode. pull to refresh on the tabs in Posts or Pages

##### Tested on iPhone 12 Pro and iPad (2019), iOS 14.2, WPiOS 15.6 - 16.2

[2020-11-25 22:00] kyleaparker commented on #15378
Yes I think this would be really useful!

On iOS is the way we prioritize the suggestions seems random. For example, if I search "mylittleinternetsite" I would expect mylittleinternetsite.wordpress.com to be the first suggestion, but it's third on third on the list right now:

![IMG_1067](https://user-images.githubusercontent.com/712873/100285834-735e5180-2fd6-11eb-991a-439ec7022707.PNG)

[2020-11-25 22:04] ctarda opened #15394 "Bump WPAuthenticator to 1.30.0-beta.2"
It has been necessary to make a breaking change to the API of WordPressAuthenticatorDelegate to support the new functionality required by WooCommerce.

It is necessary to update the reference to WPAuthenticator in the Podfile, and also update WordPressAuthenticatorManager to consume the new API

[2020-11-25 23:31] ctarda commented on #15394
Closing. #15385 is merged

[2020-11-25 23:31] #15394 closed, assigned to ctarda

[2020-11-26 02:15] designsimply commented on #7455
Looping back to note I forgot to close this before but I decided to re-test today and now I see the problem a bit more clearly, but I'm still not sure what the expected behavior is tbh.

My testing steps:

1. Use the site address login flow to add a Jetpack site to the app.
1. Go to My Sites > Stats and expect to be prompted to log in.
1. Log in using a WordPress.com account _other than the one_ t

[2020-11-26 02:34] startuptester opened #15396 "Position of the menu for a Jetpack site is lower than expected"
### Expected behavior
Menu should be in the same location

### Actual behavior
![image](https://user-images.githubusercontent.com/66104034/100300995-6dc02780-2f54-11eb-957e-44846c2a9b82.png)

It appears (B header height in pink) that the space is the same for the section headers. So maybe these headers come with built in top padding? If so, for Jetpack sites we could remove the 32px custom padding

[2020-11-26 11:19] frosty commented on #15337
Hmm, I'm not sure either 🤔 have we been able to reproduce this?

[2020-11-26 13:26] guarani opened #15399 "Tab bar briefly visible when app starts"
### Expected

When opening the app after a clean install, the splash/launch screen should be followed by a smooth animation to the logged out welcome screen.

### Actual

When first opening the app after a clean install, the tab bar is briefly shown before the app shows the welcome screen.

The same issue is present in WooCommerce for iOS (https://github.com/woocommerce/woocommerce-ios/issues/3107

[2020-11-26 22:07] startuptester opened #15401 "Latest Post Summary "An Error Occurred" if there are no posts"
### Expected behavior
If the site has no previous posts, I would expect it to say “You haven’t published any posts yet.” or something like that

### Actual behavior

It says "an error occurred"

![image](https://user-images.githubusercontent.com/66104034/100393739-f2b04d00-2ff7-11eb-8287-0c6588d76ca3.png)

Also the widgets in iOS say "Unable to Load" and there is no ability to refresh the widget

[2020-11-27 00:35] ericamQA commented on #9662
3523700-zd

[2020-11-27 11:24] rezzap commented on #12904
There was some concerned raised about this in an app review:

Translation:

Original:

Reference iOS review by hebejacq – Edited Nov 26, 2020
Version 16.1.1

[2020-11-27 11:28] rezzap commented on #13225
There was some feedback left in an app review regarding unlabeled buttons. They didn't specify which button they are, but I wanted to add it here anyway:
Translation:

Original:

Reference iOS review by hebejacq – Edited Nov 26, 2020
Version 16.1.1

[2020-11-27 12:03] hypest commented on #14844
Fixed by #15317

[2020-11-27 12:03] #14844 closed, assigned to nobody

[2020-11-27 18:45] #15353 closed, assigned to mindgraffiti

[2020-11-30 17:35] designsimply commented on #15313
Noting this should be fixed with a combination of https://github.com/wordpress-mobile/WordPress-iOS/pull/15303 and internal reference D53196-code (background: pbMoDN-1A9-p2#comment-3222). Props @chipsnyder @enejb. 🎉

[2020-11-30 17:46] #15347 closed, assigned to Gio2018

[2020-11-30 18:12] mindgraffiti commented on #15341
Tentatively adding as part of the P2 Improvements project as an optional bug to tackle.

[2020-11-30 18:17] chipsnyder opened #15411 "Investigate the ability to remove some of stale code from Site Confirmation Previews"
With the changes in https://github.com/wordpress-mobile/WordPress-iOS/issues/15313 we might be able to clean up this chunk of code:

https://github.com/wordpress-mobile/WordPress-iOS/blob/6d6a4a2748cfda79a066c90c8258612a9c026b0a/WordPress/Classes/Extensions/WKWebView%2BPreview.swift#L15-L22

Questions:
1. Is `wpadminbar` being successfully hidden by the backend?
1. Is `widget_eu_cookie_law_widget`

[2020-11-30 18:18] chipsnyder commented on #15313
There is some code clean up that might be able to happen thanks to these changes. Spun up a new issue to track the investigation I would like todo in order to remove those items:

https://github.com/wordpress-mobile/WordPress-iOS/issues/15411

[2020-11-30 18:18] #15313 closed, assigned to nobody

[2020-11-30 18:28] bjtitus commented on #15350
So this issue is a bit different than the "Publish a Post" quick start since we show "Publish a Post" on the Blog Details screen but "Create a new page" after navigating into Site Pages. Handling it in the same way doesn't work because the FAB is shown after the tooltip gets added so there are some timing issues to contend with.

I wonder if we could remove the "Select Site Pages to continue" and

[2020-11-30 18:46] #15396 closed, assigned to leandroalonso

[2020-11-30 22:30] jkmassel commented on #11849
16.3 out-of-date dependencies:

[code]

[2020-12-01 11:06] osullivanchris commented on #15350
A few things here

**1. 'Choose a Layout' flow**
In the second screenshot provided by @startuptester - the tooltip is still shown on the 'Choose a Layout' page. The tooltip should either go away, or we should say 'Choose a layout' in another tooltip, or something. We keep falling into this trap of introducing new features and not considering how they impact Quick Start. If the flow is changed, we

[2020-12-01 13:29] guarani opened #15417 "Like and Save not working in Reader Discover"
### Expected behavior

When I Like or Save (bookmark) a post within the Reader post screen (Reader → Discover tab → tap on a post → land on full-screen post screen), the Like or Save button should stay blue (i.e. persist) when I navigate to the previous screen or other parts of the app.

### Actual behavior

When I Like or Save (bookmark) a post within the Reader post screen (Reader → Discover tab

[2020-12-01 14:00] chipsnyder commented on #15378
Good callout @kyleaparker! Judging by Android it looks like they're sorting the results by placing the exact matches first and sorting the subdomains alphabetically. Then sorting close matches alphabetically.

We might need to create an Android component to this ticket as well if we go with this suggestion but I'm wondering if we would want to prioritize `wordpress.com` as the top suggestion if av

[2020-12-01 17:20] iamthomasbishop commented on #15378
@chipsnyder I might be missing a detail, but my opinion would be that I definitely agree that we should bump exact matches up to the top, but we probably shouldn't place special weight on the wpcom URLs.

[2020-12-01 17:42] chipsnyder commented on #15378
@iamthomasbishop That works for me too. The only reason I thought to prioritize wpcom URLs was because we reference wpcom if an exact match isn't available. Not prioritizing wpcom would make the logic easier so I'm good with that.

[2020-12-01 19:21] chipsnyder commented on #15411
I used the custom UserAgent `wp-android/16.2` in a webview to test out if this was enough to hide the admin bar as well and that worked nicely so I think this is method is safe to remove now.

[2020-12-02 14:52] iamthomasbishop commented on #15378
Ah ok, fair enough. Sounds good!

[2020-12-02 18:18] Gio2018 opened #15426 "Today Widget - Ensure that site list and properties are up to date"
At the moment, we are using a static cache to store shared site info between the app and the new Today Widget. We need to have updated site info and site list when they are accessed from the widget. There are two possible solution to this (currently under investigation):

1. Keep the cache up to date
2. Use a service instead of the cache, that can be called from within the widget

[2020-12-02 22:01] #15273 closed, assigned to nobody

[2020-12-03 03:35] yaelirub commented on #15333
Did I just completely drop the ball on this one?? 😨
I don't believe this is related to the Jetpack section. The change in GutenbergViewController was for a reference to a renamed class.
@etoledom , could this be related in anyway to https://github.com/wordpress-mobile/WordPress-iOS/pull/15380 ?

[2020-12-03 18:37] yaelirub opened #15431 "Add a subscription_count property to the reader_* events"
We'd like to be able to slice the Reader usage by how many sites the user follows.
[equivalent PR on Calypso ](https://github.com/Automattic/wp-calypso/pull/47818)

## Todo
- [x] add new tracking method to include `subcription_count` for `reader_*` events/stats (https://github.com/wordpress-mobile/WordPress-iOS/pull/15444)
- [x] migrate `reader_*` events (https://github.com/wordpress-mobile/WordPr

[2020-12-03 21:00] ericamQA commented on #9449
Another instance at zd-3539737

Asked them to update to the latest app version as well as Jetpack.

[2020-12-04 03:39] yaelirub commented on #15370
@leandroalonso , I don't think this is a duplicate of #15361 I actually just got this crash in Xcode, running on a simulator.

[code]

Whats the reason behind all those "Attempted to perform update with invalid index path" errors we're seeing? I tried to follow the discussion [here](https://github.com/wordpress-mobile/WordPress-iOS/issues/15368) but I'm not sure if its the same issue or not and wh

[2020-12-04 12:42] leandroalonso commented on #15370
@yaelirub do you have the steps to reproduce the crash?

I think they're not exactly happening at the same place, but all those crashes seem related to `WPTableViewHandler`. It started in November — and if you look into the OS versions being affected, they're almost 100% iOS 14.

So it might be that Core Data had some internal changes that are affecting us.

[2020-12-04 13:35] rachelmcr opened #15437 "Reader: Placeholder content appears if you switch tabs while Reader screens are loading"
### Expected behavior

I expect that any time I open a Reader screen I'll either see a ghost view (while content is loading) or the expected Reader content.

### Actual behavior

If I open a Reader screen, see a ghost view (because content is being loaded), and switch to another tab in the app, then when I open the Reader again I see placeholder content that doesn't scroll.

This happened to me re

[2020-12-04 13:54] rachelmcr opened #15438 "Auto-paste alerts appear too often (and when nothing should have been pasted)"
### Expected behavior

I only expect to see the "WordPress pasted from ..." alert when I expected something to be pasted in the app (e.g. a 2FA code if I'm logging in with 2FA).

### Actual behavior

I constantly get this alert when I open or close the app:

<img src="https://user-images.githubusercontent.com/8658164/101171228-61645a80-3637-11eb-8f3a-141b0a6211d1.jpeg" width="300px">

This was dis

[2020-12-04 14:58] #15167 closed, assigned to frosty

[2020-12-05 08:41] rezzap commented on #15001
There was an internal report of the 'Me' profile section being difficult to find also here: p4a5px-2FS-p2

    Opened the app.
    Clicked on Reader – didn’t see an icon at top right.
    Clicked notifications – also didn’t see a profile icon.
    Clicked My Sites – same.
    After some more clicking and tapping ended up on a specific site and only then I saw the profile icon. Yay!

    To have ha

[2020-12-07 00:55] #12904 closed

[2020-12-08 00:42] designsimply commented on #15438
@frosty pinging you because we discussed this in Slack+P2 and decided it's a blocker for the 16.3 release and it needs a beta fix.

[2020-12-08 04:55] yaelirub commented on #15306
Hello 👋  @guarani , can we close this issue?

[2020-12-08 18:06] #15264 closed, assigned to nobody

[2020-12-08 18:59] bjtitus commented on #15438
This was reported by a user in 3549132-zen.

@frosty I think I have this fixed with changes in WordPressAuthenticator but I haven't taken a look at the React and Aztec pasteboard usage yet.

[2020-12-08 20:09] ScoutHarris commented on #15355
From Slack convo: Mark Seen/Unseen -> works as described in [this](https://wp.me/pbArwn-ZE-p2#comment-1910) comment.

[2020-12-08 20:09] ScoutHarris commented on #15354
From Slack convo: Unread count -> currently returned for followed sites under `/read/following/mine` as `unseen_count`.

[2020-12-09 11:06] frosty commented on #15438
Thanks Brandon, Authenticator is definitely the main issue here. Will review now!

[2020-12-09 13:47] guarani commented on #15306
Yes @yaelirub! Thanks for catching this. I double checked by testing 16.3 beta (16.3.0.2) and I could Visit Site on private sites with mapped domains 😄.
So I'll close this now since https://github.com/wordpress-mobile/WordPress-iOS/pull/15309 fixed it 🎉

[2020-12-09 13:47] #15306 closed, assigned to nobody

[2020-12-09 16:40] guarani opened #15458 "Status bar icons invisible in Reader"
### Expected behavior

The status bar icons should always be visible.

### Actual behavior

The status bar icons are invisible in the Reader when viewing content.

### Steps to reproduce the behavior

1. Go to the Reader tab
2. Tap on a Post or Page to view it full-screen
3. Notice the lack of status bar icons

| <img src="https://user-images.githubusercontent.com/1898325/101658926-45d8c580-3a24-1

[2020-12-09 23:41] designsimply commented on #10073
**Events in the last 90d:** 1,200
**Users affected in the last 90d:** 82
<sub>WORDPRESS-IOS-2R3X: https://sentry.io/share/issue/98c60a96b016405aa00a305a30ff106e/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=device&field=os&field=culprit&name=All+Events&project=1438083&query=issue.id%3A1316647126&sort=-timestamp&statsPeriod=

[2020-12-09 23:54] ericamQA commented on #10005
Report of being confused by the fact that username can be seen but not changed in account settings in 3561043-zd

[2020-12-09 23:55] designsimply commented on #11439
A search in Sentry Discover for `"nil is not a valid object ID" "MediaProgressCoordinatorNoticeViewModel"` shows 384 occurrences in the last 90d.

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=device&field=os&field=culprit&name=All+Events&project=1438083&query=%22nil+is+not+a+valid+object+ID%22+%22MediaProgressCoordinatorNoticeView

[2020-12-10 00:05] designsimply commented on #12028
**Events in the last 90d:** 20,000
**Users affected in the last 90d:** 243
<sub>WORDPRESS-IOS-2R4N: https://sentry.io/share/issue/1dcb161bbb4a4e56b4aabe76dd557b19/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=device&field=os&field=culprit&name=All+Events&project=1438083&query=issue.id%3A1316710088&sort=-timestamp&statsPerio

[2020-12-10 00:14] designsimply commented on #12082
**Events in the last 90d:** 2,200
**Users affected in the last 90d:** 132
<sub>WORDPRESS-IOS-58Z: https://sentry.io/share/issue/3d89f0e64e17487ebd693bc670a97a41/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=device&field=os&field=culprit&name=All+Events&project=1438083&query=issue.id%3A1056489950&sort=-timestamp&statsPeriod=

[2020-12-10 00:20] designsimply commented on #12626
**Events in the last 90d:** 4,400
**Users affected in the last 90d:** 157
<sub>WORDPRESS-IOS-5QA: https://sentry.io/share/issue/f975828a305e4efb9e2ad4ac9d6e273d/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=device&field=os&field=culprit&name=All+Events&project=1438083&query=issue.id%3A1059358112&sort=-timestamp&statsPeriod=

[2020-12-10 00:23] designsimply commented on #12671
Welp, this one looks fixed as of 2020-11-19. Closing, but noting that I'm quite curious as to what fixed it!! Since we're not catching any occurrences full stop, that makes me feel it might have been fixed at the API level. 🤔

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=device&field=os&field=culprit&name=All+Events&project=143808

[2020-12-10 00:23] #12671 closed

[2020-12-10 00:27] designsimply commented on #13758
@bjtitus would you be willing to loop back to this one to implement your proposed change in your Groundskeeping rotation Dec 14-18?

[2020-12-10 01:06] designsimply commented on #12671
Note: actually, it looks like these issue didn't stop but instead they've been moved to different Sentry issues. See internal reference paaHJt-1jm-p2#comment-3488.

Now I'm not sure whether I should have closed this one. @aerych could you help me confirm? A search for `Invalid update: invalid number of rows in section 0. The number of rows contained in an existing` actually pulls up two other issu

[2020-12-10 01:07] designsimply commented on #13890
Hmm. This issue stopped getting occurrences recorded for it on 2020-11-19.

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=os&field=device&field=culprit&name=All+Events&project=1438083&query=issue.id%3A1056562308&sort=-timestamp&statsPeriod=90d&widths=-1&widths=-1&widths=-1&widths=-1&widths=-1">![image](https://user-images.githubuse

[2020-12-10 01:17] designsimply commented on #13956
<sub>WORDPRESS-IOS-2RAW: https://sentry.io/share/issue/ec8f4ba680aa4f608a4509ed93deaa16/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=os&field=device&field=culprit&name=All+Events&project=1438083&query=issue.id%3A1320163956&sort=-timestamp&statsPeriod=90d&widths=-1&widths=-1&widths=-1&widths=-1&widths=-1">![image](https://u

[2020-12-10 01:20] designsimply commented on #14178
Checked the numbers again and there are no recorded cases past v15.9 but we're still seeing a few crashes in 15.9 and below.

<sub>WORDPRESS-IOS-37XR: https://sentry.io/share/issue/14014cc5a0b34630bf23a7a466d687f9/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=os&field=device&field=culprit&name=All+Events&project=1438083&que

[2020-12-10 01:26] designsimply commented on #14785
Good note about 15.7! I checked the numbers again and confirmed that there have been no new cases recorded for v15.7 or above in the last 90 days. Closing because of that and because the overall number of users affected is relatively low compared to other crashes we're tracking.

**Events in the last 90d:** 1,400
**Users affected in the last 90d:** 103
<sub>WORDPRESS-IOS-3865: https://sentry.io/sh

[2020-12-10 01:26] #14785 closed, assigned to nobody

[2020-12-10 01:30] designsimply commented on #14786
Numbers of users affected by this crash seems relatively low but I'm leaving this one open for now because it appears media-related and I think it's part of a long tail of issues which add up to cause an overall high number of media complaints we see from users.

**Events in the last 90d:** 1,600
**Users affected in the last 90d:** 43
<sub>WORDPRESS-IOS-37R2: https://sentry.io/share/issue/4b7257b8

[2020-12-10 01:54] designsimply commented on #14514
@eeturunen, out of curiosity, may I ask why it wouldn't be possible for you to allow traffic for 195.234.109.0/24 through on the network for this use case, in order to take advantage of the Photon CDN? Without that, it seems to me that it could cause really slow loading and increased data usage for users of the app in some cases, and not just for your own site but also for users elsewhere. (Please

[2020-12-10 01:57] designsimply commented on #14796
**Events in the last 90d:** 650
**Users affected in the last 90d:** 117
<sub>WORDPRESS-IOS-2T8M: https://sentry.io/share/issue/9e049a2097b14333bf86ed78b2d4ecfe/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=os&field=device&field=culprit&name=All+Events&project=1438083&query=issue.id%3A1545915307&sort=-timestamp&statsPeriod=9

[2020-12-10 13:47] eeturunen commented on #14514
@designsimply There is no need for a CDN in LAN.

[2020-12-10 15:57] designsimply commented on #15366
I noticed today while doing crash triage in prep for Groundskeeping iOS Dec 14-18 that this one is actually showing a huge spike in crashes that started on 2020-11-20. @bummytime I think we should start looking into this one before the Groundskeeping the 14th if possible and I'll loop in @yaelirub to see what you both think.

**Events in the last 90d:** 15,000
**Users affected in the last 90d:** 6

[2020-12-10 16:31] designsimply commented on #14514
My thinking was that others who are not on a LAN would also be affected by the change you proposed to not use Photon (which I think we would want to avoid), but maybe I'm not 100% clear on the proposed change and how it would affect others.

If the proposed change is to attempt a direct download if Photon is blocked, I agree with that for sure. 👍

[2020-12-10 16:57] designsimply commented on #15370
In case it's relevant, I noticed a big spike in `NSInternalInconsistencyException` issues overall and they are currently showing up in [10 separate open issues in the repo](https://github.com/wordpress-mobile/WordPress-iOS/issues?q=is%3Aissue+is%3Aopen+NSInternalInconsistencyException)—I am not sure how closely those are related. I think the main contributor to the spike is #15366 though and the r

[2020-12-10 18:55] designsimply commented on #15438
@frosty @bjtitus just checking in to see if will we be able to get this in for 16.3?

[2020-12-10 20:39] eeturunen commented on #14514
Exactly. There should at least be fallback to direct dl if an image cannot be retrieved through Photon.

Nevertheless, I think users should be given an option to decide whether to utilize Photon or not.

[2020-12-10 22:09] startuptester opened #15469 "Improve behavior of pull to refresh in Media Library"
### Current behavior

The pull-to-refresh control in the media library disappears instantly if local Media items are available. This is due to the call to `success` in `loadDataWithOptions:success:failure:` in `MediaLibraryPickerDataSource`. We then continue to perform a network request in the background.

### Ideal behavior

It would be better for user experience if the control stayed visible whi

[2020-12-10 22:25] startuptester opened #15470 "Duplicate and grey images if uploading images to Media Library with bad network"
### Expected behavior
Retry should only load one copy after reconnection

### Actual behavior
I get duplicate images and greyed images were reported (see video)
(The video also shows how annoying the black Retry message is)

https://cloudup.com/cnf0OOvc9Hl

### Steps to reproduce the behavior
1. In Media Library, add an image from device
2. During the upload, enter airplane mode
3. Turn off airpla

[2020-12-10 22:40] startuptester commented on #15458
Closing because it was fixed by https://github.com/wordpress-mobile/WordPress-iOS/pull/15459

[2020-12-10 22:40] #15458 closed, assigned to nobody

[2020-12-10 22:54] #15178 closed, assigned to Gio2018

[2020-12-10 23:33] designsimply commented on #15437
Oof, this was hard for me to spot (you have eagle eyes!) and I agree it's easier to see it if you both have a slow internet connection and you are using an account that is following a lot of sites in the Reader. ([49s](https://cloudup.com/ctPt4lel4EW)) Also, in my testing, the placeholder content isn't shown very long and after it loads I can scroll normally—which I assume is why it's labeled low

[2020-12-10 23:41] startuptester commented on #15388
Moved to Groundskeeping for WPiOS Dec 14-18 rotation

[2020-12-10 23:59] startuptester commented on #15350
@bjtitus is there an update on this one?

[2020-12-11 00:01] startuptester commented on #15350
Gave it medium priority because it's a NUX flow, but it can still be navigated.

[2020-12-11 00:08] designsimply commented on #14180
Strange little spike for this one but might not be big enough yet to raise it above other crashes we're tracking.

**Events in the last 90d:** 1,700
**Users affected in the last 90d:** 224
<sub>WORDPRESS-IOS-2T71: https://sentry.io/share/issue/b53f5430e3c942cd9a1af7b24cf16fbf/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=os

[2020-12-11 00:15] designsimply commented on #14956
**Events in the last 90d:** 450
**Users affected in the last 90d:** 56
<sub>WORDPRESS-IOS-37XQ: https://sentry.io/share/issue/3e1a21f3b2814fac9765682ae76ebbc4/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=os&field=device&field=culprit&name=All+Events&project=1438083&query=issue.id%3A1695057810&sort=-timestamp&statsPeriod=90

[2020-12-11 00:22] designsimply commented on #14962
Looks fixed! 🎉  Closing.

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=os&field=device&field=culprit&name=All+Events&project=1438083&query=NSInvalidUnarchiveOperationException&sort=-timestamp&statsPeriod=90d&widths=-1&widths=-1&widths=-1&widths=-1&widths=-1">![image](https://user-images.githubusercontent.com/1119271/101845518-1867

[2020-12-11 00:22] #14962 closed, assigned to nobody

[2020-12-11 00:29] designsimply commented on #14961
Seems this one has gained momentum starting on Nov 19th, but I am not sure if that's because of a change we've made to Sentry grouping or if it's really an upward trend. 🤨  It's certainly looks like there's an uptick but at the same time it's not showing very many crashes in 16.2 so far (31 crashed recorded in 16.2 to date). Also the overall numbers are relatively low compared to some other crashe

[2020-12-11 00:31] designsimply commented on #14960
Fixed in https://github.com/wordpress-mobile/WordPress-iOS/pull/15075. Props @diegoreymendez. 🎉

<sub>WORDPRESS-IOS-38VV: https://sentry.io/share/issue/fa5a0d83563c4b85a92aaf6cfbe1c21d/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=device&field=os&field=culprit&name=All+Events&project=1438083&query=issue.id%3A1871198051&sort

[2020-12-11 00:31] #14960 closed, assigned to nobody

[2020-12-11 00:34] designsimply commented on #14959
Raising in priority because it's showing as a spike on Nov 20 and then continued to average ~100 crashes per day and also the number of different users affected is relatively large compared to other similar sized crashes we're tracking.

**Events in the last 90d:** 2,600
**Users affected in the last 90d:** 1,500
<sub>WORDPRESS-IOS-38VX: https://sentry.io/share/issue/a56a1be8c831473f89e936ed11c4fb1

[2020-12-11 00:48] designsimply commented on #15342
I noticed this comment from a related PR where the issue was found:

Source: https://github.com/wordpress-mobile/WordPress-iOS/pull/15309#issuecomment-730490286

@aerych as a way to make this issue actionable in the near term, would it be possible to at least detect whether Jetpack's WordPress.com login module is enabled and show an explanation if it isn't? I'll also welcome any other potential so

[2020-12-11 00:55] momo-ozawa commented on #15431
Closed this by accident.
Note that https://github.com/wordpress-mobile/WordPress-iOS/pull/15444 only partially fixes this issue.

[2020-12-11 00:58] designsimply commented on #14963
@diegoreymendez looks like your PR knocked out https://github.com/wordpress-mobile/WordPress-iOS/issues/14960 but #14963 shows an increase in issues instead. Would you mind taking a quick look to see if anything stands out and then help let me know an estimate of time that you think it would take in order to investigate this one further? I feel it seems tricky since you already had one go at fixin

[2020-12-11 00:59] #15314 closed, assigned to nobody

[2020-12-11 01:01] designsimply commented on #14964
**Events in the last 90d:** 1,400
**Users affected in the last 90d:** 994
<sub>WORDPRESS-IOS-38VM: https://sentry.io/share/issue/a153ddbcdb5b4b6190fc964d85bc0a21/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=device&field=os&field=culprit&name=All+Events&project=1438083&query=issue.id%3A1871043755&sort=-timestamp&statsPeriod

[2020-12-11 01:04] designsimply commented on #15091
I like the look at the graph for this one! Looks fixed by https://github.com/wordpress-mobile/WordPress-iOS/pull/15380. Props @etoledom. 🎉

**Events in the last 90d:** 5,000
**Users affected in the last 90d:** 2,100
<sub>https://sentry.io/share/issue/585d5341acb24fe5ac880c265e054d7d/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&f

[2020-12-11 01:04] #15091 closed, assigned to guarani

[2020-12-11 01:18] designsimply commented on #15092
**Events in the last 90d:** 869
**Users affected in the last 90d:** 561
<sub>WORDPRESS-IOS-2S3M: https://sentry.io/share/issue/30aed83802a5493e8ad4238fe8eea923/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=device&field=os&field=culprit&name=All+Events&project=1438083&query=issue.id%3A1365600703&sort=-timestamp&statsPeriod=9

[2020-12-11 01:18] #15092 closed, assigned to nobody

[2020-12-11 01:21] designsimply commented on #15368
Raising to high priority because it's showing a high number of users affected. I don't think it's a new issue though 🤔  I think this issue is a continuation of https://github.com/wordpress-mobile/WordPress-iOS/issues/15092 which came to a full stop on Nov 20 and this one picked up steam at the exact same time. Something seems to have gotten rejiggered in Sentry.

**Events in the last 90d:** 4,300

[2020-12-11 01:27] designsimply commented on #15238
Looks fixed! There are still some hangers-on, but it looks like it's people who are still running 15.9.

Closing as fixed with https://github.com/wordpress-mobile/WordPress-iOS/pull/15282. Props @Gio2018. 🎉

**Events in the last 90d:** 4,600
**Users affected in the last 90d:** 2,700
<sub>WORDPRESS-IOS-3949: https://sentry.io/share/issue/aacb3ad1dcc14e3cb9ffc9fb49e74cd2/</sub>

<a href="https://sen

[2020-12-11 01:27] #15238 closed, assigned to nobody

[2020-12-11 01:30] designsimply commented on #15093
Not seeing enough cases to warrant keeping this issue open. Closing as not actionable with an ask to please re-open if we start getting seeing more cases.

**Events in the last 90d:** 14
**Users affected in the last 90d:** 3
<sub>https://sentry.io/share/issue/c8b278eb617b483bafeaf01e0b4f9c1e/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=

[2020-12-11 01:30] #15093 closed, assigned to nobody

[2020-12-11 01:38] designsimply commented on #15095
Closing because Sentry doesn't seem to be showing any new instances of this crash and numbers are quite low in the latest release and I also couldn't find another issue it could have jumped to in Sentry in a search for `"Task created in a session that has been invalidated"`.

<sub>WORDPRESS-IOS-2V62: https://sentry.io/share/issue/022e2d35a81a44c4a7b243c91818047b/</sub>

<a href="https://sentry.io/

[2020-12-11 01:38] #15095 closed, assigned to nobody

[2020-12-11 01:41] designsimply commented on #15096
**Events in the last 90d:** 1,200
**Users affected in the last 90d:** 12
<sub>WORDPRESS-IOS-14CE: https://sentry.io/share/issue/9541f74a474e4fe78ef4185b0ca5b23d/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=release&field=os&field=device&field=culprit&name=All+Events&project=1438083&query=issue.id%3A1162260882&sort=-timestamp&statsPeriod=

[2020-12-11 04:16] bjtitus commented on #15350
I think the simplest solution for now would be to move the 'Create a Page' Quick Start to point to the FAB just like 'Create a Post' does. I think a separate issue should be created to address the problems around the FAB not moving for some of the tooltips since that's still a problem with the Post status ones.

I'll submit a PR to make that change tomorrow.

[2020-12-11 12:14] frosty commented on #15438
Hopefully – I've just done a re-review now 👍

[2020-12-11 15:08] mindgraffiti opened #15473 "P2: Reader > Settings > Followed Sites > site icons contain gray tint"
### Expected behavior
When navigating to the Followed Sites list, site icons that contain transparent areas should not be tinted gray.

### Actual behavior
Site icons are tinted gray. Transparent areas of the image should let the background color show through.
<a href="https://user-images.githubusercontent.com/1062444/101919992-ddf3bd80-3b90-11eb-94ca-c1500d71b46b.png"><img src="https://user-image

[2020-12-11 16:01] rachelmcr commented on #15437
You need a trip to my part of the world, to experience the joys of always testing on slower internet connections. ;) The real content takes much longer to load for me, but indeed everything works fine once the real content finishes loading so I'd say it's low priority (more of a visual issue than a significant functional issue).

[2020-12-11 17:07] bjtitus commented on #15438
Should have it in today! I ran into some CI issues yesterday but they seem to be resolved now. 👍

[2020-12-11 18:59] designsimply opened #15476 "Domain credits are not being offered to Atomic sites"
Steps to reproduce:

1. Create a new site.
1. Upgrade it to the Business plan.
1. Open the app and go to the My Site tab.
1. Notice that the domain credit is being offered.
1. On the web, convert the site to Atomic (try to install a plugin or go to Jetpack > Backup and activate it).
1. Restart the app and go back to the My Site tab.
1. Notice that the domain credit is not being offered anymore.

*

[2020-12-11 19:24] designsimply commented on #14833
That's possible for sure. However, I've just tried to check back in on this issue and the Sentry share link https://sentry.io/share/issue/7db01d4bd4d940b18315c01e3f95ccdd/ is no longer working. 😕

I searched for `ReaderStreamViewController.swift` and for `"no object at index" "in section at index" ` in Sentry but didn't really find anything that I think matches the error showing here.

I am closin

[2020-12-11 19:24] #14833 closed, assigned to nobody

[2020-12-11 19:36] designsimply commented on #15240
I am closing this issue as not actionable because of the comment mentioning it might be a duplicate and events will drop to zero once Sentry has debug symbols and because the Sentry link provided https://sentry.io/share/issue/ab3f3820cc104070aa2548d5c064c2cf/ is not working 😞 and because the best looking match I could find for it in a search for `initWithManagedObjectContext` in Sentry returned a

[2020-12-11 19:36] #15240 closed, assigned to nobody

[2020-12-11 19:53] designsimply commented on #15241
This Sentry issue is no longer recording any crashes, so I'm closing it. I did try checking Sentry with a search for `"Attempted to perform update with invalid index path"  WPTableViewHandler.m` and the Sentry issue [WORDPRESS-IOS-38VX](https://sentry.io/share/issue/a56a1be8c831473f89e936ed11c4fb1b/) looked like the same error to me and also the graph in Sentry for that one spiked at the same time

[2020-12-11 19:53] #15241 closed, assigned to nobody

[2020-12-11 19:58] designsimply commented on #14959
@jkmassel when I look at https://sentry.io/share/issue/a56a1be8c831473f89e936ed11c4fb1b/ it shows this error:

![image](https://user-images.githubusercontent.com/1119271/101949115-59189c00-3bb0-11eb-9416-5b3268cfde73.png)

The error shown here in this issue is totally different and starts with:

Why are those so different?

[2020-12-11 20:08] designsimply commented on #15242
Closing because the number of crashes has gone down to almost nothing and because there are no recorded cases in Sentry for this crash in any 16.* release.

**Events in the last 90d:** 260
**Users affected in the last 90d:** 176
<sub>WORDPRESS-IOS-38S8: https://sentry.io/share/issue/5562d24d0206485899f420ba523e33f4/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=dail

[2020-12-11 20:08] #15242 closed, assigned to nobody

[2020-12-11 20:25] designsimply commented on #15336
It may have moved to [WORDPRESS-IOS-39EY](https://sentry.io/share/issue/1447123445254e3ab9eefb4d85020ca1/) which shows a different error:

But a lot of the file names and line numbers match with the error showing in this GitHub issue, i.e. `"ReaderDetailCoordinator.swift", line 283`.

However, I am going to close this one with an ask to re-open it only if the numbers increase later because that ne

[2020-12-11 20:25] #15336 closed, assigned to nobody

[2020-12-11 20:33] designsimply commented on #15331
Closing because the Sentry URL provided is showing zero new cases recorded since 2020-11-20. I am not sure what happened here, but there have been several issues like this that either dropped off completely on 2020-11-20 or they spiked. My expectation is that if this is still a problem that it was moved to another Sentry issue and if the numbers warrant it then a new issue will be opened for this

[2020-12-11 20:33] #15331 closed, assigned to nobody

[2020-12-11 20:46] designsimply commented on #15333
I checked this issue in Sentry and found that 98.27% of cases recorded in the last 90 days were in 16.0.0.6 and 16.1.1.0 and there were only 2 total cases recorded in 16.2 which was released 11 days ago on 2020-11-30.

I am inclined to close this issue with an ask to re-open if the crash numbers increase again or if it shows up in another Sentry issue for some reason.

<sub>WORDPRESS-IOS-396D: htt

[2020-12-11 20:46] #15333 closed, assigned to nobody

[2020-12-11 20:47] #15473 closed, assigned to mindgraffiti

[2020-12-11 20:56] designsimply commented on #15334
This issue is not new and has really really low occurrences averaging ~1 per day over the last few weeks.

Labeling as low priority and closing because I want to use GitHub to track more urgent cases compared to this one. Please re-open if the numbers increase.

<sub>WORDPRESS-IOS-38WK: https://sentry.io/share/issue/72a403e40c524643a61091b3a399ca43/</sub>

<a href="https://sentry.io/organizations/

[2020-12-11 20:56] #15334 closed, assigned to nobody

[2020-12-11 21:03] aerych commented on #15342
It should be possible with a little work. The REST API's  `/sites/site` endpoint returns `jetpack_modules`, a list of names of the enabled Jetpack modules. If `sso` is not in the list we could prompt the user.

[2020-12-11 21:06] designsimply commented on #15335
Definitely seeing a spike in this one, although it's not the biggest crash compared to others we're tracking right now. Medium priority seems correct to me.

In the Sentry issue, the culprit or transaction for this issue is "WordPress.PostPostViewController" 100% of the time. It's rare to see only one thing listed for the culprit like that.

**Events in the last 90d:** 1,000
**Users affected in th

[2020-12-11 21:26] mindgraffiti opened #15480 "Prologue buttons: update site address button title"
### Expected behavior
The site address button says "Enter your **existing** site address"

### Actual behavior
The site address button says "Enter your site address" which makes users think this is where new site creation happens.

<a href="https://user-images.githubusercontent.com/1062444/101955602-bec25380-3bc3-11eb-9f0c-e116c59e5cff.png"><img src="https://user-images.githubusercontent.com/10624

[2020-12-11 21:45] designsimply commented on #12671
I think this moved to https://github.com/wordpress-mobile/WordPress-iOS/issues/15367.

[2020-12-11 21:45] designsimply commented on #15367
2,900 users affected since 2020-11-20 is a lot, so I'm raising to high priority.

**Events in the last 90d:** 4,800
**Users affected in the last 90d:** 2,900
**Noteworthy:** `UIPageViewController` is the culprit for 100% of cases (it's rare to see that showing 100% the same thing)
<sub>WORDPRESS-IOS-38W5: https://sentry.io/share/issue/ee3fd209a355449c814bcbe746c67567/</sub>

<a href="https://sentr

[2020-12-11 21:47] designsimply commented on #15367
Please also see the notes in https://github.com/wordpress-mobile/WordPress-iOS/issues/12671 in case they're helpful. The error looks very similar to this one and the graph for the other drops out where this one picks up… on 2020-11-20.

[2020-12-11 21:47] designsimply commented on #15337
It's a long shot but… what about if you open notifications then browse to a post and tap the share button at the top?

Note: this crash appears to have stopped getting cases recorded for it in Sentry as of 2020-11-20 🤔 but I think it moved because I see there are still crashes coming up if I do a search for `"All view controllers in a navigation controller must be distinct"` shows a steady increas

[2020-12-11 21:50] aerych commented on #15342
Actually it might be easier than I thought.  Looks like block options returns `active_modules` which is the same list as `jetpack_modules`.  This should already be stored in the Blog model and available to check via a call to `[Blog jetpackActiveModule:@"sso"];` or something along those lines.

[2020-12-11 21:59] designsimply commented on #14796
Setting medium priority because it's a media issue and that's an important area of the app.

[2020-12-11 22:16] mindgraffiti opened #15483 "Reader: Add unread count for posts"
Ref. pbArwn-1p9-p2#comment-2018

As a user, I want to see the unread counts for posts in the Reader section of the app.
Unread count -> currently returned for followed sites under `/v1.2/read/following/mine` as `unseen_count`.

### Tasks
- [x] Reader: add `.unseenPostCount` feature flag. [#15508]
- [x] Reader: map `unseen_count` to `RemoteReaderSiteInfo` and add `unseenCount` property to `ReaderSi

[2020-12-11 22:17] startuptester commented on #15169
I am unable to repro this following the steps in the description on iPad (2019), iOS 14.2, WPiOS 16.3.0.5.
Also checked in 15.9.

[2020-12-11 22:32] designsimply commented on #14775
Could we get another quick check on this since it's been more than a week?

[2020-12-11 22:50] designsimply commented on #8641
@yaelirub 🤨  I think you meant https://github.com/wordpress-mobile/WordPress-iOS/issues/13994 and, yes, I think we can close that one as a duplicate. I'll do that now. 👍

[2020-12-11 22:50] designsimply commented on #13994
Closing in favor of https://github.com/wordpress-mobile/WordPress-iOS/issues/8641.

[2020-12-11 22:50] #13994 closed

[2020-12-11 23:53] designsimply commented on #15169
Ditto @startuptester. I could replicate the bug using 16.0.0.3 ([45s](https://cloudup.com/c9dqQBJCRJW)) but not with 16.2.0.5 ([37s](https://cloudup.com/ctlPo1oWLRh)).

Thanks for the report @ctarda! I'll close it since we've tested and couldn't replicate the crash in the latest release.

[2020-12-11 23:53] #15169 closed, assigned to nobody

[2020-12-12 05:05] bjtitus commented on #13758
@designsimply Yep! I will take a look at this next week. I'll add it to my list in a P2 comment.

[2020-12-12 07:51] jtpesek commented on #15169
****

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-12-14 01:52] #15431 closed, assigned to momo-ozawa

[2020-12-14 06:54] koke commented on #14775
The numbers have clearly gone down, but we are still getting some cases
![sql__4swmyqgfqnrzj3 sql_runner_query 2020-12-14T0753](https://user-images.githubusercontent.com/8739/102049634-8e580080-3de1-11eb-8b15-c0ea9926f814.png)

[2020-12-14 11:18] #9662 closed

[2020-12-14 12:54] guarani opened #15487 "Navigating to comment replies not working in Notifications"
### Expected behavior

When viewing someone's reply to a comment of mine, tapping the "You replied to this comment." button (if present) should take me to my reply to their comment. It could also highlight my reply, just as it does on WPAndroid.

### Actual behavior

When viewing someone's reply to a comment of mine, tapping the "You replied to this comment." button takes me to the first comment o

[2020-12-14 13:14] guarani opened #15488 "Mention screen not displaying likes on comments"
### Expected behavior

When I'm mentioned in a comment and I tap the notification in the app, I get shown a Mentions screen with a Like button. If I've already liked the comment (e.g. via the web), the Like button should be rendered already-set (filled blue icon).

### Actual behavior

The Like button behaves as if I have not liked the comment (it's rendered in its off state (gray outline icon).

[2020-12-14 15:20] antonis opened #15489 "iOS: Add Duplicate (Copy) Page functionality"
### Description

The user should be able to duplicate a page. This functionality is already available on the web.
The [design](https://user-images.githubusercontent.com/50576199/61965121-676c1500-afc7-11e9-8d9f-b9c0546844c3.png) should be similar with the [duplicate post functionality](https://github.com/wordpress-mobile/WordPress-iOS/pull/15460).

The new "Duplicate" option should be available fo

[2020-12-14 15:25] #15480 closed, assigned to mindgraffiti

[2020-12-14 19:09] mindgraffiti commented on #15354
Closing this one to keep the noise down. We don't have details on unread comments or unread mentions at this time. We'll open new tickets for those if/when there is more info.

[2020-12-14 19:09] #15354 closed, assigned to nobody

[2020-12-14 20:36] mindgraffiti commented on #15341
Possibly related issue https://github.com/Automattic/wp-calypso/issues/47807

[2020-12-14 21:39] designsimply opened #15493 "User profile is difficult to find"
We've received a few separate internal reports that the profile icon is hard to find, and @mattmiklic proposed in a comment on Dec 7th that we might be able to make the profile icon visible on all top-level screens.

<sup>(internal reference: p4a5px-2FS-p2#comment-11594)</sup>

Apr 8, 2020

Dec 4, 2020

Dec 5, 2020

[2020-12-14 21:48] designsimply commented on #15493
Adding a personal note, I was also frustrated when the profile icon was moved but I did not report it as a bug because I feel I have a special case where I believe I use the account screen FAR MORE than others. I also think that when items are moved that users of any system can become frustrated—even if the move is a good one, and I considered that. As for me, I am constantly checking the version

[2020-12-14 21:50] designsimply commented on #15001
I see two distinct problem reports here:

1. Help should be available everywhere.
1. User profile is difficult to find.

I found two potential solutions proposed:

1. Make 'My Site' to be the top level destination. (proposed in a [comment above](https://github.com/wordpress-mobile/WordPress-iOS/issues/15001#issuecomment-702692997))
1. Make the user icon visible on all top-level screens. (mentioned

[2020-12-14 22:24] diegoreymendez commented on #15335
@designsimply - It seems like due to an issue with Sentry, the Sentry link ended up mixing up several different crashes.  If you see the initial stack trace reported by @jkmassel, it's not related to the stack trace shown in the Sentry report now.

The original issue seems to be here now: https://sentry.io/organizations/a8c/issues/2043215915

This is also what confused @renanferrari in the first p

[2020-12-14 23:40] aerych opened #15495 "Notifications: Blank notification previews in the beta"
Previewing a notification with the internal beta yields a blank preview. For example:

<img src="https://user-images.githubusercontent.com/1435271/102148995-229e8380-3e33-11eb-9250-bd107bbf8f7d.jpg" width="270" alt="File">

We're not sure if previews were ever supported in the beta, but it would be nice if they could be.  More discussion and context available at pbMoDN-1v1-p2#comment-2992 and p4a5

[2020-12-15 00:22] jkmassel commented on #15495
Just copying a comment from Slack:

There's nothing special about the Internal build that should affect this. Could even be as simple as a signing issue.

@designsimply – this might be a good one for groundskeeping :)

[2020-12-15 00:30] ScoutHarris opened #15496 "Reader site filters: remove filter tab bar for P2s and A8C"
With https://github.com/wordpress-mobile/WordPress-iOS/pull/15484, the `Filter` option was added to P2 and A8C streams to filter by site.

Previously, the Filter was only used for Following, which allows filtering by Site and Topic. P2 and A8C only allow Site filtering. Making the filter tab bar in that view unnecessary.

| Following | P2s |
|--------|-------|
| <img width="438" alt="Screen Shot 2

[2020-12-15 01:03] aerych commented on #15495
@frosty and I had speculated it could be something related to the app groups.

[2020-12-15 01:11] jkmassel commented on #11849
16.4 out-of-date dependencies:

[code]

[2020-12-15 02:56] yaelirub opened #15498 "Changes the order of items under Quick actions and Publish section in My Site"
The new order will be:

Quick actions : Stats, Posts, Media, Pages.
Publish: Posts, Media, Pages, Comments.

WPAndroid ref: https://github.com/wordpress-mobile/WordPress-Android/issues/13603

[2020-12-15 03:29] designsimply commented on #15495
fwiw, I tested using a beta build from TestFlight earlier today using the following steps, and it worked in my test.

My testing steps:

1. Start with a private site with more than one user.<br><sup>(I tested sending the @-mention notification to someone using the Editor role—because that's our default for P2s—in case that's relevant.)</sup>
1. Create a new post and @-mention the other user on the

[2020-12-15 03:34] designsimply commented on #15495
Sure, and I'll also mention that @startuptester is now the person to ping for iOS issues like this in the future.

@jkmassel could you please let me know how each of the following versions were signed?

* WPiOS 16.3.0.0 TestFlight beta
* WPiOS 16.3.0.7 TestFlight beta
* WPInternal 16.3.0.20201210

[2020-12-15 06:29] chengjingfeng opened #15501 "image in WPRichContentView show gray shadow at Xcode12"
### Expected behavior
image should not show shadow

### Actual behavior
image show shadow

### Steps to reproduce the behavior
use WPRichContentView to display html content.  when it build and run by xcode12, the images in WPRichContentView show gray shadow.

the same code build and run by Xcode10, it did not show gray shadow.

![IMG_2997](https://user-images.githubusercontent.com/8434766/10217904

[2020-12-15 06:48] chengjingfeng commented on #15501
Is it a bug of Xocde12? or should I update the code for Xcode12？

[2020-12-15 10:18] frosty commented on #15495
@designsimply Just a note, if it is due to code signing or app groups, I would expect the TestFlight version to work okay (it uses the same developer account as the production build) but the WPInternal build to _not_ work (as it uses our separate enterprise developer account).

[2020-12-15 11:11] rezzap commented on #15381
There was another report of this in 3571129-zen

I'll let the user know we're working on a fix.

[2020-12-15 11:46] frosty commented on #15001
Just a note that we're actively working on item 1 at the moment – in a future update (likely in January), My Site will be the top level of the My Site tab.

[2020-12-15 19:35] #15343 closed, assigned to ScoutHarris

[2020-12-15 20:19] leandroalonso opened #15505 "Jetpack Section: Server Credentials"
Project: #15193

In order to use scan and other features, Jetpack needs to know the server credentials in order to access files. This issue goal is to add this screen and integrate it into the flows.

<img src="https://user-images.githubusercontent.com/7040243/102267051-1d573c80-3ef8-11eb-86b7-58a95c1b75fb.png">

## Designs
Coming Soon.

## Tasks

### Server Credentials screen
* [x] Create a new s

[2020-12-15 21:10] guarani opened #15506 "Status bar icons invisible on some screens"
### Expected behavior

The status bar icons should always be visible.

### Actual behavior

The status bar icons are invisible in some parts of the app (e.g. when tapping on a notification for a post that I'm subscribed to).

### Steps to reproduce the behavior

1. Go to the Notifications tab
2. Tap on a Notification for a post on a site you're subscribed to
3. Notice the lack of status bar icons

[2020-12-15 22:04] guarani opened #15509 "Logging out of the app sometimes results in a crash"
### Expected behavior

Logging out of the app should take me to the logged out screen.

### Actual behavior

Logging out of the app causes it to crash sometimes (I only experienced this once). Although re-opening the app correctly shows me the logged out screen.

### Steps to reproduce the behavior

I don't have steps to reproduce, couldn't reproduce after a few tries. What I did when this crash h

[2020-12-15 22:05] #15341 closed, assigned to mindgraffiti

[2020-12-15 22:30] guarani opened #15510 "Following button on Reader screen jumps into place as screen loads"
### Expected behavior

Navigating to the Reader screen should show the Following button in its correct position (on screen).

### Actual behavior

Sometimes, the Following button starts slightly off-screen and jumps into place as the screen loads. I reproduced this on an account where I follow a lot of sites, and couldn't reproduce on a site where I only follow one or two sites.

### Steps to repr

[2020-12-16 00:04] supernovia opened #15511 "Publish Button is cut off / goes off the bottom edge of the screen"
### Expected behavior
To be able to see the full publish button, or scroll to it

### Actual behavior
The publish button goes off the bottom of the screen and can't be accessed easily

![ios publish screen](https://user-images.githubusercontent.com/3476361/102287347-7a9ebe00-3ef7-11eb-8fa2-d1de6e2e5d88.png)

### Steps to reproduce the behavior
- Create a new post
- Click Publish
- Note a post sett

[2020-12-16 07:28] reginabally commented on #15511
I've tested this with an iPhone SE (MX9R2MY/A), iOS 14.2, and WPiOS 16.2. I'm able to see the text but the bottom of the bottom looks cut off too.

![IMG_A1672B6EC55E-1](https://user-images.githubusercontent.com/40906847/102317853-47216980-3fb3-11eb-8483-d2f895262815.jpeg)

[2020-12-16 07:39] chengjingfeng commented on #15501
hope someone can help me

[2020-12-16 08:07] momo-ozawa opened #15514 "Reader: View All for saved posts displaying posts from wrong stream"
### Expected behavior
If a user saves a post then taps on the `View All` button on the toast message, the Reader should:
- switch to the `Saved` tab
- display saved posts

### Actual behavior
If a user saves a post then taps on the `View All` button on the toast message, the Reader:
- switches to the `Saved` tab
- displays posts from the previous stream

### Steps to reproduce the behavior

1. Go

[2020-12-16 09:09] fluiddot commented on #15510
I managed to reproduce this issue in current production version `16.3` too, but it only happens the first time I navigate to the Reader tab upon opening the app.

**Tested on iPhone 8, iOS 14.0, WPiOS 16.3**

<img width=300 src=https://user-images.githubusercontent.com/14905380/102327844-98673400-3f86-11eb-81b0-fd62bf71f255.gif>

[2020-12-16 17:27] #15509 closed, assigned to nobody

[2020-12-16 19:19] aerych opened #15522 "Update terms in code to use more inclusive language"
A quick `ack` of the repo shows `whitelist` and `blacklist` referenced in several places.  Let's update these references in our code and repo documentation (e.g. README) to use more inclusive terms.  Suggestions: `allowlist` or `blockedlist`. For references in third-party libs, we can see if there is an updated version of that lib and whether there is any blockers to switching to that version.

Se

[2020-12-16 19:31] mindgraffiti opened #15523 "Comments: HTML images with no size attributes look blown up"
Ref. pbArwn-1v1-p2#comment-2201

When a comment uses an unconstrained image from an HTML image tag, they grow to fill the screen. This causes overly-large images that are out of focus and don't fit the screen resolution.

<a href="https://user-images.githubusercontent.com/1062444/102396319-e9385600-3fa1-11eb-9e87-2588c9bbe2fe.png"><img src="https://user-images.githubusercontent.com/1062444/1023963

[2020-12-16 22:07] startuptester opened #15529 "Publish Now/Schedule Now button is cut off on iPad"
### Expected behavior
full button displayed, no scroll

### Actual behavior
the button is cut off and the window is scrollable since adding Categories to this window

![IMG_47AC64851346-1](https://user-images.githubusercontent.com/66104034/102412026-27d50d00-3fb0-11eb-90f7-841143590de5.jpeg)
![IMG_0032](https://user-images.githubusercontent.com/66104034/102412030-299ed080-3fb0-11eb-89cf-67664a6681

[2020-12-16 22:39] startuptester commented on #15529
oops, closing as duplicate of https://github.com/wordpress-mobile/WordPress-iOS/issues/15511

[2020-12-16 22:39] #15529 closed, assigned to nobody

[2020-12-16 22:39] designsimply commented on #15529
I can see the scrollbar on the right when prepublishing nudges first opens, then it fades out. I don't see the publish/schedule button being cut off.

<img src="https://user-images.githubusercontent.com/1119271/102414956-97e59200-3fb4-11eb-958a-235f5879a15d.PNG" width="330" alt="IMG_0575"> <img src="https://user-images.githubusercontent.com/1119271/102414950-96b46500-3fb4-11eb-99ca-ee5b43a41980.PN

[2020-12-16 23:47] yaelirub opened #15531 "Prepublishing bottom sheet gets cut at the bottom after adding a category"
### Expected behavior
I expect the prepublishing bottom sheet to show all options on screen

### Actual behavior
The bottom sheet is cut at the bottom
![Simulator Screen Shot - iPhone 11 Pro - 2020-12-16 at 13 53 14 (1)](https://user-images.githubusercontent.com/1335657/102419976-d4fe5400-3fb5-11eb-8e53-55a1560e642f.png)

### Steps to reproduce the behavior
1. Start a new post
2. Tap publish
3. Se

[2020-12-17 00:37] startuptester commented on #15506
@emilylaguna  didn't you work on this recently?

[2020-12-17 00:41] #15393 closed, assigned to Gio2018

[2020-12-17 05:56] #15381 closed, assigned to momo-ozawa

[2020-12-17 15:17] #15323 closed, assigned to emilylaguna

[2020-12-17 15:19] startuptester opened #15533 "File Block looks unpolished in the Reader"
### Expected behavior
In the Reader, File blocks should look similar to they do on my site
![IMG_1D187540CE79-1](https://user-images.githubusercontent.com/66104034/102506303-379c3200-4040-11eb-806b-8ced99d106fe.jpeg)

### Actual behavior
![IMG_2D550EB66A69-1](https://user-images.githubusercontent.com/66104034/102506340-3cf97c80-4040-11eb-86d8-c35f9e7f452a.jpeg)

### Steps to reproduce the behavior

[2020-12-17 17:53] antonis opened #15535 "The Page List does not automatically refresh when the editor closes"
### Expected behavior
The Page List automatically refreshed when a page title is edited or a new page is created.

### Actual behavior
The Page List does not automatically refresh when a page title is edited or a new page is created.

### Steps to reproduce the behavior

#### New page
1. From My Site press the Pages button or scroll down and select Site Pages from the list
1. Create a new page
1.

[2020-12-17 18:14] startuptester commented on #15533
@yaelirub this is not happening on the Reader in Android

![Screenshot_20201217-111032_WordPress](https://user-images.githubusercontent.com/66104034/102526302-b4d3a100-4058-11eb-8fbb-e772baa5101c.jpg)

But it IS happening on the web

<img width="770" alt="Screen Shot 2020-12-17 at 11 13 42 AM" src="https://user-images.githubusercontent.com/66104034/102526501-f95f3c80-4058-11eb-8328-511f81a17f34.pn

[2020-12-17 22:42] Gio2018 commented on #14964
@designsimply @startuptester , looked into this issue and the Sentry link points to a group of `NSInternalInconsistencyException` (thanks @jkmassel for help me understanding how the grouping works).
So I did an explicit search of the error message in Sentry, and found 87 events in the last 90 days, with the latest occurring on Dec 1, so I'm holding off on this one and move to another one.

[2020-12-17 23:00] startuptester commented on #15510
Fixed by https://github.com/wordpress-mobile/WordPress-iOS/pull/15513

[2020-12-17 23:00] #15510 closed, assigned to nobody

[2020-12-18 14:19] emilylaguna commented on #15506
👋 @startuptester I did, but it was a slightly different issue. I have this on my list of things to look into today and will hopefully have a quick PR for it.

[2020-12-18 18:03] startuptester opened #15541 "Site Creation: site name selection disappears if selected before list is done loading"
### Expected behavior
Selection made while loading site name options should remain after the loading is done

### Actual behavior
The selection and its option, also the confirmation button are gone

### Steps to reproduce the behavior

1. I choose a design
2. it says ‘Choose a domain’
3. in the field, I typed some letters
4. A spinner is shown in place of the search icon while it is finding domain

[2020-12-18 18:08] startuptester opened #15542 "Quick Start: Step 6 does not prompt step 7, "view your site""
### Expected behavior
In Quick Start, step 6 is to create a page.
I expect to be prompted to go to step 7: view your site

### Actual behavior
I was not prompted

### Steps to reproduce the behavior
1. I created a page per the steps
2. I published the page
3. It confirmed that the page was published

From @osullivanchris: "I’m thinking because this Quick Start item goes through the site creation f

[2020-12-18 18:30] chipsnyder commented on #15541
Thanks for bringing this up @startuptester! This should be solved as part of https://github.com/wordpress-mobile/WordPress-iOS/pull/15482

[2020-12-18 20:20] #15152 closed, assigned to Gio2018

[2020-12-18 20:46] startuptester commented on #15522
added to first groundskeeping rotation of 2021

[2020-12-18 21:45] designsimply commented on #15501
This is possibly a silly question, but can you tell me steps for how to use WPRichContentView to display html content? I'm not quite sure how to do that. I help out with testing on the iOS app from time to time, and I wasn't sure how to do the steps you provided in your post.

[2020-12-18 21:53] designsimply commented on #15495
Thanks for the clarification! Ahhh, ok, hmm, the original report of this problem was from someone using a TestFlight version, so that leads me to believe it might not be a signing issue, but I agree it's worth consideration and was a good point to raise.

<sup>(internal reference: p4a5px-2FR-p2)</sup>

[2020-12-20 00:59] kwonye commented on #10624
@apeatling I say close it 😉 Going through it, it looks pretty damn good.

Hope y'all are doing well!

[2020-12-21 10:18] #15489 closed, assigned to antonis

[2020-12-21 12:41] #15192 closed, assigned to emilylaguna, yaelirub, leandroalonso

[2020-12-21 18:18] emilylaguna commented on #15533
After a discussion with @leandroalonso about this issue today it looks like this is happening because [iOS strips out](https://github.com/wordpress-mobile/WordPress-iOS/pull/14533) the `style` attribute from the tags to prevent styling issues in reader.

Because of that, this issue is larger than originally anticipated and adding a local style for the button isn't the correct fix, and we should lo

[2020-12-21 22:02] #15531 closed, assigned to yaelirub

[2020-12-22 00:29] #15158 closed, assigned to Gio2018

[2020-12-22 11:43] reginabally opened #15553 "Unable to select a .blog subdomain"
### Expected behavior

I would expect to be able to select a .blog subdomain regardless of whether I'm choosing a homepage design when creating a new site.

### Actual behavior

If I skip the homepage design picker or select a certain homepage design (the first or the second in the list), I can only select a WordPress.com subdomain. I can select a .blog subdomain when I choose the third or the fou

[2020-12-22 12:35] leandroalonso commented on #15533
Just adding a little bit more info:

* We strip `style` tags because we want the Reader to have a "generic" look 'n feel, which means that weird colors or custom styles that the user adds won't be rendered;
* If we revert this change, this will fix this issue but will cause a regression in https://github.com/wordpress-mobile/WordPress-iOS/issues/14531 (and probably many other side effects)
* We ca

[2020-12-22 15:46] koke commented on #15523
I just got a stalebot ping that reminded me of this old related issue https://github.com/wordpress-mobile/WordPress-iOS/issues/13135

[2020-12-23 11:09] rezzap opened #15556 "Reader Enhancement: Automatically pull tags for featured content based on recently published posts."
From a forum post: https://ios.forums.wordpress.org/topic/discovery-tab-in-reader-include-tags-from-my-site%e2%80%99s-tags?replies=1#post-15774

[2020-12-27 00:34] guarani opened #15559 "Turn off autocorrect on Add a Person screen"
When adding a person to a site, autocorrect gets in the way by changing parts of the username or email I'm typing in.

In the below screenshot, the `.com` of the email address gets turned into `.con`, which isn't what I wanted.

![image](https://user-images.githubusercontent.com/1898325/103161537-00591e00-47c2-11eb-8799-57ed6d1aaa16.gif)

[2020-12-28 03:24] bjtitus opened #15560 "Focus on the Title field in prepublishing sheet"
### Expected behavior

When the title field is visible, focus on it inside of the prepublishing sheet.

### Actual behavior

The title is empty and use must tap on it to enter a title.

[2020-12-28 03:43] bjtitus opened #15561 "Add tracing to stories export + upload process"
Stories should contain tracing (via logging or other methods) to track export and upload process for media. Performance tests should also be added to https://github.com/tumblr/kanvas-ios to ensure our export performance stays within reasonable bounds.

[2020-12-28 22:39] rehpa commented on #14938
I suffer from this with the current 16.3 app in the app store.  Makes the app unusable for me without the ability to add media.

![WP_app_issue](https://user-images.githubusercontent.com/31808563/103247056-c94e4e00-4922-11eb-95f6-052e28d1b5b8.gif)

[2020-12-28 23:17] guarani commented on #14938
Thanks for reporting, @rehpa!

[2020-12-31 20:24] ericamQA opened #15564 "Request: ability to add blocks by typing slash+block type - such as /image"
### Expected behavior

In the browser, you can add an image block by typing /image - when you do an image block is added to the page or post. https://wordpress.com/support/wordpress-editor/blocks/image-block/#add-an-image-block

### Actual behavior

In the mobile app, if you type /image nothing happens. You just have a paragraph block with the text "/image" inside it.

This is especially inconveni

[2021-01-03 16:42] Leo-Evident opened #15565 "tent ascii"
### Expected behavior

### Actual behavior

### Steps to reproduce the behavior

##### Tested on [device], iOS [version], WPiOS [version]

[2021-01-04 19:05] ScoutHarris opened #15568 "Reader filters: retain selected filter"
As requested by @mattmiklic : the filter should be kept in place if you just switch tabs, or switch to a different part of the app and come back. But it shouldn't be so persistent as to remain after restarting the app.

Ref https://github.com/wordpress-mobile/WordPress-iOS/pull/15484

[2021-01-04 21:39] eduardozulian commented on #12064
Another case in 3617174-zen

[2021-01-04 23:38] #15541 closed, assigned to chipsnyder

[2021-01-05 06:31] momo-ozawa opened #15571 "ReaderRelativeTimeFormatter unit tests failing"
### Expected behavior

Tests are failing because the test dates and the current date don't fall within the same year.

[code]

https://app.circleci.com/pipelines/github/wordpress-mobile/WordPress-iOS/17323/workflows/199d79d2-7b2f-40cf-a044-fb5426366f82/jobs/39866

### Actual behavior

Unit tests should pass.

### Steps to reproduce the behavior

1. Run unit tests locally.
2. Notice unit tests fail

[2021-01-05 12:07] #15571 closed, assigned to momo-ozawa

[2021-01-05 13:15] BuckBuckly1985 opened #15573 "Buck"
[Type]

[2021-01-05 13:16] BuckBuckly1985 opened #15574 "[Type]"
[Type]

__Originally posted by @BuckBuckly1985 in https://github.com/wordpress-mobile/WordPress-iOS/issues/15573__

[2021-01-05 17:47] #15573 closed

[2021-01-05 17:47] #15574 closed

[2021-01-05 18:06] ScoutHarris opened #15578 "Reader: update Following to exclude A8C and P2"
The web Reader `Followed Sites` now only shows what's not in `Automattic` or `Followed P2s`. It looks like it's been updated to `organization_id = 0` instead of showing everything. We should update the app to match.

[2021-01-05 19:33] #15511 closed, assigned to emilylaguna

[2021-01-05 20:59] chipsnyder opened #15584 "Site Creation Quick start - Remove "Create a new Page" and "Customize your site" from Quick Start"
### Description
When creating a site and going through the quick start guide there is an option to create a new page and suggests an about Page. With the new site creation flow, this doesn't really apply anymore because each decision (including skip) will generate a list of pages including an about page.

There was also some friction around "Customize your site" as that directs users to a web view

[2021-01-05 22:14] aerych commented on #15523
@mindgraffiti was this one resolved in https://github.com/wordpress-mobile/WordPress-iOS/pull/15503?  Shall we close it?

[2021-01-05 22:24] mindgraffiti commented on #15523
@aerych sadly, no. #15503 was scoped to address emoji / twemoji only, and doesn't fix this particular scenario. However I'm closing this issue in favor of #13135.

[2021-01-05 22:24] #15523 closed, assigned to nobody

[2021-01-05 23:47] bjtitus opened #15587 "Use WPMediaPicker for Stories"
The WP Stories feature should use WPMediaPicker for media selection.

This adds several features we want:
- Pick from WordPress media.
- Select multiple images.

[2021-01-06 16:45] chipsnyder commented on #15553
Added this to the Gutenpages project we'll look at getting this addressed with the other Site creation enhancements

https://github.com/wordpress-mobile/WordPress-Android/issues/13653#issuecomment-755417943

[2021-01-06 18:35] #15578 closed, assigned to ScoutHarris

[2021-01-06 19:10] #15483 closed, assigned to ScoutHarris

[2021-01-07 02:09] reginabally opened #15595 "Invisible videos when added with the video blocks on the app"
It was originally reported in 3611720-zen that the videos added through the video blocks on the app didn't show up on the site. The video playback control is visible and the video audio can be heard but the actual video isn't displaying.

I was able to replicate this by uploading the video downloaded from the reported site as well as a video recorded using my iPhone SE.

### Expected behavior

I w

[2021-01-07 02:42] reginabally opened #15596 "Unable to view images in web view for private site"
It was reported in 3624089-zen that the user wasn't able to view the images on the app's web view when the site is set to Private. They were able to view the images when they changed the site's privacy setting to Public.

### Expected behavior

I would expect to be able to view the images on the site through the web view on the app even though my site is set to Private.

### Actual behavior

I was

[2021-01-07 17:13] bjtitus opened #15601 "Able to publish a post with no title"
It may be possible to publish a story without a title from the prepublishing sheet. This can cause errors during publishing.

pbMoDN-1Hv-p2#comment-3607

[2021-01-07 17:25] bjtitus opened #15602 "Stories: Capture screen doesn't work after prepublishing sheet has been shown"
Showing the prepublishing sheet appears to break the ability to exit out of the editing experience and continue capturing.

pbMoDN-1Hv-p2#comment-3573

[2021-01-07 17:33] bjtitus opened #15603 "Stories: Crash while editing a remote story"
There is a crash while editing a story which was not created on the device.

* Tap to edit a story post created on another iOS device
* In the block editor, tap on the story block and tap the settings icon on the top right —> the app crashed

pbMoDN-1Hv-p2#comment-3573

Seems to be a crash while deallocating an instance of `StoryMediaLoader`.

https://sentry.io/organizations/a8c/issues/2128505702/

[2021-01-07 17:43] bjtitus opened #15604 "Stories: Prepublishing sheet title field should be capitalized with autocorrect"
The prepublishing sheet title field should start out capitalized and have autocorrect enabled. This matches the behavior in Gutenberg.

pbMoDN-1Hv-p2#comment-3573

[2021-01-07 18:42] #15568 closed, assigned to ScoutHarris

[2021-01-07 21:54] emilylaguna commented on #15506
Reopening because I reverted the change: https://github.com/wordpress-mobile/WordPress-iOS/pull/15607

[2021-01-08 01:39] designsimply commented on #14926
Re-opening as this was reported again in Slack. I've paraphrased the report:

* App version: WP Internal 16.4.0.20201222@c34fac5
* iPhone is 11 Pro
* iOS 14.3

<sup>(internal reference: T024FN1V2/C02Q9GACF-slack-apple-dev /ht @AliSoftware)</sup>

[2021-01-08 04:07] reginabally opened #15611 "Invalid key error shown when viewing a post in the app"
It was reported in 3617798-zen that the user wasn't able to view a post in the app through My Site > Blog Posts > View on a WordPress.com Simple site with a custom domain (Public). They saw the `Invalid key [1]` error on the screen with the URL `r-login.wordpress.com`. The same behavior was observed if the user previewed the post in the editor.

When they tried viewing the posts in the app on two

[2021-01-08 20:54] #10795 closed

[2021-01-08 21:57] startuptester commented on #15611
I am not able to reproduce this on the latest beta.
I will check back when further details are shared.

[2021-01-08 22:48] startuptester commented on #15595
Thanks for reporting @reginabally! I want to make sure I understand correctly...

The video works if you press the play button right? The problem you are reporting is that no thumbnail appears?

[2021-01-08 22:50] startuptester commented on #15596
I am not able to replicate this one in the latest beta or released build. Would you be able to make a video?

[2021-01-08 23:04] startuptester commented on #14938
I am not able to replicate this on iPhone 12 Pro with either the 16.3 App Store or 16.4.0.3 TestFlight build. I'll keep trying to hunt down specifics.

[2021-01-09 01:51] reginabally commented on #15596
Thanks for taking a look, @startuptester! Sorry, I didn't record a video when I was testing on my test site. However, when I tried to replicate this issue again, I wasn't able to reproduce anymore even when the site was switched to private.

There was another case reported in 3632385-zen with the user mentioned that they noticed the issue happens after they purchased a paid plan and registered a c

[2021-01-09 04:49] reginabally commented on #15595
When I pressed the play button, the audio of the video can be heard but the actual video isn't displaying. I've tested on both Firefox and Chrome browsers.

![Screen Capture on 2021-01-09 at 12-48-28](https://user-images.githubusercontent.com/40906847/104083386-10203a00-5279-11eb-8b65-86cf20d60354.gif)

Were you able to play the video on the test page I linked above: https://premiumtestsite2019031

[2021-01-09 13:13] rezzap commented on #15596
I was able to reproduce this and followed these steps:

1. Select a Private Site (WordPress.com) with a custom domain.
2. Click on My Site > View.
3. Notice the Images don't load.
4. Set the site to Hidden instead of private and then go back to My Site > View.
5. The images now load.
6. Set your site back to private and go back to My Site > View.
7. The images are still loading.
8. Create a new po

[2021-01-09 16:13] jsit opened #15619 "Quote shared from Safari should put "Read on [url]" in <cite>"
### Expected behavior
The "Read on" text of a shared quote from Safari should be wrapped in `<cite>` tags, as happens when using the quote Gutenberg block.

### Actual behavior
Sharing a page on Safari with highlighted text creates a blockquote with "Read on [url]" as "naked" text inside of the blockquote `<p>`

### Steps to reproduce the behavior

1. Highlight some text on a page in Safari
2. Sha